<%= render :partial => 'form' %>

<div id="links">
  <%= link_to t('label.show'), @nonconformity %> |
  <%= link_to t('label.list'), nonconformity_path %> |
  <%= link_to t('nonconformity.edit_control_objective'),
    edit_control_objective_item_path(@nonconformity.control_objective_item) %> |
  <% if !@nonconformity.is_in_a_final_review? && @nonconformity.pending? && !@nonconformity.incomplete? %>
    <%= link_to t('nonconformity.edit_follow_up'), edit_finding_path('incomplete', @nonconformity) %> |
  <% end %>
  <%= link_to_back %>
</div>
