<p>
  <strong><%= Review.model_name.human %>:</strong>
  <%= @nonconformity.review.try(:identification) %>
</p>

<div>
  <strong><%= ControlObjective.model_name.human %>:</strong>
  <%= simple_format @nonconformity.control_objective_item.try(:to_s) %>
</div>

<p>
  <strong><%= Nonconformity.human_attribute_name :review_code %>:</strong>
  <%= @nonconformity.review_code %>
</p>

<div>
  <strong><%= Nonconformity.human_attribute_name :description %>:</strong>
  <%= simple_format @nonconformity.description %>
</div>

<div>
  <strong><%= Nonconformity.human_attribute_name :audit_recommendations %>:</strong>
  <%= simple_format @nonconformity.audit_recommendations %>
</div>

<div>
  <strong><%= Nonconformity.human_attribute_name :answer %>:</strong>
  <%= simple_format @nonconformity.answer %>
</div>

<div>
  <strong><%= Nonconformity.human_attribute_name :effect %>:</strong>
  <%= simple_format @nonconformity.effect %>
</div>

<p>
  <strong><%= Nonconformity.human_attribute_name :risk %>:</strong>
  <%= @nonconformity.risk_text %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :priority %>:</strong>
  <%= nonconformity_priority_text @nonconformity %>
</p>

<div>
  <strong><%= Nonconformity.human_attribute_name :audit_comments %>:</strong>
  <%= simple_format @nonconformity.audit_comments %>
</div>

<p>
  <strong><%= Nonconformity.human_attribute_name(:state) %>:</strong>
  <%= @nonconformity.state_text %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :correction %>:</strong>
  <%= @nonconformity.correction if @nonconformity.correction %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :cause_analysis %>:</strong>
  <%= @nonconformity.cause_analysis if @nonconformity.cause_analysis %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :correction_date %>:</strong>
  <%= l @nonconformity.correction_date, format: :long if @nonconformity.correction_date %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :cause_analysis_date %>:</strong>
  <%= l @nonconformity.cause_analysis_date, format: :long if @nonconformity.cause_analysis_date %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :origination_date %>:</strong>
  <%= l @nonconformity.origination_date, format: :long if @nonconformity.origination_date %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name(:follow_up_date) %>:</strong>
  <%= l @nonconformity.follow_up_date, format: :long if @nonconformity.follow_up_date %>
</p>

<p>
  <strong><%= Nonconformity.human_attribute_name :solution_date %>:</strong>
  <%= l @nonconformity.solution_date, format: :long if @nonconformity.solution_date %>
</p>

<h4><%= t('finding.responsibles', :count => @nonconformity.users.size) %></h4>
<%= finding_responsibles_list(@nonconformity) %>

<% unless (repeated_ancestors = @nonconformity.repeated_ancestors).blank? %>
  <h4><%= t('finding.repeated_ancestors') %></h4>
  <ul>
    <% repeated_ancestors.each do |repeated_ancestor| %>
      <li><%= repeated_ancestor %></li>
    <% end %>
  </ul>
<% end %>

<% unless (repeated_children = @nonconformity.repeated_children).blank? %>
  <h4><%= t('finding.repeated_children') %></h4>
  <ul>
    <% repeated_children.each do |repeated_child| %>
      <li><%= repeated_child %></li>
    <% end %>
  </ul>
<% end %>

<% unless @nonconformity.finding_relations.blank? %>
  <h4>
    <%= t('finding.finding_relations') %>
  </h4>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= FindingRelation.human_attribute_name :related_finding_id %></th>
        <th><%= FindingRelation.human_attribute_name :description %></th>
      </tr>
    </thead>
    <tbody>
      <% @nonconformity.finding_relations.each do |fr| %>
        <tr>
          <td><%= fr.related_finding %></td>
          <td><%= fr.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @nonconformity.inverse_finding_relations.blank? %>
  <h4>
    <%= t('finding.inverse_finding_relations') %>
  </h4>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= FindingRelation.human_attribute_name :finding_id %></th>
        <th><%= FindingRelation.human_attribute_name :description %></th>
      </tr>
    </thead>
    <tbody>
      <% @nonconformity.inverse_finding_relations.each do |ifr| %>
        <tr>
          <td><%= ifr.finding %></td>
          <td><%= ifr.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @nonconformity.finding_answers.blank? %>
  <h4>
    <%= t('finding.finding_answers') %>
  </h4>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= User.model_name.human %></th>
        <th><%= FindingAnswer.human_attribute_name :answer %></th>
        <th>
          <%= FindingAnswer.human_attribute_name :file_model %>
        </th>
        <th>
          <%= FindingAnswer.human_attribute_name :created_at %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @nonconformity.finding_answers.each do |finding_answer| %>
        <tr>
          <td><%= finding_answer.user.full_name %></td>
          <td><%= simple_format finding_answer.answer %></td>
          <td>
            <%= finding_answer.file_model.try(:file?) ?
              link_to(t('label.download'), finding_answer.file_model.file.url) : '---' %>
          </td>
          <td>
            <%= l(finding_answer.created_at, format: :long) if finding_answer.created_at %>
            <% if finding_answer.commitment_date %>
              <br />
              <br /><strong><%= FindingAnswer.human_attribute_name(:commitment_date) %></strong>:
              <br /><%= l(finding_answer.commitment_date, format: :long) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @nonconformity.work_papers.empty? %>
  <h4><%= t('finding.work_papers') %></h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= WorkPaper.human_attribute_name :name %></th>
        <th><%= WorkPaper.human_attribute_name :code %></th>
        <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
        <th><%= WorkPaper.human_attribute_name :description %></th>
        <th><%= WorkPaper.human_attribute_name :file_model %></th>
      </tr>
    </thead>
    <tbody>
      <% @nonconformity.work_papers.each do |wp| %>
        <tr>
          <td><%= wp.name %></td>
          <td><%= wp.code %></td>
          <td><%= wp.number_of_pages %></td>
          <td><%= simple_format h(wp.description) %></td>
          <td><%= wp.file_model.try(:file?) ?
            link_to(t('label.download'), wp.file_model.file.url) : '---' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />

<div>
  <%= link_to_edit edit_nonconformity_path(@nonconformity) %> |
  <%= link_to_index nonconformities_path %> |
  <% if !@nonconformity.is_in_a_final_review? && @nonconformity.pending? && !@nonconformity.incomplete? %>
    <%= link_to t('nonconformity.show_follow_up'), finding_path('incomplete', @nonconformity) %> |
  <% end %>
  <%= link_to_back %>
</div>
