<% id = dynamic_object_id('control_objective', f) %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="control_objective item" id="<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :name, label: false, input_html: { autofocus: true } %>
    </div>

    <%= f.simple_fields_for :control do |c_f| %>
      <div class="col-md-2">
        <%= c_f.input :order, as: :hidden %>
        <%= c_f.input :control, label: false %>
      </div>
      <div class="col-md-1">
        <%= c_f.input :design_tests, label: false %>
      </div>
      <div class="col-md-2">
        <%= c_f.input :compliance_tests, label: false %>
      </div>
      <div class="col-md-1">
        <%= c_f.input :sustantive_tests, label: false %>
      </div>
      <div class="col-md-1">
        <%= c_f.input :effects, label: false %>
      </div>
    <% end %>

    <div class="col-md-1">
      <%= relevance_field(f, label: false, prompt: true) %>
    </div>
    <div class="col-md-1">
      <%= risk_field(f, label: false, prompt: true) %>
    </div>
    <div class="col-md-1">
      <div class="show_hide">
        <%= f.input :order, as: :hidden, input_html: { class: :sort_number } %>
        <%= insert_record_link(f, 'data-event' => 'insertRecordSubitem',
          'data-parent' => :process_control, 'data-child' => :control_objectives) %>
        <span class="text-muted">|</span>
        <%= remove_item_link(f) %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">FormUtil.completeSortNumbers();</script>
<% if is_dynamic %>
  <script type="text/javascript">Helper.showItem('#<%= id %>');</script>
<% end %>
