<% id = f.object.object_id %>
<fieldset class="control_objective">
  <div class="form-inputs">
    <div class="row no-gutter">
      <div class="col-md-2">
        <%= f.input :name, label: false, input_html: { autofocus: true, rows: 5 } %>
      </div>

      <%= f.simple_fields_for :control do |c_f| %>
        <div class="col-md-2">
          <%= c_f.input :order, as: :hidden %>
          <%= c_f.input :control, label: false, input_html: { rows: 5 } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :design_tests, label: false, input_html: { rows: 5 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :compliance_tests, label: false, input_html: { rows: 5 } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :sustantive_tests, label: false, input_html: { rows: 5 } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :effects, label: false, input_html: { rows: 5 } %>
        </div>
      <% end %>

      <div class="col-md-1">
        <%= relevance_field(f, label: false, prompt: true) %>
      </div>
      <div class="col-md-1">
        <%= risk_field(f, label: false, prompt: true) %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= f.input :order, as: :hidden, input_html: { class: :sort_number } %>
          <%= link_to_insert_field(f) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<script type="text/javascript">FormUtil.completeSortNumbers();</script>
