<% id = dynamic_object_id('control_objective', f) %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="control_objective item" id="<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 11%;">
      <%= f.text_area :name, :class => :focused %>
    </div>

    <%= f.fields_for :control do |c_f| %>
      <div class="item_field" style="width: 11%;">
        <%= c_f.hidden_field :order %>
        <%= c_f.text_area :control %>
      </div>
      <div class="item_field" style="width: 11%;">
        <%= c_f.text_area :design_tests %>
      </div>
      <div class="item_field" style="width: 11%;">
        <%= c_f.text_area :compliance_tests %>
      </div>
      <div class="item_field" style="width: 11%;">
        <%= c_f.text_area :sustantive_tests %>
      </div>
      <div class="item_field" style="width: 11%;">
        <%= c_f.text_area :effects %>
      </div>
    <% end %>

    <div class="item_field" style="width: 11%;">
      <%= f.select :relevance, f.object.get_parameter(
        :admin_control_objective_importances, true),
        {:prompt => true} %>
    </div>
    <div class="item_field" style="width: 11%;">
      <%= f.select :risk, f.object.get_parameter(
        :admin_control_objective_risk_levels, true),
        {:prompt => true} %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
      <%= f.hidden_field :order, :class => :sort_number %>
      <%= insert_record_link(f, :'data-event' => :insert_record_subitem,
        :'data-parent' => :process_control, :'data-child' => :control_objectives) %> |
      <%= remove_item_link(f) %>
    </div>
  </div>
</div>
<script type="text/javascript">FormUtil.completeSortNumbers();</script>
<% if is_dynamic %>
  <script type="text/javascript">Helper.showItem('<%= id %>');</script>
<% end %>