<!--[form:best_practice]-->
<%= form_for @best_practice do |bp_f| %>
  <% js_extra = "var process_control='" + generate_template(bp_f,
    :process_controls, :object => ProcessControl.new) + "';" %>
  <%= bp_f.error_messages %>

  <div class="form_column_left">
    <p>
      <%= bp_f.label :name %>
      <%= bp_f.text_field :name, :maxlength => 255, :size => 10,
        :autofocus => true %>
    </p>
    <p>
      <%= bp_f.label :description %>
      <%= bp_f.text_area :description %>
    </p>
  </div>

  <div class="items">
    <div class="column_headers nested_items">
      <div class="item_column" style="width: 50%;">
        <h3><%= ProcessControl.model_name.human %></h3>
      </div>
      <div class="item_column" style="width: 35%;">&nbsp;</div>
      <div class="clear"></div>
    </div>

    <div id="process_controls">
      <% co_template = nil %>
      <%= bp_f.fields_for :process_controls do |p_f| %>
        <% co_template ||= generate_template(p_f,
            :control_objectives, :child_index => 'NEW_SUBRECORD') %>
        <% js_extra << "var control_objective = '#{co_template}';" unless co_template == 0 %>
        <% co_template = 0 %>
        <%= render :partial => 'process_control',
          :locals => {:f => p_f, :best_practice => @best_practice,
          :is_dynamic => false} %>
      <% end %>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'best_practice.add_process_control'), '#',
      :'data-template' => :process_control, :'data-event' => :add_nested_item,
      :'data-container' => :process_controls %>
  </p>

  <div style="display:none">
    <%= bp_f.hidden_field :organization_id %>
    <%= bp_f.hidden_field :lock_version %>
  </div>
  
  <p>
    <span class="button"><%= bp_f.submit %></span>
  </p>
  <% content_for :js_extra do %>
    <%= raw js_extra %>
  <% end %>
<% end %>
<!--[eoform:best_practice] -->