<%= simple_form_for @best_practice do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { maxlength: 255 } %>
        <%= f.input :description %>
      </div>
    </div>
  </div>

  <h5 style="margin-left: 25px;"><strong><%= ProcessControl.model_name.human %></strong></h5>

  <div id="process_controls">
    <%= f.simple_fields_for :process_controls do |p_f| %>
      <%= render 'process_control', f: p_f %>
    <% end %>

    <%= link_to_add_fields(t('best_practice.add_process_control'), f, :process_controls) %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :organization_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
