<%= simple_form_for @best_practice do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true, input_html: { maxlength: 255 } %>
    <%= f.input :description %>
    <%= f.input :obsolete %>
  </div>

  <div class="row">
    <div class="col-md-10">
      <h5><strong><%= ProcessControl.model_name.human count: 0 %></strong></h5>
    </div>
    <div class="col-md-1">
      <h5><strong><%= ProcessControl.human_attribute_name 'obsolete' %></strong></h5>
    </div>
  </div>

  <div id="process_controls">
    <%= f.simple_fields_for :process_controls, nested_process_controls do |p_f| %>
      <%= render 'process_control', f: p_f %>
    <% end %>

    <%= link_to_add_fields t('best_practices.process_controls.new'), f, :process_controls %>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.input :organization_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
