<% id    = f.object.object_id %>
<% fetch = should_fetch_control_objectives_for? f.object %>

<fieldset class="process_control">
  <div class="form-inputs row">
    <div class="col-md-10">
      <div class="media">
        <div class="pull-left toggle-visibility">
          <%= link_to_fetch_hide id, fetch ? :fetch : :show %>
        </div>
        <div class="media-body">
          <%= f.input :name, label: false, input_html: { maxlength: 255 } %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <%= f.input :obsolete, label: false, input_html: { data: { process_control: f.object.id || id } } %>
    </div>
    <div class="col-md-1 toggle-visibility">
      <%= link_to_insert_field(f) %>
      <span class="text-muted">|</span>
      <%= link_to_remove_nested_item(f) %>
      <%= f.input :id, as: :hidden %>
      <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
    </div>
  </div>

  <div class="nested hidden">
    <div class="hidden" data-container-id="<%= id %>" data-index="<%= f.index %>" data-url="<%= process_control_path f.object %>">
      <% if fetch %>
        <div class="alert alert-warning">
          <%= t 'navigation.loading' %>
        </div>
      <% else %>
        <%= render 'process_controls/form', process_control: f.object, index: f.index %>
      <% end %>
    </div>

    <%= link_to_add_fields t('best_practices.control_objectives.new'), f, :control_objectives, 'process_controls/control_objective' %>
    <p>&nbsp;</p>
  </div>
</fieldset>

<script type="text/javascript">FormUtil.completeSortNumbers();</script>
