<% id = f.object.object_id %>
<fieldset class="process_control">
  <div class="form-inputs row">
    <div class="col-md-10">
      <div class="media">
        <div class="pull-left toggle-visibility">
          <%= link_to_show_hide "control_objectives_for_#{id}" %>
        </div>
        <div class="media-body">
          <%= f.input :name, label: false, input_html: { maxlength: 255 } %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <%= f.input :obsolete, label: false, input_html: { data: { process_control: id } } %>
    </div>
    <div class="col-md-1 toggle-visibility">
      <%= link_to_insert_field(f) %>
      <span class="text-muted">|</span>
      <%= link_to_remove_nested_item(f) %>
      <%= f.input :id, as: :hidden %>
      <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
    </div>
  </div>

  <div id="control_objectives_for_<%= id %>" class="nested" style="display: none;">
    <div class="control_objectives">
      <%= f.simple_fields_for :control_objectives do |co_f| %>
        <%= render 'control_objective', f: co_f, process_control_id: id %>
      <% end %>

      <%= link_to_add_fields t('best_practices.control_objectives.new'), f, :control_objectives %>
    </div>
    <br />
  </div>
</fieldset>
<script type="text/javascript">FormUtil.completeSortNumbers();</script>
