<%= render partial: 'shared/search', locals: {
  options: {},
  columns: @query.blank? ? BestPractice::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped table-hover">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column BestPractice.human_attribute_name('name'), nil, 'name' %>
      <%= make_not_available_column BestPractice.human_attribute_name('description'), { :class => 'hidden-xs' } %>
      <th colspan="3" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @best_practices.each do |best_practice| %>
      <tr <%== 'class="text-muted strike"' if best_practice.obsolete %>>
        <td>
          <%= best_practice_shared_icon best_practice %>
          <%= super_truncate best_practice.name, 40 %>
        </td>
        <td class="hidden-xs"><%= super_truncate(best_practice.description, 40) %></td>
        <td><%= link_to_show best_practice %></td>
        <td><%= link_to_edit edit_best_practice_path(best_practice) %></td>
        <td><%= link_to_destroy best_practice %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= paginate @best_practices %>
<%= link_to_new new_best_practice_path, class: 'btn btn-primary' %>
