<table>
  <thead>
    <tr>
      <th><%= BestPractice.human_attribute_name :name %></th>
      <th><%= BestPractice.human_attribute_name :description %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @best_practices.each do |best_practice| -%>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= super_truncate(best_practice.name, 40) %></td>
        <td><%= super_truncate(best_practice.description, 40) %></td>
        <td><%= link_to_show best_practice %></td>
        <td><%= link_to_edit edit_best_practice_path(best_practice) %></td>
        <td><%= button_to_destroy best_practice %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @best_practices %>
  <%= link_to t(:'label.new'), new_best_practice_path %>
  <div style="clear: both;"></div>
</div>