<%= simple_form_for :create_annual_report, url: create_annual_report_conclusion_reports_path, html: { method: :post } do |f| %>
  <%= f.input :period_id, collection: Period.list.map { |p| [p.inspect, p.id] }, prompt: false, label: 'Periodo' %>

  <hr />

  <div>
    <%= link_to t('label.back'), action: :index %> |
    <%= link_to t('label.download'), '#',
      data: { toggle: 'modal', target: '#customize_report' } %>
  </div>

  <% fields_modal = [
      {
        name: :date,
        label: 'fecha',
        type: :date_picker
      },
      {
        name: :cc,
        label: 'cc',
        type: :text,
        rows: 1
        
      },
      {
        name: :name,
        label: 'nombre',
        type: :text,
        rows: 1
      },
      {
        name: :objective,
        label: 'objetivo',
        type: :text,
        rows: 5
      },
      {
        name: :conclusion,
        label: 'conclusion',
        type: :text,
        rows: 5
      },
      {
        name: :introduction_and_scope,
        label: 'Introduccion y alcance',
        type: :text,
        rows: 5
      }
    ] %>

  <div class="modal fade" id="customize_report" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="customize_report_label">
              <%= t('reports.customization_titles') %>
            </h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <% fields_modal.each do |field| %>
              <div class="form-group">
                <%= f.input field[:name], label: field[:label], 
                                            as: field[:type], 
                                            input_html: { value: field[:value], rows: field[:rows] },
                                            required: false %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= f.submit t('customize_report_form.create'),
              class: 'btn btn-primary', data: { disable_with: t('reports.generating') } %>
          </div>
      </div>
    </div>
  </div>

<% end %>
