<div class="row">
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.synthesis_report_title'),
      { action: :synthesis_report, controller_name: 'conclusion' },
    class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('conclusion_report.fixed_weaknesses_report_title'),
      { action: :fixed_weaknesses_report, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.weaknesses_by_audit_type_title'),
      { action: :weaknesses_by_audit_type, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.control_objective_stats_title'),
      { action: :control_objective_stats, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.process_control_stats_title'),
      { action: :process_control_stats, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('conclusion_report.cost_analysis_title'),
      { action: :cost_analysis }, class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6">
    <%= link_to t('conclusion_report.detailed_cost_analysis_title'),
      detailed_cost_analysis_conclusion_reports_path,
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('conclusion_report.weaknesses_by_risk_report_title'),
      { action: :weaknesses_by_risk_report, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.weaknesses_by_state_title'),
      { action: :weaknesses_by_state, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <%= link_to t('conclusion_committee_report.weaknesses_by_risk_title'),
      { action: :weaknesses_by_risk, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to t('conclusion_committee_report.weaknesses_graphs'),
      { action: :weaknesses_graphs, controller_name: 'conclusion', final: true },
      class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>
