<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Finding.model_name.human count: 0 %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_committee_report.weaknesses_by_audit_type_title'),
            { action: :weaknesses_by_audit_type, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.weaknesses_by_state_title'),
            { action: :weaknesses_by_state, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
            <%= link_to t('conclusion_report.weaknesses_by_month_title'),
              { action: :weaknesses_by_month, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <% end %>
          <%= link_to t('conclusion_committee_report.weaknesses_graphs'),
            { action: :weaknesses_graphs, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.control_objective_stats_title'),
            { action: :control_objective_stats, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.process_control_stats_title'),
            { action: :process_control_stats, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
            <%= link_to t('conclusion_report.weaknesses_by_business_unit_title'),
              { action: :weaknesses_by_business_unit, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_report.fixed_weaknesses_report_title'),
            { action: :fixed_weaknesses_report, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.weaknesses_by_risk_title'),
            { action: :weaknesses_by_risk, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_report.weaknesses_by_risk_report_title'),
            { action: :weaknesses_by_risk_report, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.control_objective_stats_by_review_title'),
            { action: :control_objective_stats_by_review, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.benefits_title'),
            { action: :benefits, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
          <%= link_to t('conclusion_report.weaknesses_by_user_title'),
            { action: :weaknesses_by_user, controller_name: 'conclusion', final: true }, class: 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= t 'conclusion_report.cost_analysis_title' %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_report.cost_analysis_title'),
            { action: :cost_analysis }, class: 'list-group-item' %>
          <%= link_to t('conclusion_report.cost_summary_title'),
            { action: :cost_summary }, class: 'list-group-item' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_report.detailed_cost_analysis_title'),
            detailed_cost_analysis_conclusion_reports_path, class: 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Review.model_name.human count: 0 %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_committee_report.synthesis_report_title'),
            { action: :synthesis_report, controller_name: 'conclusion' }, class: 'list-group-item' %>
          <%= link_to t('conclusion_committee_report.review_scores_report_title'),
            { action: :review_scores_report, controller_name: 'conclusion' }, class: 'list-group-item' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('conclusion_committee_report.review_stats_report_title'),
            { action: :review_stats_report, controller_name: 'conclusion' }, class: 'list-group-item' %>
          <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
            <%= link_to t('conclusion_committee_report.review_score_details_report_title'),
              { action: :review_score_details_report, controller_name: 'conclusion' }, class: 'list-group-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
