<%= render partial: 'shared/filter_form', locals: {
  action:       :review_stats_report,
  forms:        { date_range: true, business_unit: true },
  extra_params: { controller_name: 'conclusion' }
} %>

<% score_count = @reviews_by_score.values.map(&:size).sum %>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Review.model_name.human count: 0 %>
    </h4>
  </div>

  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= Review.human_attribute_name 'score' %></th>
          <th><%= t 'conclusion_committee_report.review_stats_report.ratio' %></th>
        </tr>
      </thead>

      <tbody>
        <% Review.scores.each do |score, value| %>
          <% scores = @reviews_by_score[score] %>
          <tr>
            <td><%= t "score_types.#{score}" %></td>
            <td><%= scores.size > 0 ? '%.2f%' % (scores.size.to_f / score_count * 100) : '0.00%' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel-footer">
    <%= t 'conclusion_committee_report.review_stats_report.review_count' %>: <mark><%= score_count %></mark>
  </div>
</div>

<hr>

<div>
  <%= link_to t('label.back'), action: :index %> |
  <%= link_to t('label.download'), '#', data: { toggle: 'modal', target: "#customize_report" } %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'report',
    url: request.query_parameters.merge({
      action: :create_review_stats_report,
      _ts: Time.now.to_i
    }),
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('conclusion_committee_report.review_stats_report.title')
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('conclusion_committee_report.review_stats_report.subtitle')
      }
    ]
  }
} %>
