<% if label.present? %>
  <p class="mb-2"><%= label %></p>
<% end %>

<div class="clearfix">
  <%= f.simple_fields_for :files_attachments do |f_a| %>
    <fieldset>
      <div class="file-container mb-1 float-left">
        <%= link_to_download_file_attachment f_a.object %>
      </div>
      <div class="mt-1">
        <% if show_filename %>
          <span class="ml-2">
            <%= f_a.object.blob.filename.to_s %>
          </span>
        <% end %>
        <% if allow_purge %>
          <span class="ml-2">
            <%= link_to_purge_file_attachment f_a %>
          </span>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <% if allow_upload %>
    <fieldset>
      <div class="file-container float-left">
        <%= link_to_upload_files %>
        <%= f.input :files, label: false, input_html: { multiple: true, data: { target_show_files_selected: '#selected_files', legend_files_empty: t('active_storage.empty_files') } } %>
      </div>
      <ul id="selected_files" class="mt-1 ml-5 text-muted">
        <li><%= t('active_storage.empty_files') %></li>
      </ul>
    </fieldset>
  <% end %>
</div>