<%
  id = f.object.object_id
  annex = f.object
%>
<fieldset class="annexes pb-3">
  <div class="row" data-nested>
    <div class="col-md-11">

      <%= f.input :title %>
      <%= f.input :description, input_html: { rows: 3 } %> 

      <h5 class="mb-3">
        <%= Annex.human_attribute_name(:images) %>
      </h5>

      <%= render 'active_storage/many_images', f: f, label: '', show_filename: true, allow_upload: true, allow_purge: true %>
    </div>
    <div class="col-md-1">
      <div class="mt-2 text-right">
        <%= link_to_remove_nested_item f %>
      </div>
    </div>
  </div>
</fieldset>
