<h4><%= BestPractice.model_name.human count: 0 %> </h4>
<hr>

<div class="row">
  <div class="col-md-6">
    <h5><strong><%= BestPracticeComment.human_attribute_name 'best_practice' %></strong></h5>
  </div>
  <div class="col-md-6">
    <h5><strong><%= BestPracticeComment.human_attribute_name 'auditor_comment' %></strong></h5>
  </div>
</div>

<div id="best_practice_comments">
  <%= f.simple_fields_for :review do |r_f| %>
    <%= r_f.simple_fields_for :best_practice_comments do |pcc_f| %>
      <%= render 'best_practice_comment', f: pcc_f %>
    <% end %>
  <% end %>
</div>
<hr>
