<%= simple_form_for @conclusion_draft_review do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% unless @conclusion_draft_review.review %>
          <%= f.input :review_id, collection:
            Review.list_without_draft_review.map { |r| [r.identification, r.id] },
            prompt: true, input_html: { autofocus: true } %>
        <% else %>
          <%= f.input :review, label: ConclusionDraftReview.human_attribute_name(:review_id),
            input_html: { value: @conclusion_draft_review.review.identification, readonly: true } %>
          <%= f.input :review_id, as: :hidden %>
        <% end %>
        <%= f.input :business_unit, input_html: {
          value: (@conclusion_draft_review.review.business_unit.name if @conclusion_draft_review.review),
          readonly: true } %>
        <%= f.input :project, input_html: {
          value: (@conclusion_draft_review.review.plan_item.project if @conclusion_draft_review.review),
          readonly: true } %>
        <%= f.input :applied_procedures %>
      </div>
      <div class="col-md-6">
        <%= f.input :conclusion %>
        <%= f.input :score, input_html: {
          value: (@conclusion_draft_review.review.score_text if @conclusion_draft_review.review),
          readonly: true } %>
        <%= f.input :issue_date, as: :date_picker, label: raw(
            ConclusionDraftReview.human_attribute_name(:issue_date) +
              show_inline_help_for(:conclusion_review_issue_date)) %>
      </div>
    </div>
  </div>

  <div id="approval_text">
    <%= show_inline_help_for(:conclusion_review_approved) %>
    <%= content_tag(:span, t('conclusion_draft_review.approved'),
      :class => 'text-success', :id => :approved,
      :style => ('display: none;' if !@conclusion_draft_review.approved?)) %>
    <span id="not_approved" <%= raw 'style="display: none;"' if @conclusion_draft_review.approved? %>>
      <span class="text-danger">
        <%= t('conclusion_draft_review.not_approved') %>
      </span>
      <% @conclusion_draft_review.review.try(:must_be_approved?) %>
      <%= link_to t('error.show_details'), '#', :onclick => 'showOrHideErrors(); return false;',
          :id => :show_or_hide_link, :style => 'margin-left: .5em;' %>
    </span>
    <span>
      <%= link_to t('conclusion_draft_review.check_for_approval'),
        {:action => :check_for_approval, :format => :json},
        {:style => 'margin-left: 1em;', :id => 'check_for_approval'} %>
    </span>
    <% if @conclusion_draft_review.updated_at %>
      <span style="margin-left: 1em;">
        | <%= t('conclusion_draft_review.last_verified_date',
          :date => l(@conclusion_draft_review.updated_at, :format => :long)) %>
      </span>
    <% end %>
  </div>

  <div id="approval_errors_detail" style="display: none; margin-top: 2em;">
    <div id="error_list_container">
      <%= array_to_ul(@conclusion_draft_review.review.try(:approval_errors),
        :id => :error_list) %>
    </div>

    <p id="force_approval_prompt" <%= raw(@conclusion_draft_review.review.try(:can_be_approved_by_force) ? '' : 'style="display: none;"') %>>
      <%= f.input :force_approval, as: :boolean, label: false, inline_label: true %>
    </p>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">
  function showOrHideErrors() {
    $('#approval_errors_detail').slideToggle(300, function() {
      $('#show_or_hide_link').mw(
        'toggleContent',
        '<%= t('error.show_details') %>',
        '<%= t('error.hide_details') %>'
      );
    });
  }

  $('#check_for_approval').click(function(event) {
    if(parseInt($('#conclusion_draft_review_review_id').val()) > 0) {
      var url = '<%= url_for({:action => :check_for_approval, :format => :json}) %>';

      $.get(url, { id: $('#conclusion_draft_review_review_id').val() }, function(data) {
        if(data.approved) {
          $('#not_approved').hide();
          $('#approved').show().stop(true, true).effect('highlight', {}, 2000);

          $('#error_list_container').html('');
          $('#force_approval_prompt').hide();
        } else {
          var errorsUl = HTMLUtil.arrayToUL(
            data.errors, {'id': 'error_list' }
          );

          if($('#approval_errors_detail:visible').length > 0) {
            $('#approval_errors_detail').slideToggle(300);
          }

          $('#error_list_container').html(errorsUl);

          $('#show_or_hide_link').mw('resetToOriginalText');

          $('#approved').hide();
          $('#not_approved').show();

          if(data.can_be_approved_by_force) {
            $('#force_approval_prompt').show();
          } else {
            $('#force_approval_prompt').hide();
          }

          $('#not_approved').find('span').stop(true, true).effect('highlight', {}, 2000);
        }
      });
    }

    event.preventDefault();
  });

  $('#conclusion_draft_review_review_id').change(function() {
    var url = '<%= url_for :controller => :reviews, :action => :review_data,
      :id => 'REVIEW_ID', :format => :json %>';

    if(parseInt($(this).val()) > 0) {
      Helper.showLoading('#conclusion_draft_review_review_id');

      $.get(url.replace(/REVIEW_ID/, $(this).val()), {format: 'json' }, function(data) {
        $('#business_unit').val(data.business_unit.name || '');
        $('#project').val(data.plan_item.project || '');
        $('#score').val(data.score_text || '');
        $('#conclusion_draft_review_applied_procedures').focus();
      }).complete(function() {
        Helper.hideLoading('#conclusion_draft_review_review_id');
      });
    } else {
      $('#business_unit').val('');
      $('#project').val('');
    }

    $('#error_list').remove();
  });
</script>
