<h4><%= ProcessControl.model_name.human count: 0 %> </h4>
<hr>

<div class="row">
  <div class="col-md-6">
    <h5><strong><%= ProcessControlComment.human_attribute_name 'process_control' %></strong></h5>
  </div>
  <div class="col-md-6">
    <h5><strong><%= ProcessControlComment.human_attribute_name 'auditor_comment' %></strong></h5>
  </div>
</div>

<div id="process_control_comments">
  <%= f.simple_fields_for :review do |r_f| %>
    <%= r_f.simple_fields_for :process_control_comments do |pcc_f| %>
      <%= render 'process_control_comment', f: pcc_f %>
    <% end %>
  <% end %>
</div>
<hr>
