<%= simple_form_for @conclusion_draft_review,
  url: send_by_email_conclusion_draft_review_path(@conclusion_draft_review) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= content_tag :label, t('conclusion_review.include_global_score_sheet'),
            for: :conclusion_review_include_global_score_sheet %>
          <%= check_box_tag 'conclusion_review[include_global_score_sheet]', 1, true %>
        </div>
        <div class="form-group">
          <%= content_tag :label, t('conclusion_review.include_score_sheet'),
            for: :conclusion_review_include_score_sheet %>
          <%= check_box_tag 'conclusion_review[include_score_sheet]', 1, false %>
        </div>
        <div class="form-group">
          <%= content_tag :label, t('conclusion_review.email_note'),
            for: :conclusion_review_email_note %>
          <%= text_area_tag 'conclusion_review[email_note]', nil, rows: 5,
            autofocus: true, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5><strong><%= User.model_name.human %></strong></h5>
    </div>
  </div>

  <div id="users">
    <% @conclusion_draft_review.review.users.each do |user| %>
      <%= render 'user', item: user %>
    <% end %>

    <%= link_to_add_item(
      t('conclusion_review.add_recipient'), @conclusion_draft_review.review.users.build, 'user'
    ) %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right">
      <%= link_to_edit edit_conclusion_draft_review_path(@conclusion_draft_review) %> |
      <%= link_to_index conclusion_draft_reviews_path %> |
      <%= link_to_back %>
    </div>
    <%= f.submit t('label.send'), class: 'btn btn-primary' %>
  </div>
<% end %>
