<%= content_for :form_actions do %>
  <%= link_to_show @conclusion_draft_review %> |
  <%= link_to_index conclusion_draft_reviews_path %> |
  <% if Current.conclusion_pdf_format == 'gal' %>
    <%= render 'gal_downloads' %>
  <% elsif Current.conclusion_pdf_format == 'bic' %>
    <%= render 'bic_downloads' %>
  <% elsif Current.conclusion_pdf_format != 'default' %>
    <%= render('shared/downloads',
      right: true,
      links: [
        link_to(t('label.download'), :action => :export_to_pdf,
          :id => @conclusion_draft_review, :_ts => Time.now.to_i),
        link_to(t('conclusion_draft_review.download_work_papers'),
          :action => :download_work_papers, :id => @conclusion_draft_review,
          :_ts => Time.now.to_i)
      ]
    ) %>
  <% elsif ORGANIZATIONS_WITH_REVIEW_SCORE_BY_WEAKNESS.include?(current_organization.prefix) %>
    <%= render 'limited_downloads' %>
  <% else %>
    <%= render 'downloads' %>
  <% end %>
  <span>|</span>
  <%= link_to t('conclusion_draft_review.create_bundle'), '#',
    data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to_if(@conclusion_draft_review.review.try(:can_be_sended?),
    t('conclusion_draft_review.send_by_email'), :action => :compose_email,
    :id => @conclusion_draft_review) %>
<% end %>

<%= render 'form' %>
