<%= content_for :form_actions do %>
  <%= link_to_show @conclusion_draft_review %> |
  <%= link_to_index conclusion_draft_reviews_path %> |
  <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
    <%= render 'alternative_downloads' %>
  <% else %>
    <%= render 'downloads' %>
  <% end %>
  <span>|</span>
  <%= link_to t('conclusion_draft_review.create_bundle'), '#',
    data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to_if(@conclusion_draft_review.review.try(:can_be_sended?),
    t('conclusion_draft_review.send_by_email'), :action => :compose_email,
    :id => @conclusion_draft_review) %> |
  <%= link_to_back %>
<% end %>

<%= render 'form' %>
