<%= content_for :form_actions do %>
  <%= link_to_show @conclusion_draft_review %> |
  <%= link_to_index conclusion_draft_reviews_path %> |
  <%= render('shared/downloads',
    links: [
      link_to(t('label.download'), :action => :export_to_pdf,
        :id => @conclusion_draft_review, :_ts => Time.now.to_i),
      link_to(t('conclusion_draft_review.download_brief'),
        :action => :export_to_pdf, :id => @conclusion_draft_review,
        :export_options => {:brief => '1'}, :_ts => Time.now.to_i),
      link_to(t('conclusion_draft_review.download_without_score'),
        :action => :export_to_pdf, :id => @conclusion_draft_review,
        :export_options => {:hide_score => '1'}, :_ts => Time.now.to_i),
      link_to(t('conclusion_draft_review.generate_score_sheet'),
        :action => :score_sheet, :id => @conclusion_draft_review,
        :_ts => Time.now.to_i),
      link_to(t('conclusion_draft_review.generate_global_score_sheet'),
        :action => :score_sheet, :id => @conclusion_draft_review, :global => 1,
        :_ts => Time.now.to_i),
      link_to(t('conclusion_draft_review.download_work_papers'),
        :action => :download_work_papers, :id => @conclusion_draft_review,
        :_ts => Time.now.to_i)
    ]
  ) %>
  <span>|</span>
  <%= link_to t('conclusion_draft_review.create_bundle'), '#',
    data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to_if(@conclusion_draft_review.review.try(:can_be_sended?),
    t('conclusion_draft_review.send_by_email'), :action => :compose_email,
    :id => @conclusion_draft_review) %> |
  <%= link_to_back %>
<% end %>

<%= render 'form' %>
