<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ?
    ConclusionDraftReview::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <th></th>
      <%= make_filterable_column Review.human_attribute_name(:period_id), nil, 'period' %>
      <%= make_filterable_column Review.human_attribute_name(:identification), nil, 'identification' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:business_unit_id), { 'visible-lg' => true }, 'business_unit' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { 'visible-lg' => true }, 'project' %>
      <%= make_filterable_column raw(ConclusionDraftReview.human_attribute_name(:issue_date) + show_inline_help_for(:conclusion_review_issue_date)), { 'visible-lg' => true }, 'issue_date' %>
      <%= make_not_available_column raw(ConclusionDraftReview.human_attribute_name(:approved) + show_inline_help_for(:conclusion_review_approved)), 'visible-lg' => true %>
      <th colspan="3" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @conclusion_draft_reviews.each do |conclusion_draft_review| %>
      <% has_final = conclusion_draft_review.has_final_review? %>
      <tr <%== 'class="text-muted"' if has_final %>>
        <td><%= show_has_final_info if has_final %></td>
        <td><%= show_period_with_dates_as_abbr conclusion_draft_review.review.period %></td>
        <td class="nowrap"><%= conclusion_draft_review.review.identification %></td>
        <td class="visible-lg"><%= super_truncate(conclusion_draft_review.review.plan_item.business_unit.name, 25) %></td>
        <td class="visible-lg"><%= super_truncate(conclusion_draft_review.review.plan_item.project, 30) %></td>
        <td class="visible-lg"><%= l(conclusion_draft_review.issue_date, :format => :short) if conclusion_draft_review.issue_date %></td>
        <td class="visible-lg"><%= t conclusion_draft_review.approved? ? 'label.yes' : 'label.no' %></td>
        <td><%= link_to_new_conclusion_final_review new_conclusion_final_review_path(
              :review => conclusion_draft_review.review_id) if conclusion_draft_review.approved? && !has_final %></td>
        <td><%= link_to_show(conclusion_draft_review) unless has_final %></td>
        <td><%= link_to_edit edit_conclusion_draft_review_path(conclusion_draft_review) unless has_final %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links @conclusion_draft_reviews %>

<%= link_to t('label.new'), new_conclusion_draft_review_path, class: 'btn btn-primary' %>
