<div class="card">
  <div class="card-body">
    <%= simple_form_for @benefit do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :name, input_html: { maxlength: 255, autofocus: true } %>
          </div>
          <div class="col-md-6">
            <%= f.input :kind, collection: benefit_kinds, prompt: true, disabled: !allow_benefit_kind_edition? %>
          </div>
        </div>
      </div>

      <hr>

      <div class="form-actions">
        <div class="float-end"><%= yield :form_actions %></div>
        <%= f.button :submit, class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
