<div class="card">
  <div class="card-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><%= Benefit.human_attribute_name 'name' %></th>
          <th><%= Benefit.human_attribute_name 'kind' %></th>
          <th colspan="3">
            <%= link_to_new new_benefit_path, class: 'btn btn-outline-secondary btn-sm float-end' %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @benefits.each do |benefit| %>
          <tr>
            <td><%= benefit.name %></td>
            <td><%= t "benefits.kinds.#{benefit.kind}" %></td>
            <td class="text-end"><%= link_to_show benefit %></td>
            <td class="text-end"><%= link_to_edit [:edit, benefit] %></td>
            <td class="text-end"><%= link_to_destroy benefit %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div>
      <%= paginate @benefits %>
      <%= link_to_new new_benefit_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
