<!--[form:detract]-->
<% form_for @detract do |f| %>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p style="margin-bottom: 1em;">
      <b><%= Detract.human_attribute_name :user_id %>:</b>
      <%=h @detract.user.full_name %>
    </p>
    <p class="form_item">
      <%= f.label :value, nil, :class => :inline %>
      <%= f.text_field :value, :class => :inline_item %>
    </p>
    <p>
      <%= f.label :observations %>
      <%= f.text_area :observations %>
    </p>
  </div>
  <div style="display: none;">
    <%= f.hidden_field :user_id %>
  </div>

  <p>
    <span class="button"><%= f.submit t(:'label.add') %></span>
  </p>
<% end %>
<!--[eoform:detract] -->
<%= set_focus_to_first_element %>

<div id="links">
  <%= link_to t(:'label.list'), detracts_path %> |
  <%= link_to_back %>
</div>