<div id="showed_data">
  <% if @detract %>
    <p style="font-size: 1.4em; margin-bottom: 1em;">
      <strong><%=h @detract.user.informal_name %></strong>
    </p>
    <h1><%= t(:'detract.last_detract') %></h1>
    <p>
      <b>
        <%= Detract.human_attribute_name :value %>
        <%= show_inline_help_for(:detract_value) %>:
      </b>
      <%=h @detract.value %>
    </p>

    <p>
      <b><%= Detract.human_attribute_name :observations %>:</b>
      <%=h @detract.observations %>
    </p>

    <p><%= link_to_last_detracts @user %> <%= show_inline_help_for(:detract_last_detracts) %></p>
  <% end %>

  <% unless @user.try(:children).try(:size).to_i == 0 %>
    <h1 style="margin-top: 1em;"><%= t(:'user.children') %></h1>
    <table class="summary_table">
      <thead>
        <tr>
          <th><%= Detract.human_attribute_name :user_id %></th>
          <th><%= t(:'detract.last_detract') %></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <% @detract.user.children.each do |child| %>
          <tr>
            <td><%= h child.full_name %></td>
            <td><%= h child.detracts.last.try(:value) %></td>
            <td><%= link_to_last_detracts child %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div id="last_detracts"><%= render :partial => 'show_last_detracts' %></div>
</div>

<div id="links">
  <%= link_to t(:'label.list'), detracts_path %> |
  <%= link_to_back %>
</div>