<div class="alwaysbreak">
  <div class="row">
    <div class="col-5 left-div text-white">
      <div class="row">
        <div class="col-4 offset-8">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'logo_1.png')), 
                        width: 126, 
                        height: 139,
                        class: 'mt-5 mb-5' %>
        </div>  
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="font-weight-bold" style="font-size:450%;">Informe de Auditoria N°: AI 001/2022</p>
          <p class="font-weight-bold" style="font-size:550%;">Revisión del Proceso de Inversiones</p>
          <p class="pt-4" style="font-size:250%;"><span class="font-weight-bold">Auditores:</span> Wolf, Yesica; Wolinsky Fernando</p>
          <p class="pt-4" style="font-size:250%;"><span class="font-weight-bold">Responsables:</span> Goméz, Santiago</p>
        </div>
      </div>
    </div>
    <div class="col-7 right-div">
      <div class="row">
        <div class="col-3 offset-9">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'iram_icono.jpg')), 
                        width: 49, 
                        height: 68 %>
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'sigen_icono.jpg')), 
                        width: 54, 
                        height: 90,
                        class: 'ml-5 mt-1' %>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="pt-5" style="font-size:210%;"><span class="font-weight-bold">Fecha de Emisión:</span> 31/12/2022</p>
          <p class="pt-3" style="font-size:210%;"><span class="font-weight-bold">Informe Previo:</span> FI 2021 007</p>
          <p class="pt-3" style="font-size:210%;"><span class="font-weight-bold">Periodo de Revisión:</span> 01/01/2022 al 11/11/2022</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1 border-left">
          <p class="pt-5 font-weight-bold" style="font-size:210%;">Objetivo</p>
          <p class="pt-5" style="font-size:210%;">Efectuar el relevamiento del proceso de Inversiones de BICE Fideicomisos y de los Fideicomisos administrados, evaluando los controles existentes a fin de comprobar que los mismos aseguren, mediante su adecuado funcionamiento, la producción de información contable confiable.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1 offset-1">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'lupa.png')), 
                        width: 55, 
                        height: 53,
                        class: 'mt-4' %>
        </div>
        <div class="col-7">
          <p class="pt-5 font-weight-bold" style="font-size:210%; color:#5bc4e4;">Calificación del Ciclo: Necesita Mejorar</p>
        </div>
        <div class="col-1">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'emoji.png')), 
                        width: 67, 
                        height: 53,
                        class: 'mt-4' %>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="pt-5 font-weight-bold" style="font-size:210%;">Firma:</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alwaysbreak">
  <div class="row">
    <div class="col-3 left-div text-white">
      <table style="height: 100%; width: 100%">
        <tbody>
          <tr>
            <td class="align-middle" style="text-align: center;"><span class="font-weight-bold" style="font-size:420%;">ALCANCE</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-9 right-div">
      <div class="row">
        <div class="col-3 offset-9">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'iram_icono.jpg')), 
                        width: 49, 
                        height: 68,
                        class: 'ml-5' %>
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'sigen_icono.jpg')), 
                        width: 54, 
                        height: 90,
                        class: 'ml-5 mt-1' %>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="pt-5" style="font-size:190%;">Relevar y evaluar los controles existentes en el proceso correspondiente a las Inversiones de BICE Fideicomisos S.A. y a las inversiones realizadas en los Fideicomisos administrados, identificando los riesgos existentes en el proceso relevado, comprobando los controles y/o los procedimientos diseñados</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alwaysbreak">
  <div class="row">
    <div class="col-3 left-div text-white">
      <table style="height: 100%; width: 100%">
        <tbody>
          <tr>
            <td class="align-middle" style="height: 65%; text-align: center;"><span class="font-weight-bold" style="font-size:340%;">MARCO DE REFERENCIA</span></td>
          </tr>
          <tr>
            <td class="align-middle" style="height: 35%; text-align: center;"><span class="font-weight-bold" style="font-size:340%;">COMENTARIOS DE AUDITORIA</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-9 right-div">
      <div class="row">
        <div class="col-3 offset-9">
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'iram_icono.jpg')), 
                        width: 49, 
                        height: 68,
                        class: 'ml-5' %>
          <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'sigen_icono.jpg')), 
                        width: 54, 
                        height: 90,
                        class: 'ml-5 mt-1' %>
        </div>
      </div>
      <div class="row" style="height: 600px;">
        <div class="col-10 offset-1">
          <p class="pt-5" style="font-size:190%;">Relevar y evaluar los controles existentes en el proceso correspondiente a las Inversiones de BICE Fideicomisos S.A. y a las inversiones realizadas en los Fideicomisos administrados, identificando los riesgos existentes en el proceso relevado, comprobando los controles y/o los procedimientos diseñados</p>
        </div>
      </div>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="pt-5" style="font-size:190%;">De nuestra revisión llevada a cabo surge que la calificación a asignar al proceso de Inversiones es, basado en que existen debilidades reiteradas de informes anteriores. Por otro lado, en esta revisión se detectaron ciertas debilidades </p>
        </div>
      </div>
    </div>
  </div>
</div>
