<% if table_data.kind_of?(Hash) %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <% table_data[:order].each do |column| %>
          <th><%= raw table_data[:columns][column].first %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table_data[:data].each do |row_data| %>
        <tr>
          <% table_data[:order].each do |column| %>
            <td><%= raw row_data[column] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if being_implemented_resume.present? %>
    <p>* <%= raw being_implemented_resume %></p>
  <% end %>
  <% if highest_being_implemented_resume.present? %>
    <p>** <%= raw highest_being_implemented_resume %></p>
  <% end %>
  <% if awaiting_resume.present? %>
    <p>*** <%= raw awaiting_resume %></p>
  <% end %>
  <% if highest_awaiting_resume.present? %>
    <p>**** <%= raw highest_awaiting_resume %></p>
  <% end %>
<% else %>
  <p style="margin: 1em;"><em><%= table_data %></em></p>
<% end %>
