<p>
  <strong><%= Review.model_name.human %>:</strong>
  <%= weakness.review&.identification %>
</p>

<p>
  <strong><%= PlanItem.human_attribute_name 'project' %>:</strong>
  <%= weakness.review&.plan_item&.project %>
</p>

<p>
  <strong><%= Weakness.human_attribute_name 'review_code' %>:</strong>
  <%= weakness.review_code %>
</p>

<p>
  <strong><%= Weakness.human_attribute_name 'title' %>:</strong>
  <%= weakness.title %>
</p>

<p>
  <strong><%= ProcessControl.model_name.human %>:</strong>
  <%= weakness.control_objective_item&.process_control&.name %>
</p>

<div>
  <strong><%= ControlObjective.model_name.human %>:</strong>
  <%= simple_format weakness.control_objective_item&.to_s %>
</div>


<div>
  <strong><%= Weakness.human_attribute_name 'description' %>:</strong>
  <%= simple_format weakness.description %>
</div>

<p>
  <strong><%= Weakness.human_attribute_name 'state' %>:</strong>
  <%= weakness.state_text %>
</p>

<p>
  <strong><%= Weakness.human_attribute_name 'risk' %>:</strong>
  <%= weakness.risk_text %>
</p>

<p>
  <strong><%= Weakness.human_attribute_name 'priority' %>:</strong>
  <%= weakness.priority_text %>
</p>

<div>
  <strong><%= Weakness.human_attribute_name 'effect' %>:</strong>
  <%= simple_format weakness.effect %>
</div>

<div>
  <strong><%= Weakness.human_attribute_name 'audit_recommendations' %>:</strong>
  <%= simple_format weakness.audit_recommendations %>
</div>

<div>
  <strong><%= Weakness.human_attribute_name 'answer' %>:</strong>
  <%= simple_format weakness.answer %>
</div>

<p>
  <strong><%= Weakness.human_attribute_name 'follow_up_date' %>:</strong>
  <%= l weakness.follow_up_date, format: :long if weakness.follow_up_date %>
</p>

<div>
  <strong><%= Weakness.human_attribute_name 'audit_comments' %>:</strong>
  <%= simple_format weakness.audit_comments %>
</div>

<p>
  <strong><%= Weakness.human_attribute_name 'origination_date' %>:</strong>
  <%= l weakness.origination_date, format: :long if weakness.origination_date %>
</p>

<p>
  <strong><%= Weakness.human_attribute_name 'solution_date' %>:</strong>
  <%= l weakness.solution_date, format: :long if weakness.solution_date %>
</p>

<% audited = weakness.users.reload.select(&:can_act_as_audited?) %>

<h3><%= t 'finding.responsibles', count: audited.size %></h3>
<ul>
  <% audited.each do |user| %>
    <li><%= user.full_name_with_function %></li>
  <% end %>
</ul>

<% if weakness.finding_answers.any? %>
  <h3>
    <%= t 'finding.finding_answers' %>
  </h3>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= User.model_name.human %></th>
        <th><%= FindingAnswer.human_attribute_name 'answer' %></th>
        <th>
          <%= FindingAnswer.human_attribute_name 'file_model' %>
        </th>
        <th>
          <%= FindingAnswer.human_attribute_name 'created_at' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% weakness.finding_answers.each do |finding_answer| %>
        <tr>
          <td><%= finding_answer.user.full_name %></td>
          <td><%= simple_format finding_answer.answer %></td>
          <td>
            <%= finding_answer.file_model&.file? ?
              link_to(t('label.download'), finding_answer.file_model.file.url) : '---' %>
          </td>
          <td>
            <%= l finding_answer.created_at, format: :long if finding_answer.created_at %>
            <% if finding_answer.commitment_date %>
              <br />
              <br /><strong><%= FindingAnswer.human_attribute_name 'commitment_date' %></strong>:
              <br /><%= l finding_answer.commitment_date, format: :long %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />
