<%= render :partial => 'shared/filter_form',
  :locals => {:action => :cost_analysis, :extra_params => {},
  :forms => {:date_range => true}} %>

<% @periods.each do |period| %>
  <h1 class="simple_title with_border_bottom">
    <strong><%= "#{Period.model_name.human}: #{period.inspect}" %></strong>
  </h1>
  <div style="margin: 1em;">
    <h1><%= t :'follow_up_audit.cost_analysis.weaknesses' %></h1>
    <% unless @weaknesses_data[period].blank? %>
      <table class="summary_table">
        <thead>
          <tr>
            <% @column_order.each do |col_name, col_width| %>
              <th style="width: <%= "#{col_width}%" %>">
                <%= t :"follow_up_audit.cost_analysis.column_#{col_name}" %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @weaknesses_data[period].each do |data| %>
            <tr>
              <% @column_order.map(&:first).each do |col_name| %>
                <td><%= raw data[col_name].to_utf8 %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t :'follow_up_audit.cost_analysis.without_weaknesses' %></em>
      </p>
    <% end %>

    <h1><%= t :'follow_up_audit.cost_analysis.oportunities' %></h1>
    <% unless @oportunities_data[period].blank? %>
      <table class="summary_table">
        <thead>
          <tr>
            <% @column_order.each do |col_name, col_width| %>
              <th style="width: <%= "#{col_width}%" %>">
                <%= t :"follow_up_audit.cost_analysis.column_#{col_name}" %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @oportunities_data[period].each do |data| %>
            <tr>
              <% @column_order.map(&:first).each do |col_name| %>
                <td><%= raw data[col_name].to_utf8 %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t :'follow_up_audit.cost_analysis.without_oportunities' %></em>
      </p>
    <% end %>
  </div>
<% end %>

<div id="links">
  <%= link_to t(:'label.back'), :action => :index %> |
  <%= link_to_function t(:'label.download'),
    "Helper.showItem('#customize_report_form')" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_cost_analysis, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t(:'customize_report_form.title'),
          :value => t(:'follow_up_audit.cost_analysis.title')
        }
      ]
    }
  } %>
  </div>
</div>