<%= render partial: 'shared/filter_form',
  locals: {
    action: :weaknesses_brief, extra_params: {
      controller_name: 'follow_up', final: false
    },
    forms: [
      [:date_range, true],
      [:user, hide_comments: true],
      [:cut_date, true]
    ]
  }
%>

<% if @weaknesses.any? %>
  <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th><%= Review.model_name.human %></th>
          <th><%= PlanItem.human_attribute_name 'project' %></th>
          <th><%= t 'follow_up_committee_report.weaknesses_brief.weakness_title' %></th>
          <th><%= t 'follow_up_committee_report.weaknesses_brief.description' %></th>
          <th><%= Weakness.human_attribute_name 'risk' %></th>
          <th><%= Weakness.human_attribute_name 'audit_comments' %></th>
          <th><%= FindingUserAssignment.human_attribute_name 'process_owner' %></th>
          <th><%= ConclusionFinalReview.human_attribute_name 'issue_date' %></th>
          <th><%= t 'follow_up_committee_report.weaknesses_brief.first_follow_up_date' %></th>
          <th><%= t 'follow_up_committee_report.weaknesses_brief.follow_up_date' %></th>
          <th><%= t 'follow_up_committee_report.weaknesses_brief.distance_to_cut_date' %></th>
        </tr>
      </thead>

      <tbody>
        <% @weaknesses.each do |weakness| %>
          <tr>
            <td><%= weakness.review.identification %></td>
            <td><%= weakness.review.plan_item.project %></td>
            <td><%= weakness.title %></td>
            <td><%= weakness.description %></td>
            <td><%= weakness.risk_text %></td>
            <td><%= weakness.audit_comments %></td>
            <td><%= array_to_ul weaknesses_brief_audit_users(weakness), class: 'list-unstyled' %></td>
            <td><%= l weakness.review.conclusion_final_review.issue_date %></td>
            <td><%= weakness.first_follow_up_date ? l(weakness.first_follow_up_date) : '-' %></td>
            <td><%= weakness.follow_up_date ? l(weakness.follow_up_date) : '-' %></td>
            <td><%= distance_in_days_to_cut_date weakness %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div style="margin-left: 2em">
    <p><em><%= t 'follow_up_committee_report.weaknesses_brief.without_weaknesses' %></em></p>
  </div>
<% end %>

<hr />

<div>
  <%= link_to t('label.back'), action: :index %> |
  <%= link_to t('label.download'), '#', data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to t('label.download_csv'), weaknesses_brief_follow_up_audit_path(request.query_parameters.merge(format: :csv)) %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'report',
    url: request.query_parameters.merge(
      {action: :create_weaknesses_brief, _ts: Time.now.to_i}
    ),
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('follow_up_committee_report.weaknesses_brief.title')
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('follow_up_committee_report.weaknesses_brief.subtitle')
      }
    ]
  }
} %>
