<%= render partial: 'shared/filter_form',
  locals: {
    action: :weaknesses_by_business_unit, extra_params: {
      controller_name: 'follow_up', final: false
    },
    forms: [
      [:date_range, true],
      [:finding_business_unit_multiple, true],
      [:risk_levels_multiple, { group: 1 }],
      [:business_unit_type_multiple, { group: 1 }]
    ]
  }
%>

<% if @weaknesses.any? %>
  <% @weaknesses.each do |weakness| %>
    <hr>

    <p>
      <span class="text-muted"><%= PlanItem.human_attribute_name 'project' %></span>:
      <%= weakness.review.plan_item.project %>
    </p>

    <p>
      <span class="text-muted"><%= Review.model_name.human %></span>:
      <%= weakness.review.identification %>
    </p>

    <p>
      <span class="text-muted"><%= ConclusionFinalReview.human_attribute_name 'issue_date' %></span>:
      <%= l weakness.review.conclusion_final_review.issue_date %>
    </p>

    <p>
      <span class="text-muted"><%= ConclusionFinalReview.human_attribute_name 'conclusion' %></span>:
      <%= weakness.review.conclusion_final_review.conclusion %>
    </p>

    <p>
      <span class="text-muted"><%= Review.human_attribute_name 'risk_exposure' %></span>:
      <%= weakness.review.risk_exposure %>
    </p>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'title' %></span>:
      <%= weakness.title %>
    </p>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'description' %></span>:
    </p>

    <%= simple_format weakness.description %>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'answer' %></span>:
    </p>

    <%= simple_format weakness.answer %>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'risk' %></span>:
      <%= weakness.risk_text %>
    </p>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'state' %></span>:
      <%= weakness.state_text %>
    </p>

    <p>
      <span class="text-muted"><%= t("#{@controller}_committee_report.weaknesses_by_business_unit.year") %></span>:
      <%= l weakness.origination_date, format: '%Y' if weakness.origination_date %>
    </p>

    <p>
      <span class="text-muted"><%= Weakness.human_attribute_name 'follow_up_date' %></span>:
      <% if weakness.follow_up_date && weakness.follow_up_date < Time.zone.today %>
        <span class="text-danger"><%= l weakness.follow_up_date %></span>
      <% elsif weakness.follow_up_date %>
        <%= l weakness.follow_up_date %>
      <% end %>
    </p>
  <% end %>
<% else %>
  <div style="margin-left: 2em">
    <p><em><%= t 'follow_up_committee_report.weaknesses_by_business_unit.without_weaknesses' %></em></p>
  </div>
<% end %>

<hr />

<div>
  <%= link_to t('label.back'), action: :index %> |
  <%= link_to t('label.download'), '#', data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to t('label.download_csv'), weaknesses_by_business_unit_follow_up_audit_path(request.query_parameters.merge(format: :csv)) %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'report',
    url: request.query_parameters.merge(
      {action: :create_weaknesses_by_business_unit, _ts: Time.now.to_i}
    ),
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('follow_up_committee_report.weaknesses_by_business_unit.title')
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('follow_up_committee_report.weaknesses_by_business_unit.subtitle')
      }
    ]
  }
} %>
