<%= render :partial => 'shared/filter_form',
  :locals => {:action => :weaknesses_by_state, :extra_params => {
    :controller_name => 'follow_up', :final => false
  },
  :forms => {:date_range => true}} %>

<% @periods.each do |period| %>
  <div class="page-header">
    <h2><%= "#{Period.model_name.human}: #{period.inspect}" %></h2>
  </div>
  <% @audit_types.each do |audit_type| %>
    <% audit_type_symbol = audit_type.first %>
    <% unless audit_type.last.empty? %>
      <h3 class="text-center">
        <%= t "conclusion_committee_report.findings_type_#{audit_type_symbol}" %>
      </h3>

      <% audit_type.last.each do |audit_types| %>
        <% key = "#{audit_type_symbol}_#{audit_types.last}" %>
        <h4><%= audit_types.first %></h4>
        <% locals = {
            :weaknesses_count => @weaknesses_counts[period]["#{key}_weaknesses"],
            :oportunities_count => @weaknesses_counts[period]["#{key}_oportunities"],
            :repeated_count => @weaknesses_counts[period]["#{key}_repeated"],
            :being_implemented_resume => @being_implemented_resumes[period][key],
            :audit_type_symbol => audit_type_symbol
          }
          if @sqm
            locals.merge!(
              :nonconformities_count => @weaknesses_counts[period]["#{key}_nonconformities"],
              :potential_nonconformities_count => @weaknesses_counts[period]["#{key}_potential_nonconformities"]
            )
          end
        %>
        <%= render :partial => 'weaknesses_by_state_table', :locals => locals %>
      <% end %>
    <% end %>
  <% end %>

  <h3 class="text-center">
    <%= t('follow_up_committee_report.weaknesses_by_state.period_summary',
      :period => period.inspect) %>
  </h3>
  <% locals = {
       :weaknesses_count => @weaknesses_counts[period]['total_weaknesses'],
       :oportunities_count => @weaknesses_counts[period]['total_oportunities'],
       :repeated_count => @weaknesses_counts[period]['total_repeated'],
       :being_implemented_resume => @being_implemented_resumes[period]['total'],
       :audit_type_symbol => :internal
     }
     if @sqm
       locals.merge!(
         :nonconformities_count => @weaknesses_counts[period]['total_nonconformities'],
         :potential_nonconformities_count => @weaknesses_counts[period]['total_potential_nonconformities']
       )
     end
  %>
  <%= render :partial => 'weaknesses_by_state_table', :locals => locals %>
<% end %>

<hr />

<div class="form-footer">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form'); return false;" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_weaknesses_by_state, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => @sqm ? t('follow_up_committee_report.weaknesses_by_state.sqm_title'):
            t('follow_up_committee_report.weaknesses_by_state.title')
        }
      ]
    }
  } %>
  </div>
</div>
