<% unless @permalink %>
  <%= render partial: 'shared/filter_form',
    locals: {
      action: :weaknesses_current_situation, extra_params: {
        controller_name: 'follow_up', final: false
      },
      forms: [
        [:date_range, true],
        [:review, true],
        [:cut_date, { group: 1, label: t('follow_up_committee_report.weaknesses_current_situation.cut_date') }],
        [:compliance, { group: 1 }],
        [:finding_multiple, true],
        [:risk_levels_multiple, { group: 2 }],
        [:business_unit_type_multiple, { group: 2 }],
        [:conclusion_and_scope_multiple, true],
        [
          :tags, {
            field_name: :weakness_tags,
            can_negate: true,
            field_label: t('follow_up_committee_report.weaknesses_current_situation.weakness_tags'),
            check_label: t('follow_up_committee_report.weaknesses_current_situation.negate_weakness_tags')
          }
        ],
        [
          :tags, {
            group: 3,
            field_name: :control_objective_tags,
            field_label: t('follow_up_committee_report.weaknesses_current_situation.control_objective_tags')
          }
        ],
        [
          :tags, {
            group: 3,
            field_name: :review_tags,
            field_label: t('follow_up_committee_report.weaknesses_current_situation.review_tags')
          }
        ],
        [:repeated, { group: 5 }],
        [:priority, { group: 5 }],
        [:weakness_extra_attributes, true]
      ]
    }
  %>
<% end %>

<% if @weaknesses.any? %>
  <% @weaknesses.each_with_index do |weakness, index| %>
    <% current_weakness = weakness.current %>

    <p class="mt-3 mb-1">
      <span class="badge badge-pill badge-secondary">
        <%= index + 1 %>
      </span>
      <span class="text-muted"><%= BusinessUnit.model_name.human %></span>:
      <%= weakness.business_unit %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= PlanItem.human_attribute_name 'project' %></span>:
      <%= weakness.review.plan_item.project %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= Review.model_name.human %></span>:
      <%= weakness.review.identification %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= BusinessUnitType.model_name.human %></span>:
      <%= weakness.business_unit_type %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= t 'follow_up_committee_report.weaknesses_current_situation.origination_year' %></span>:
      <%= l weakness.origination_date, format: '%Y' if weakness.origination_date %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= ConclusionFinalReview.human_attribute_name 'conclusion' %></span>:
      <%= weakness.review.conclusion_final_review.conclusion %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= Weakness.human_attribute_name 'risk' %></span>:
      <%= current_weakness.risk_text %>
    </p>

    <p class="mb-1">
      <span class="text-muted"><%= Weakness.human_attribute_name 'priority' %></span>:
      <%= current_weakness.priority_text %>
    </p>

    <p class="h5 mb-1">
      <span class="text-muted"><%= Weakness.human_attribute_name 'title' %></span>:
      <strong><%= current_weakness.title %></strong>
    </p>

    <p class="mb-1">
      <strong><%= Weakness.human_attribute_name 'description' %></strong>:
      <%= current_weakness.description %>
    </p>

    <% if current_weakness.show_current_situation? %>
      <p class="mb-1">
        <strong><%= Weakness.human_attribute_name 'current_situation' %></strong>:
        <%= current_weakness.current_situation %>
      </p>
    <% end %>

    <p class="mb-1">
      <strong><%= Weakness.human_attribute_name 'answer' %></strong>:
      <%= current_weakness.answer %>
    </p>

    <p class="mb-1">
      <strong><%= Weakness.human_attribute_name 'state' %></strong>:
      <%= weakness.weaknesses_current_situation_state_text current_weakness %>
    </p>

    <% if current_weakness.follow_up_date %>
      <p class="mb-1">
        <strong><%= Weakness.human_attribute_name 'follow_up_date' %></strong>:
        <% if current_weakness.follow_up_date < (@cut_date - 30.days) %>
          <span class="text-danger"><%= l current_weakness.follow_up_date %></span>
        <% else %>
          <%= l current_weakness.follow_up_date %>
        <% end %>
      </p>
    <% end %>

    <% weakness.achievements.each do |achievement| %>
      <p class="mb-1">
        <strong><%= achievement.benefit %></strong>:
        <%= achievement.amount ? '%.2f' % achievement.amount : achievement.comment %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <div class="ml-3">
    <p class="mb-1"><em><%= t 'follow_up_committee_report.weaknesses_current_situation.without_weaknesses' %></em></p>
  </div>
<% end %>

<div data-permalink>
  <%= render 'permalinks/permalink' if @permalink %>
</div>

<hr />

<div>
  <%= link_to t('label.back'), action: :index %> |
  <%= link_to t('label.download'), '#', data: { toggle: 'modal', target: '#customize_report' } %> |
  <%= link_to t('label.download_csv'), weaknesses_current_situation_follow_up_audit_path(request.query_parameters.merge(format: :csv)) %>
  <% if @permalink.blank? && @weaknesses.any? %>
    <span data-permalink-link>
      | <%= link_to(
        t('label.create_permalink'),
        create_weaknesses_current_situation_permalink_follow_up_audit_path(request.query_parameters),
        data: { method: :post, remote: true }
      ) %>
    </span>
  <% end %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'report',
    url: request.query_parameters.merge(
      {action: :create_weaknesses_current_situation, _ts: Time.now.to_i}
    ),
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('follow_up_committee_report.weaknesses_current_situation.title')
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('follow_up_committee_report.weaknesses_current_situation.subtitle')
      }
    ]
  }
} %>
