<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? EMail::COLUMNS_FOR_SEARCH.keys : @columns
} %>

<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <%= make_not_available_column EMail.human_attribute_name(:created_at) %>
      <%= make_filterable_column EMail.human_attribute_name(:to), nil, 'to' %>
      <%= make_filterable_column EMail.human_attribute_name(:subject), nil, 'subject' %>
      <th class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= l email.created_at, :format => :short %></td>
        <td><%= super_truncate email.to %></td>
        <td><%= super_truncate email.subject %></td>
        <td><%= link_to_show email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @emails %>
  <%= link_to_back %>
</div>
