<div id="showed_data">
  <p>
    <b><%= EMail.human_attribute_name 'to' %>:</b>
    <%= @email.to %>
  </p>

  <p>
    <b><%= EMail.human_attribute_name 'subject' %>:</b>
    <%= @email.subject %>
  </p>

  <p>
    <b><%= EMail.human_attribute_name 'body' %>:</b>
    <%= raw @email.body %>
  </p>

  <p>
    <b><%= EMail.human_attribute_name 'attachments' %>:</b>
    <%= @email.attachments %>
  </p>
</div>

<div id="links">
  <%= link_to t('label.list'), e_mails_path %> |
  <%= link_to_back %>
</div>
