<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <p><b><%= t('ldap_mailer.import_notifier.receptors') %></b></p>

  <p><%= t('ldap_mailer.import_notifier.body_title') %></p>

  <% @users.each do |state, users| %>
    <p>
      <h3><%= t(state, scope: 'ldap_mailer.import_notifier.states') %></h3>

      <ul>
        <% users.each do |user| %>
          <li><%= user.to_s %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <%= render 'footer' %>
</div>
