<div id="login">
  <div id="logo">
    <%= image_tag 'logo_mini.gif', :size => '139x27', :alt => t('app_name') %>
  </div>
  <% if current_organization || @group_admin_mode %>
    <!--[form:user]-->
    <%= form_for @user, url: sessions_path do |f| %>
      <p>
        <%= f.label :user %>
        <%= f.text_field :user, :maxlength => 30, :size => 10, :autocomplete => :off,
          :autofocus => true %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :maxlength => 128, :size => 10,
          :autocomplete => :off %>
      </p>
      <div class="submit">
        <span class="button"><%= f.submit t('user.enter') %></span>
        <%= link_to t('user.reset_password_title'), reset_password_users_path %>
      </div>
    <% end %>
    <!--[eoform:user] -->
  <% else %>
    <div id="no_organization" class="rounded_top_left rounded_top_right rounded_bottom_left rounded_bottom_right">
      <%= t 'message.no_organization' %>
    </div>
  <% end %>
</div>
