<div class="row justify-content-center">
  <div class="col-md-6">
    <%= form_tag mfa_url, novalidate: 'novalidate', data: { no_observe_changes: true } do %>
      <div class="card mb-3">
        <div class="card-header text-center bg-white border-white pt-5 pb-4">
          <%= image_tag 'logo.svg', alt: t('app_name'), height: 27 %>
        </div>
        <div class="card-body py-0 px-5">
          <% unless @auth_user.mfa_configured_at %>
            <h4 class="text-center">
              Configura la Autenticación de Dos Factores (2FA)
            </h4>
            <p>
              Este proceso requiere, además de tu contraseña, un código generado en tu dispositivo móvil.
            </p>
            <ul>
              <li>Descarga una aplicación de autenticación (Google Authenticator).</li>
              <li>Escanea el código QR con la aplicación.</li>
              <li>Ingresa el código de 6 dígitos generado por la aplicación.</li>
            </ul>
            <div class="m-2 text-center">
              <%== @auth_user.mfa_qr %>
            </div>
          <% end %>

          <div class="form-inputs">
            <div class="mb-3 form-group">
              <%= label_tag :code, t('.code'), class: 'col-form-label' %>
              <div class="controls">
                <%= text_field_tag :code, params[:code], class: 'form-control form-control-lg',
                  autofocus: true, autocomplete: 'off', maxlength: 255 %>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-center bg-white border-white pb-4">
          <div class="form-actions">
            <%= submit_tag t('mfas.send_code'), class: 'btn btn-lg btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
