<% readonly = !@conclusion_final_review.new_record? %>

<%= simple_form_for @conclusion_final_review do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% unless @conclusion_final_review.review %>
          <%= conclusion_final_review_review_field f, @conclusion_final_review.review %>
        <% else %>
          <%= f.input :review, label: ConclusionFinalReview.human_attribute_name(:review_id),
            input_html: { value: @conclusion_final_review.review.identification, readonly: true } %>
          <%= f.input :review_id, as: :hidden %>
        <% end %>
        <%= f.input :business_unit, input_html: {
          value: (@conclusion_final_review.review.business_unit.name if @conclusion_final_review.review),
          readonly: true } %>
        <%= f.input :project, input_html: {
          value: (@conclusion_final_review.review.plan_item.project if @conclusion_final_review.review),
          readonly: true } %>
        <%= f.input :score, label: Review.human_attribute_name(:score), input_html: {
          value: (@conclusion_final_review.review.score_text if @conclusion_final_review.review),
          readonly: true } %>
        <%= f.input :summary %>
      </div>
      <div class="col-md-6">
        <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
          <% if SHOW_CONCLUSION_AS_OPTIONS %>
            <%= f.input :conclusion, collection: conclusion_options, prompt: true,
              input_html: { disabled: readonly } %>
          <% else %>
            <%= f.input :conclusion, input_html: { readonly: readonly, rows: 2 } %>
          <% end %>
          <%= f.input :evolution, collection: EVOLUTION_OPTIONS, prompt: true, input_html: { disabled: readonly } %>
          <%= f.input :evolution_justification, input_html: { rows: 1, readonly: readonly } %>
        <% else %>
          <%= f.input :applied_procedures, input_html: { readonly: readonly, rows: SHOW_CONCLUSION_AS_OPTIONS ? 4 : 2 } %>
          <% if SHOW_CONCLUSION_AS_OPTIONS %>
            <%= f.input :conclusion, collection: conclusion_options, prompt: true,
              input_html: { disabled: readonly } %>
          <% else %>
            <%= f.input :conclusion, input_html: { readonly: readonly, rows: 2 } %>
          <% end %>
        <% end %>

        <%= f.input :issue_date, as: :date_picker, input_html: { readonly: readonly } %>
        <%= f.input :close_date, as: :date_picker, input_html: { readonly: readonly } %>
      </div>
    </div>

    <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :recipients, input_html: { rows: 4, readonly: true } %>
        </div>
        <div class="col-md-6">
          <%= f.input :sectors, input_html: { rows: 4, readonly: true } %>
        </div>
      </div>
    <% end %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'bundle' %>

<script type="text/javascript">
//<![CDATA[
  $('#conclusion_final_review_review_id').change(function() {
    var elementsForUpdate = [
      'applied_procedures', 'conclusion', 'evolution',
      'evolution_justification', 'recipients', 'sectors'
    ];

    if(!$(this).val().match(/^\s*$/)) {
      var element = $(this);
      var url = '<%= new_conclusion_final_review_path :format => :json %>';

      Helper.showLoading(element);

      $.get(url, { review: element.val() }, function(data) {

        for(var key in data) {
          var target = $('#conclusion_final_review_' + key);

          if($.inArray(key, elementsForUpdate) != -1) {
            target.val(data[key] || '');
          }
        }

        $('#conclusion_final_review_business_unit').val(data.review.business_unit.name);
        $('#conclusion_final_review_project').val(data.review.plan_item.project);
        $('#conclusion_final_review_score').val(data.review.score_text);
        $('#conclusion_final_review_applied_procedures').focus();
      }).complete(function() {
        Helper.hideLoading(element);
      });
    } else {
      $.each(elementsForUpdate, function(i, e) {
        $('#conclusion_final_review_' + e).html('');
      });

      $('#conclusion_final_review_business_unit').val('');
      $('#conclusion_final_review_project').val('');
      $('#conclusion_final_review_score').val('');
    }
  });
//]]>
</script>
