<fieldset class="image_model">
  <div class="form-inputs">
    <div class="row">
      <div class="col-10">
        <% if f.object.image? %>
          <p class="mb-2">
            <%= icon 'fas', 'image', class: 'mr-2' %>
            <%= f.object.image.file.filename %>
          </p>
        <% else %>
          <div class="file-container float-left small">
            <%= link_to_upload f.object, :image %>
            <% if f.object.image_cache %>
              <%= f.input :image_cache, as: :hidden %>
            <% else %>
              <%= f.input :image, label: false %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-2">
        <div class="text-right">
          <% if @conclusion_final_review.new_record? %>
            <%= link_to_remove_nested_item f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
