<% id = user.id || 'NEW_RECORD' %>
<% hide = is_dynamic || user.marked_for_destruction? -%>
<div class="user item" <%= 'style="display: none;"' if hide %> id="user_<%= id %>">
  <div>
    <div class="item_field" style="width: 50%;">
      <% if is_dynamic -%>
        <div class="search">
          <%= hidden_field_tag "user[#{id}][id]", user.id,
            :class => :autocomplete_id_item %>
          <%= text_field_with_auto_complete "user[#{id}]", :data,
            {:id => "user_#{id}_data", :class => :search,
            :title => t(:'label.search'), :value => ''},
            {:indicator => :loading, :skip_style => true,
            :url => {:action => :auto_complete_for_user},
            :after_update_element => 'AutoComplete.itemSelected',
            :param_name => 'user_data'} %>
        </div>
      <% else -%>
        <%= text_field_tag "user[#{id}][data]",
          user.new_record? ? nil : "#{user.full_name} <#{user.email}>",
          :readonly => true %>
      <% end -%>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= remove_item_link nil, 'user' -%>
    </div>
  </div>
</div>

<% if is_dynamic -%>
  <script type="text/javascript">Helper.showItem('user_<%= id %>');</script>
<% end -%>