<% id = user.id || 'NEW_RECORD' %>
<% hide = is_dynamic || user.marked_for_destruction? %>
<div class="user item" <%= raw 'style="display: none;"' if hide %> id="user_<%= id %>">
  <div>
    <div class="item_field" style="width: 50%;">
      <% if is_dynamic %>
        <div class="search">
          <% field_classes = [:search, :autocomplete_field] %>
          <%= text_field_tag "user[#{id}][data]", '',
            :id => "user_#{id}_data",
            :class => field_classes.join(' '),
            :title => t(:'label.search'),
            :autocomplete => :off,
            :autofocus => true,
            :'data-autocomplete-url' => auto_complete_for_user_conclusion_final_reviews_path(:format => :json) %>
          <%= hidden_field_tag "user[#{id}][id]", user.id,
            :class => :autocomplete_id %>
        </div>
      <% else %>
        <%= hidden_field_tag "user[#{id}][id]", user.id %>
        <%= text_field_tag "user[#{id}][data]",
          user.new_record? ? nil : user.full_name_with_function,
          :readonly => true %>
      <% end %>
    </div>
    <div class="item_field item_controls" style="width: 10%;">
      <%= remove_item_link nil, 'user' %>
    </div>
  </div>
</div>

<% if is_dynamic %>
  <script type="text/javascript">
    Helper.showItem('#user_<%= id %>');
    AutoComplete.observeAll();
  </script>
<% end %>