<%
  user = item
  id = user.id || item.object_id
%>
<fieldset class="user" style="margin-bottom: 10px;">
  <div class="form-inputs">
    <div class="row">
      <% if user.new_record? %>
        <div class="col-md-6">
          <%= text_field_tag "user[#{id}][data]", '',
            id: "user_#{id}_data",
            class: 'autocomplete_field form-control',
            title: t('label.search'),
            autocomplete: :off,
            autofocus: true, data: {
              autocomplete_url: auto_complete_for_user_conclusion_final_reviews_path,
              autocomplete_id_target: "#user_#{id}_id"
            } %>
        </div>
      <% else %>
        <div class="col-md-6">
          <%= text_field_tag "user[#{id}][data]", user.try(:full_name_with_function),
            readonly: true, class: 'form-control' %>
        </div>
      <% end %>
      <%= hidden_field_tag "user[#{id}][id]", user.id %>
      <div class="col-md-4">
        <% if user.can_act_as_audited? %>
          <%= select_tag "user[#{id}]", options_from_collection_for_select(
            @questionnaires, :id, :name), prompt: t('label.no'), class: 'form-control' %>
        <% else %>
          &nbsp;
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to_remove_child_item(nil) %>
      </div>
    </div>
  </div>
</fieldset>
