<%= simple_form_for @conclusion_final_review,
  url: send_by_email_conclusion_final_review_path(@conclusion_final_review) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= select_tag 'conclusion_review[review_type]', send_review_options, class: 'form-control' %>
        </div>
        <% unless SHOW_CONCLUSION_ALTERNATIVE_PDF %>
          <div class="checkbox">
            <label for="conclusion_review_include_global_score_sheet">
              <%= check_box_tag 'conclusion_review[include_global_score_sheet]', 1, false %>
              <%= t 'conclusion_review.include_global_score_sheet' %>
            </label>
          </div>
          <div class="checkbox">
            <label for="conclusion_review_include_score_sheet">
              <%= check_box_tag 'conclusion_review[include_score_sheet]', 1, false %>
              <%= t 'conclusion_review.include_score_sheet' %>
            </label>
          </div>
          <div class="checkbox">
            <label for="export_options_hide_control_objectives_excluded_from_score">
              <%= check_box_tag 'export_options[hide_control_objectives_excluded_from_score]', 1, false %>
              <%= t 'conclusion_final_review.hide_control_objectives_excluded_from_score' %>
            </label>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label t('conclusion_review.email_note'), for: :conclusion_review_email_note %>
          <%= text_area_tag 'conclusion_review[email_note]', nil, rows: 5, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5><strong><%= User.model_name.human %></strong></h5>
    </div>
    <div class="col-md-3">
      <h5><strong><%= t 'polls.answer_poll' %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5><strong><%= t 'polls.affected_user' %></strong></h5>
    </div>
  </div>

  <div id="users">
    <% @conclusion_final_review.review.users.each do |user| %>
      <%= render 'user', item: user %>
    <% end %>

    <%= link_to_add_item(
      t('conclusion_review.add_recipient'), @conclusion_final_review.review.users.build, 'user'
    ) %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right">
      <%= link_to_edit edit_conclusion_final_review_path(@conclusion_final_review) %> |
      <%= link_to_index conclusion_final_reviews_path %> |
      <%= link_to_back %>
    </div>
    <%= f.submit t('label.send'), class: 'btn btn-primary' %>
  </div>
<% end %>
