<%= render :partial => 'form' %>

<div id="links">
  <%= link_to t(:'label.show'), @conclusion_final_review %> |
  <%= link_to t(:'label.list'), conclusion_final_reviews_path %> |
  <%= link_to t(:'label.download'), :action => :export_to_pdf,
    :id => @conclusion_final_review %> |
  <%= link_to t(:'conclusion_final_review.generate_score_sheet'),
    :action => :score_sheet, :id => @conclusion_final_review %> |
  <%= link_to t(:'conclusion_final_review.generate_global_score_sheet'),
    :action => :score_sheet, :id => @conclusion_final_review, :global => 1 %> |
  <%= link_to t(:'conclusion_final_review.download_work_papers'),
    :action => :download_work_papers, :id => @conclusion_final_review %> |
  <%= link_to t(:'conclusion_final_review.create_bundle'),
    :action => :bundle, :id => @conclusion_final_review %> |
  <%= link_to t(:'conclusion_final_review.send_by_email'),
    :action => :compose_email, :id => @conclusion_final_review %> |
  <%= link_to_back %>
</div>