<%= content_for :form_actions do %>
  <%= link_to_show @conclusion_final_review %> |
  <%= link_to_index conclusion_final_reviews_path %> |
  <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
    <%= render 'alternative_downloads' %>
  <% else %>
    <%= render 'downloads' %>
  <% end %>
  <span>|</span>
  <%= link_to t('conclusion_final_review.create_bundle'), '#',
    data: { toggle: 'modal', target: "#customize_report" } %> |
  <%= link_to t('conclusion_final_review.send_by_email'),
    :action => :compose_email, :id => @conclusion_final_review %> |
  <%= link_to_back %>
<% end %>

<%= render 'form' %>
