<%= render :partial => 'shared/search', :locals => {
  :options => {
    :columns_for_sort => ConclusionFinalReview.columns_for_sort
  },
  :columns => @query.blank? ?
    ConclusionFinalReview::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Review.human_attribute_name(:period_id), nil, 'period' %>
      <%= make_filterable_column Review.human_attribute_name(:identification), nil, 'identification' %>
      <%= make_filterable_column ConclusionFinalReview.human_attribute_name(:summary), { :class => 'hidden-xs' }, 'summary' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:business_unit_id), { :class => 'hidden-xs' }, 'business_unit' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { :class => 'hidden-xs' }, 'project' %>
      <%= make_not_available_column ConclusionDraftReview.human_attribute_name(:issue_date), { :class => 'hidden-xs' } %>
      <%= make_not_available_column Review.human_attribute_name(:score), { :class => 'hidden-xs' } %>
      <th colspan="2" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @conclusion_final_reviews.each do |conclusion_final_review| %>
      <tr>
        <td><%= show_period_with_dates_as_abbr conclusion_final_review.review.period %></td>
        <td class="nowrap"><%= show_review_identification_with_score_as_abbr conclusion_final_review.review %></td>
        <td class="nowrap hidden-xs"><%= super_truncate conclusion_final_review.summary, 30 %></td>
        <td class="hidden-xs"><%= super_truncate(conclusion_final_review.review.plan_item.business_unit.name, 25) %></td>
        <td class="hidden-xs"><%= super_truncate(conclusion_final_review.review.plan_item.project, 30) %></td>
        <td class="hidden-xs"><%= show_conclusion_review_issue_date conclusion_final_review %></td>
        <td class="hidden-xs"><%= conclusion_final_review.review.score.to_s + '%' %>
        <td><%= link_to_show conclusion_final_review %></td>
        <td><%= link_to_edit edit_conclusion_final_review_path(conclusion_final_review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @conclusion_final_reviews %>
  <%= link_to t('label.new'), new_conclusion_final_review_path, class: 'btn btn-primary' %> |
  <%= link_to t('label.download'), export_list_to_pdf_conclusion_final_reviews_path(
    params.permit(:search => [:query, columns: []]).merge(:_ts => Time.now.to_i)
  ) %>
</div>
