<%= render :partial => 'shared/search', :locals => {
  :options => {
    :columns_for_sort => ConclusionFinalReview.columns_for_sort
  },
  :columns => @query.blank? ?
    ConclusionFinalReview::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Review.human_attribute_name(:period_id), nil, 'period' %>
      <%= make_filterable_column Review.human_attribute_name(:identification), nil, 'identification' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:business_unit_id), { 'visible-lg' => true }, 'business_unit' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { 'visible-lg' => true }, 'project' %>
      <%= make_filterable_column raw(ConclusionDraftReview.human_attribute_name(:issue_date) + show_inline_help_for(:conclusion_review_issue_date)), { 'visible-lg' => true }, 'issue_date' %>
      <%= make_filterable_column raw(ConclusionDraftReview.human_attribute_name(:close_date) + show_inline_help_for(:conclusion_review_close_date)), { 'visible-lg' => true }, 'close_date' %>
      <th colspan="2" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @conclusion_final_reviews.each do |conclusion_final_review| %>
      <tr>
        <td><%= show_period_with_dates_as_abbr conclusion_final_review.review.period %></td>
        <td class="nowrap"><%= show_review_identification_with_score_as_abbr conclusion_final_review.review %></td>
        <td class="visible-lg"><%= super_truncate(conclusion_final_review.review.plan_item.business_unit.name, 25) %></td>
        <td class="visible-lg"><%= super_truncate(conclusion_final_review.review.plan_item.project, 30) %></td>
        <td class="visible-lg"><%= l(conclusion_final_review.issue_date, :format => :short) if conclusion_final_review.issue_date %></td>
        <td class="visible-lg"><%= l(conclusion_final_review.close_date, :format => :short) if conclusion_final_review.close_date %></td>
        <td><%= link_to_show conclusion_final_review %></td>
        <td><%= link_to_edit edit_conclusion_final_review_path(conclusion_final_review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @conclusion_final_reviews %>
  <%= link_to t('label.new'), new_conclusion_final_review_path %> |
  <%= link_to t('label.download'), export_list_to_pdf_conclusion_final_reviews_path(
    :search => params[:search], :_ts => Time.now.to_i) %>
</div>
