<% id = f.object.object_id %>
<% finding_relation = f.object %>
<fieldset class="finding_relation">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% if finding_relation.related_finding.blank? %>
          <% extra_parameters = { review_id: @weakness.control_objective_item.try(:review).try(:id) || '' } %>
          <% extra_parameters[:finding_id] = @weakness.id unless @weakness.new_record? %>
          <%= f.input :related_finding_id, label: false, input_html: {
            value: finding_relation.related_finding.to_s,
            id: "finding_finding_relation_#{id}",
            class: 'autocomplete_field',
            title: t('label.search'),
            autocomplete: :off,
            autofocus: true, data: {
              autocomplete_params: extra_parameters,
              autocomplete_url: auto_complete_for_finding_relation_weaknesses_path,
              autocomplete_id_target: "#hidden_related_finding_#{id}"
            }
          } %>
          <%= f.input :related_finding_id, as: :hidden, input_html: {
            id: "hidden_related_finding_#{id}", class: 'autocomplete_id' } %>
        <% else %>
          <%= f.input :related_finding_id, as: :hidden, input_html: {
            id: "hidden_related_finding_#{id}" } %>
          <%= f.input "finding_finding_relation_#{id}", label: false, input_html: {
            value: finding_relation.related_finding.try(:to_s), readonly: true } %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= f.input :description, label: false %>
      </div>
      <div class="col-md-2">
        <div class="show_hide">
          <%= f.input :finding_id, as: :hidden %>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
