<% id = "#{dynamic_object_id('finding_relation', f)}#{'_NEW_RECORD' if is_dynamic}" -%>
<% finding_relation = f.object -%>
<% hide = is_dynamic || finding_relation.marked_for_destruction? -%>
<div class="finding_relation item" id="<%= id %>" <%= 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 60%;">
      <% if is_dynamic -%>
        <div class="search">
          <% extra_parameters = {
            :finding_id => (@weakness.id unless @weakness.new_record?),
            :review_id => @weakness.control_objective_item.try(:review).try(:id)
          } -%>
          <%= f.hidden_field :related_finding_id,
            :id => "hidden_related_finding_#{id}", :class => :autocomplete_id_item %>
          <%= text_field_with_auto_complete :finding, :nested_finding_relation,
            {:id => "finding_finding_relation_#{id}", :class => :search,
            :title => t(:'label.search'),
            :value => finding_relation.related_finding.to_s},
            {:indicator => :loading, :skip_style => true,
            :url => {:action => :auto_complete_for_finding_relation},
            :after_update_element => 'AutoComplete.itemSelected',
            :param_name => 'finding_relation_data',
            :parameters => extra_parameters.to_param} %>
        </div>
      <% else -%>
        <%= f.hidden_field :related_finding_id,
          :id => "hidden_related_finding_#{id}" %>
        <%= text_field_tag "finding_finding_relation_#{id}",
          finding_relation.related_finding.try(:to_s), :readonly => true,
          :class => ('error_field' if finding_relation.errors.on(:related_finding_id)) %>
      <% end -%>
    </div>
    <div class="item_field" style="width: 30%;">
      <%= finding_relation_type_field(f) %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
      <%= f.hidden_field :finding_id %>
      <%= remove_item_link(f) -%>
    </div>
  </div>
</div>
<% if is_dynamic -%>
  <script type="text/javascript">Helper.showItem('<%= id %>');</script>
<% end -%>