<% readonly = @weakness.final? -%>
<% review = @weakness.review || @weakness.control_objective_item.try(:review) -%>
<% @weakness.review_code ||= next_weakness_code(@weakness) -%>
<% frozen = review.try(:is_frozen?) && !@weakness.can_be_modified?(false) #TODO: cambiar a solo is_frozen? cuando termine la "papelización" -%>
<% show_history_changes = @weakness.status_change_history.size > 1 -%>
<!--[form:weakness]-->
<% form_for @weakness, :html => {:multipart => true} do |f| %>
  <% content_for :js_extra do -%>
    <% unless readonly -%>
      <%= "var user='#{escape_javascript(render(:partial => 'user',
          :object => User.new, :locals => {:f => f, :is_dynamic => true,
          :readonly => readonly}))}';" %>
    <% end -%>
    <% unless frozen -%>
    <%= "var lastWorkPaperCode = '#{next_weakness_work_paper_code(
        @weakness)}';" %>
    <%= "var work_paper='#{generate_template(f, :work_papers,
        {:form_builder_local => :wp_f,
        :partial => 'work_papers/work_paper',
        :locals => {:child_index => 'NEW_RECORD', :frozen => false},
        :object => WorkPaper.new(:organization_id => @auth_organization.id)})}';" %>
    <% end -%>
  <% end -%>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= content_tag :label, Review.human_name, :class => :inline %>
      <%= text_field_tag :review, review.try(:identification),
        :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <label class="inline"><%= ControlObjective.human_name %>:</label>
      <%= text_field nil, :control_objective_name, :size => nil,
        :value => "#{@weakness.control_objective_item.control_objective_text} (#{@weakness.control_objective_item.process_control.name})",
        :class => :inline_item, :readonly => true %>
      <%= f.hidden_field :control_objective_item_id %>
    </p>
    <p class="form_item">
      <%= f.label :review_code, nil, :class => :inline %>
      <%= f.text_field :review_code, :class => :inline_item, :maxlength => 255,
        :readonly => true %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :readonly => readonly, :class => :focused %>
    </p>
    <p>
      <%= f.label :audit_recommendations %>
      <%= f.text_area :audit_recommendations, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :effect %>
      <%= f.text_area :effect, :readonly => readonly %>
    </p>
  </div>
  <div class="form_column_right">
    <p class="form_item">
      <%= f.label :risk, nil, :class => :inline %>
      <%= f.select :risk, parameter_in(@auth_organization.id,
        :admin_finding_risk_levels, @weakness.created_at, true),
        {:prompt => true},
        {:class => :inline_item, :disabled => readonly} %>
    </p>
    <p class="form_item">
      <%= f.label :priority, nil, :class => :inline %>
      <%= f.select :priority, parameter_in(@auth_organization.id,
        :admin_priorities, @weakness.created_at, true),
        {:prompt => true},
        {:class => :inline_item, :disabled => readonly} %>
    </p>
    <p class="form_item">
      <%= f.label :state, Weakness.human_attribute_name(:state) +
        (show_history_changes ? finding_show_status_change_history(
          :finding_status_change_history) : ''), :class => :inline %>
      <%= finding_status_field(f, true, readonly) %>
    </p>

    <% if show_history_changes -%>
      <%= render :partial => 'findings/history_changes',
        :locals => { :finding => @weakness } %>
    <% end -%>

    <% if @weakness.must_have_a_comment? -%>
      <% f.fields_for :comments,
        @weakness.comments.build(:user => @auth_user) do |c_f| -%>
        <p>
          <%= c_f.label :comment, nil, :class => :error_field %>
          <%= c_f.text_area :comment, :class => :error_field %>
          <%= c_f.hidden_field :user_id %>
        </p>
      <% end -%>
    <% end -%>
    <p>
      <%= f.label :answer %>
      <%= f.text_area :answer, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :audit_comments %>
      <%= f.text_area :audit_comments, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :follow_up_date %>
      <%= f.calendar_date_select :follow_up_date, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :solution_date %>
      <%= f.calendar_date_select :solution_date, :readonly => readonly %>
    </p>
  </div>

  <table class="item_container">
    <thead>
      <tr>
        <th style="width: 52%;"><%= t(:'finding.related_users') %></th>
        <th style="width: 48%;"><%= t(:'finding.work_papers') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 52%; padding-top: 1em;">
          <div id="users">
            <%= render :partial => 'user', :collection => @weakness.users,
              :locals => {:f => f, :is_dynamic => false, :readonly => readonly} %>
          </div>
        </td>
        <td style="width: 48%; padding-top: 1em;">
          <div class="column_headers">
            <div class="item_column" style="width: 20%;">
              <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
            </div>
            <div class="item_column" style="width: 20%;">
              <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
            </div>
            <div class="item_column" style="width: 15%;">
              <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
            </div>
            <div class="item_column" style="width: 25%;">
              <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
            </div>
            <div class="item_column" style="width: 10%;">
              <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
            </div>
            <div class="item_column" style="width: 10%;"></div>
            <div style="clear: both;"></div>
          </div>
          
          <div id="work_papers">
            <% f.fields_for :work_papers do |wp_f| -%>
              <%= render :partial => 'work_papers/work_paper', :locals =>
                {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
                :child_index => 'NEW_RECORD'} %>
            <% end -%>
          </div>
        </td>
      </tr>
      
      <tr>
        <td>
          <%= link_to_unless readonly, t(:'finding.add_user'), '#user',
            :class => :add_nested_item, :rel => :users %>
        </td>
        <td>
          <%= link_to_unless frozen, t(:'finding.add_work_paper'),
            '#work_paper', :class => :add_nested_item, :rel => :work_papers %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= hidden_lock_version(f) %>

  <p>
    <span class="button"><%= f.submit submit_button_text %></span>
  </p>
<% end -%>
<!--[eoform:weakness] -->
<%= set_focus_to_first_element %>