<% readonly = @weakness.final? %>
<% review = @weakness.review || @weakness.control_objective_item.try(:review) %>
<% frozen = review.try(:is_frozen?) || @weakness.repeated? %>
<% show_history_changes = @weakness.status_change_history.size > 1 %>

<%= simple_form_for @weakness do |f| %>
  <% content_for :js_extra do %>
    <%= raw("var lastWorkPaperCode = '#{next_weakness_work_paper_code(@weakness)}';") unless frozen %>
  <% end %>

  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :review, label: Review.model_name.human(count: 1),
              input_html: { value: review.try(:identification), readonly: true } %>
          </div>
          <div class="col-md-6">
            <%= f.input :review_code, input_html: { maxlength: 255, readonly: true } %>
          </div>
        </div>
        <%= f.input :title, input_html: { autofocus: true, maxlength: 255, readonly: readonly } %>
        <div>
          <label for="weakness_control_objective_item">
            <%= ControlObjective.model_name.human %>
          </label>
          <% if !readonly && !@weakness.new_record? %>
            <%= f.input :control_objective_item, label: false, input_html: {
              value: @weakness.control_objective_item.try(:control_objective_text),
              title: t('label.search'),
              autocomplete: :off,
              data: {
                autocomplete_params: ({ review_id: @weakness.review.id } if @weakness.review),
                autocomplete_url: auto_complete_for_control_objective_item_weaknesses_path,
                autocomplete_id_target: '#control_objective_item_id'
              }
            } %>
          <% else %>
            <%= f.input :control_objective_name, label: false, input_html: {
              id: :weakness_control_objective_item,
              value: "#{@weakness.control_objective_item.control_objective_text}
                (#{@weakness.control_objective_item.process_control.name})",
              readonly: true } %>
          <% end %>
          <%= f.input :control_objective_item_id, as: :hidden,
            input_html: { id: 'control_objective_item_id' } %>
        </div>
        <%= finding_repeated_of_label(f, readonly: readonly) %>
        <%= finding_repeated_of_if_field(f, readonly: readonly) %>
        <%= f.input :description, autofocus: true, input_html: { readonly: readonly, rows: HIDE_WEAKNESS_EFFECT ? 13 : 5 } %>
        <% unless HIDE_WEAKNESS_EFFECT %>
          <%= f.input :effect, input_html: { readonly: readonly, rows: 5 } %>
        <% end %>
        <%= f.input :audit_recommendations, input_html: { readonly: readonly, rows: 5 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :origination_date, as: :date_picker, input_html: {
          readonly: (readonly || @weakness.repeated_of)
        } %>
        <%= f.input :risk, collection: risks, prompt: true, disabled: readonly %>
        <% unless HIDE_WEAKNESS_PRIORITY %>
          <%= f.input :priority, collection: priorities, prompt: true, disabled: readonly %>
        <% end %>
        <%= f.label :state, raw(Weakness.human_attribute_name(:state) + ' ' +
            (show_history_changes ? finding_show_status_change_history(
              :finding_status_change_history) : '')) %>
        <%= finding_status_field(f, disabled: readonly) %>

        <% if show_history_changes %>
          <%= render 'findings/history_changes', finding: @weakness %>
        <% end %>

        <% if @weakness.must_have_a_comment? %>
          <%= f.simple_fields_for :comments,
            @weakness.comments.build(user: @auth_user) do |c_f| %>
            <%= c_f.input :comment %>
            <%= c_f.input :user_id, as: :hidden %>
          <% end %>
        <% end %>
        <% if SHOW_WEAKNESS_PROGRESS %>
          <%= f.input :progress, collection: weakness_progresses(@weakness), prompt: true,
            disabled: weakness_progress_disabled?(@weakness, readonly) %>
        <% end %>
        <%= f.input :answer, input_html: { readonly: readonly, rows: 5 } %>
        <%= f.input :follow_up_date, as: :date_picker, input_html: { disabled: readonly } %>
        <%= f.input :solution_date, as: :date_picker, input_html: { disabled: readonly } %>
        <%= f.input :audit_comments, input_html: { readonly: readonly, rows: 5 } %>
      </div>
    </div>

    <% if SHOW_WEAKNESS_EXTRA_ATTRIBUTES %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :compliance, collection: weakness_compliance_options, prompt: true, disabled: readonly %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.input :impact, as: :check_boxes, collection: weakness_impact_options, disabled: readonly %>
        </div>
        <div class="col-md-4">
          <%= f.input :operational_risk, as: :check_boxes, collection: weakness_operational_risk_options, disabled: readonly %>
        </div>
        <div class="col-md-4">
          <%= f.input :internal_control_components, as: :check_boxes, collection: weakness_internal_control_components_options, disabled: readonly %>
        </div>
      </div>
    <% end %>
  </div>

  <br />
  <h4>
    <%= Tag.model_name.human count: 0 %>
  </h4>

  <div class="row">
    <div class="col-md-6">
      <h5><strong><%= Tag.human_attribute_name :name %></strong></h5>
    </div>
  </div>

  <div id="taggings">
    <%= f.simple_fields_for :taggings do |t_f| %>
      <%= render 'findings/tagging', f: t_f, parent: f %>
    <% end %>

    <%= link_to_add_fields(t('finding.add_tagging'), f, :taggings, 'findings/tagging') unless frozen %>
  </div>

  <br />
  <h4><%= t 'finding.responsibles', count: @weakness.users.size %></h4>

  <div class="row">
    <div class="col-md-6">
      <h5><strong><%= User.model_name.human %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5><strong><%= FindingUserAssignment.human_attribute_name 'responsible_auditor' %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5><strong><%= FindingUserAssignment.human_attribute_name 'process_owner' %></strong></h5>
    </div>
  </div>

  <div id="finding_user_assignments">
    <%= f.simple_fields_for :finding_user_assignments do |fua_f| %>
      <%= render 'findings/finding_user_assignment', f: fua_f, readonly: readonly %>
    <% end %>

    <%= link_to_add_fields(t('finding.add_user'), f,
      :finding_user_assignments, 'findings/finding_user_assignment', {}, readonly: readonly) unless readonly %>
  </div>

  <% unless (repeated_ancestors = @weakness.repeated_ancestors).blank? %>
    <br />
    <h4><%= t('finding.repeated_ancestors') %></h4>

    <ul>
      <% repeated_ancestors.each do |repeated_ancestor| %>
        <li><%= repeated_ancestor %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless (repeated_children = @weakness.repeated_children).blank? %>
    <br />
    <h4>
      <%= t('finding.repeated_children') %>
    </h4>

    <ul>
      <% repeated_children.each do |repeated_child| %>
        <li><%= repeated_child %></li>
      <% end %>
    </ul>
  <% end %>

  <br />
  <h4>
    <%= t('finding.finding_relations') %>
  </h4>
  <div class="row">
    <div class="col-md-6">
      <h5><strong><%= FindingRelation.human_attribute_name :related_finding_id %></strong></h5>
    </div>
    <div class="col-md-4">
      <h5><strong><%= FindingRelation.human_attribute_name :description %></strong></h5>
    </div>
  </div>

  <div id="finding_relations">
    <%= f.simple_fields_for :finding_relations do |fr_f| %>
      <%= render 'findings/finding_relation', f: fr_f %>
    <% end %>

    <%= link_to_add_fields(t('finding.add_finding_relation'), f,
      :finding_relations, 'findings/finding_relation') unless frozen %>
  </div>

  <% unless @weakness.inverse_finding_relations.blank? %>
    <br />
    <h4>
      <%= t('finding.inverse_finding_relations') %>
    </h4>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><%= FindingRelation.human_attribute_name :finding_id %></th>
          <th><%= FindingRelation.human_attribute_name :description %></th>
        </tr>
      </thead>
      <tbody>
        <% @weakness.inverse_finding_relations.each do |ifr| %>
          <tr>
            <td><%= ifr.finding %></td>
            <td><%= ifr.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless weakness_business_units.empty? %>
    <br />
    <h4>
      <%= BusinessUnit.model_name.human count: 0 %>
    </h4>
    <%=  f.input :business_unit_ids, label: false, collection: weakness_business_units, as: :check_boxes, input_html: { disabled: readonly } %>
  <% end %>

  <% unless @weakness.finding_answers.blank? %>
    <br />
    <h4>
      <%= t('finding.finding_answers') %>
    </h4>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><%= User.model_name.human %></th>
          <th><%= FindingAnswer.human_attribute_name :answer %></th>
          <th>
            <%= FindingAnswer.human_attribute_name :file_model %>
          </th>
          <th><%= FindingAnswer.human_attribute_name :created_at %></th>
        </tr>
      </thead>
      <tbody>
        <% @weakness.finding_answers.each do |finding_answer| %>
          <tr>
            <td><%= finding_answer.user.full_name %></td>
            <td><%= simple_format finding_answer.answer %></td>
            <td>
              <%= finding_answer.file_model.try(:file?) ?
                link_to(t('label.download'), finding_answer.file_model.file.url) : '---' %>
            </td>
            <td>
              <%= l(finding_answer.created_at, format: :long) if finding_answer.created_at %>
              <% if finding_answer.commitment_date %>
                <br />
                <br /><strong><%= FindingAnswer.human_attribute_name(:commitment_date) %></strong>:
                <br /><%= l(finding_answer.commitment_date, format: :long) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br />
  <h4><%= WorkPaper.model_name.human(count: 0) %></h4>
  <div class="row">
    <div class="col-md-3">
      <h5><strong><%= WorkPaper.human_attribute_name 'name' %></strong></h5>
    </div>
    <div class="col-md-1">
      <h5><strong><%= WorkPaper.human_attribute_name 'code' %></strong></h5>
    </div>
    <div class="col-md-1">
      <h5><strong><%= WorkPaper.human_attribute_name 'number_of_pages' %></strong></h5>
    </div>
    <div class="col-md-4">
      <h5><strong><%= WorkPaper.human_attribute_name 'description' %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5><strong><%= WorkPaper.human_attribute_name 'file_model' %></strong></h5>
    </div>
  </div>

  <div id="work_papers">
    <%= f.simple_fields_for :work_papers do |wp_f| %>
      <%= render 'work_papers/work_paper', f: wp_f, frozen: frozen %>
    <% end %>

    <%= link_to_add_fields(
      t('finding.add_work_paper'), f, :work_papers, 'work_papers/work_paper'
    ) unless frozen %>
  </div>

  <% if benefit_exists? %>
    <br />
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" id="achievement-heading">
          <a data-toggle="collapse" href="#achievements" aria-expanded="true" aria-controls="achievements">
            <%= Benefit.model_name.human count: 0 %>
          </a>
        </h3>
      </div>
      <div id="achievements" class="panel-collapse collapse" role="tabpanel" aria-labelledby="achievement-heading">
        <div class="panel-body">
          <% benefit_kinds.each do |name, kind| %>
            <% achievements = weakness_achievements_for kind %>

            <% if achievements.present? %>
              <h4><%= t "benefits.kinds.#{kind}" %></h4>

              <div class="row">
                <div class="col-md-6">
                  <h5><strong><%= Achievement.human_attribute_name 'benefit' %></strong></h5>
                </div>
                <div class="col-md-4">
                  <h5>
                    <strong><%= Achievement.human_attribute_name 'comment' %></strong>
                  </h5>
                </div>
                <div class="col-md-2">
                  <h5>
                    <strong><%= Achievement.human_attribute_name 'amount' %></strong>
                  </h5>
                </div>
              </div>

              <%= f.simple_fields_for :achievements, achievements do |a_f| %>
                <%= render 'achievements/achievement', f: a_f, frozen: frozen %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary', disabled: frozen %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).on('change', '#weakness_risk', function() {
    alert('<%= I18n.t 'message.change_weakness_risk' %>');
  });
</script>
