<% @weakness.build_image_model unless @weakness.image_model %>

<div class="clearfix">
  <p class="mb-1"><%= ImageModel.model_name.human %></p>
  <%= f.simple_fields_for :image_model do |im_f| %>
    <% unless readonly %>
      <div class="file-container float-left">
        <%= link_to_upload im_f.object, :image %>
        <% if im_f.object.image_cache %>
          <%= im_f.input :image_cache, as: :hidden %>
          <%= im_f.input :image, as: :hidden, input_html: { value: nil } %>
        <% else %>
          <%= im_f.input :image, label: false %>
        <% end %>
      </div>
    <% end %>

    <%= link_to_download_image im_f %>

    <% unless readonly %>
      <%= link_to_remove_image im_f %>
    <% end %>
  <% end %>
</div>
