<div class="row">
  <div class="col-3 text-bg-primary ps-4 pt-15">
    <div style="min-height: 400px;">
      <p class="text-start fw-bold fs-bice-2">
        <%= I18n.t 'conclusion_review.bic.weaknesses.plan', index: short_bic_weakness_review_code(weakness.review_code) %>
      </p>
      <p class="text-start fw-bold fs-bice-2 pt-4"><%= weakness.title %></p>
    </div>
    <p class="text-start fs-bice-3">
      <span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.responsible' %></span>
      <%= bic_weakness_responsible weakness %>
    </p>
    <div class="row fw-bold">
      <div class="col-5 text-center vertical-align-center pe-0">
        <p class="bg-black-border-white w-100 mb-0 p-1 fs-bice-3"><%= (Weakness.human_attribute_name :risk).upcase %></p>
      </div>
      <div class="col-1 px-2">
        <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'key.png')), height: 80 %>
      </div>
      <div class="col-6 vertical-align-center">
        <p class="mb-0 text-start fs-bice-3"><%= weakness.risk_text %></p>
      </div>
    </div>
    <div class="row fw-bold">
      <div class="col-5 text-center vertical-align-center pe-0">
        <p class="bg-black-border-white w-100 mb-0 p-1 fs-bice-3"><%= (Weakness.human_attribute_name :state).upcase %></p>
      </div>
      <div class="col-1 px-2">
        <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'key.png')), height: 80 %>
      </div>
      <div class="col-6 vertical-align-center">
        <p class="mb-0 text-start fs-bice-3 <%= risk_style weakness %>"><%= weakness.state_text %></p>
      </div>
    </div>
  </div>
  <div class="col-9">
    <% if weakness.repeated_of.present? %>
      <div class="row">
        <div class="col-10 offset-1">
          <p class="fw-bold text-aqua pb-4 text-justify fs-bice-2"><%= I18n.t('conclusion_review.bic.weaknesses.repeated') %></p>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-10 offset-1">
        <p class="fw-bold fs-bice-3"><%= Weakness.model_name.human count: 1 %></p>
        <p class="pt-4 text-justify fs-bice-3">
          <%= format_and_sanitize weakness.description %>
        </p>
        <% if weakness.effect.present? %>
          <p class="pt-4 text-justify fs-bice-3">
            <span class="fw-bold"><%= Weakness.human_attribute_name :effect %>:</span>
            <%= format_and_sanitize weakness.effect %>
          </p>
        <% end %>
        <% if weakness.audit_recommendations.present? %>
          <p class="pt-4 text-justify fs-bice-3">
            <span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.audit_recommendations' %></span>
            <%= format_and_sanitize weakness.audit_recommendations %>
          </p>
        <% end %>
        <% if weakness.follow_up_date.present? %>
          <p class="pt-4 fs-bice-3">
            <span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.follow_up_date' %></span>
            <%= I18n.l(weakness.follow_up_date) %>
          </p>
        <% end %>
        <% if weakness.answer.present? %>
          <p class="pt-4 text-justify fs-bice-3">
            <span class="fw-bold"><%= Answer.model_name.human count: 1 %>:</span>
            <%= format_and_sanitize weakness.answer %>
          </p>
        <% end %>
        <% if weakness.audit_comments.present? %>
          <p class="pt-4 text-justify fs-bice-3">
            <span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.audit_comments' %></span>
            <%= format_and_sanitize weakness.audit_comments %>
          </p>
        <% end %>
        <% if weakness.repeated_of.present? %>
          <p class="pt-4 fs-bice-3">
            <span class="fw-bold"><%= Finding.human_attribute_name :repeated_of_id %>:</span>
            <span class="text-aqua"> <%= weakness.repeated_of %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
