<% conclusion_review_score = conclusion_review.review.score_array.first %>

<%= wicked_pdf_javascript_include_tag 'wicked_pdf/bic_pdf/set_background_image' %>

<div>
  <div class="alwaysbreak <%= watermark_class draft %>">
    <div class="row">
      <div class="col-3 text-bg-primary ps-4 pt-15">
        <p class="text-start fw-bold fs-bice-2"><%= I18n.t 'conclusion_review.bic.cover.review_identification', identification: conclusion_review.review.identification %></p>
        <p class="text-start pt-4 fw-bold fs-bice-2"><%= conclusion_review.review.plan_item.project %></p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10 offset-1">
            <p class="fs-bice-3"><span class="fw-bold"><%= ConclusionReview.human_attribute_name :issue_date %></span> <%= I18n.l conclusion_review.issue_date, format: :minimal %></p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-10 offset-1">
            <p class="fw-bold fs-bice-3"><span><%= I18n.t 'conclusion_review.bic.cover.version' %></span> <span class="text-aqua"><%= review_version_text draft %></span></p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-10 offset-1 text-quote">
            <p class="text-justify fs-bice-3"><%= (put_bic_cover_note_on conclusion_review).html_safe %></p>
          </div>
        </div>
        <div class="row pt-5" style="padding-bottom: 160px;">
          <div class="col-10 offset-1">
            <p class="fw-bold fs-bice-3"><%= I18n.t 'conclusion_review.bic.cover.signature' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <p class="fw-bold fs-bice-3"><%= I18n.t 'conclusion_review.bic.cover.recipients' %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-10 offset-1">
            <%= simple_format conclusion_review.recipients, class: 'text-justify fs-bice-3' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alwaysbreak <%= watermark_class draft %>">
    <div class="row">
      <div class="col-3 text-bg-primary ps-4 pt-15">
        <p class="text-start fw-bold fs-bice-2"><%= I18n.t 'conclusion_review.bic.cover.review_identification', identification: conclusion_review.review.identification %></p>
        <p class="text-start pt-4 fw-bold fs-bice-2"><%= conclusion_review.review.plan_item.project %></p>
        <p class="text-start pt-4 fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.cover.auditors' %></span> <%= bic_review_auditors_text conclusion_review %></p>
        <p class="text-start pt-4 fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.cover.owners' %></span> <%= bic_review_owners_text conclusion_review %></p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10 offset-1">
            <p class="fs-bice-3"><span class="fw-bold"><%= ConclusionReview.human_attribute_name :previous_identification %></span> <%= bic_previous_review_text conclusion_review %></p>
            <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.cover.review_period_title' %></span> <%= bic_review_period conclusion_review %></p>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-10 offset-1">
            <p class="fw-bold pb-4 fs-bice-3"><%= Review.human_attribute_name :description %></p>
            <%= simple_format conclusion_review.review.description, class: "text-justify fs-bice-3 text-quote" %>
          </div>
        </div>
        <div class="row pt-5 text-center">
          <div class="col-1 offset-1">
            <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'lupa.png')), height: 56 %>
          </div>
          <div class="col-8">
            <p class="pt-3 fw-bold fs-bice-2"><%= I18n.t 'conclusion_review.bic.cover.cycle_qualification' %> <span class="text-aqua"><%= I18n.t("score_types.#{conclusion_review_score}") %></span></p>
          </div>
          <div class="col-1">
            <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'emojis', "#{conclusion_review_score}.png")), height: 72 %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alwaysbreak <%= watermark_class draft %>">
    <div class="row">
      <div class="col-3 text-bg-primary ps-4 pt-15 text-center">
        <p class="fw-bold fs-bice-1"><%= I18n.t 'conclusion_review.bic.scope' %></p>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10 offset-1">
            <%= simple_format conclusion_review.applied_procedures, class: "text-justify fs-bice-3"%>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alwaysbreak <%= watermark_class draft %>">
    <% if conclusion_review.reference.present? %>
      <div class="row pb-5">
        <div class="col-3 text-bg-primary ps-4 pt-15 text-center">
          <p class="fw-bold m-0 fs-bice-1"><%= ConclusionReview.human_attribute_name(:reference).upcase %></p>
        </div>
        <div class="col-9 px-0">
          <div class="col-10 offset-1">
            <%= simple_format conclusion_review.reference, class: "m-0 text-justify fs-bice-3" %>
          </div>
        </div>
      </div>
    <% end %>
    <% if conclusion_review.conclusion.present? %>
      <div class="row">
        <div class="col-3 text-bg-primary ps-4 <%= conclusion_padding conclusion_review %> text-center">
          <p class="fw-bold m-0 fs-bice-1"><%= I18n.t 'conclusion_review.bic.audit_comments' %></p>
        </div>
        <div class="col-9 px-0">
          <div class="col-10 offset-1">
            <%= simple_format conclusion_review.conclusion, class: "m-0 text-justify fs-bice-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% conclusion_review_weaknesses(conclusion_review).each_with_index do |weakness, i| %>
    <div class="alwaysbreak <%= watermark_class draft %>">
      <div class="row">
        <div class="col-3 text-bg-primary ps-4 pt-15">
          <div style="min-height: 400px;">
            <p class="text-start fw-bold fs-bice-2"><%= I18n.t 'conclusion_review.bic.weaknesses.plan', index: i + 1 %></p>
            <p class="text-start fw-bold fs-bice-2 pt-4"><%= weakness.title %></p>
          </div>
          <p class="text-start fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.responsible' %></span> <%= bic_weakness_responsible weakness %></p>
          <div class="row fw-bold">
            <div class="col-5 text-center vertical-align-center pe-0">
              <p class="bg-black-border-white w-100 mb-0 p-1 fs-bice-3"><%= (Weakness.human_attribute_name :risk).upcase %></p>
            </div>
            <div class="col-1 px-2">
              <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'key.png')), height: 80 %>
            </div>
            <div class="col-6 vertical-align-center">
              <p class="mb-0 text-start fs-bice-3"><%= weakness.risk_text %></p>
            </div>
          </div>
          <div class="row fw-bold">
            <div class="col-5 text-center vertical-align-center pe-0">
              <p class="bg-black-border-white w-100 mb-0 p-1 fs-bice-3"><%= (Weakness.human_attribute_name :state).upcase %></p>
            </div>
            <div class="col-1 px-2">
              <%= image_tag image_to_base_64(File.join(Rails.root, 'app', 'assets', 'images', 'bic_pdf', 'key.png')), height: 80 %>
            </div>
            <div class="col-6 vertical-align-center">
              <p class="mb-0 text-start fs-bice-3 <%= risk_style weakness %>"><%= weakness.state_text %></p>
            </div>
          </div>
        </div>
        <div class="col-9">
          <% if weakness.repeated_of.present? %>
            <div class="row">
              <div class="col-10 offset-1">
                <p class="fw-bold text-aqua pb-4 fs-bice-2"><%= I18n.t('conclusion_review.bic.weaknesses.repeated') %></p>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-10 offset-1">
              <p class="fw-bold fs-bice-3"><%= Weakness.model_name.human count: 1 %></p>
              <%= simple_format weakness.description, class: 'pt-4 text-justify fs-bice-3' %>
              <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= Weakness.human_attribute_name :effect %>:</span> <%= weakness.effect %></p>
              <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.audit_recommendations' %></span> <%= weakness.audit_recommendations %></p>
              <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= I18n.t 'conclusion_review.bic.weaknesses.follow_up_date' %></span> <%= follow_up_date_weakness weakness %></p>
              <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= Answer.model_name.human count: 1 %>:</span> <%= weakness.answer %></p>
              <% if weakness.repeated_of.present? %>
                <p class="pt-4 fs-bice-3"><span class="fw-bold"><%= Finding.human_attribute_name :repeated_of_id %>:</span><span class="text-aqua"> <%= weakness.repeated_of %></span></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="alwaysbreak">
  </div>
</div>
