<ul class="menu_list">
  <li><%= link_to t(:'conclusion_committee_report.synthesis_report_title'),
      :action => :synthesis_report %></li>
  <li><%= link_to t(:'conclusion_committee_report.weaknesses_by_state_title'),
      :action => :weaknesses_by_state %></li>
  <li><%= link_to t(:'conclusion_committee_report.weaknesses_by_risk_title'),
      :action => :weaknesses_by_risk %></li>
  <li><%= link_to t(:'conclusion_committee_report.weaknesses_by_audit_type_title'),
      :action => :weaknesses_by_audit_type %></li>
  <li><%= link_to t(:'conclusion_committee_report.cost_analysis_title'),
      :action => :cost_analysis %></li>
  <li><%= link_to t(:'conclusion_committee_report.detailed_cost_analysis_title'),
      detailed_cost_analysis_conclusion_committee_reports_path %></li>
</ul>

<div style="clear: both;"></div>