<%= render :partial => 'shared/filter_form',
  :locals => {:action => :synthesis_report, :extra_params => {
    :controller_name => 'conclusion'
  },
  :forms => {:date_range => true, :business_unit => true}} %>

<% @periods.each do |period| %>
  <div class="page-header">
    <h3><strong><%= "#{Period.model_name.human}: #{period.inspect}" %></strong></h3>
  </div>
  <% unless @selected_business_unit %>
    <p class="lead">
      <%= synthesis_report_organization_score_average(@audits_by_business_unit[period]) %>
    </p>
    <p>
      <%= t('conclusion_committee_report.synthesis_report.organization_score_note',
        :audit_types => @audits_by_business_unit[period].map {|data| data[:name]}.to_sentence) %>
    </p>
  <% end %>

  <% @audits_by_business_unit[period].each do |data| %>
    <% if !data[:external] && !@internal_title_showed %>
      <h2 class="text-center">
        <%= t 'conclusion_committee_report.synthesis_report.internal_audit_weaknesses' %>
      </h2>
      <% @internal_title_showed = true %>
    <% elsif data[:external] && !@external_title_showed %>
      <h2 class="text-center">
        <%= t 'conclusion_committee_report.synthesis_report.external_audit_weaknesses' %>
      </h2>
      <% @external_title_showed = true %>
    <% end %>
    <h3><%= data[:name] %></h3>
    <% unless data[:column_data].blank? %>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <% @column_order.each do |col_name| %>
              <th><%= data[:columns][col_name].first %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% data[:column_data].each do |row| %>
            <tr>
              <% @column_order.each_index do |i| %>
                <td><%= row[i].kind_of?(Array) ?
                  array_to_ul(row[i], class: 'list-unstyled') : row[i] %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= synthesis_report_score_average(
         t(
           'conclusion_committee_report.synthesis_report.generic_score_average',
           :audit_type => data[:name], :count => data[:review_scores].try(:size) || 0),
           data[:review_scores]) %>
      </p>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t 'conclusion_committee_report.synthesis_report.without_audits_in_the_period' %></em>
      </p>
    <% end %>
  <% end %>
<% end %>

<div style="margin-top: 3em;">
  <% if @sqm %>
    <%= simple_format t('conclusion_committee_report.synthesis_report.sqm_references',
    :risk_types => @risk_levels.map { |r| r = t("risk_types.#{r}") }.to_sentence) %>
  <% else %>
    <%= simple_format t('conclusion_committee_report.synthesis_report.references',
    :risk_types => @risk_levels.map { |r| r = t("risk_types.#{r}") }.to_sentence) %>
  <% end %>
</div>

<hr />

<div class="form-footer">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form'); return false;" %>
</div>

<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_synthesis_report, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => @sqm ? t('conclusion_committee_report.synthesis_report.sqm_title') :
            t('conclusion_committee_report.synthesis_report.title')
        },
        {
          :name => :report_subtitle,
          :label => t('customize_report_form.subtitle'),
          :value => @sqm ? '' : t('conclusion_committee_report.synthesis_report.subtitle')
        }
      ]
    }
  } %>
  </div>
</div>
