<div style="margin-top: 2em; padding-top: 1em; font-size: .8em; border-top: 1px dotted gray;">
  <p>
    <%= textilize_without_paragraph t('notifier.footer.warning') %>
  </p>
  <p>
    <%= t 'notifier.footer.title' %>
  </p>
  <ul>
    <li>
      <b><%= t 'notifier.footer.email_label' %></b>:
      <a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a>
    </li>
  </ul>
  <p>
    <%= textilize_without_paragraph t('notifier.footer.recommendations') %>
  </p>
</div>
