<div style="margin-top: 2em; padding-top: 1em; font-size: .8em; border-top: 1px dotted gray;">
  <%= textilize t('notifier.footer.warning') %>

  <p><%= t 'notifier.footer.title' %></p>

  <p>
    <strong><%= t 'notifier.footer.email_label' %></strong>: <%= mail_to SUPPORT_EMAIL %>
  </p>

  <%= textilize t('notifier.footer.recommendations') %>
</div>
