<% organization = @notification.findings.first.try(:organization) if @notification %>
<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= @title %></h2>
  <% if @body.kind_of?(Array) && @body.present? %>
    <ul>
      <% @body.each do |body_item| %>
        <li><%= body_item %></li>
      <% end %>
    </ul>
  <% elsif @body.present? %>
    <p style="margin: 1em 0em;"><%= textilize @body %></p>
  <% end %>
  <% if @content.kind_of?(Array) && @content.present? %>
    <ul>
      <% @content.each do |content_item| %>
        <li><%= textilize_without_paragraph ontent_item %></li>
      <% end %>
    </ul>
  <% elsif @content.present? %>
    <%= textilize @content %>
  <% end %>

  <% if @notification %>
  <p>
    <%= link_to t('notifier.notification.confirm'),
      confirm_notification_url(@notification,
        :host => (organization ? "#{organization.prefix}.#{URL_HOST}" : URL_HOST)) %>
  </p>
  <% end %>
  <%= render :partial => 'footer' %>
</div>
