<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t 'notifier.group_welcome_email.title', name: @group.name %></h2>
  <p><%= t 'notifier.group_welcome_email.initial_user' %></p>
  <p>
    <%= link_to t('notifier.group_welcome_email.create_user'),
      new_users_registration_url(
        hash: @hash, host: (@group.organizations.blank? ?  URL_HOST : "#{@group.organizations.first.prefix}.#{URL_HOST}")
      ) %>
  </p>
  <p><%= t 'notifier.group_welcome_email.clarification' %></p>
  <%= render 'footer' %>
</div>
