<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <p><b><%= @user + ', ' %></b></p>
  <p><%= @poll.questionnaire.email_text %></p>
  <p>
    <%= link_to @poll.questionnaire.email_link,
      edit_poll_url(
        @poll,
        :layout => 'application_clean',
        :token => @poll.access_token,
        :host => "#{@organization.prefix}.#{URL_HOST}",
        :protocol => URL_PROTOCOL) %>
  </p>
  <% if @poll.questionnaire.email_clarification? %>
    <p><%= @poll.questionnaire.email_clarification %></p>
  <% end %>
  <%= render :partial => @footer %>
</div>
