<% first_organization = @grouped_findings.keys.first -%>
<% count = @grouped_findings.map(&:second).sum(&:size) -%>
<h2><%= t :'notifier.reassigned_findings.title', :count => count %></h2>
<h3 style="text-decoration: underline;">
  <%= t :'notifier.reassigned_findings.the_following_findings_are_now_reassigned',
    :count => count %>
</h3>

<% @grouped_findings.each do |organization, findings| -%>
  <% unless findings.empty? -%>
    <h2 style="margin-bottom: 1em;"><%=h organization.name %></h2>
    <% unless @new_users.blank? && @old_users.blank? -%>
      <ul>
        <% unless @new_users.blank? -%>
          <li><%= t(:'notifier.reassigned_findings.new_responsibles',
                  :count => @new_users.size,
                  :responsible => @new_users.map(&:full_name_with_function).join('; ')) %></li>
        <% end -%>
        <% unless @old_users.blank? -%>
          <li><%= t(:'notifier.reassigned_findings.old_responsibles',
                  :count => @old_users.size,
                  :responsible => @old_users.map(&:full_name_with_function).join('; ')) %></li>
        <% end -%>
      </ul>
    <% end -%>
    <% findings.each do |finding| -%>
      <%= render :partial => 'finding', :locals => {:finding => finding} %><br />
    <% end -%>
  <% end -%>
<% end -%>

<% if @notification -%>
  <p>
    <%= link_to t(:'notifier.notification.confirm'),
        confirm_notification_url(@notification,
          :host => ("#{first_organization.prefix}.#{URL_HOST}" if first_organization),
          :protocol => URL_PROTOCOL) %>
  </p>
<% end -%>
<%= render :partial => 'footer' %>