<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t 'notifier_mailer.welcome_email.title', :name => @user.informal_name %></h2>
  <p>
    <strong><%= User.human_attribute_name :user %></strong>:  <%= @user.user %>
  </p>
  <p>
    <%= t 'notifier_mailer.welcome_email.initial_password' %>
  </p>
  <p>
    <% link_valid_until = (BLANK_PASSWORD_STALE_DAYS - 1).days.from_now %>
    <% edit_password_link = link_to t('notifier_mailer.welcome_email.change_password'),
      edit_users_password_url(@user, :confirmation_hash => @hash,
        :host => (@user.organizations.blank? ?
            URL_HOST : "#{@user.organizations.first.prefix}.#{URL_HOST}")) %>
  </p>

  <%= textilize t('notifier_mailer.restore_password.valid_until',
    :link => edit_password_link,
    :date => l(link_valid_until, :format => :long).strip) %>

  <p>
    <%= t 'notifier_mailer.welcome_email.organizations_sites',
      :count => @user.organizations.distinct.count %>
  </p>
  <ul>
    <% @user.organizations.distinct.each do |organization| %>
      <li>
      <%= link_to(
        root_url(host: URL_HOST, subdomain: organization.prefix),
        root_url(host: URL_HOST, subdomain: organization.prefix)
      ) %> (<%= organization.name %>)
      </li>
    <% end %>
  </ul>
  <p>
    <%= t('notifier_mailer.welcome_email.clarification') %>
  </p>
  <%= render :partial => 'footer' %>
</div>
