<% if plan_item.try(:resource_utilizations).present? %>
  <p>
    <%= link_to '#estimated_cost_details', data: { toggle: 'collapse' } do %>
      <abbr title="<%= t 'workflow.human_resources' %>"><%= t 'workflow.human_resources_abbr' %></abbr>:
      <%= '%.2f' % plan_item.human_units %>
      <abbr title="<%= t 'workflow.material_resources' %>"><%= t 'workflow.material_resources_abbr' %></abbr>:
      <%= '%.2f' % plan_item.material_units %>
    <% end %>
  </p>

  <div id="estimated_cost_details" class="collapse pull-left">
    <div>
      <ul>
        <% plan_item.resource_utilizations.each do |ru| %>
          <li><%= "#{ru.resource.resource_name}: #{'%.2f' % ru.units}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <p>
    <abbr title="<%= t 'workflow.human_resources' %>"><%= t 'workflow.human_resources_abbr' %></abbr>:
    <%= '%.2f' % 0 %>
    <abbr title="<%= t 'workflow.material_resources' %>"><%= t 'workflow.material_resources_abbr' %></abbr>:
    <%= '%.2f' % 0 %>
  </p>
<% end %>
