<tr class="<%= cycle(:even, :odd) %>">
  <td></td>
  <td><%= show_period_with_dates_as_acronym index_line.period %></td>
  <td class="nowrap"><%= show_review_with_close_date_as_acronym index_line.review %></td>
  <td><%= h index_line.review.plan_item.project %></td>
  <td><%= h l(index_line.created_at, :format => :short) %></td>
  <td><%= h "#{t(:'number.currency.format.unit')}%.2f" % index_line.cost %></td>
  <td><%= link_to_clone new_workflow_path(:clone_from => index_line.id),
            :label => t(:'workflow.copy') %></td>
  <td><%= link_to_show index_line %></td>
  <td><%= link_to_edit edit_workflow_path(index_line) %></td>
  <td><%= button_to_destroy(index_line) if index_line.can_be_destroyed? %></td>
  <td></td>
</tr>
<tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="9"></td><td></td></tr>