<% id = "workflow_item_#{(is_dynamic ? 'NEW_RECORD' : rand(100000000000))}" %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="workflow_item item" <%= raw 'style="display: none;"' if hide %> id="<%= id %>">
  <div>
    <div class="show_hide_field">
      <%= link_to_show_hide "resource_utilizations_for_#{id}",
        t(:'workflow.show_resource_utilization'),
        t(:'workflow.hide_resource_utilization') %>
    </div>
    <div class="item_field" style="width: 5%;">
      <%= f.text_field :order_number, :size => nil, :class => :sort_number,
        :readonly => true %>
    </div>
    <div class="item_field" style="width: 50%;">
      <%= f.text_area :task, :style => 'height: 5em;', :autofocus => true %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= calendar_text_field f, :start, false, nil, :class => :date %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= calendar_text_field f, :end, false, nil, :class => :date %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= f.text_field :plain_predecessors, :maxlength => 255, :size => 10,
        :class => (:error_field unless f.object.errors[:predecessors].blank?) %>
    </div>
    <div class="item_field item_controls" style="width: 10%;">
      <%= insert_record_link(f) %> |
      <%= remove_item_link(f) %> |
      <%= link_to_move %>
    </div>

    <div class="items hidden_items" id="resource_utilizations_for_<%= id %>" style="display: none;">
      <div>
        <div class="column_headers">
          <div class="item_column" style="width: 30%;">
            <h3>
              <%= ResourceUtilization.human_attribute_name 'resource_id' %>
            </h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3><%= ResourceUtilization.human_attribute_name 'units' %></h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3>
              <%= ResourceUtilization.human_attribute_name 'cost_per_unit' %>
            </h3>
          </div>
          <div class="item_column" style="width: 10%;"></div>
          <div class="clear"></div>
        </div>

        <div class="material_resource_utilizations">
          <%= f.fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| %>
            <%= render :partial => 'material_resource_utilization',
              :locals => {:f => ru_f, :is_dynamic => false} %>
          <% end %>
        </div>
        <div class="human_resource_utilizations">
          <%= f.fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| %>
            <%= render :partial => 'human_resource_utilization',
              :locals => {:f => ru_f, :is_dynamic => false} %>
          <% end %>
        </div>

        <p style="margin-bottom: 1em;">
          <%= link_to t(:'workflow.add_material_resource_utilization'), '#',
            :'data-template' => :material_resource_utilization,
            :'data-event' => :add_nested_subitem, :'data-parent' => :workflow_item,
            :'data-child' => :material_resource_utilizations %> |
          <%= link_to t(:'workflow.add_human_resource_utilization'), '#',
            :'data-template' => :human_resource_utilization,
            :'data-event' => :add_nested_subitem, :'data-parent' => :workflow_item,
            :'data-child' => :human_resource_utilizations %>
        </p>
      </div>
    </div>
  </div>
</div>
<% if is_dynamic %>
<script type="text/javascript">
  Helper.showItem('<%= id %>');

  FormUtil.completeSortNumbers();
  Helper.makeSortable('workflow_items', '#workflow_items div.workflow_item',
    '#workflow_items a.move');
</script>
<% end %>