<% id = "workflow_item_#{(is_dynamic ? 'NEW_RECORD' : rand(100000000000))}" %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="workflow_item item" <%= raw 'style="display: none;"' if hide %> id="<%= id %>">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-1">
        <div class="row">
          <div class="col-md-4">
            <%= link_to_show_hide "resource_utilizations_for_#{id}",
              t('workflow.show_resource_utilization'),
              t('workflow.hide_resource_utilization') %>
          </div>
          <div class="col-md-8">
            <%= f.input :order_number, label: false,
              input_html: { class: :sort_number, readonly: true } %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <%= f.input :task, label: false, input_html: { autofocus: true } %>
      </div>
      <div class="col-md-2">
        <%= f.input :start, as: :date_picker, label: false %>
      </div>
      <div class="col-md-2">
        <%= f.input :end, as: :date_picker, label: false %>
      </div>
      <div class="col-md-2">
        <%= f.input :plain_predecessors, label: false, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= f.input :id, as: :hidden %>
          <%= insert_record_link(f) %>
          <span class="text-muted">|</span>
          <%= remove_item_link(f) %>
          <span class="text-muted">|</span>
          <%= link_to_move %>
        </div>
      </div>
    </div>
  </div>

  <div class="items hidden_items" id="resource_utilizations_for_<%= id %>" style="display: none;">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <h5><strong><%= ResourceUtilization.human_attribute_name :resource_id %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name :units %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name :cost_per_unit %></strong></h5>
      </div>
    </div>

    <div class="material_resource_utilizations">
      <%= f.simple_fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| %>
        <%= render partial: 'material_resource_utilization', locals: { f: ru_f, is_dynamic: false } %>
      <% end %>
    </div>
    <div class="human_resource_utilizations">
      <%= f.simple_fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| %>
        <%= render partial: 'human_resource_utilization', locals: { f: ru_f, is_dynamic: false } %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <p style="margin-bottom: 1em;">
          <%= link_to t('workflow.add_material_resource_utilization'), '#',
            'data-template' => :material_resource_utilization,
            'data-event' => 'addNestedSubitem', 'data-parent' => :workflow_item,
            'data-child' => :material_resource_utilizations, class: 'btn btn-default btn-sm' %>
          <%= link_to t('workflow.add_human_resource_utilization'), '#',
            'data-template' => :human_resource_utilization,
            'data-event' => 'addNestedSubitem', 'data-parent' => :workflow_item,
            'data-child' => :human_resource_utilizations, class: 'btn btn-default btn-sm' %>
        </p>
      </div>
    </div>
  </div>
</div>
<% if is_dynamic %>
<script type="text/javascript">
  Helper.showItem('#<%= id %>');
  FormUtil.completeSortNumbers();
</script>
<% end %>
