<% id = "workflow_item_#{(is_dynamic ? 'NEW_RECORD' : rand(100000000000))}" -%>
<% hide = is_dynamic || f.object.marked_for_destruction? -%>
<div class="workflow_item item" <%= 'style="display: none;"' if hide %> id="<%= id %>">
  <div>
    <div class="show_hide_field">
      <%= link_to_show_hide "resource_utilizations_for_#{id}",
        t(:'workflow.show_resource_utilization'),
        t(:'workflow.hide_resource_utilization') %>
    </div>
    <div class="item_field" style="width: 5%;">
      <%= f.text_field :order_number, :size => nil, :class => :sort_number,
        :readonly => true %>
    </div>
    <div class="item_field" style="width: 50%;">
      <%= f.text_area :task, :style => 'height: 5em;', :class => :focused %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= f.calendar_date_select :start, :class => :date %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= f.calendar_date_select :end, :class => :date %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= f.text_field :plain_predecessors, :maxlength => 255,
        :class => (:error_field if f.object.errors.on(:predecessors)) %>
    </div>
    <div class="item_field item_controls" style="width: 10%;">
      <%= insert_record_link(f) %> |
      <%= remove_item_link(f) -%> |
      <%= link_to_move %>
    </div>

    <div class="items hidden_items" id="resource_utilizations_for_<%= id %>" style="display: none;">
      <div>
        <div class="column_headers">
          <div class="item_column" style="width: 30%;">
            <h3>
              <%= ResourceUtilization.human_attribute_name 'resource_id' %>
            </h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3><%= ResourceUtilization.human_attribute_name 'units' %></h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3>
              <%= ResourceUtilization.human_attribute_name 'cost_per_unit' %>
            </h3>
          </div>
          <div class="item_column" style="width: 10%;"></div>
          <div style="clear: both;"></div>
        </div>

        <div class="material_resource_utilizations">
          <% f.fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| -%>
            <%= render :partial => 'material_resource_utilization',
              :locals => {:f => ru_f, :is_dynamic => false} %>
          <% end -%>
        </div>
        <div class="human_resource_utilizations">
          <% f.fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| -%>
            <%= render :partial => 'human_resource_utilization',
              :locals => {:f => ru_f, :is_dynamic => false} %>
          <% end -%>
        </div>

        <p style="margin-bottom: 1em;">
          <%= link_to t(:'workflow.add_material_resource_utilization'),
            '#material_resource_utilization', :class => :add_nested_subitem,
            :rel => 'workflow_item material_resource_utilizations' %> |
          <%= link_to t(:'workflow.add_human_resource_utilization'),
            '#human_resource_utilization', :class => :add_nested_subitem,
            :rel => 'workflow_item human_resource_utilizations' %>
        </p>
      </div>
    </div>
  </div>
</div>
<% if is_dynamic -%>
<script type="text/javascript">
  Helper.showItem('<%= id %>');

  FormUtil.completeSortNumbers();
  Helper.makeSortable('workflow_items', '#workflow_items div.workflow_item',
    '#workflow_items a.move');
</script>
<% end -%>