<% id = f.object.object_id %>
<fieldset class="workflow_item">
  <div class="row">
    <div class="col-md-1">
      <div class="media">
        <div class="float-left mr-2 mt-2">
          <%= link_to_show_hide "resource_utilizations_for_#{id}" %>
        </div>
        <div class="media-body">
          <%= f.input :order_number, as: :string, label: false,
            input_html: { class: :sort_number, readonly: true } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <%= f.input :task, label: false, input_html: { autofocus: f.object.new_record? } %>
    </div>
    <div class="col-md-2">
      <%= f.input :start, as: :date_picker, label: false %>
    </div>
    <div class="col-md-2">
      <%= f.input :end, as: :date_picker, label: false %>
    </div>
    <div class="col-md-1">
      <div class="mt-2 text-right text-nowrap">
        <%= link_to_insert_field f %>
        <% unless f.object.try(:review) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        <% end %>
        <span class="text-muted">|</span>
        <%= link_to_move %>
        <%= f.input :id, as: :hidden %>
      </div>
    </div>
  </div>

  <div id="resource_utilizations_for_<%= id %>" style="display: none;">
    <% if !USE_SCOPE_CYCLE %>
      <div class="row pl-4" data-nested>
        <div class="col-md-8">
          <h5 class="h6"><%= ResourceUtilization.human_attribute_name 'resource' %></h5>
        </div>
        <div class="col-md-3">
          <h5 class="h6"><%= ResourceUtilization.human_attribute_name 'units' %></h5>
        </div>
      </div>

      <div id="material_resource_utilizations_<%= id %>">
        <%= f.simple_fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| %>
          <%= render 'material_resource_utilization', f: ru_f %>
        <% end %>
      </div>

      <div id="human_resource_utilizations_<%= id %>">
        <%= f.simple_fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| %>
          <%= render 'human_resource_utilization', f: ru_f %>
        <% end %>
      </div>

      <p class="pl-4" data-nested>
      <%= link_to_add_fields(t('workflow.add_material_resource_utilization'), f, :resource_utilizations,
                             'material_resource_utilization', {
                               insert_into: "#material_resource_utilizations_#{id}", association: 'material_resource_utilizations'
                             } ) %>
                           <%= link_to_add_fields(t('workflow.add_human_resource_utilization'), f, :resource_utilizations,
                                                  'human_resource_utilization', {
                                                    insert_into: "#human_resource_utilizations_#{id}", association: 'human_resource_utilizations'
                                                  } ) %>
      </p>
    <% end %>

    <div class="row">
      <div class="col-md-1 offset-md-11">
        <%= render 'active_storage/file', f: f, label: Workflow.human_attribute_name('file'), allow_upload: true, allow_purge: false %>
      </div>
    </div>

  </div>
</fieldset>
<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
