<% id = f.object.object_id %>
<fieldset class="workflow_item">
  <div class="row">
    <div class="col-md-1">
      <div class="media">
        <div class="pull-left">
          <%= link_to_show_hide "resource_utilizations_for_#{id}" %>
        </div>
        <div class="media-body">
          <%= f.input :order_number, as: :string, label: false,
            input_html: { class: :sort_number, readonly: true } %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :task, label: false, input_html: { autofocus: true } %>
    </div>
    <div class="col-md-2">
      <%= f.input :start, as: :date_picker, label: false %>
    </div>
    <div class="col-md-2">
      <%= f.input :end, as: :date_picker, label: false %>
    </div>
    <div class="col-md-2">
      <%= f.input :plain_predecessors, label: false, input_html: { maxlength: 255 } %>
    </div>
    <div class="col-md-1">
      <div class="toggle-visibility">
        <%= f.input :id, as: :hidden %>
        <%= link_to_insert_field f %>
        <% unless f.object.try(:review) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        <% end %>
        <span class="text-muted">|</span>
        <%= link_to_move %>
      </div>
    </div>
  </div>

  <div id="resource_utilizations_for_<%= id %>" style="display: none;">
    <div class="row nested">
      <div class="col-md-5">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'resource_id' %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'units' %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'cost_per_unit' %></strong></h5>
      </div>
    </div>

    <div id="material_resource_utilizations_<%= id %>">
      <%= f.simple_fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| %>
        <%= render 'material_resource_utilization', f: ru_f %>
      <% end %>
    </div>

    <div id="human_resource_utilizations_<%= id %>">
      <%= f.simple_fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| %>
        <%= render 'human_resource_utilization', f: ru_f %>
      <% end %>
    </div>

    <p class="nested">
      <%= link_to_add_fields(t('workflow.add_material_resource_utilization'), f, :resource_utilizations,
        'material_resource_utilization', {
        insert_into: "#material_resource_utilizations_#{id}", association: 'material_resource_utilizations'
      } ) %>
      <%= link_to_add_fields(t('workflow.add_human_resource_utilization'), f, :resource_utilizations,
        'human_resource_utilization', {
        insert_into: "#human_resource_utilizations_#{id}", association: 'human_resource_utilizations'
      } ) %>
    </p>
  </div>
</fieldset>
<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
