<%= render :partial => 'form' %>

<div id="links">
  <%= link_to t(:'label.show'), @workflow %> |
  <%= link_to t(:'label.list'), workflows_path %> |
  <%= link_to t(:'workflow.download_global_workflow'),
    export_to_pdf_workflow_path %> |
  <%= link_to t(:'workflow.download_detailed_workflow'),
    export_to_pdf_workflow_path(:include_details => 1) %> |
  <%= link_to_back %>
</div>