<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Review.model_name.human %></th>
      <th class="expendable"><%= PlanItem.human_attribute_name :project %></th>
      <th class="expendable"><%= Workflow.human_attribute_name :created_at %></th>
      <th class="expendable"><%= Workflow.human_attribute_name :cost %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%  @workflows.each do |workflow| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= show_period_with_dates_as_abbr workflow.period %></td>
        <td class="nowrap"><%= show_review_with_close_date_as_abbr workflow.review %></td>
        <td class="expendable"><%= super_truncate workflow.review.plan_item.project, 30 %></td>
        <td class="expendable"><%= h l(workflow.created_at, :format => :short) %></td>
        <td class="expendable"><%= h "#{t(:'number.currency.format.unit')}%.2f" % workflow.cost %></td>
        <td><%= link_to_clone new_workflow_path(:clone_from => workflow.id),
                  :label => t(:'workflow.copy') %></td>
        <td><%= link_to_show workflow %></td>
        <td><%= link_to_edit edit_workflow_path(workflow) %></td>
        <td><%= button_to_destroy(workflow) if workflow.can_be_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @workflows %>
  <%= link_to t(:'label.new'), new_workflow_path %>
  <div class="clear"></div>
</div>