<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th><%= Review.model_name.human %></th>
      <th class="hidden-xs"><%= PlanItem.human_attribute_name :project %></th>
      <th class="hidden-xs"><%= Workflow.human_attribute_name :created_at %></th>
      <th class="hidden-xs"><%= Workflow.human_attribute_name :units %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%  @workflows.each do |workflow| %>
      <tr>
        <td><%= show_period_with_dates_as_abbr workflow.period %></td>
        <td class="nowrap"><%= show_review_with_close_date_as_abbr workflow.review %></td>
        <td class="hidden-xs"><%= super_truncate workflow.review.plan_item.project, 30 %></td>
        <td class="hidden-xs"><%= l(workflow.created_at, :format => :short) %></td>
        <td class="hidden-xs"><%= '%.2f' % workflow.units %></td>
        <td><%= link_to_clone new_workflow_path(:clone_from => workflow.id) %></td>
        <td><%= link_to_show workflow %></td>
        <td><%= link_to_edit edit_workflow_path(workflow) %></td>
        <td><%= link_to_destroy(workflow) if workflow.can_be_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @workflows %>
  <%= link_to t('label.new'), new_workflow_path, class: 'btn btn-primary' %>
</div>
