<%= render partial: 'shared/search', locals: {
  options: {},
  columns: search_columns_for_model(Workflow)
} %>

<table class="table table-sm table-striped table-hover">
  <thead id="column_headers">
    <tr>
      <%= make_not_available_column Period.model_name.human, { :class => 'd-none d-md-table-cell' } %>
      <%= make_filterable_column Review.model_name.human, nil, 'review' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), nil, 'project' %>
      <%= make_not_available_column Workflow.human_attribute_name(:created_at), { :class => 'd-none d-md-table-cell' } %>
      <th colspan="4" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <%  @workflows.each do |workflow| %>
      <tr>
        <td><%= show_period_with_dates_as_abbr workflow.period %></td>
        <td><%= show_review_with_close_date_as_abbr workflow.review %></td>
        <td class="d-none d-sm-table-cell"><%= super_truncate workflow.review.plan_item.project, 30 %></td>
        <td class="d-none d-sm-table-cell"><%= l(workflow.created_at, :format => :short) %></td>
        <td class="text-right"><%= link_to_clone new_workflow_path(:clone_from => workflow.id) %></td>
        <td class="text-right"><%= link_to_show workflow %></td>
        <td class="text-right"><%= link_to_edit edit_workflow_path(workflow) %></td>
        <td class="text-right"><%= link_to_destroy(workflow) if workflow.can_be_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @workflows %>
  <%= link_to t('label.new'), new_workflow_path, class: 'btn btn-primary' %>
</div>
