<!--[form:period]-->
<%= form_for @period do |f| %>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= f.label :number, raw(Period.human_attribute_name(:number) +
          show_inline_help_for(:period_number)), :class => :inline %>
      <%= f.text_field :number, :class => :inline_item, :autofocus => true %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p class="form_item">
      <%= f.label :start, nil, :class => :inline %>
      <%= calendar_text_field f, :start, false, nil,
        :class => :inline_item %>
    </p>
    <p class="form_item">
      <%= f.label :end, nil, :class => :inline %>
      <%= calendar_text_field f, :end, false, nil,
        :class => :inline_item %>
    </p>
  </div>

  <div style="display:none">
  <%= f.hidden_field :lock_version %>
  </div>

  <p>
    <span class="button"><%= f.submit %></span>
  </p>
<% end %>
<!--[eoform:period] -->
