<!--[form:period]-->
<%= form_for @period do |f| -%>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= f.label :number, nil, :class => :inline %>
      <%= f.text_field :number, :class => :inline_item %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p class="form_item">
      <%= f.label :start, nil, :class => :inline %>
      <%= f.calendar_date_select :start, :class => :inline_item %>
    </p>
    <p class="form_item">
      <%= f.label :end, nil, :class => :inline %>
      <%= f.calendar_date_select :end, :class => :inline_item %>
    </p>
  </div>

  <div style="display:none">
  <%= f.hidden_field :lock_version %>
  <%= f.hidden_field :organization_id %>
  </div>
  
  <p>
    <span class="button"><%= f.submit submit_button_text %></span>
  </p>
<% end -%>
<!--[eoform:period] -->
<%= set_focus_to_first_element %>