<%= simple_form_for @period do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :number, as: :string, autofocus: true,
          label: Period.human_attribute_name('number')
        %>
        <%= f.input :start, as: :date_picker %>
        <%= f.input :end, as: :date_picker %>
      </div>
      <div class="col-md-6">
        <%= f.input :description, input_html: { rows: 5 } %>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
