<table class="list">
  <thead>
    <tr>
      <th><%= raw(Period.human_attribute_name(:number) +
        show_inline_help_for(:period_number)) %></th>
      <th class="expendable"><%= Period.human_attribute_name :description %></th>
      <th class="expendable"><%= Period.human_attribute_name :start %></th>
      <th class="expendable"><%= Period.human_attribute_name :end %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= h period.number %></td>
        <td class="expendable"><%= super_truncate period.description, 40 %></td>
        <td class="expendable"><%= h l(period.start, :format => :short) %></td>
        <td class="expendable"><%= h l(period.end, :format => :short) %></td>
        <td><%= link_to_show period %></td>
        <td><%= link_to_edit edit_period_path(period) %></td>
        <td><%= button_to_destroy period %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @periods %>
  <%= link_to t(:'label.new'), new_period_path %>
  <div class="clear"></div>
</div>