<p>
  <strong><%= raw(Period.human_attribute_name(:number) +
      show_inline_help_for(:period_number)) %>:</strong>
  <%= @period.number %>
</p>

<p>
  <strong><%= Period.human_attribute_name :description %>:</strong>
  <%= @period.description %>
</p>

<p>
  <strong><%= Period.human_attribute_name :start %>:</strong>
  <%=l @period.start, :format => :long %>
</p>

<p>
  <strong><%= Period.human_attribute_name :end %>:</strong>
  <%=l @period.end, :format => :long %>
</p>

<hr />

<%= link_to_edit edit_period_path(@period) %> |
<%= link_to t('label.list'), periods_path %> |
<%= link_to_back %>
