<!--[form:inline_help]-->
<% form_for @inline_help do |f| -%>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= f.label :language, nil, :class => :inline %>
      <%= f.select :language,
        AVAILABLE_LOCALES.map{ |lang| [t("lang.#{lang}"), lang.to_s] }.sort{ |a, b| a[0] <=> b[0] },
        {}, {:class => 'focused inline_item'} %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :maxlength => 255, :size => 10 %>
    </p>
  </div>

  <p>
    <%= f.label :content, nil %>
    <%= f.text_area :content, :style => 'height: 20em;' %>
  </p>

  <%= hidden_lock_version(f) %>
  
  <p>
    <span class="button"><%= f.submit submit_text %></span>
  </p>
<% end -%>
<!--[eoform:inline_help] -->
<%= set_focus_to_first_element %>