<div id="showed_data">
  <p>
    <b><%= InlineHelp.human_attribute_name :language %>:</b>
    <%= t :"lang.#{@inline_help.language}" %>
  </p>
  <p>
    <b><%= InlineHelp.human_attribute_name :name %>:</b>
    <%=h @inline_help.name %>
  </p>

  <p>
    <b><%= InlineHelp.human_attribute_name :content %>:</b>
    <%=h @inline_help.content %>
  </p>
</div>

<div id="links">
  <%= link_to t('label.edit'), edit_inline_help_path(@inline_help) %> |
  <%= link_to t('label.list'), inline_helps_path %> |
  <%= link_to_back %>
</div>