<table>
  <thead>
    <tr>
      <th><%= Notification.human_attribute_name :status %></th>
      <th><%= t :'notification.type' %></th>
      <th><%= Notification.human_attribute_name :user_who_confirm %></th>
      <th><%= Notification.human_attribute_name :created_at %></th>
      <th><%= Notification.human_attribute_name :confirmation_date %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| -%>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%=h notification.status_text %></td>
        <td><%=h notification.notification_relations.first.try(:model).try(:class).try(:human_name) %></td>
        <td><%=h notification.user_who_confirm.full_name if notification.user_who_confirm %></td>
        <td><%=l notification.created_at, :format => :short %></td>
        <td><%=l notification.confirmation_date, :format => :short if notification.confirmation_date %></td>
        <td><%= link_to_show notification %></td>
        <td><%= link_to_edit edit_notification_path(notification) %></td>
        <td><%= link_to_confirm notification %></td>
        <td><%= link_to_confirm notification, true %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @notifications %>
  <%= link_to_back %>
  <div style="clear: both;"></div>
</div>