<% unless @notification.findings.blank? %>
  <div>
    <strong><%= Notification.human_attribute_name :findings %>:</strong>
  </div>
  <ul>
    <% @notification.findings.map do |f| %>
      <li><%= link_to_if f.users.include?(@auth_user),
        "#{f.review_code} (#{f.review.identification})",
        finding_path(f.pending? ? 'incomplete' : 'complete', f) %></li>
    <% end %>
  </ul>
<% end %>
<% unless @notification.conclusion_reviews.blank? %>
  <div>
    <strong><%= Notification.human_attribute_name :conclusion_reviews %>:</strong>
  </div>
  <ul>
    <% @notification.conclusion_reviews.map do |cr| %>
      <li><%= link_to cr.review.identification, cr.kind_of?(ConclusionFinalReview) ?
        conclusion_final_review_path(cr) : conclusion_draft_review_path(cr) %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <strong><%= Notification.human_attribute_name :status %>:</strong>
  <%= @notification.status_text %>
</p>

<p>
  <strong><%= Notification.human_attribute_name :user_who_confirm %>:</strong>
  <%= @notification.user_who_confirm.full_name  if @notification.user_who_confirm %>
</p>

<p>
  <strong><%= Notification.human_attribute_name :created_at %>:</strong>
  <%=l @notification.created_at, :format => :long %>
</p>

<p>
  <strong><%= Notification.human_attribute_name :confirmation_date %>:</strong>
  <%=l @notification.confirmation_date, :format => :long if @notification.confirmation_date %>
</p>

<div>
  <strong><%= Notification.human_attribute_name :notes %>:</strong>
  <%= simple_format @notification.notes %>
</div>

<hr />

<div>
  <%= link_to_edit edit_notification_path(@notification) %> |
  <%= link_to_index notifications_path %> |
  <%= link_to_back %>
</div>
