<div id="showed_data">
  <% unless @notification.findings.blank? %>
    <div class="show_item">
      <b><%= Notification.human_attribute_name :findings %>:</b>
    </div>
    <ul class="raw_list">
      <% @notification.findings.map do |f| %>
        <li><%= link_to_if f.users.include?(@auth_user),
          "#{f.review_code} (#{f.review.identification})",
          finding_path(f.pending? ? 'incomplete' : 'complete', f) %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless @notification.conclusion_reviews.blank? %>
    <div class="show_item">
      <b><%= Notification.human_attribute_name :conclusion_reviews %>:</b>
    </div>
    <ul style="margin: .5em 0em .5em 3em;">
      <% @notification.conclusion_reviews.map do |cr| %>
        <li><%= link_to cr.review.identification, cr.kind_of?(ConclusionFinalReview) ?
          conclusion_final_review_path(cr) : conclusion_draft_review_path(cr) %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="show_item">
    <b><%= Notification.human_attribute_name :status %>:</b>
    <%=h @notification.status_text %>
  </div>

  <div class="show_item">
    <b><%= Notification.human_attribute_name :user_who_confirm %>:</b>
    <%=h @notification.user_who_confirm.full_name  if @notification.user_who_confirm %>
  </div>

  <div class="show_item">
    <b><%= Notification.human_attribute_name :created_at %>:</b>
    <%=l @notification.created_at, :format => :long %>
  </div>

  <div class="show_item">
    <b><%= Notification.human_attribute_name :confirmation_date %>:</b>
    <%=l @notification.confirmation_date, :format => :long if @notification.confirmation_date %>
  </div>

  <div class="show_item">
    <b><%= Notification.human_attribute_name :notes %>:</b>
    <%= simple_format h(@notification.notes) %>
  </div>
</div>

<div id="links">
  <%= link_to t('label.edit'), edit_notification_path(@notification) %> |
  <%= link_to t('label.list'), notifications_path %> |
  <%= link_to_back %>
</div>