<div id="showed_data">
<% unless @notification.findings.blank? -%>
  <p>
    <b><%= Notification.human_attribute_name 'findings' %>:</b>
  </p>
  <ul style="margin: .5em 0em .5em 3em;">
    <% @notification.findings.map do |f| -%>
      <li><%= link_to "#{f.review_code} (#{f.review.identification})",
        finding_path(f.pending? ? 'incomplete' : 'complete', f) %></li>
    <% end -%>
  </ul>
<% end -%>
<% unless @notification.conclusion_reviews.blank? -%>
  <p>
    <b><%= Notification.human_attribute_name 'conclusion_reviews' %>:</b>
  </p>
  <ul style="margin: .5em 0em .5em 3em;">
    <% @notification.conclusion_reviews.map do |cr| -%>
      <li><%= link_to cr.review.identification, cr.kind_of?(ConclusionFinalReview) ?
        conclusion_final_review_path(cr) : conclusion_draft_review_path(cr) %></li>
    <% end -%>
  </ul>
<% end -%>

<p>
  <b><%= Notification.human_attribute_name 'status' %>:</b>
  <%=h @notification.status_text %>
</p>

<p>
  <b><%= Notification.human_attribute_name 'user_who_confirm' %>:</b>
  <%=h @notification.user_who_confirm.full_name  if @notification.user_who_confirm %>
</p>

<p>
  <b><%= Notification.human_attribute_name 'created_at' %>:</b>
  <%=l @notification.created_at, :format => :long %>
</p>

<p>
  <b><%= Notification.human_attribute_name 'updated_at' %>:</b>
  <%=l @notification.updated_at, :format => :long if @notification.notified? %>
</p>

<p>
  <b><%= Notification.human_attribute_name 'notes' %>:</b>
  <%=h @notification.notes %>
</p>
</div>

<div id="links">
<%= link_to t(:'label.list'), notifications_path %> |
<%= link_to_back %>
</div>