<% commitment_support ||= f.object %>
<% commitment_date = @commitment_date || commitment_support.finding_answer.commitment_date %>

<fieldset class="commitment_support" data-commitment-support>
  <div class="card my-3">
    <div class="card-header">
      <h5 class="mb-0">
        <%= CommitmentSupport.model_name.human count: 1 %>
      </h5>
    </div>

    <div class="card-body">
      <p class="mb-1">
        <strong><%= FindingAnswer.human_attribute_name 'commitment_date' %></strong>:
        <span data-commitment-date><%= l commitment_date.to_date %></span>
      </p>

      <%= f.input :reason, input_html: { data: { autofocus: true } } %>
      <%= f.input :plan %>
      <%= f.input :controls %>
    </div>
  </div>
</fieldset>
