<!--[form:group]-->
<% form_for @group do |g_f| -%>
  <% content_for :js_extra do -%>
    <%= "var organization='#{generate_template(g_f, :organizations)}';" %>
  <% end -%>
  <%= g_f.error_messages %>

  <div class="form_column_left">
    <p>
      <%= g_f.label :name %>
      <%= g_f.text_field :name, :maxlength => 255, :size => 10 %>
    </p>
    <p>
      <%= g_f.label :admin_email %>
      <%= g_f.text_field :admin_email, :maxlength => 100, :size => 10 %>
    </p>
    <p>
      <%= g_f.label :description %>
      <%= g_f.text_area :description %>
    </p>
    <p class="form_item">
      <%= g_f.label :send_notification_email, nil, :class => :inline %>
      <%= g_f.check_box :send_notification_email, {:class => :inline_item}, '1', '' %>
    </p>
  </div>

  <div class="items">
    <div class="column_headers">
      <div class="item_column" style="width: 30%;">
        <h3><%= Organization.human_attribute_name :name %></h3>
      </div>
      <div class="item_column" style="width: 30%;">
        <h3><%= Organization.human_attribute_name :prefix %></h3>
      </div>
      <div class="item_column" style="width: 30%;">
        <h3><%= Organization.human_attribute_name :description %></h3>
      </div>
      <div class="item_column" style="width: 5%;"></div>
      <div style="clear: both;"></div>
    </div>

    <div id="organizations">
      <% g_f.fields_for :organizations do |o_f| -%>
        <%= render :partial => 'organization', :locals =>
          {:f => o_f, :is_dynamic => false} %>
      <% end -%>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'group.add_organization'), '#organization',
      :class => :add_nested_item, :rel => :organizations %>
  </p>

  <%= hidden_lock_version(g_f) %>
  <p>
    <span class="button"><%= g_f.submit submit_button_text %></span>
  </p>
<% end -%>
<!--[eoform:group] -->
<%= set_focus_to_first_element %>