<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= Group.human_attribute_name :name %></th>
      <th><%= Group.human_attribute_name :description %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= super_truncate group.name, 30 %></td>
        <td><%= super_truncate group.description, 30 %></td>
        <td><%= link_to_show group %></td>
        <td><%= link_to_edit edit_group_path(group) %></td>
        <td><%= link_to_destroy group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div class="form-footer">
  <div class="pull-right">
    <%= pagination_links @groups %>
  </div>
  <%= link_to t('label.new'), new_group_path, class: 'btn btn-primary' %>
</div>
