<h1><%= t '.title' %></h1>

<% if @imports.empty? %>
  <div class="alert alert-warning">
    <strong><%= t '.empty' %></strong>
  </div>
<% else %>
  <ul>
    <% @imports.each do |import| %>
      <% user = import[:user] %>
      <li>
        <strong><%= link_to_if user.persisted?, user.full_name, user %></strong>
        <%= users_import_state_label_class(import[:state]) %>
        <% if import[:state] == :error %>
          | <%= user.errors.full_messages.to_sentence %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @deprecated_users.present? %>
  <h2><%= t '.deprecated_users' %></h2>

  <ul>
    <% @deprecated_users.each do |user| %>
      <li><%= link_to user.full_name, user %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<div>
  <%= link_to t('label.list'), users_path %>
</div>
