<div id="work_paper_change_history-<%= work_paper.id %>" class="collapse">
  <div>
    <h5><%= t('work_papers.history.changes') %></h5>
    <ul class="mb-3">
      <% work_paper.change_history.each do |history| %>
        <li>
          <%= history[:date] %>
          <ul>
            <li><%= t 'work_papers.history.action' %>: <%= history[:action] %></li>
            <li><%= User.model_name.human %>: <%= history[:user] %></li>
            <% history[:changes].each do |change| %>
              <li><%= change.keys.first %>: <%= change.values.first %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
