<% frozen = frozen rescue true %>
<% id = f.object.object_id %>
<fieldset class="work_paper" id="<%= id %>">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :name, label: false, input_html: { autofocus: true } %>
    </div>
    <div class="col-md-2">
      <%= f.input :code, label: false, input_html: {
        class: 'work_paper_code', readonly: true } %>
    </div>
    <div class="col-md-2">
      <%= f.input :number_of_pages, label: false %>
    </div>
    <div class="col-md-2">
      <%= f.input :description, label: false %>
    </div>
    <div class="col-md-2">
      <% if !f.object.file_model.try(:file?) || f.object.file_model.new_record? %>
        <% f.object.build_file_model unless f.object.file_model.try(:new_record?) %>
        <%= f.simple_fields_for :file_model do |fm_f| %>
          <span class="file_container">
            <%= fm_f.input :file, label: false %>
            <%= fm_f.input :file_cache, as: :hidden, input_html: { title: fm_f.object.identifier } %>
          </span>
        <% end %>
      <% else %>
        <% unless frozen %>
          <%= f.simple_fields_for :file_model do |fm_f| %>
            <span class="file_container">
              <%= fm_f.input :file, label: false %>
              <%= fm_f.input :file_cache, as: :hidden, input_html: { title: fm_f.object.identifier } %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-1">
      <div class="show_hide">
        <%= f.input :lock_version, as: :hidden %>
        <%= link_to_download f.object.file_model.file.url if f.object.file_model.file? &&
          f.object.file_model.file.cached?.blank? %>
        <%= link_to_remove_nested_item(f) unless frozen %>
      </div>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
  (function() {
    var id = '#<%= id %>';

    if(lastWorkPaperCode) {
      lastWorkPaperCode = lastWorkPaperCode.next(2);

      $(id).find('.work_paper_code').val(lastWorkPaperCode);
    }
  })();
</script>
