<% frozen = frozen rescue true %>
<% id = f.object.object_id %>
<fieldset class="work_paper" id="<%= id %>">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :name, label: false, input_html: {
        autofocus: f.object.name.blank?
      } %>
    </div>
    <div class="col-md-1">
      <%= f.input :code, label: false, input_html: {
        class: 'work_paper_code', readonly: true } %>
    </div>
    <div class="col-md-1">
      <%= f.input :number_of_pages, as: :string, label: false %>
    </div>
    <div class="col-md-4">
      <%= f.input :description, as: :string, label: false, input_html: { data: { work_paper_description: true } } %>
    </div>
    <div class="col-md-2">
      <% unless frozen %>
        <%= f.simple_fields_for :file_model, file_model(f.object) do |fm_f| %>
          <div class="file-container pull-left">
            <%= link_to_upload fm_f.object %>
            <% if fm_f.object.file_cache %>
              <%= fm_f.input :file_cache, as: :hidden %>
            <% else %>
              <%= fm_f.input :file, label: false %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= link_to_download f.object %>
      <%= link_to_file f.object.description.to_s %>
    </div>
    <div class="col-md-1">
      <div class="toggle-visibility" style="margin-left: 15px;">
        <%= f.input :lock_version, as: :hidden %>
        <%= link_to_remove_nested_item(f) unless frozen %>
      </div>
    </div>
  </div>
</fieldset>
<% if f.object.new_record? %>
  <script type="text/javascript">
    (function() {
      var id = '#<%= id %>';
      var workPaperCode = $(id).find('.work_paper_code').val();

      if(lastWorkPaperCode && !workPaperCode) {
        lastWorkPaperCode = lastWorkPaperCode.next(3);

        $(id).find('.work_paper_code').val(lastWorkPaperCode);
      }
    })();
  </script>
<% end %>
