<% id = f.object.object_id %>
<fieldset>
  <div class="row">
    <div class="col-md-10">
      <% copy_attribute_errors(:relative_id, :auto_user_name, f) %>
      <%= f.input :auto_user_name, label: false,
        input_html: {
          id: "auto_user_#{id}",
          class: 'autocomplete_field',
          autofocus: true,
          value: f.object.try(:label),
          data: {
            autocomplete_url: auto_complete_for_user_users_path,
            autocomplete_id_target: "#auto_child_#{id}"
          }
        }
      %>
      <%= f.input :child, as: :hidden, input_html: { class: 'autocomplete_id', id: "auto_child_#{id}" } %>
    </div>
    <div class="col-md-2">
      <%= f.input :id, as: :hidden %>
      <%= f.input :lock_version, as: :hidden %>
      <%= link_to_remove_nested_item(f) %>
    </div>
  </div>
</fieldset>
