<%= simple_form_for @user do |f| %>
  <% content_for :js_extra do %>
    <%= raw "var child='#{escape_javascript(render(:partial => 'child',
        :object => User.new, :locals => {:f => f, :is_dynamic => true}))}';" %>
    <%= raw "var organization_role='#{generate_template(f,
        :organization_roles)}';" %>
    <%= raw "var related_user_relation='#{generate_template(f,
        :related_user_relations)}';" %>
  <% end %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :user, input_html: { maxlength: 30, autofocus: true } %>
        <%= f.input :name, input_html: { maxlength: 100 } %>
        <%= f.input :last_name, input_html: { maxlength: 100 } %>
        <%= f.input :email, input_html: { maxlength: 100 } %>
        <%= f.input :function, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :notes %>
        <%= user_resource_field(f) %>
        <%= user_language_field(f) %>
        <%= f.input :logged_in, label: false, inline_label: true %>
        <%= f.input :enable, label: false, inline_label: true %>
        <%= f.input :hidden, label: false, inline_label: true %>
        <%= f.input :send_notification_email, as: :boolean, label: false, inline_label: true %>
        <%= f.input :lock_version, as: :hidden %>
      </div>
    </div>
  </div>

  <% if @auth_user %>
    <div class="items">
      <div class="row">
        <div class="col-md-6">
          <h3><%= User.human_attribute_name(:manager_id) %></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% field_classes = [:search, :autocomplete_field, 'form-control'] %>
          <% field_classes << :field_with_errors unless @user.errors[:manager_id].blank? %>
          <%= f.input :nested_user, label: false, input_html: {
            id: "user_manager_#{@user.id}",
            value: (@user.parent.try(:full_name_with_function) || ''),
            class: field_classes.join(' '),
            title: t('label.search'),
            autocomplete: :off,
            'data-autocomplete-params' => ("{user_id: #{@user.id}}" unless @user.new_record?),
            'data-autocomplete-url' => auto_complete_for_user_users_path
          } %>
          <%= f.input :manager_id, as: :hidden, input_html: { class: :autocomplete_id } %>
        </div>
        <div class="col-md-6">
          <%= link_to t('user.unlink_manager'), '#', :onclick =>
            "$('#user_manager_#{@user.id}').val(''); $('#user_manager_id').val(''); return false;" %>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="row">
        <div class="col-md-6">
          <h3><%= t('user.children') %></h3>
        </div>
      </div>

      <div id="children">
        <%= render partial: 'child', collection: @user.children,
          locals: { f: f, is_dynamic: false } %>
      </div>

      <%= link_to t('user.add_child'), '#', 'data-template' => 'child',
        'data-event' => 'addNestedItem', 'data-container' => '#children' %>
    </div>
  <% end %>

  <div class="items">
    <div class="row">
      <div class="col-md-6">
        <h3><%= RelatedUserRelation.human_attribute_name 'related_user_id' %></h3>
      </div>
    </div>

    <div id="related_user_relations">
      <%= f.simple_fields_for :related_user_relations do |rur_f| %>
        <%= render partial: 'related_user_relation',
          locals: { f: rur_f, is_dynamic: false } %>
      <% end %>
    </div>

    <%= link_to t('user.add_related_user_relations'), '#',
      'data-template' => 'related_user_relation',
      'data-event' => 'addNestedItem',
      'data-container' => '#related_user_relations' %>
  </div>

  <div class="items">
    <div class="row">
      <div class="col-md-6">
        <h3><%= OrganizationRole.human_attribute_name :organization_id %></h3>
      </div>
      <div class="col-md-6">
        <h3><%= OrganizationRole.human_attribute_name :role_id %></h3>
      </div>
    </div>

    <div id="organization_roles">
      <% organization_roles =
        @user.organization_roles.select { |o_r| o_r.new_record? || o_r.marked_for_destruction? } |
        @user.organization_roles.for_group(current_organization.group_id)
      %>
      <%= f.simple_fields_for :organization_roles, organization_roles do |or_f| %>
        <%= render partial: 'organization_role', locals: { f: or_f, is_dynamic: false } %>
      <% end %>
    </div>

    <%= link_to t('user.add_organization_role'), '#',
      'data-template' => :organization_role,
      'data-event' => 'addNestedItem',
      'data-container' => '#organization_roles' %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
