<h1 style="text-align: center;"><%= @title %></h1>
<%= form_for @auth_user, :url => update_password_user_path(@auth_user) do |f| %>
<%= f.error_messages %>
<div class="form_column_left">
  <p>
    <%= f.label :password, t('user.new_password') %>
    <%= f.password_field :password, :maxlength => 128, :autofocus => true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :maxlength => 128 %>
  </p>

  </div>
  <%= content_tag :div, hidden_field_tag(:confirmation_hash,
    @auth_user.change_password_hash), :style => 'display: none;' %>
  <div style="display:none"><%= f.hidden_field :lock_version %></div>
  <p>
    <span class="button"><%= f.submit t('label.save') %></span>
  </p>
<% end %>