<%= form_for @auth_user, :url => update_personal_data_user_path(@auth_user) do |f| -%>
  <div class="form_column_left">
    <%= f.error_messages %>
    <p class="form_item">
      <label class="inline"><%= Organization.human_name %>:</label>
      <%= text_field nil, :organization_name,
        :value => @auth_organization.name, :readonly => true,
        :size => nil, :class => :inline_item %>
    </p>
    <p class="form_item">
      <label class="inline"><%= User.human_attribute_name 'user' %>:</label>
      <%= f.text_field :user, :readonly => true, :size => nil,
        :class => :inline_item %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name, :maxlength => 100, :size => 10 %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :maxlength => 100, :size => 10 %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email, :maxlength => 100, :size => 10 %>
    </p>
    <p>
      <%= f.label :function %>
      <%= f.text_field :function, :maxlength => 255, :size => 10 %>
    </p>
    <p class="form_item">
      <%= f.label :language, nil, :class => :inline %>
      <%= user_language_field(f) %>
    </p>
    <%= hidden_lock_version(f) %>
  </div>
  <p>
    <span class="button"><%= f.submit t(:'label.modify') %></span>
  </p>
<% end -%>

<div id="links">
  <%= link_to t(:'user.change_password_title'), edit_password_user_path(@auth_user) %>
</div>
<%= set_focus_to_first_element %>