<%= simple_form_for @auth_user, url: update_personal_data_user_path(@auth_user) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { maxlength: 100, autofocus: true } %>
        <%= f.input :last_name, input_html: { maxlength: 100 } %>
        <%= f.input :email, input_html: { maxlength: 100 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :function, input_html: { maxlength: 255 } %>
        <%= user_language_field f %>
      </div>
    </div>
  </div>

  <hr />
  <div class="form-actions form-footer">
    <div class="pull-right">
      <%= link_to t('users.passwords.edit.title'), edit_users_password_path(@auth_user) %> |
      <%= link_to t('users.status.show.title'), users_status_path(@auth_user, graph: true) %>
    </div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit t('label.modify'), class: 'btn btn-primary' %>
  </div>
<% end %>
