<%= render partial: 'shared/search', locals: {
  options: {},
  columns: search_columns_for_model(User)
} %>

<table class="table table-sm table-striped table-hover">
  <thead id="column_headers">
    <tr>
      <th></th>
      <%= make_filterable_column User.human_attribute_name('user'), nil, 'user' %>
      <%= make_filterable_column User.human_attribute_name('name'), nil, 'name', 'last_name' %>
      <%= make_filterable_column User.human_attribute_name('function'), { :class => 'd-none d-sm-table-cell'}, 'function' %>
      <%= make_not_available_column User.human_attribute_name('last_access'), :class => 'd-none d-sm-table-cell' %>
      <%= make_not_available_column User.human_attribute_name('failed_attempts'), :class => 'd-none d-sm-table-cell' %>
      <th colspan="4" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= user_row_class user %>">
        <td><%= user_info user %></td>
        <td><%= show_user_with_email_as_abbr(user) %></td>
        <td><%= user.full_name %></td>
        <td class="d-none d-sm-table-cell"><%= super_truncate user.function || '-', 40 %></td>
        <td class="d-none d-sm-table-cell"><%= l user.last_access, format: :minimal if user.last_access %></td>
        <td class="d-none d-sm-table-cell"><%= user.failed_attempts %></td>
        <td class="text-right"><%= link_to_stats users_status_path(user, graph: true) %></td>
        <td class="text-right"><%= link_to_show user %></td>
        <td class="text-right"><%= link_to_edit [:edit, user] if can_perform? :edit %></td>
        <td class="text-right"><%= link_to_destroy user, title: t('label.disable') if can_perform? :destroy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @users %>
  <% if current_organization.ldap_config && show_import_from_ldap? %>
    <% if Current.conclusion_pdf_format == 'gal' %>
      <%= link_to t('label.new'), new_user_path, class: 'btn btn-primary' %> |
    <% end %>

    <%= link_to t('.import_from_ldap'), new_users_import_path %> |
  <% elsif current_organization.ldap_config.blank? %>
    <%= link_to t('label.new'), new_user_path, class: 'btn btn-primary' %> |
  <% end %>

  <%= link_to t('label.download'), users_path(params.permit(search: [:query, columns: []]).merge(_ts: Time.now.to_i, format: :pdf)) %> |
  <%= link_to t('.show_hidden'), users_path(params.permit(search: [:query, columns: []]).merge(show_hidden: true)) %>
</div>
