<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? User::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table>
  <thead id="column_headers">
    <tr>
      <th colspan="2"></th>
      <%= make_filterable_column User.human_attribute_name(:user), 'user' %>
      <%= make_filterable_column User.human_attribute_name(:name), 'name', 'last_name' %>
      <%= make_filterable_column User.human_attribute_name(:function), 'function' %>
      <%= make_not_available_column User.human_attribute_name(:logged_in) %>
      <%= make_not_available_column User.human_attribute_name(:last_access) %>
      <%= make_not_available_column User.human_attribute_name(:failed_attempts) %>
      <th colspan="4" style="text-align: right;"><%= link_to_search %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="10"></td><td></td></tr>
    <% @users.each do |user| -%>
      <% expire_time = parameter_in(@auth_organization.id,
        :security_session_expire_time, user.created_at).to_i -%>
      <tr class="<%= cycle(:even, :odd) %> <%= user.enable? ? :enabled_item : :disabled_item %>">
        <td></td>
        <td><%= show_info(t(:'user.without_organization'), :class => :red) if user.organizations.blank? %></td>
        <td class="nowrap"><%= show_user_with_email_as_acronym(user) %></td>
        <td><%= h user.full_name %></td>
        <td><%= super_truncate(user.function || '-', 40) %></td>
        <td><%= t user.logged_in? && user.last_access && user.last_access >= expire_time.minutes.ago ? :'label.yes' : :'label.no' %></td>
        <td><%= l user.last_access, :format => :short if user.last_access %></td>
        <td><%= h user.failed_attempts %></td>
        <td><%= link_to_show user %></td>
        <td><%= link_to_edit edit_user_path(user) %></td>
        <td><%= button_to_destroy user, {:label => t(:'label.disable')} %></td>
        <td></td>
      </tr>
      <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="10"></td><td></td></tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @users %>
  <%= link_to t(:'label.new'), new_user_path %> |
  <%= link_to t(:'label.download'), export_to_pdf_users_path(:search => params[:search]) %>
  <div style="clear: both;"></div>
</div>