<%= render partial: 'shared/search', locals: {
  options: {},
  columns: @query.blank? ? User::COLUMNS_FOR_SEARCH.keys : @columns
} %>

<table class="table table-condensed table-striped table-hover">
  <thead id="column_headers">
    <tr>
      <th></th>
      <%= make_filterable_column User.human_attribute_name('user'), nil, 'user' %>
      <%= make_filterable_column User.human_attribute_name('name'), nil, 'name', 'last_name' %>
      <%= make_filterable_column User.human_attribute_name('function'), { :class => 'hidden-xs'}, 'function' %>
      <%= make_not_available_column User.human_attribute_name('last_access'), :class => 'hidden-xs' %>
      <%= make_not_available_column User.human_attribute_name('failed_attempts'), :class => 'hidden-xs' %>
      <th colspan="3" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= user.enable? ? 'enabled_item' : 'disabled_item' %>">
        <td><%= user_info user %></td>
        <td class="nowrap"><%= show_user_with_email_as_abbr(user) %></td>
        <td><%= user.full_name %></td>
        <td class="hidden-xs"><%= super_truncate user.function || '-', 40 %></td>
        <td class="hidden-xs"><%= l user.last_access, format: :minimal if user.last_access %></td>
        <td class="hidden-xs"><%= user.failed_attempts %></td>
        <td><%= link_to_stats users_status_path(user, graph: true) %></td>
        <td><%= link_to_show user %></td>
        <td><%= link_to_edit [:edit, user] %></td>
        <td><%= link_to_destroy user, title: t('label.disable') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @users %>

  <% if current_organization.ldap_config %>
    <%= link_to t('.import_from_ldap'), new_users_import_path %> |
  <% else %>
    <%= link_to t('label.new'), new_user_path, class: 'btn btn-primary' %> |
  <% end %>

  <%= link_to t('label.download'), users_path(params.permit(search: [:query, columns: []]).merge(_ts: Time.now.to_i, format: :pdf)) %>
</div>
