<div id="login">
  <div id="logo">
    <%= image_tag 'logo_mini.gif', :size => '139x36', :alt => t(:app_name) %>
  </div>
  <% if @organization || @group_admin_mode %>
    <!--[form:user]-->
    <%= form_for @user, :url => create_session_users_path do |f| %>
      <p>
        <%= f.label :user %>
        <%= f.text_field :user, :maxlength => 30, :size => 10, :autofocus => true %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password, :maxlength => 128, :size => 10 %>
      </p>
      <div class="submit">
        <span class="button"><%= f.submit t(:'user.enter') %></span>
      </div>
    <% end %>
    <!--[eoform:user] -->
  <% else %>
    <div id="no_organization" class="rounded_top_left rounded_top_right rounded_bottom_left rounded_bottom_right">
      <%= t :'message.no_organization' %>
    </div>
  <% end %>
</div>