<div id="showed_data">
<p>
  <b><%= User.human_attribute_name 'user' %>:</b>
  <%=h @user.user %>
</p>

<p>
  <b><%= User.human_attribute_name 'name' %>:</b>
  <%=h @user.name %>
</p>

<p>
  <b><%= User.human_attribute_name 'last_name' %>:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b><%= User.human_attribute_name 'language' %>:</b>
  <%=h @user.language %>
</p>

<p>
  <b><%= User.human_attribute_name 'enable' %>:</b>
  <%=t @user.enable? ? :'label.yes' : :'label.no' %>
</p>

<p>
  <b><%= User.human_attribute_name 'failed_attempts' %>:</b>
  <%=h @user.failed_attempts %>
</p>

<p>
  <b><%= User.human_attribute_name 'password_changed' %>:</b>
  <%=h l(@user.password_changed, :format => :long) %>
</p>

<p>
  <b><%= t(:'user.profiles_label') %>:</b>
  <%= @user.organization_roles.map(&:to_s).join(APP_ENUM_SEPARATOR) -%>
</p>

<p>
  <b><%= t(:'user.organizations_label') %>:</b>
  <%= @user.organizations.map(&:name).join(APP_ENUM_SEPARATOR) %>
</p>
</div>

<div id="links">
  <%= link_to t(:'label.edit'), edit_user_path(@user) %> |
  <%= link_to t(:'label.list'), users_path %> |
  <%= link_to_back %>
</div>