<h2><%= @user.user %></h2>

<p>
  <strong><%= User.human_attribute_name :name %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name :last_name %>:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong><%= User.human_attribute_name :email %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name :function %>:</strong>
  <%= @user.function %>
</p>

<p>
  <strong><%= User.human_attribute_name :language %>:</strong>
  <%= @user.language %>
</p>

<p>
  <strong><%= User.human_attribute_name :resource %>:</strong>
  <%= @user.resource %>
</p>

<p>
  <strong><%= User.human_attribute_name :enable %>:</strong>
  <%= t @user.enable? ? 'label.yes' : 'label.no' %>
</p>

<p>
  <strong><%= User.human_attribute_name :logged_in %>:</strong>
  <%= t @user.logged_in? ? 'label.yes' : 'label.no' %>
</p>

<p>
  <strong><%= User.human_attribute_name :failed_attempts %>:</strong>
  <%= @user.failed_attempts %>
</p>

<p>
  <strong><%= User.human_attribute_name :password_changed %>:</strong>
  <%= l(@user.password_changed, format: :long) %>
</p>

<p>
  <strong><%= t('user.profiles_label') %>:</strong>
  <%= @user.organization_roles.map(&:to_s).join(APP_ENUM_SEPARATOR) %>
</p>

<p>
  <strong><%= t('user.organizations_label') %>:</strong>
  <%= @user.organizations.map(&:name).join(APP_ENUM_SEPARATOR) %>
</p>

<% if @user.parent %>
  <p>
    <strong><%= User.human_attribute_name(:manager_id) %>:</strong>
    <%= link_to @user.parent.full_name, @user.parent %>
  </p>
<% end %>

<% unless @user.children.blank? %>
  <p><strong><%= t('user.children') %></strong></p>
  <ul>
    <% @user.children.each do |child| %>
      <li><%= link_to child.full_name, child %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <strong><%= User.human_attribute_name :notes %>:</strong>
  <%= simple_format @user.notes %>
</div>

<hr />

<div class="form-footer">
  <%= link_to_edit edit_user_path(@user) %> |
  <%= link_to t('users.status.show.title'), users_status_path(@user, graph: true) %> |
  <%= link_to t('label.list'), users_path %> |
  <%= link_to_back %>
</div>
