<%= javascript_include_tag :graphs %>

<div class="page-header">
  <h2><%= @user.informal_name %></h2>
</div>

<div class="row">
  <div class="col-md-4">
    <h5>
      <%= textilize_without_paragraph(t('user.high_risk_weaknesses',
        count: @filtered_weaknesses.with_highest_risk.count)) %>
    </h5>
    <%= content_tag :div, '', :id => 'high_risk_weaknesses_graph', :data => {
      :weaknesses => Weakness.weaknesses_for_graph(@filtered_weaknesses.with_highest_risk),
      :total => @filtered_weaknesses.with_highest_risk.count } %>
  </div>

  <div class="col-md-4">
    <h5>
      <%= user_weaknesses_links(@user) %>
    </h5>
    <%= content_tag :div, '', :id => 'status_weaknesses_graph', :data => {
      :weaknesses => Weakness.weaknesses_for_graph(@filtered_weaknesses),
      :total => @filtered_weaknesses.count } %>
  </div>

  <div class="col-md-4">
    <h5>
      <%= textilize_without_paragraph(t('user.pending_weaknesses_detailed',
        :count => @filtered_weaknesses.with_pending_status.count)) %>
    </h5>
    <%= content_tag :div, '', :id => 'pending_weaknesses_graph', :data => {
      :weaknesses => Weakness.pending_weaknesses_for_graph(@filtered_weaknesses),
      :total => @filtered_weaknesses.with_pending_status.count } %>
  </div>
</div>

<hr />

<%= link_to_show user_path(@user) %> |
<%= link_to t('label.list'), users_path %> |
<%= link_to t('user.table_mode'), user_status_without_graph_user_path %> |
<%= link_to_back %>
