<% filtered_weaknesses = @user.weaknesses.for_current_organization.finals(false).not_incomplete %>
<h1 class="title"><%= @user.informal_name %></h1>

<div class="float_image">
  <h2 style="font-weight: normal;">
    <%= textilize_without_paragraph(t('user.high_risk_weaknesses',
                                      :count => filtered_weaknesses.with_highest_risk.count)) %>
  </h2>
  <div class="image_frame">
    <%= content_tag :div, '', :id => 'high_risk_weaknesses_graph', :data => {
          :weaknesses => Weakness.weaknesses_for_graph(filtered_weaknesses.with_highest_risk),
          :total => filtered_weaknesses.with_highest_risk.count
        } %>
  </div>
</div>

<div class="float_image">
  <h2 style="font-weight: normal;">
    <%= user_weaknesses_links(@user) %>
  </h2>
  <div class="image_frame">
    <%= content_tag :div, '', :id => 'status_weaknesses_graph', :data => {
          :weaknesses => Weakness.weaknesses_for_graph(filtered_weaknesses),
          :total => filtered_weaknesses.count
        } %>
  </div>
</div>

<div id="links">
  <%= link_to t('label.show'), user_path(@user) %> |
  <%= link_to t('label.list'), users_path %> |
  <%= link_to_back %>
</div>
