<%= simple_form_for @finding, :as => :finding, url: finding_path(params[:completed], @finding),
  html: { method: :patch, id: "edit_finding_#{@finding.id}"} do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :review, label: Review.model_name.human,
              input_html: { value: @finding.review.try(:identification), readonly: true } %>
          </div>
          <div class="col-md-6">
            <%= f.input :review_code, input_html: { readonly: true } %>
          </div>
        </div>
        <%= f.input :title, input_html: { readonly: true } %>
        <%= f.input :project, label: PlanItem.human_attribute_name(:project),
          input_html: { value: @finding.review.try(:plan_item).try(:project), readonly: true } %>
        <%= f.input :issue_date, label:
          ConclusionFinalReview.human_attribute_name(:issue_date),
          input_html: { readonly: true,
            value: (@finding.issue_date ? l(@finding.issue_date, format: :long) :
              t('finding.without_conclusion_final_review')) } %>
        <% if @finding.control_objective_item %>
          <%= f.input :control_objective_name, label: ControlObjective.model_name.human, input_html: {
            value: "#{@finding.control_objective_item.control_objective_text}
            (#{@finding.control_objective_item.process_control.name})",
          }, readonly: true %>
          <%= f.input :control_objective_item_id, as: :hidden %>
        <% end %>
        <%= f.input :description, input_html: { readonly: true, rows: HIDE_WEAKNESS_EFFECT ? 12 : 5 } %>
        <% if @finding.kind_of?(Weakness) %>
          <% unless HIDE_WEAKNESS_EFFECT %>
            <%= f.input :effect, input_html: { readonly: true, rows: 4 } %>
          <% end %>
          <%= f.input :audit_recommendations, input_html: { readonly: true, rows: 2 } %>
        <% end %>
      </div>
      <div class="col-md-6">
        <% if @finding.kind_of?(Weakness) %>
          <%= f.input :risk, collection: risks, prompt: true, disabled: true %>
          <% unless HIDE_WEAKNESS_PRIORITY %>
            <%= f.input :priority, collection: priorities, prompt: true, disabled: true %>
          <% end %>
        <% end %>
        <%= f.label :state, Finding.human_attribute_name(:state) %>
        <%= finding_status_field(f, disabled: true) %>
        <% if @finding.kind_of?(Weakness) && SHOW_WEAKNESS_PROGRESS %>
          <%= f.input :progress, collection: weakness_progresses(@finding), prompt: true, disabled: true %>
        <% end %>
        <%= f.input :origination_date, as: :date_picker,
          label: Finding.human_attribute_name(:origination_date), readonly: true %>
        <%= f.input :answer, input_html: { readonly: true, rows: 5 } %>
        <%= f.input :follow_up_date, as: :date_picker, label:
          @finding.class.human_attribute_name(:follow_up_date), readonly: true %>
        <%= show_weakness_previous_follow_up_dates(@finding) if @finding.follow_up_date %>
        <%= f.input :solution_date, as: :date_picker, label:
          Finding.human_attribute_name(:solution_date), readonly: true %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :audit_comments, input_html: { readonly: true, rows: 5 } %>
      </div>
    </div>
  </div>

  <% unless @finding.important_dates.blank? %>
    <h4>
      <%= t('finding.important_dates.title') %>
    </h4>
    <ul>
      <% @finding.important_dates.each do |important_date| %>
        <li><%= textilize_without_paragraph important_date %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @finding.users.blank? %>
    <% audited, auditors = *@finding.users.partition(&:audited?) %>
    <% process_owners = @finding.process_owners %>
    <% responsible_auditors = @finding.responsible_auditors %>
    <h4><%= t('finding.responsibles', :count => @finding.users.size) %></h4>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th><%= t('finding.audited', :count => audited.size) %></th>
          <th><%= t('finding.reviewers', :count => auditors.size) %></th>
        </tr>
      </thead>
      <tbody>
        <% [audited.size, auditors.size].max.times do %>
          <tr>
            <td><%= process_owners.include?(audited.first) ?
                audited.shift.try(:full_name) + " (#{FindingUserAssignment.human_attribute_name(:process_owner)})" :
                audited.shift.try(:full_name) %>
            </td>
            <td><%= responsible_auditors.include?(auditors.first) ?
                  auditors.shift.try(:full_name) + " (#{FindingUserAssignment.human_attribute_name(:responsible_auditor)})" :
                auditors.shift.try(:full_name) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% unless @finding.taggings.blank? %>
    <h4>
      <%= Tag.model_name.human count: 0 %>
    </h4>

    <ul class="list-unstyled">
      <% @finding.taggings.each do |tagging| %>
        <%= tagging_item tagging %>
      <% end %>
    </ul>
  <% end %>

  <% unless (repeated_ancestors = @finding.repeated_ancestors).blank? %>
    <h4><%= t('finding.repeated_ancestors') %></h4>
    <ul>
      <% repeated_ancestors.each do |repeated_ancestor| %>
        <li><%= repeated_ancestor %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless (repeated_children = @finding.repeated_children).blank? %>
    <h4><%= t('finding.repeated_children') %></h4>
    <ul>
      <% repeated_children.each do |repeated_child| %>
        <li><%= repeated_child %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @finding.control_objective_item.business_units.empty? %>
    <br />
    <h4>
      <%= BusinessUnit.model_name.human count: 0 %>
    </h4>
    <%=  f.input :business_unit_ids, label: false,
      collection: @finding.control_objective_item.business_units,
      as: :check_boxes, input_html: { disabled: true } %>
  <% end %>

  <% if @finding.tasks.any? %>
    <h4>
      <%= Task.model_name.human count: 0 %>
    </h4>

    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th><%= Task.human_attribute_name 'description' %></th>
          <th><%= Task.human_attribute_name 'status' %></th>
          <th><%= Task.human_attribute_name 'due_on' %></th>
        </tr>
      </thead>

      <tbody>
        <% @finding.tasks.each do |task| %>
          <tr>
            <td><%= task.description %></td>
            <td><%= t "tasks.status.#{task.status}" %></td>
            <td><%= l task.due_on %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h4>
    <%= t('finding.finding_answers') %>
  </h4>
  <div class="row">
    <div class="col-md-2">
      <h5><strong><%= User.model_name.human %></strong></h5>
    </div>
    <div class="col-md-6">
      <h5><strong><%= FindingAnswer.human_attribute_name 'answer' %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5>
        <strong>
          <%= FindingAnswer.human_attribute_name 'file_model' %>
        </strong>
      </h5>
    </div>
  </div>

  <div id="finding_answers">
    <% @finding.finding_answers.build(:user => @auth_user) unless @finding.finding_answers.any?(&:new_record?) %>
    <%= f.simple_fields_for :finding_answers do |fa_f| %>
      <%= render 'finding_answer', f: fa_f, parent: f %>
    <% end %>
  </div>

  <% unless @finding.work_papers.blank? %>
    <h4><%= WorkPaper.model_name.human(count: 0) %></h4>

    <table class="table table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th><%= WorkPaper.human_attribute_name 'name' %></th>
          <th><%= WorkPaper.human_attribute_name 'code' %></th>
          <th><%= WorkPaper.human_attribute_name 'number_of_pages' %></th>
          <th><%= WorkPaper.human_attribute_name 'description' %></th>
          <th><%= WorkPaper.human_attribute_name 'file_model' %></th>
        </tr>
      </thead>
      <tbody>
        <% @finding.work_papers.each do |work_paper| %>
          <tr>
            <td><%= work_paper.name %></td>
            <td><%= work_paper.code %></td>
            <td><%= work_paper.number_of_pages %></td>
            <td><%= simple_format work_paper.description %></td>
            <td><%= work_paper.file_model.try(:file?) ?
              link_to(t('label.download'), work_paper.file_model.file.url) : '---' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br />
  <%= textilize t('finding.costs',
    :cost => time_in_words_with_abbr((@finding.cost || 0).hours)) %>

  <% unless @finding.costs.blank? %>
    <p style="margin-bottom: 1em;">
      <%= link_to t('finding.view_cost_details'), '#cost_details', :data => { :toggle => 'collapse' } %>
    </p>

    <div id="cost_details" class="collapse">
      <div>
        <table class="table table-condensed table-striped table-hover">
          <thead>
            <tr>
              <th><%= Cost.human_attribute_name 'created_at' %></th>
              <th><%= Cost.human_attribute_name 'cost' %></th>
              <th><%= Cost.human_attribute_name 'description' %></th>
              <th><%= Cost.human_attribute_name 'user_id' %></th>
            </tr>
          </thead>
          <tbody>
            <% @finding.costs.reject {|f| f.new_record?}.each do |cost| %>
              <tr>
                <td><%= l(cost.created_at, :format => :long) %></td>
                <td><%= time_in_words_with_abbr(cost.cost.hours) %></td>
                <td><%= cost.description.blank? ? '-' : cost.description %></td>
                <td><%= cost.user.full_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= Cost.human_attribute_name 'cost' %>
    </div>
    <div class="col-md-10">
      <%= Cost.human_attribute_name 'description' %>
    </div>
  </div>

  <div id="costs">
    <%= f.simple_fields_for :costs, @finding.costs.detect { |c| c.new_record? } ||
        Cost.new(:user => @auth_user, :cost_type => 'audited') do |c_f| %>
      <%= render 'cost', f: c_f %>
    <% end %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
