<!--[form:finding]-->
<%= form_for @finding, :as => :finding, :url => finding_path(params[:completed], @finding), :html =>
  {:method => :put, :class => 'edit_finding', :multipart => true,
  :id => "edit_finding_#{@finding.id}"} do |f_f| %>
  <% content_for :js_extra do %>
    <%= "var finding_answer='#{generate_template(f_f, :finding_answers,
      :object => FindingAnswer.new(:user_id => @auth_user.id))}';" %>
  <% end %>
  <%= f_f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= content_tag :label, Review.model_name.human, :class => :inline %>
      <%= text_field_tag :review, @finding.review.try(:identification),
        :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <%= content_tag :label, PlanItem.human_attribute_name(:project),
        :class => :inline %>
      <%= text_field_tag :project, @finding.review.try(:plan_item).try(:project),
        :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <%= f_f.label :review_code, nil, :class => :inline %>
      <%= f_f.text_field :review_code, :class => :inline_item, :size => nil,
        :readonly => true %>
    </p>
    <p class="form_item">
      <%= content_tag :label,
        ConclusionFinalReview.human_attribute_name(:issue_date) +
        show_inline_help_for(:finding_issue_date),
        :class => :inline %>
      <%= text_field_tag :issue_date, @finding.issue_date ?
        l(@finding.issue_date, :format => :long) :
        t(:'finding.without_conclusion_final_review'),
        :class => :inline_item, :readonly => true %>
    </p>
    <% if @finding.control_objective_item %>
      <p>
        <label><%= ControlObjective.model_name.human %>:</label>
        <%= text_area nil, :control_objective_name, :size => nil,
          :value => "#{@finding.control_objective_item.control_objective_text} (#{@finding.control_objective_item.process_control.name})",
          :readonly => true %>
        <%= f_f.hidden_field :control_objective_item_id %>
      </p>
    <% end %>
    <p>
      <%= f_f.label :description %>
      <%= f_f.text_area :description, :readonly => true, :style => 'height: 17em;' %>
    </p>
    <% if @finding.kind_of? Weakness %>
      <p>
        <%= f_f.label :audit_recommendations %>
        <%= f_f.text_area :audit_recommendations, :size => nil, :readonly => true %>
      </p>
    <% end %>
  </div>
  <div class="form_column_right">
    <% if @finding.kind_of? Weakness %>
      <p class="form_item">
        <%= f_f.label :risk, nil, :class => :inline %>
        <%= f_f.select :risk, parameter_in(@auth_organization.id,
          :admin_finding_risk_levels, @finding.created_at, true),
          {:prompt => true},
          {:class => :inline_item, :disabled => true} %>
      </p>
      <p class="form_item">
        <%= f_f.label :priority, nil, :class => :inline %>
        <%= f_f.select :priority, parameter_in(@auth_organization.id,
          :admin_priorities, @finding.created_at, true),
          {:prompt => true},
          {:class => :inline_item, :disabled => true} %>
      </p>
    <% end %>
    <p class="form_item">
      <%= f_f.label :state, Finding.human_attribute_name(:state) +
        show_inline_help_for(:finding_state), :class => :inline %>
      <%= finding_status_field(f_f, true, true) %>
    </p>
    <p>
      <%= f_f.label :origination_date,
        Finding.human_attribute_name(:origination_date) +
        show_inline_help_for(:finding_origination_date) %>
      <%= f_f.text_field :origination_date, :value =>
        (l @finding.origination_date, :format => :short if @finding.origination_date),
        :readonly => true %>
    </p>
    <% if @finding.kind_of? Weakness %>
      <p>
        <%= f_f.label :follow_up_date,
          Finding.human_attribute_name(:follow_up_date) +
          show_inline_help_for(:finding_follow_up_date) %>
        <%= f_f.text_field :follow_up_date, :value =>
          (l @finding.follow_up_date, :format => :short if @finding.follow_up_date),
          :readonly => true %>
      </p>
      <%= show_weakness_previous_follow_up_dates @finding %>
    <% end %>
    <p>
      <%= f_f.label :solution_date,
        Finding.human_attribute_name(:solution_date) +
        show_inline_help_for(:finding_solution_date) %>
      <%= f_f.text_field :solution_date, :value =>
        (l @finding.solution_date, :format => :short if @finding.solution_date),
        :readonly => true %>
      <%= f_f.hidden_field :id %>
    </p>
    <p>
      <%= f_f.label :effect %>
      <%= f_f.text_area :effect, :readonly => true %>
    </p>
    <p>
      <%= f_f.label :answer %>
      <%= f_f.text_area :answer, :readonly => true %>
    </p>
    <p>
      <%= f_f.label :audit_comments %>
      <%= f_f.text_area :audit_comments, :readonly => true %>
    </p>
  </div>

  <% unless @finding.important_dates.blank? %>
    <h1 style="clear: both;">
      <%= t(:'finding.important_dates.title') %>
      <%= show_inline_help_for(:finding_important_dates) %>
    </h1>
    <ul class="raw_list">
      <% @finding.important_dates.each do |important_date| %>
        <li><%= textilize_without_paragraph important_date %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @finding.users.blank? %>
    <% audited, auditors = *@finding.users.partition(&:audited?) %>
    <div style="clear: both; margin: 0em 0em 1em 0em;">
      <h1><%= t(:'finding.responsibles', :count => @finding.users.size) %></h1>
      <table class="summary_table" style="margin-bottom: 2em;">
        <thead>
          <tr>
            <th><%= t(:'finding.audited', :count => audited.size) %></th>
            <th><%= t(:'finding.reviewers', :count => auditors.size) %></th>
          </tr>
        </thead>
        <tbody>
          <% [audited.size, auditors.size].max.times do %>
            <tr>
              <td><%= audited.shift.try(:full_name) %></td>
              <td><%= auditors.shift.try(:full_name) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <h1>
    <%= t(:'finding.finding_answers') %>
    <%= show_inline_help_for(:finding_comments) %>
  </h1>

  <div class="column_headers">
    <div class="item_column" style="width: 20%;">
      <h3><%= User.model_name.human %></h3>
    </div>
    <div class="item_column" style="width: 20%;">
      <h3><%= FindingAnswer.human_attribute_name :answer %></h3>
    </div>
    <div class="item_column" style="width: 20%;">
      <h3>
        <%= FindingAnswer.human_attribute_name :answer_type %>
        <%= show_inline_help_for(:finding_answer_type) %>
      </h3>
    </div>
    <div class="item_column" style="width: 10%;">
      <h3>
        <%= FindingAnswer.human_attribute_name :file_model %>
        <%= show_inline_help_for(:finding_file_model) %>
      </h3>
    </div>
    <div class="item_column" style="width: 20%;">
      <h3><%= FindingAnswer.human_attribute_name :created_at %></h3>
    </div>
    <div class="item_column" style="width: 5%;"></div>
    <div style="clear: both;"></div>
  </div>

  <div id="finding_answers">
    <%= f_f.fields_for :finding_answers do |fa_f| %>
      <%= render :partial => 'finding_answer', :locals =>
        {:f => fa_f, :is_dynamic => false} %>
    <% end %>
  </div>

  <p class="add_item">
    <%= link_to t(:'finding.add_finding_answer'), '#finding_answer',
      :class => :add_nested_item, :rel => :finding_answers %>
  </p>

  <div style="clear: both; margin-top: 2em;">
    <div class="title" style="font-weight: normal;">
      <%= textilize t(:'finding.costs',
        :cost => time_in_words_with_abbr((@finding.cost || 0).hours)) %>
    </div>

    <% unless @finding.costs.blank? %>
      <p style="margin-bottom: 1em;">
        <%= link_to_function t(:'finding.view_cost_details'),
          "Effect.toggle('cost_details', 'slide')" %>
      </p>
      <div id="cost_details" style="display: none;">
        <div>
          <table class="summary_table">
            <thead>
              <tr>
                <th><%= Cost.human_attribute_name :created_at %></th>
                <th><%= Cost.human_attribute_name :cost %></th>
                <th><%= Cost.human_attribute_name :description %></th>
                <th><%= Cost.human_attribute_name :user_id %></th>
              </tr>
            </thead>
            <tbody>
              <% @finding.costs.reject {|f| f.new_record?}.each do |cost| %>
                <tr>
                  <td><%= l(cost.created_at, :format => :long) %></td>
                  <td><%= time_in_words_with_abbr(cost.cost.hours) %></td>
                  <td><%= h cost.description.blank? ? '-' : cost.description %></td>
                  <td><%= h cost.user.full_name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

    <div class="column_headers">
      <div class="item_column" style="width: 20%;">
        <h3>
          <%= Cost.human_attribute_name :cost %>
          <%= show_inline_help_for(:finding_cost_input) %>
        </h3>
      </div>
      <div class="item_column" style="width: 75%;">
        <h3><%= Cost.human_attribute_name :description %></h3>
      </div>
      <div style="clear: both;"></div>
    </div>

    <div id="costs">
      <%= f_f.fields_for :costs, @finding.costs.detect { |c| c.new_record? } ||
          Cost.new(:user => @auth_user, :cost_type => 'audited') do |c_f| %>
        <%= render :partial => 'cost', :locals => {:f => c_f} %>
      <% end %>
    </div>
  </div>

  <%= hidden_lock_version(f_f) %>
  <p>
    <span class="button"><%= f_f.submit submit_button_text %></span>
  </p>
<% end %>
<!--[eoform:finding] -->
<%= set_focus_to_first_element %>
<%= javascript_tag 'HTMLUtil.stylizeAllInputFiles();' %>