<%
  finding = parent.object
  readonly = readonly rescue true
  id = f.object.object_id
  finding_user = f.object.user
%>
<fieldset class="finding_user_assignment">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% unless readonly %>
          <%= f.input :user_id, label: false, input_html: {
            value: finding_user.try(:full_name_with_function),
            id: "finding_user_#{id}", name: "auto_user_id_#{id}",
            class: 'autocomplete_field', title: t('label.search'),
            autocomplete: :off, autofocus: true,
            data: {
              autocomplete_url: url_for([:auto_complete_for_user, finding.class]),
              autocomplete_id_target: "#user_id_#{id}"
            }
          } %>
        <% else %>
          <%= f.input :user_id, label: false, input_html: {
            value: finding_user.full_name_with_function(@weakness.created_at),
            id: "finding_user_#{id}", name: "user_name_#{id}", readonly: true
          } %>
        <% end %>
        <%= f.input :user_id, as: :hidden, input_html: {
          value: f.object.user_id, id: "user_id_#{id}" } %>
      </div>
      <div class="col-md-2">
        <%= f.input :responsible_auditor, as: :boolean, label: false, input_html: {
          disabled: readonly || (finding_user && finding_user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-2">
        <%= f.input :process_owner, as: :boolean, label: false, input_html: {
          disabled: readonly || (finding_user && !finding_user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-2">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) unless readonly %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
