<% finding_answer = f.object %>
<% hide = is_dynamic || finding_answer.marked_for_destruction? %>
<tr class="finding_answer item" <%= raw 'style="display: none;"' if hide %>>
    <td>
      <%= finding_answer.user.full_name %>
    </td>
    <td>
      <% if finding_answer.new_record? %>
        <%= f.text_area :answer, :autofocus => true, :style => 'height: 4em;' %>
      <% else %>
        <%= finding_answer.answer %>
      <% end %>
    </td>
    <% if !finding_answer.file_model || finding_answer.file_model.new_record? %>
      <td>
        <% if finding_answer.new_record? %>
          <% finding_answer.build_file_model %>
          <%= f.fields_for :file_model do |fm_f| %>
            <span class="file_container">
              <%= fm_f.file_field :file, :class => 'inline_item file' %>
            </span>
          <% end %>
        <% else %>
          ---
        <% end %>
      </td>
    <% else %>
      <td>
        <%= link_to_download finding_answer.file_model.file.url %>
      </td>
    <% end %>
    <td>
      <% if finding_answer.created_at %>
        <%= l(finding_answer.created_at, :format => :long) %>
        <% if finding_answer.commitment_date %>
          <br />
          <br /><b><%= FindingAnswer.human_attribute_name(:commitment_date) %></b>:
          <br /><%= l(finding_answer.commitment_date, :format => :long) %>
        <% end %>
      <% else %>
        <% if finding_answer.user.can_act_as_audited? &&
            finding_answer.finding.pending? &&
            finding_answer.finding.commitment_date.blank? %>
          <div style="margin-bottom: .5em; clear: both;">
            <%= f.label :commitment_date,
              raw(FindingAnswer.human_attribute_name(:commitment_date) +
                show_inline_help_for(:finding_answer_commitment_date,
                "finding_answer_commitment_date_#{finding_answer.id || 'NEW_RECORD'}")),
              :class => :plain_label, :style => 'display: block;'%>
            <%= calendar_text_field f, :commitment_date, false, nil,
              :class => 'required' %>
          </div>
        <% end %>
      <div style="clear: both;"><%= finding_answer_notification_check(f) %></div>
      <% end %>
    </td>
    <td>
      <%= remove_item_link(f) if finding_answer.new_record? %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :id %>
    </td>
</tr>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.showLastItem('.finding_answer');
    HTMLUtil.stylizeAllInputFiles();
  </script>
<% end %>