<%
  finding = f.object.finding || parent.object
  id = f.object.object_id
  finding_user = f.object.user
  original_finding = finding.errors.empty? || finding.new_record? ? finding : Finding.find(finding.id)
  is_a_new_relation = original_finding.finding_user_assignments.detect { |fua| fua.user_id == f.object.user_id }.nil?
  for_notification = for_notification
%>
<fieldset class="finding_user_assignment">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% unless readonly %>
          <%= f.input :user_id, as: :string, label: false, input_html: {
            value: finding_user.try(:full_name_with_function),
            id: "finding_user_#{id}", name: "auto_user_id_#{id}",
            class: 'autocomplete_field', title: t('label.search'),
            autocomplete: :off, autofocus: true,
            data: {
              autocomplete_url: url_for([:auto_complete_for_user, finding.class]),
              autocomplete_id_target: "#user_id_#{id}"
            }
          } %>
          <% if for_notification || is_a_new_relation %>
            <%= hidden_field_tag 'finding[users_for_notification][]', nil,
              id: "hidden_user_for_notification_#{id}" %>
          <% end %>
        <% else %>
          <%= f.input :user_id, as: :string, label: false, input_html: {
            value: finding_user.full_name_with_function(finding.created_at),
            id: "finding_user_#{id}", name: "user_name_#{id}", readonly: true
          } %>
        <% end %>
        <%= f.input :user_id, as: :hidden, input_html: {
          value: f.object.user_id, id: "user_id_#{id}" } %>
      </div>
      <div class="col-md-2">
        <%= f.input :responsible_auditor, as: :boolean, label: false, input_html: {
          disabled: readonly || (finding_user && finding_user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-2">
        <%= f.input :process_owner, as: :boolean, label: false, input_html: {
          disabled: readonly || (finding_user && !finding_user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-1">
        <% if for_notification && is_a_new_relation %>
            <% if f.object.new_record? %>
              <div class="form-group">
                <label class="checkbox">
                  <%= check_box_tag "user_for_notification", '1', false, data: { user_selector: true } %>
                </label>
              </div>
            <% else %>
              --
            <% end %>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) unless readonly %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
