<% finding_answer = f.object %>
<% hide = is_dynamic || finding_answer.marked_for_destruction? %>
<div class="finding_answer item" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 20%; text-align: left;">
      <%= finding_answer.user.full_name %>
    </div>
    <div class="item_field" style="width: 40%;">
      <%= f.text_area :answer, :class => :focused,
        :readonly => !finding_answer.new_record? %>
    </div>
    <% if !finding_answer.file_model || finding_answer.file_model.new_record? %>
      <div class="item_field" style="width: 10%;">
        <% if finding_answer.new_record? %>
          <% finding_answer.build_file_model %>
          <%= f.fields_for :file_model do |fm_f| %>
            <span class="file_container">
              <%= fm_f.file_field :file, :class => 'inline_item file' %>
            </span>
          <% end %>
        <% else %>
          ---
        <% end %>
      </div>
    <% else %>
      <div class="item_field" style="width: 10%;">
        <%= link_to_download finding_answer.file_model.file.url %>
      </div>
    <% end %>
    <div class="item_field" style="width: 20%; text-align: left;">
      <% if finding_answer.created_at %>
        <%= l(finding_answer.created_at, :format => :long) %>
        <% if finding_answer.commitment_date %>
          <br />
          <br /><b><%= FindingAnswer.human_attribute_name(:commitment_date) %></b>:
          <br /><%= l(finding_answer.commitment_date, :format => :long) %>
        <% end %>
      <% else %>
        <% if finding_answer.user.can_act_as_audited? &&
            finding_answer.finding.pending? &&
            finding_answer.finding.commitment_date.blank? %>
          <div style="margin-bottom: .5em; clear: both;">
            <%= f.label :commitment_date,
              raw(FindingAnswer.human_attribute_name(:commitment_date) +
                show_inline_help_for(:finding_answer_commitment_date,
                "finding_answer_commitment_date_#{finding_answer.id || 'NEW_RECORD'}")),
              :class => :plain_label, :style => 'display: block;'%>
            <%= f.calendar_date_select :commitment_date, :class => 'required inline_tight_item' %>
          </div>
        <% end %>
      <div style="clear: both;"><%= finding_answer_notification_check(f) %></div>
      <% end %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
    <%= remove_item_link(f) if finding_answer.new_record? %>
    <%= f.hidden_field :user_id %>
    </div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.showLastItem('.finding_answer');
    HTMLUtil.stylizeAllInputFiles();
    PopupListener['findingAnswerNotification'](
      'finding_answer_notification_NEW_RECORD');

    if(PopupListener['findingAnswerCommitmentDate']) {
      PopupListener['findingAnswerCommitmentDate'](
        'finding_answer_commitment_date_NEW_RECORD');
    }
  </script>
<% end %>