<%
  finding = parent.object
  finding_answer = f.object
  finding_answer.user ||= @auth_user
%>
<fieldset class="finding_answer">
  <hr />

  <div class="row">
    <div class="col-md-2">
      <%= finding_answer.user.full_name %>
      <% if finding_answer.new_record? %>
        <%= f.input :user_id, as: :hidden, input_html: { id: @auth_user.id, value: @auth_user.id }  %>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if finding_answer.new_record? %>
        <%= f.input :answer, label: false %>
      <% else %>
        <%= simple_format finding_answer.answer %>
        <p class="small text-muted"><%= l(finding_answer.created_at, format: :long) %></p>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if !finding_answer.file_model.try(:file?) || finding_answer.file_model.new_record? %>
        <% if finding_answer.new_record? %>
          <%= f.simple_fields_for :file_model, file_model(f.object) do |fm_f| %>
            <div class="file-container pull-left">
              <%= link_to_upload(fm_f.object) %>
              <% if fm_f.object.file_cache %>
                <%= fm_f.input :file, label: false %>
                <%= fm_f.input :file_cache, as: :hidden %>
              <% else %>
                <%= fm_f.input :file, label: false %>
              <% end %>
            </div>
            <% link_classes = ['pull-left'] %>
            <% link_classes << 'hidden' unless fm_f.object.file_cache %>
            <%= link_to '#', class: link_classes.join(' '), data: { clear_file: 'file' } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          <% end %>
        <% else %>
          -
        <% end %>
      <% else %>
        <%= link_to_download finding_answer %>
      <% end %>
    </div>
    <div class="col-md-2">
      <% if finding_answer.persisted? %>
        <% if finding_answer.commitment_date %>
          <strong><%= FindingAnswer.human_attribute_name 'commitment_date' %></strong>:
          <br /><%= l(finding_answer.commitment_date, format: :long) %>
        <% end %>
      <% else %>
        <% if show_commitment_date?(finding_answer) %>
          <%= f.input :commitment_date, as: :date_picker, label: false, hint:
            FindingAnswer.human_attribute_name(:commitment_date),
            input_html: { data: { required: true } } %>
        <% end %>
        <%= finding_answer_notification_check(f) %>
      <% end %>
      <%= f.input :user_id, as: :hidden %>
    </div>
  </div>
</fieldset>
