<%
  finding_answer = f.object
  finding_answer.user ||= @auth_user
%>
<fieldset class="finding_answer">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-3">
        <%= finding_answer.user.full_name %>
        <% if finding_answer.new_record? %>
          <%= f.input :user_id, as: :hidden, input_html: { value: @auth_user.id }  %>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if finding_answer.new_record? %>
          <%= f.input :answer, label: false, input_html: { autofocus: true } %>
        <% else %>
          <%= finding_answer.answer %>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if !finding_answer.file_model.try(:file?) || finding_answer.file_model.new_record? %>
          <% if finding_answer.new_record? %>
            <% finding_answer.build_file_model unless finding_answer.file_model.try(:new_record?) %>
            <%= f.simple_fields_for :file_model do |fm_f| %>
              <span class="file_container">
                <%= fm_f.input :file, label: false %>
                <%= fm_f.input :file_cache, as: :hidden %>
              </span>
            <% end %>
          <% else %>
            ---
          <% end %>
        <% else %>
          <%= link_to_download finding_answer.file_model.file.url if finding_answer.file_model.file? %>
        <% end %>
      </div>
      <div class="col-md-2">
        <% if finding_answer.created_at %>
          <%= l(finding_answer.created_at, format: :long) %>
          <% if finding_answer.commitment_date %>
            <br />
            <br /><strong><%= FindingAnswer.human_attribute_name(:commitment_date) %></strong>:
            <br /><%= l(finding_answer.commitment_date, format: :long) %>
          <% end %>
        <% else %>
          <% if finding_answer.user.can_act_as_audited? &&
              finding_answer.finding.pending? &&
              finding_answer.finding.commitment_date.blank? %>
            <%= f.input :commitment_date, as: :date_picker, label: raw(
              FindingAnswer.human_attribute_name(:commitment_date) +
                show_inline_help_for(:finding_answer_commitment_date,
                  "finding_answer_commitment_date_#{finding_answer.id || 'NEW_RECORD'}")
              ) %>
          <% end %>
          <%= finding_answer_notification_check(f) %>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) if finding_answer.new_record? %>
          <%= f.input :user_id, as: :hidden %>
          <%= f.input :id, as: :hidden %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
