<% if @finding.issues.any? %>
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <th><%= Issue.human_attribute_name 'customer' %></th>
        <th class="d-none d-md-table-cell"><%= Issue.human_attribute_name 'entry' %></th>
        <th class="d-none d-md-table-cell"><%= Issue.human_attribute_name 'operation' %></th>
        <th class="d-none d-md-table-cell"><%= Issue.human_attribute_name 'comments'  %></th>
        <th><%= Issue.human_attribute_name 'close_date' %></th>
        <th><%= Issue.human_attribute_name 'currency' %></th>
        <th><%= Issue.human_attribute_name 'amount' %></th>
      </tr>
    </thead>

    <tbody>
      <% @finding.issues.each do |issue| %>
        <tr>
          <td><%= issue.customer %></td>
          <td class="d-none d-md-table-cell"><%= issue.entry %></td>
          <td class="d-none d-md-table-cell"><%= issue.operation %></td>
          <td class="d-none d-md-table-cell"><%= issue.comments %></td>
          <td><%= l(issue.close_date, format: :minimal) if issue.close_date %></td>
          <td><%= issue.currency %></td>
          <td><%= issue.amount %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= number_to_currency @finding.issues_amount %></td>
      </tr>
    </tbody>
  </table>
<% end %>
