<%
  id = f.object.object_id
  finding = f.object.finding || parent.object
  task = f.object
%>
<fieldset class="task">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :description, label: false, input_html: { autofocus: task.new_record?, rows: 1 } %>
      </div>
      <div class="col-md-2">
        <%= f.input :status, collection: finding_task_status_options, label: false, prompt: false %>
      </div>
      <div class="col-md-2">
        <%= f.input :due_on, as: :date_picker, label: false, input_html: { data: { override_follow_up_date: true } } %>
      </div>
      <div class="col-md-1">
        <% if task.due_on && task.due_on >= Time.zone.today %>
          <% if task.all_due_on_dates.empty? %>
            <span class="text-success" title="<%= t 'tasks.on_time' %>">
              <span class="glyphicon glyphicon-ok"></span>
            </span>
          <% else %>
            <span class="text-warning" title="<%= t 'tasks.rescheduled' %>">
              <span class="glyphicon glyphicon-repeat"></span>
            </span>
          <% end %>
        <% elsif task.due_on %>
          <span class="text-danger" title="<%= t 'tasks.expired' %>">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="toggle-visibility">
          <%= f.input :finding_id, as: :hidden %>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
