<%= render 'current_user_filters' %>
<%= render 'shared/search', {
  options: {
    url:              findings_path(completed: params[:completed]),
    extra_parameters: { completed: params[:completed] },
    columns_for_sort: Finding.columns_for_sort
  },

  columns: @query.blank? ?
    Finding::COLUMNS_FOR_SEARCH.keys - (current_organization.corporate? ? [] : ['organization']) :
    @columns
} %>

<table class="table table-condensed table-striped table-hover">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column(
        simple_icon(Finding.human_attribute_name('updated_at'), 'calendar'),
        nil,
        'updated_at'
      ) %>
      <%= make_filterable_column(
        Finding.human_attribute_name('organization'), { class: 'hidden-sm hidden-xs' }, 'organization'
      ) if current_organization.corporate? %>
      <%= make_filterable_column Review.model_name.human, nil, 'review', 'issue_date' %>
      <%= make_filterable_column PlanItem.human_attribute_name('project'), { class: 'hidden-xs hidden-sm' }, 'project' %>
      <%= make_filterable_column Finding.human_attribute_name('review_code'), nil, 'review_code' %>
      <%= make_filterable_column Finding.human_attribute_name('title'), { class: 'hidden-xs hidden-sm' }, 'title' %>
      <%= make_not_available_column Finding.human_attribute_name('state'), class: 'hidden-xs' %>
      <%= make_not_available_column Finding.human_attribute_name(
          params[:completed] == 'incomplete' ? 'follow_up_date' : 'solution_date'), class: 'hidden-xs' %>
      <%= make_not_available_column Weakness.human_attribute_name('risk'), class: 'hidden-xs' %>
      <%= make_filterable_column Tag.model_name.human(count: 0), { class: 'hidden-xs' }, 'tags' %>
      <%= make_not_available_column Finding.human_attribute_name('finding_answers'), class: 'hidden-xs hidden-sm hidden-md' %>
      <%= make_not_available_column WorkPaper.model_name.human(count: 0), class: 'hidden-xs hidden-sm hidden-md' %>
      <th colspan="2" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @findings.each do |finding| %>
      <tr>
        <td><%= finding_updated_at_text finding %></td>
        <% if current_organization.corporate? %>
          <td><%= finding.organization.prefix %></td>
        <% end %>
        <td><%= show_review_with_conclusion_status_as_abbr(finding.review) %></td>
        <td class="hidden-xs hidden-sm"><%= super_truncate(finding.control_objective_item.try(:review).try(:plan_item).try(:project), 20) %></td>
        <td><%= show_finding_review_code_with_decription_as_abbr(finding) %></td>
        <td class="hidden-xs hidden-sm"><%= super_truncate(finding.title, 17) %></td>
        <td class="hidden-xs"><%= super_truncate finding.state_text, 19 %></td>
        <% if params[:completed] == 'complete' %>
          <td class="hidden-xs"><%= l(finding.solution_date, format: :short) if finding.solution_date %></td>
        <% else %>
          <td class="hidden-xs"><%= finding_follow_up_date_text(finding) %></td>
        <% end %>
        <td class="hidden-xs"><%= finding.respond_to?(:risk_text) ? finding.risk_text : '-' %></td>
        <td class="hidden-xs"><%= tags finding.tags.reload %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= show_finding_answers_count finding %> <%= show_finding_reading_warning finding %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= t finding.work_papers.blank? ? 'label.no' : 'label.yes' %></td>
        <td><%= link_to_show finding_path(params[:completed], finding, user_id: params[:user_id]) %></td>
        <td><%= link_to_edit(edit_finding_path('incomplete', finding, user_id: params[:user_id])) if finding.pending? && (!@auth_user.can_act_as_audited? || finding.users.reload.include?(@auth_user)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= paginate @findings %>

<%= link_to t('finding.download_csv'), findings_path(request.query_parameters.merge(format: :csv)) %> |
<%= link_to t('finding.download_pdf'), findings_path(request.query_parameters.merge(format: :pdf)) %>

<script type="text/javascript">
  $('#user_id_select').change(function() {
    if($(this).val()) {
      var url = '<%= findings_path(params[:completed]) %>';

      BrowserManipulation.changeLocation(url, jQuery.parseJSON($(this).val()));
    }
  });
</script>
