<p>
  <strong><%= Review.model_name.human %></strong>:
  <%= @finding.review.try(:identification) %>
</p>
<p>
  <strong><%= PlanItem.human_attribute_name(:project) %></strong>:
  <%= @finding.review.try(:plan_item).try(:project) %>
</p>
<p>
  <strong><%= Finding.human_attribute_name :review_code %></strong>
  <%= @finding.review_code %>
</p>
<p>
  <strong><%= Finding.human_attribute_name :title %></strong>
  <%= @finding.title %>
</p>
<% if @finding.control_objective_item %>
  <div>
    <strong><%= ControlObjective.model_name.human %></strong>:
    <%= simple_format "#{@finding.control_objective_item.to_s} (#{@finding.control_objective_item.process_control.name})" %>
  </div>
<% end %>
<p>
  <strong><%= ConclusionFinalReview.human_attribute_name(:issue_date) %></strong>:
  <%= @finding.issue_date ? l(@finding.issue_date, :format => :long) :
    t('finding.without_conclusion_final_review') %>
</p>
<div>
  <strong><%= Finding.human_attribute_name :description %></strong>
  <%= simple_format @finding.description %>
</div>
<% if @finding.kind_of? Weakness %>
  <div>
    <strong><%= Weakness.human_attribute_name :audit_recommendations %></strong>:
    <%= simple_format @finding.audit_recommendations %>
  </div>
  <p>
    <strong><%= Weakness.human_attribute_name :risk %></strong>:
    <%= @finding.risk_text %>
  </p>

  <% unless HIDE_WEAKNESS_PRIORITY %>
    <p>
      <strong><%= Weakness.human_attribute_name :priority %></strong>:
      <%= @finding.priority_text %>
    </p>
  <% end %>
<% end %>
<p>
  <strong><%= Finding.human_attribute_name(:state) %></strong>:
  <%= @finding.state_text %>
</p>
<% if SHOW_WEAKNESS_PROGRESS && @finding.kind_of?(Weakness) %>
  <p>
    <strong><%= Weakness.human_attribute_name :progress %>:</strong>

  </p>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @finding.progress.to_i %>%;">
      <%= @finding.progress.to_i %>%
    </div>
  </div>
<% end %>
<p>
  <strong><%= Finding.human_attribute_name(:origination_date) %></strong>:
  <%= l(@finding.origination_date, :format => :long) if @finding.origination_date %>
</p>
<% if @finding.kind_of? Weakness %>
  <p>
    <strong><%= Weakness.human_attribute_name(:follow_up_date) %></strong>:
    <%= l(@finding.follow_up_date, :format => :long) if @finding.follow_up_date %>
  </p>
  <%= show_weakness_previous_follow_up_dates @finding %>
<% end %>
<p>
  <strong><%= Finding.human_attribute_name(:solution_date) %></strong>:
  <%= l(@finding.solution_date, :format => :long) if @finding.solution_date %>
</p>
<% unless HIDE_WEAKNESS_EFFECT %>
  <div>
    <strong><%= Finding.human_attribute_name :effect %></strong>:
    <%= simple_format @finding.effect %>
  </div>
<% end %>
<div>
  <strong><%= Finding.human_attribute_name :answer %></strong>:
  <%= simple_format @finding.answer %>
</div>
<% if SHOW_FINDING_CURRENT_SITUATION %>
  <div>
    <strong><%= Finding.human_attribute_name :current_situation %></strong>:
    <%= simple_format @finding.current_situation %>
  </div>

  <div>
    <strong><%= Finding.human_attribute_name :current_situation_verified %></strong>:
    <%= t "label.#{@finding.current_situation_verified ? 'yes' : 'no'}" %>
  </div>
<% end %>

<div>
  <strong><%= Finding.human_attribute_name :audit_comments %></strong>:
  <%= simple_format @finding.audit_comments %>
</div>

<% if @finding.kind_of?(Weakness) && SHOW_WEAKNESS_EXTRA_ATTRIBUTES %>
  <p>
    <strong><%= Weakness.human_attribute_name :compliance %>:</strong>
    <%= t "label.#{@finding.compliance}" if @finding.compliance.present? %>
  </p>

  <p>
    <strong><%= Weakness.human_attribute_name :operational_risk %>:</strong>
    <%= Array(@finding.operational_risk).to_sentence %>
  </p>

  <p>
    <strong><%= Weakness.human_attribute_name :impact %>:</strong>
    <%= Array(@finding.impact).to_sentence %>
  </p>

  <p>
    <strong><%= Weakness.human_attribute_name :internal_control_components %>:</strong>
    <%= Array(@finding.internal_control_components).to_sentence %>
  </p>
<% end %>

<% unless @finding.important_dates.blank? %>
  <h4>
    <%= t('finding.important_dates.title') %>
  </h4>
  <ul>
    <% @finding.important_dates.each do |important_date| %>
      <li><%= markdown_without_paragraph important_date %></li>
    <% end %>
  </ul>
<% end %>

<h4><%= t('finding.responsibles', :count => @finding.users.size) %></h4>
<%= finding_responsibles_list(@finding) %>

<% unless @finding.taggings.blank? %>
  <h3>
    <%= Tag.model_name.human count: 0 %>
  </h3>

  <ul class="list-unstyled">
    <% @finding.taggings.each do |tagging| %>
      <%= tagging_item tagging %>
    <% end %>
  </ul>
<% end %>

<% unless @finding.finding_relations.blank? %>
  <h4>
    <%= t('finding.finding_relations') %>
  </h4>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= FindingRelation.human_attribute_name :related_finding_id %></th>
        <th><%= FindingRelation.human_attribute_name :description %></th>
      </tr>
    </thead>
    <tbody>
      <% @finding.finding_relations.each do |fr| %>
        <tr>
          <td><%= fr.related_finding %></td>
          <td><%= fr.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @finding.inverse_finding_relations.blank? %>
  <h4>
    <%= t('finding.inverse_finding_relations') %>
  </h4>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= FindingRelation.human_attribute_name :finding_id %></th>
        <th><%= FindingRelation.human_attribute_name :description %></th>
      </tr>
    </thead>
    <tbody>
      <% @finding.inverse_finding_relations.each do |ifr| %>
        <tr>
          <td><%= ifr.finding %></td>
          <td><%= ifr.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @finding.business_units.blank? %>
  <h4>
    <%= BusinessUnit.model_name.human count: 0 %>
  </h4>

  <ul>
    <% @finding.business_units.each do |bu| %>
      <li><%= bu.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @finding.tasks.any? %>
  <br />
  <h4>
    <%= Task.model_name.human count: 0 %>
  </h4>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= Task.human_attribute_name 'code' %></th>
        <th><%= Task.human_attribute_name 'description' %></th>
        <th><%= Task.human_attribute_name 'status' %></th>
        <th><%= Task.human_attribute_name 'due_on' %></th>
      </tr>
    </thead>

    <tbody>
      <% @finding.tasks.each do |task| %>
        <tr>
          <td><%= task.code %></td>
          <td><%= task.description %></td>
          <td><%= t "tasks.status.#{task.status}" %></td>
          <td><%= l task.due_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @finding.finding_answers.blank? %>
  <h4>
    <%= t('finding.finding_answers') %>
  </h4>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= User.model_name.human %></th>
        <th><%= FindingAnswer.human_attribute_name :answer %></th>
        <th>
          <%= FindingAnswer.human_attribute_name :file_model %>
        </th>
        <th>
          <%= FindingAnswer.human_attribute_name :created_at %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @finding.finding_answers.each do |finding_answer| %>
        <tr>
          <td><%= finding_answer.user.full_name %></td>
          <td><%= simple_format finding_answer.answer %></td>
          <td>
            <%= finding_answer.file_model.try(:file?) ?
              link_to(t('label.download'), finding_answer.file_model.file.url) : '---' %>
          </td>
          <td>
            <%= l(finding_answer.created_at, :format => :long) if finding_answer.created_at %>
            <% if finding_answer.commitment_date %>
              <br />
              <br /><strong><%= FindingAnswer.human_attribute_name(:commitment_date) %></strong>:
              <br /><%= l(finding_answer.commitment_date, :format => :long) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless (repeated_ancestors = @finding.repeated_ancestors).blank? %>
  <h4><%= t('finding.repeated_ancestors') %></h4>
  <ul>
    <% repeated_ancestors.each do |repeated_ancestor| %>
      <li>
        <%= link_to(
          repeated_ancestor,
          finding_path(repeated_ancestor.pending? ? 'incomplete' : 'complete', repeated_ancestor)
        ) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless (repeated_children = @finding.repeated_children).blank? %>
  <h4><%= t('finding.repeated_children') %></h4>
  <ul>
    <% repeated_children.each do |repeated_child| %>
      <li>
        <%= link_to(
          repeated_child,
          finding_path(repeated_child.pending? ? 'incomplete' : 'complete', repeated_child)
        ) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @finding.work_papers.blank? %>
  <h4><%= WorkPaper.model_name.human(count: 0) %></h4>

  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th><%= WorkPaper.human_attribute_name :name %></th>
        <th><%= WorkPaper.human_attribute_name :code %></th>
        <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
        <th><%= WorkPaper.human_attribute_name :description %></th>
        <th><%= WorkPaper.human_attribute_name :file_model %></th>
      </tr>
    </thead>
    <tbody>
      <% @finding.work_papers.each do |work_paper| %>
        <tr>
          <td><%= work_paper.name %></td>
          <td><%= work_paper.code %></td>
          <td><%= work_paper.number_of_pages %></td>
          <td><%= simple_format work_paper.description %></td>
          <td><%= work_paper.file_model.try(:file?) ?
            link_to(t('label.download'), work_paper.file_model.file.url) : '---' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= markdown t('finding.costs',
  :cost => time_in_words_with_abbr((@finding.cost || 0).hours)) %>

<% unless @finding.costs.blank? %>
  <p>
    <%= link_to t('finding.view_cost_details'), '#cost_details', :data => { :toggle => 'collapse' } %>
  </p>

  <div id="cost_details" class="collapse">
    <div>
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th><%= Cost.human_attribute_name :created_at %></th>
            <th><%= Cost.human_attribute_name :cost %></th>
            <th><%= Cost.human_attribute_name :description %></th>
            <th><%= Cost.human_attribute_name :user_id %></th>
          </tr>
        </thead>
        <tbody>
          <% @finding.costs.each do |cost| %>
            <tr>
              <td><%= l(cost.created_at, :format => :long) %></td>
              <td><%= time_in_words_with_abbr(cost.cost.hours) %></td>
              <td><%= simple_format cost.description.blank? ? '-' : cost.description %></td>
              <td><%= cost.user.full_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<hr />

<div>
  <% if @finding.pending? && (!@auth_user.can_act_as_audited? || @finding.users.reload.include?(@auth_user)) %>
    <strong><%= link_to_edit edit_finding_path(params[:completed],
      @finding, :user_id => params[:user_id]) %></strong> |
  <% end %>
  <%= link_to_index findings_path(params[:completed], :user_id => params[:user_id]) %> |
  <%= render('shared/downloads',
    right: true,
    links: [
      link_to(t('finding.follow_up_report.download_brief'),
              follow_up_pdf_finding_path(params[:completed], @finding, :brief => true, :_ts => Time.now.to_i)),
      link_to(t('finding.follow_up_report.download'),
              follow_up_pdf_finding_path(params[:completed], @finding, :_ts => Time.now.to_i))
    ]
  ) %>
</div>
