<div id="showed_data">
  <p>
    <b><%= Review.human_name %></b>:
    <%= h @finding.review.try(:identification) %>
  </p>
  <p>
    <b><%= PlanItem.human_attribute_name(:project) %></b>:
    <%= h @finding.review.try(:plan_item).try(:project) %>
  </p>
  <p>
    <b><%= Finding.human_attribute_name :review_code %></b>
    <%= h @finding.review_code %>
  </p>
  <p>
    <b><%= ConclusionFinalReview.human_attribute_name(:issue_date) +
      show_inline_help_for(:finding_issue_date) %></b>:
    <%= @finding.issue_date ? l(@finding.issue_date, :format => :long) :
      t(:'finding.without_conclusion_final_review') %>
  </p>
  <% if @finding.control_objective_item -%>
    <p>
      <b><%= ControlObjective.human_name %></b>:
      <%= h "#{@finding.control_objective_item.control_objective_text} (#{@finding.control_objective_item.process_control.name})" %>
    </p>
  <% end -%>
  <p>
    <b><%= Finding.human_attribute_name :description %></b>
    <%= h @finding.description %>
  </p>
  <% if @finding.kind_of? Weakness -%>
    <p>
      <b><%= Weakness.human_attribute_name :audit_recommendations %></b>:
      <%= h @finding.audit_recommendations %>
    </p>
    <p>
      <b><%= Weakness.human_attribute_name :risk %></b>:
      <%= @finding.risk_text %>
    </p>
    <p>
      <b><%= Weakness.human_attribute_name :priority %></b>:
      <%= @finding.priority_text %>
    </p>
  <% end -%>
  <p>
    <b><%= Finding.human_attribute_name(:state) + show_inline_help_for(:finding_state) %></b>:
    <%= @finding.state_text %>
  </p>
  <% if @finding.kind_of? Weakness -%>
    <p>
      <b><%= Weakness.human_attribute_name(:follow_up_date) + show_inline_help_for(:finding_follow_up_date) %></b>:
      <%= l(@finding.follow_up_date, :format => :long) if @finding.follow_up_date %>
    </p>
    <%= show_weakness_previous_follow_up_dates @finding %>
  <% end -%>
  <p>
    <b><%= Finding.human_attribute_name(:solution_date) + show_inline_help_for(:finding_solution_date) %></b>:
    <%= l(@finding.solution_date, :format => :long) if @finding.solution_date %>
  </p>
  <p>
    <b><%= Finding.human_attribute_name :effect %></b>:
    <%= h @finding.effect %>
  </p>
  <p>
    <b><%= Finding.human_attribute_name :answer %></b>:
    <%= h @finding.answer %>
  </p>
  <p>
    <b><%= Finding.human_attribute_name :audit_comments %></b>:
    <%= h @finding.audit_comments %>
  </p>

  <% unless @finding.important_dates.blank? -%>
    <h1 style="clear: both;">
      <%= t(:'finding.important_dates.title') %>
      <%= show_inline_help_for(:finding_important_dates) %>
    </h1>
    <ul class="raw_list">
      <% @finding.important_dates.each do |important_date| -%>
        <li><%= textilize_without_paragraph important_date %></li>
      <% end -%>
    </ul>
  <% end -%>

  <h1 style="clear: both;"><%= t(:'finding.responsibles') %></h1>
  <ul class="raw_list">
    <% @finding.users.each do |user| -%>
      <li><%= user.full_name_with_function(@finding.created_at) %></li>
    <% end -%>
  </ul>

  <% unless @finding.finding_answers.blank? -%>
    <h1>
      <%= t(:'finding.comments') %>
      <%= show_inline_help_for(:finding_comments) %>
    </h1>

    <table class="summary_table">
      <thead>
        <tr>
          <th><%= User.human_name %></th>
          <th><%= FindingAnswer.human_attribute_name :answer %></th>
          <th>
            <%= FindingAnswer.human_attribute_name :answer_type %>
            <%= show_inline_help_for(:finding_answer_type) %>
          </th>
          <th>
            <%= FindingAnswer.human_attribute_name :file_model %>
            <%= show_inline_help_for(:finding_file_model) %>
          </th>
          <th>
            <%= FindingAnswer.human_attribute_name :created_at %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @finding.finding_answers.each do |finding_answer| -%>
          <tr>
            <td><%= h finding_answer.user.full_name %></td>
            <td><%= h finding_answer.answer %></td>
            <td><%= finding_answer.answer_type_text %></td>
            <td>
              <%= finding_answer.file_model ?
                link_to_download(finding_answer.file_model.public_filename) : '---' %>
            </td>
            <td><%= l(finding_answer.created_at, :format => :long) if finding_answer.created_at %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%>

  <% unless @auth_user.audited? || @finding.work_papers.blank? -%>
    <h1><%= t(:'finding.work_papers') %></h1>

    <table class="summary_table">
      <thead>
        <tr>
          <th><%= WorkPaper.human_attribute_name :name %></th>
          <th><%= WorkPaper.human_attribute_name :code %></th>
          <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
          <th><%= WorkPaper.human_attribute_name :description %></th>
          <th><%= WorkPaper.human_attribute_name :file_model %></th>
        </tr>
      </thead>
      <tbody>
        <% @finding.work_papers.each do |work_paper| -%>
          <tr>
            <td><%= h work_paper.name %></td>
            <td><%= h work_paper.code %></td>
            <td><%= work_paper.number_of_pages %></td>
            <td><%= h work_paper.description %></td>
            <td><%= work_paper.file_model ?
              link_to_download(work_paper.file_model.public_filename) : '---' %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% end -%>

  <div class="title" style="font-weight: normal;">
    <%= textilize t(:'finding.costs',
      :cost => time_in_words_with_acronym((@finding.cost || 0).hours)) %>
  </div>

  <% unless @finding.costs.blank? -%>
    <p style="margin-bottom: 1em;">
      <%= link_to_function t(:'finding.view_cost_details'),
        "Effect.toggle('cost_details', 'slide')" %>
    </p>
    <div id="cost_details" style="display: none;">
      <div>
        <table class="summary_table">
          <thead>
            <tr>
              <th><%= Cost.human_attribute_name :created_at %></th>
              <th><%= Cost.human_attribute_name :cost %></th>
              <th><%= Cost.human_attribute_name :description %></th>
              <th><%= Cost.human_attribute_name :user_id %></th>
            </tr>
          </thead>
          <tbody>
            <% @finding.costs.each do |cost| -%>
              <tr>
                <td><%= l(cost.created_at, :format => :long) %></td>
                <td><%= time_in_words_with_acronym(cost.cost.hours) %></td>
                <td><%= h cost.description.blank? ? '-' : cost.description %></td>
                <td><%= h cost.user.full_name %></td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  <% end -%>
</div>

<div id="links">
  <b><%= link_to t(:'label.edit'), edit_finding_path(params[:completed],
    @finding) %></b> |
  <% unless @auth_user.audited? -%>
    <%= link_to t(:'finding.follow_up_report.download'),
      :action => :follow_up_pdf, :id => @finding %> |
  <% end -%>
  <%= link_to t(:'label.list'), findings_path(params[:completed]) %> |
  <%= link_to_back %>
</div>