<%= simple_form_for current_organization, url: options_path(type: type), method: :patch do |f| %>
  <% if f.object.errors.select { |e| e.type == type.to_sym }.present? %>
    <div class="alert alert-danger">
      <div class="alert-message">
        <ul class="m-0">
          <% f.object.errors.select { |e| e.type == type.to_sym }.each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row mb-2">
      <div class="col-md-5">
        <strong><%= t 'options.scores.score' %></strong>
      </div>
      <div class="col-md-5">
        <strong><%= t 'options.scores.value' %></strong>
      </div>
    </div>

    <% current_organization.current_scores_by(type).each_with_index do |(score, value), idx| %>
      <fieldset>
        <div class="row" id="<%= type %>-<%= idx %>">
          <div class="col-md-5">
            <%= f.input :score, label: false, autofocus: idx == 0,
              input_html: { value: score, name: "options[#{idx}][]" } %>
          </div>
          <div class="col-md-5">
            <%= f.input :value, label: false,
              input_html: { value: value, name: "options[#{idx}][]" } %>
          </div>
          <div class="col-md-2">
            <%= link_to_remove_option %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.submit t('options.scores.submit'), class: 'btn btn-primary' %>
    <div class="float-end"><%= yield :form_actions %></div>
  </div>
<% end %>
