<%= simple_form_for current_organization, url: options_path(type: type), method: :patch do |f| %>
  <% if options_errors_for(f.object, type).present? %>
    <div class="alert alert-danger">
      <div class="alert-message">
        <ul class="m-0">
          <% options_errors_for(f.object, type).each do |error| %>
            <li><%= error.message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row mb-2">
      <div class="col-md-5">
        <strong><%= t 'options.scores.score' %></strong>
      </div>
      <div class="col-md-5">
        <strong><%= t 'options.scores.value' %></strong>
      </div>
    </div>

    <div class="options-container">
      <% current_organization.current_scores_by(type).each_with_index do |(score, value), idx| %>
        <%= render 'options/option', score: score, value: value, id: idx, f: f %>
      <% end %>
    </div>

    <%= link_to_add_option type %>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.submit t('options.scores.submit'), class: 'btn btn-primary' %>
    <div class="float-end"><%= yield :form_actions %></div>
  </div>
<% end %>
