<div class="modal fade" id="customize_report" tabindex="-1" role="dialog"
  aria-labelledby="customize_report_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for options[:form_name], method: (options[:method] || :post), url: options[:url], remote: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="customize_report_label">
            <%= t('reports.customization_titles') %>
          </h3>
        </div>
        <div class="modal-body">
          <% options[:fields].each do |field| %>
            <div class="form-group">
              <%= label_tag field[:name], field[:label] %>
              <%= text_area_tag field[:name], field[:value], rows: 5, class: 'form-control' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <div class="pull-right">
            <% if options[:show_link_to_back] %>
              <%= link_to_back %>
            <% end %>
          </div>
          <%= f.submit (options[:submit_label] || t('customize_report_form.create')),
            class: 'btn btn-primary', data: { disable_with: t('reports.generating') } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
