<% url = url_for({ action: action }.merge(extra_params)) %>
<div id="filter_box">
  <%= simple_form_for action, url: url, html: { method: :get, data: { no_observe_changes: true } } do |f| %>
    <div class="row">
      <div class="col-md-10">
        <% forms.sort { |f1, f2| f1.second.to_s <=> f2.second.to_s }.each do |f_name, display| %>
          <%= render partial: "shared/filters/#{f_name}",
            locals: { f: f, display: display, action: action } %>
        <% end %>
      </div>
      <div class="filter col-md-2">
        <%= f.submit t('label.apply_filter'), class: 'btn btn-sm btn-default' %> |
        <%= link_to t('label.cancel'), url %>
      </div>
    </div>
    <% if extra_params %>
      <div class="hidden">
        <% extra_params.each do |name, value| %>
          <%= hidden_field_tag name, value %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
