<% url = url_for({:action => action}.merge(extra_params)) %>
<div id="filter_box">
  <div>
    <%= form_for action, :url => url, :html => {:method => :get} do |f| %>
      <% forms.each do |f_name, display| %>
        <%= render :partial => "shared/filters/#{f_name}",
          :locals => {:f => f, :display => display, :action => action} %>
      <% end %>
      <% if extra_params %>
        <div style="display: none;">
          <% extra_params.each do |name, value| %>
            <%= hidden_field_tag name, value %>
          <% end %>
        </div>
      <% end %>

      <div class="actions">
        <span class="button">
          <%= f.submit t(:'label.apply_filter'), :style => 'display: inline;' %>
        </span>
        <span><%= link_to t(:'label.cancel'), url,
                {:style => 'margin-left: 1em;'} %></span>
      </div>
    <% end %>
  </div>
</div>
<%= set_focus_to_first_element %>