<% active = menu_item.submenu_names.include? @current_module %>

<% if menu_item.children.present? %>
  <li class="dropdown <%= 'active' if active %>">
    <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= menu_item %> <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% menu_item.children.each do |submenu_item| %>
        <li><%= link_to submenu_item, submenu_item.url %></li>
        <%= render 'shared/submenu', submenu_item: submenu_item %>
      <% end %>
    </ul>
  </li>
<% else %>
  <li><%= link_to menu_item, menu_item.url %></li>
<% end %>
