<% active = menu_item.submenu_names.include? @current_module %>

<% if menu_item.children.present? %>
  <li class="sidebar-item <%= 'active' if active %>">
    <%= link_to '#', class: 'sidebar-link collapsed', data: { bs_toggle: 'dropdown', bs_target: "##{menu_item}" } do %>
      <%= menu_item %>
    <% end %>
    <ul id="<%= menu_item %>" class="sidebar-dropdown list-unstyled collapse">
      <%= render partial: 'shared/submenu', collection: menu_item.children, as: :submenu_item %>
    </ul>
  </li>
<% else %>
  <li class="sidebar-item"><%= link_to menu_item, menu_item.url, class: 'sidebar-link collapsed' %></li>
<% end %>
