<% active = menu_item.submenu_names.include?(@current_module) %>

<li class="sidebar-item <%== 'active' if active %>">
  <% if menu_item.children.present? %>
    <%= link_to '#', class: "sidebar-link #{'collapsed' unless active}", data: { bs_toggle: 'collapse', bs_target: "##{menu_item.name}" } do %>
      <%= icon 'fas fa-lg', menu_item.icon %>
      <span class="align-middle"><%= menu_item %></span>
    <% end %>
    <ul id="<%= menu_item.name %>" class="sidebar-dropdown list-unstyled collapse <%== 'show' if active %>" data-bs-parent="#sidebar">
      <%= render partial: 'shared/submenu', collection: menu_item.children, as: :submenu_item %>
    </ul>
  <% else %>
    <%= link_to icon('fas', 'file-lines', menu_item), menu_item.url, class: "sidebar-link #{'collapsed' unless active}" %>
  <% end %>
</li>
