<div class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <% if show_menu? %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>

      <%= link_to root_url, class: 'navbar-brand', title: t('app_name') do %>
        <!--[if lt IE 9]>
          <img src="<%= image_path 'logo_header.png'  %>" alt="<%= t 'app_name' %>" height="17">
        <![endif]-->
        <!--[if gt IE 8]><!-->
          <embed src="<%= image_path 'logo_header.svg' %>" type="image/svg+xml" height="17">
        <!--<![endif]-->
      <% end %>
    </div>

    <div class="collapse navbar-collapse" role="navigation">
      <% if show_menu? %>
        <ul class="nav navbar-nav">
          <%= render(
            partial: 'shared/menu_item',
            collection: @auth_user.get_menu,
            as: :menu_item
          ) %>
        </ul>
        <%= render partial: 'shared/user_actions', locals: { user: @auth_user } %>
      <% elsif show_logout? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to t('navigation.logout'), logout_path, data: { method: :delete } %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
