<% time_left = parameter_in(current_organization.try(:id), :session_expire_time).to_i %>
<% if current_organization && time_left > 0 %>
  <p class="navbar-text hidden" data-time-left>
    <span data-toggle="popover" data-trigger="hover" data-placement="bottom" title="<%= t 'navigation.warning' %>" data-content="">
      <span class="text-warning pulsate" data-text-style>
        <span class="glyphicon glyphicon-exclamation-sign"></span>
      </span>
    </span>
  </p>

  <script type="text/javascript">
    setTimeout(function () {
      State.showMessages = [{
        time: <%= time_left - 2 %> * 60 - 10,
        message: '<%= t('message.session_expires_in_less_than_two_minutes') %>',
        expired: false
      }, {
        time: <%= time_left %> * 60 - 10,
        message: '<%= t('message.session_time_expired') %>',
        expired: true
      }]
    }, 10000)
  </script>
<% end %>
