<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/help" target="_blank" title="<%= t 'menu.help_title' %>">
      <%= icon 'fas', 'question-circle' %>
    </a>
  </li>

  <li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
      <%= icon 'fas', 'user' %>
    </a>

    <div class="dropdown-menu dropdown-menu-right">
      <% if current_organization && (current_organization.ldap_config.blank? && current_organization.saml_provider.blank?) %>
        <%= link_to t('users.profiles.edit.title'), edit_users_profile_path(user), class: 'dropdown-item' %>
      <% else %>
        <%= link_to t('users.status.show.title'), users_status_path(user, graph: true), class: 'dropdown-item' %>
      <% end %>
      <div class="dropdown-divider"></div>
      <%= link_to t('navigation.logout'), logout_path, class: 'dropdown-item', data: { method: :delete } %>
    </div>
  </li>
</ul>

<%= render 'shared/time_left' %>
<%= render 'shared/messages' %>
