<div id="unexpected_error">
  <div id="error_header" class="rounded_top_left rounded_top_right">
    <%= image_tag 'error.png', :alt => 'Error', :size => '48x48' %>

    <h1>
      <%= t(:'error.header_message') %>
    </h1>
  </div>

  <div id="error_body" class="rounded_bottom_left rounded_bottom_right">
    <p>
      <span class="column_left">
        <%= image_tag 'download.gif', :alt => t(:'label.download'),
          :size => '23x24' %>
      </span>
      <span class="column_right">
        <%= t(:'error.download_the_following_file') %><br />
        <% if @auth_user %>
          <%= link_to "#{t(:'error.error_file')}.log",
            "/error_files/#{@auth_user.user}/#{t(:'error.error_file')}.log" %>
        <% end %>
      </span>
    </p>

    <p>
      <span class="column_right">
        <%= t(:'error.send_it_to_the_administrator') %><br />
        <%= link_to SUPPORT_URL, SUPPORT_URL %>
      </span>
    </p>

    <p>
      <span class="column_left">
        <%= image_tag 'mail.gif', :alt => 'Mail', :size => '17x11' %>
      </span>
      <span class="column_right">
        <%= t(:'error.or_send_it_to_the_following_email') %><br />
        <%= link_to SUPPORT_EMAIL, "mailto:#{SUPPORT_EMAIL}" %>
      </span>
    </p>

    <p>
      <span class="column_right">
        <%= t(:'error.thank_you_and_apologies_for_the_inconvenience') %>
      </span>
    </p>
    
    <div class="clear"></div>
  </div>
</div>

<% unless Rails.env.production? %>
  <%= link_to_function t(:'error.show_details'),
    "Effect.SlideDown('error_details'); this.hide();", :id => 'show_link' %>
  <div style="display: none; margin: 2em 0em;" id="error_details">
    <div>
      <%= link_to_function t(:'error.hide_details'),
        "Effect.SlideUp('error_details'); $('show_link').appear();" %>
      <!-- Final -->
      <h2 style="margin: 1em 0em;"><%=h error.message %></h2>
      <h3 style="margin-bottom: 1em;">Backtrace:</h3>
      <pre><%=h error.backtrace.join("\n") %></pre>

      <% unless params.empty? %>
        <h3 style="margin: 1em 0em;">Parameters:</h3>
        <pre><%=h params.inspect %></pre>
      <% end %>
      
      <h3 style="margin: 1em 0em;">Environment:</h3>
      <div style="margin-top: 1em;">
        <% filtered_env = request.filtered_env %>
        <% filtered_env.keys.sort.each do |key| %>
          <div style="margin: .5em 0em;">
            <em><%= key %></em>: <%= filtered_env[key].inspect %>
          </div>
        <% end -%>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end %>