<div class="page-header">
  <h2><%= @user.informal_name %></h2>
</div>

<div class="row">
  <div class="col-lg-4">
    <h5>
      <%= markdown_without_paragraph t('.high_risk_weaknesses', count: @weaknesses.with_highest_risk.count) %>
    </h5>
    <table class="table table-condensed table-striped table-hover">
      <% labels, values = *Weakness.weaknesses_for_graph(@weaknesses.with_highest_risk).values %>
      <% labels.zip(values).each do |label, value| %>
        <tr>
          <td><%= label %></td>
          <td>
            <% if @weaknesses.with_highest_risk.count > 0 %>
              <%= "#{value} (#{(value.to_f / @weaknesses.with_highest_risk.count * 100).round(2)}%)" %>
            <% else %>
              0
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-lg-4">
    <h5>
      <%== user_weaknesses_links %>
    </h5>
    <table class="table table-condensed table-striped table-hover">
      <% labels, values = *Weakness.weaknesses_for_graph(@weaknesses).values %>
      <% labels.zip(values).each do |label, value| %>
        <tr>
          <td><%= label %></td>
          <td>
            <% if @weaknesses.count > 0 %>
              <%= "#{value} (#{(value.to_f / @weaknesses.count * 100).round(2)}%)" %>
            <% else %>
              0
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-lg-4">
    <h5>
      <%= markdown_without_paragraph t('.pending_weaknesses', count: @weaknesses.with_pending_status.count) %>
    </h5>
    <table class="table table-condensed table-striped table-hover">
      <% labels, values = *Weakness.pending_weaknesses_for_graph(@weaknesses).values %>
      <% labels.zip(values).each do |label, value| %>
        <tr>
          <td><%= label %></td>
          <td>
            <% if @weaknesses.with_pending_status.count > 0 %>
              <%= "#{value} (#{(value.to_f / @weaknesses.with_pending_status.count * 100).round(2)}%)" %>
            <% else %>
              0
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr />

<%= link_to_show user_path(@user) %> |
<%= link_to_index users_path %> |
<%= link_to t('.graph'), users_status_path(graph: true) %>
