<%= simple_form_for @business_unit_type do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-<%= SHOW_REVIEW_AUTOMATIC_IDENTIFICATION ? 6 : 12 %>">
        <%= f.input :name, input_html: { maxlength: 255, autofocus: true } %>
      </div>
      <% if SHOW_REVIEW_AUTOMATIC_IDENTIFICATION %>
        <div class="col-md-6">
          <%= f.input :review_prefix, input_html: { maxlength: 255 } %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :business_unit_label, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :project_label, input_html: { maxlength: 255 } %>
      </div>
    </div>

    <% if SHOW_CONCLUSION_ALTERNATIVE_PDF %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :recipients, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-6">
          <%= f.input :sectors, input_html: { rows: 4 } %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :external, label: false, inline_label: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :require_tag, label: false, inline_label: true %>
      </div>
    </div>

    <hr />
    <h5><strong><%= BusinessUnit.model_name.human %></strong></h5>

    <div id="business_units">
      <%= f.simple_fields_for :business_units do |bu_f| %>
        <%= render 'business_unit', f: bu_f %>
      <% end %>

      <%= link_to_add_fields t('business_unit_type.add_business_unit'), f, :business_units %>
    </div>
  </div>

  <hr />

  <div class="form-inputs">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
    <%= f.input :lock_version, as: :hidden %>
  </div>
<% end %>
