<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= BusinessUnitType.human_attribute_name :name %></th>
      <th class="visible-lg"><%= BusinessUnitType.human_attribute_name :business_unit_label %></th>
      <th class="visible-lg"><%= BusinessUnitType.human_attribute_name :project_label %></th>
      <th><%= BusinessUnitType.human_attribute_name :external %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_unit_types.each do |business_unit_type| %>
      <tr>
        <td><%= business_unit_type.name %></td>
        <td class="visible-lg"><%= business_unit_type.business_unit_label %></td>
        <td class="visible-lg"><%= business_unit_type.project_label %></td>
        <td><%= t business_unit_type.external ? 'label.yes' : 'label.no' %></td>
        <td><%= link_to_show business_unit_type %></td>
        <td><%= link_to_edit edit_business_unit_type_path(business_unit_type) %></td>
        <td><%= link_to_destroy business_unit_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <div class="pull-right">
    <%= pagination_links @business_unit_types %>
  </div>
  <%= link_to t('label.new'), new_business_unit_type_path, class: 'btn btn-primary' %>
</div>
