<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th><%= BusinessUnitType.human_attribute_name :name %></th>
      <th class="d-none d-sm-table-cell"><%= BusinessUnitType.human_attribute_name :business_unit_label %></th>
      <th class="d-none d-sm-table-cell"><%= BusinessUnitType.human_attribute_name :project_label %></th>
      <% if SHOW_REVIEW_AUTOMATIC_IDENTIFICATION %>
        <th class="d-none d-sm-table-cell"><%= BusinessUnitType.human_attribute_name :review_prefix %></th>
      <% end %>
      <th><%= BusinessUnitType.human_attribute_name :external %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_unit_types.each do |business_unit_type| %>
      <tr>
        <td><%= business_unit_type.name %></td>
        <td class="d-none d-sm-table-cell"><%= business_unit_type.business_unit_label %></td>
        <td class="d-none d-sm-table-cell"><%= business_unit_type.project_label %></td>
        <% if SHOW_REVIEW_AUTOMATIC_IDENTIFICATION %>
          <td class="d-none d-sm-table-cell"><%= business_unit_type.review_prefix %></td>
        <% end %>
        <td><%= t business_unit_type.external ? 'label.yes' : 'label.no' %></td>
        <td class="text-end"><%= link_to_show business_unit_type %></td>
        <td class="text-end"><%= link_to_edit edit_business_unit_type_path(business_unit_type) %></td>
        <td class="text-end"><%= link_to_destroy business_unit_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @business_unit_types %>
  <%= link_to t('label.new'), new_business_unit_type_path, class: 'btn btn-primary' %>
</div>
