<% id = dynamic_object_id('help_item', f) -%>
<% hide = is_dynamic || f.object.marked_for_destruction? -%>
<div class="help_item item" <%= 'style="display: none;"' if hide %> id="<%= id %>">
  <div>
    <div class="item_field" style="width: 5%;">
    <%= f.text_field :order_number, :class => :sort_number,
      :readonly => true %>
    </div>
    <div class="item_field" style="width: 30%;">
    <%= f.text_field :name, :maxlength => 255, :size => 10 %>
    </div>
    <div class="item_field" style="width: 50%;">
    <%= f.text_area :description %>
    </div>
    <div class="item_field item_controls" style="width: 10%;">
      <% unless f.object.new_record? -%>
        <%= link_to_edit(edit_help_item_path(f.object)) %> |
      <% end -%>
      <%= insert_record_link(f) %> |
      <%= remove_item_link(f) -%> |
      <%= link_to_move %>
      <%= hidden_lock_version(f) %>
    </div>
  </div>
</div>
<script type="text/javascript">FormUtil.completeSortNumbers();</script>
<% if is_dynamic -%>
  <script type="text/javascript">
    Helper.makeSortable('help_items', '#help_items div.help_item',
      '#help_items a.move');
    Helper.showItem('<%= id %>');
  </script>
<% end -%>