<% help_root = HelpContent.find_by_language (@auth_organization.kind.eql? 'public') ? :public_es : :es %>
<% can_edit = @auth_user.admin? %>
<table id="help_table">
  <tbody>
    <tr>
      <td style="width: 30%; border-right: 4px solid #47ae00;">
        <% if can_edit %>
          <p style="margin: 0em 1em; float: right;">
            <%= link_to t('label.edit'), edit_help_content_path(help_root) %>
          </p>
        <% end %>
        <div class="help_toc"><%= help_content_tree_for(help_root) %></div>
      </td>
      <td style="padding-left: 2em; padding-right: 1em;">
        <% if can_edit %>
          <p style="margin: 0em 1em; float: right;">
            <%= link_to t('label.edit'), edit_help_item_path(@help_item) if @help_item %>
          </p>
        <% end %>
        <h1 style="margin-top: 0em;"><%= @help_item.try(:complete_path) %></h1>
        <div class="help_content">
          <%= textilize @help_item.try(:description) %>
        </div>
        <% if can_edit %>
          <div style="margin-top: 2em;" class="red">
            <% distance_in_words = extended_distance_of_time_in_words(@help_item.updated_at, Time.now) %>
            <%= textilize  t('help_content.last_modification', :last_modification => distance_in_words) %>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
