<div class="row text-center">
  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/administration.svg', alt: 'Administración', height: 60 %>
    </div>

    <h3 class="my-2">Administración</h3>

    <p class="text-muted">
      Gestión de organizaciones, usuarios, privilegios y buenas prácticas
    </p>
  </div>

  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/planification.svg', alt: 'Planificación', height: 60 %>
    </div>

    <h3 class="my-2">Planificación</h3>

    <p class="text-muted">Definición de periodos, recursos, planes y costos</p>
  </div>

  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/execution.svg', alt: 'Ejecución', height: 60 %>
    </div>

    <h3 class="my-2">Ejecución</h3>

    <p class="text-muted">Soporte a la documentación de hallazgos</p>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/conclusion.svg', alt: 'Conclusión', height: 60 %>
    </div>

    <h3 class="my-2">Conclusión</h3>

    <p class="text-muted">Valoración de los procesos</p>
  </div>

  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/follow_up.svg', alt: 'Seguimiento', height: 60 %>
    </div>

    <h3 class="my-2">Seguimiento</h3>

    <p class="text-muted">Asistencia en la implementación de soluciones y mejoras</p>
  </div>

  <div class="col-md-4">
    <div>
      <%= image_tag 'welcome/help.svg', alt: 'Ayuda', height: 60 %>
    </div>

    <h3 class="my-2">Ayuda</h3>

    <p class="text-muted">
      Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
      lugar para despejarla
    </p>
  </div>
</div>
