<div class="card mb-3">
  <div class="card-header">
    <h5 class="mb-0">
      <%= link_to news, news, class: 'text-reset' %>
    </h5>
  </div>

  <div class="card-body">
    <% if news.images.attached? %>
      <div id="images-<%= news.id %>" class="carousel slide mb-3" data-ride="carousel" data-interval="false">
        <% if news.images.count > 1 %>
          <ol class="carousel-indicators">
            <li data-target="#images-<%= news.id %>" data-slide-to="0" class="active"></li>
            <% news.images.size.pred.times do |i| %>
              <li data-target="#images-<%= news.id %>" data-slide-to="<%= i.next %>"></li>
            <% end %>
          </ol>
        <% end %>

        <div class="carousel-inner">
          <% news.images.each_with_index do |image, i| %>
            <div class="carousel-item <%= 'active' if i == 0 %>">
              <%= image_tag medium_image(image), class: 'img-fluid' %>
            </div>
          <% end %>
        </div>

        <% if news.images.count > 1 %>
          <a class="carousel-control-prev" href="#images-<%= news.id %>" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>

          <a class="carousel-control-next" href="#images-<%= news.id %>" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        <% end %>
      </div>
    <% end %>

    <p>
      <em><%= news.description %></em>
    </p>

    <% if news.taggings.any? %>
      <ul class="list-inline">
        <% news.taggings.each do |tagging| %>
          <li>
            <span class="badge badge-<%= tagging.tag.style %>"><%= tagging.tag %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="card-footer">
    <%= icon 'fas', 'calendar-alt' %>
    <%= l news.published_at.to_date, format: :short %>
  </div>
</div>
