<%= render 'header' %>

<div class="row help justify-content-center text-center">
  <div class="col-md-3">
    <div>
      <%= image_tag 'welcome/follow_up.svg', alt: 'Hallazgos pendientes', height: 60 %>
    </div>

    <h3 class="my-2">Hallazgos pendientes</h3>

    <p class="text-muted">
      Aquí podrá consultar sus hallazgos pendientes de solución. Para
      contestar algún hallazgo, deberá seleccionar Editar (Lápiz)
    </p>
  </div>

  <div class="col-md-3">
    <div>
      <%= image_tag 'welcome/conclusion.svg', alt: 'Hallazgos solucionados', height: 60 %>
    </div>

    <h3 class="my-2">Hallazgos solucionados</h3>

    <p class="text-muted">Podrá consultar sus hallazgos solucionados o reiterados</p>
  </div>

  <div class="col-md-3">
    <div>
      <%= image_tag 'welcome/help.svg', alt: 'Ayuda', height: 60 %>
    </div>

    <h3 class="my-2">Ayuda</h3>

    <p class="text-muted">
      Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
      lugar para despejarla
    </p>
  </div>
</div>

<%= render 'footer' %>

