<%= render 'header' %>

<div class="row help text-center">
  <div class="col-md-3 col-md-offset-1">
    <div>
      <!--[if lt IE 9]>
        <img src="<%= image_path 'welcome/follow_up.png'  %>" alt="Seguimiento" height="60">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <embed src="<%= image_path 'welcome/follow_up.svg' %>" type="image/svg+xml" height="60">
      <!--<![endif]-->
    </div>

    <h3>Hallazgos pendientes</h3>

    <p>
      Aquí podrá consultar sus hallazgos pendientes de solución. Para
      contestar algún hallazgo, deberá seleccionar Editar (Lápiz)
    </p>
  </div>

  <div class="col-md-3">
    <div>
      <!--[if lt IE 9]>
        <img src="<%= image_path 'welcome/conclusion.png'  %>" alt="Conclusión" height="60">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <embed src="<%= image_path 'welcome/conclusion.svg' %>" type="image/svg+xml" height="60">
      <!--<![endif]-->
    </div>

    <h3>Hallazgos solucionados</h3>

    <p>Podrá consultar sus hallazgos solucionados o reiterados</p>
  </div>

  <div class="col-md-3">
    <div>
      <!--[if lt IE 9]>
        <img src="<%= image_path 'welcome/help.png'  %>" alt="Ayuda" height="60">
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <embed src="<%= image_path 'welcome/help.svg' %>" type="image/svg+xml" height="60">
      <!--<![endif]-->
    </div>

    <h3>Ayuda</h3>

    <p>
      Si tiene alguna duda sobre alguna funcionalidad o proceso, este es el mejor
      lugar para despejarla
    </p>
  </div>
</div>

<%= render 'footer' %>
