<%= javascript_include_tag 'welcome' %>

<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">
          <%= Finding.model_name.human count: 0 %>
        </h5>
      </div>
      <div class="card-body">
        <%= welcome_findings_graph %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">
          <%= t 'welcome.latest_comments' %>
        </h5>
      </div>
      <div class="card-body">
        <% @auth_user.finding_answers.latest.each do |fa| %>
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <small class="float-end"><%= l fa.created_at.to_date %></small>
              <strong class="text-info"><%= fa.user %> comentó en <%= fa %></strong><br>
              <%= fa.answer %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <% if @news.size > 1 && can?(:read, :administration_news) %>
      <div class="row help">
        <div class="col-md-12">
          <% @news.each_slice(3) do |news| %>
            <div class="row">
              <% news.each do |_news| %>
                <div class="col-md-4">
                  <%= render 'news', news: _news %>
                </div>
              <% end %>
            </div>
          <% end %>

          <p>
            <%= link_to 'Ver todas las noticias', news_index_path %>
          </p>
        </div>
      </div>
    <% elsif @news.size == 1 && can?(:read, :administration_news) %>
      <div class="row help">
        <div class="col-md-4">
          <%= render 'news', news: @news.take %>
        </div>
        <div class="col-md-8">
          <%= render 'auditor_default' %>
        </div>
      </div>
    <% else %>
      <div class="row help">
        <div class="col-md-12">
          <%= render 'auditor_default' %>
        </div>
      </div>
    <% end %>

    <%= render 'footer' %>
  </div>
</div>
