<div class="static_content">
  <div style="text-align: center; margin-bottom: 2em;">
    <%= image_tag 'logo.gif', :size => '250x65', :alt => 'Mawida Buenas Prácticas' %>
  </div>
  <p>
    <strong>Mawida</strong> es un sistema que cuenta con funcionalidades para la
    administración y control de buenas prácticas posibilitando a las
    organizaciones acceder a la mejora de sus procesos de una manera sencilla y
    ordenada.
  </p>
  <p>
    El sistema cuenta con funcionalidades para la gestión de auditorías,
    facilitando las tareas de los auditores, de los responsables de áreas de la
    organización y del comité de auditoría.
  </p>
  <p>
    Usted como usuario, según su perfil, tendrá acceso a los siguientes módulos:
  </p>
  <ul class="raw_list">
    <li>
      <%= link_to 'Administración', :controller => :help_contents,
        :action => :show_content, :id => 5 %>
    </li>
    <li>
      <%= link_to 'Planificación', :controller => :help_contents,
        :action => :show_content, :id => 6 %>
    </li>
    <li>
      <%= link_to 'Ejecución', :controller => :help_contents,
        :action => :show_content, :id => 17 %>
    </li>
    <li>
      <%= link_to 'Conclusión', :controller => :help_contents,
        :action => :show_content, :id => 18 %>
    </li>
    <li>
      <%= link_to 'Seguimiento', :controller => :help_contents,
        :action => :show_content, :id => 19 %>
    </li>
  </ul>
  <p>
    También, en el módulo de <%= link_to 'Ayuda', :controller => :help_contents,
      :action => :show_content, :id => 1 %>, Ud. podrá consultar sus
    inquietudes respecto a las opciones a las cuales usted tiene acceso.
  </p>

  <div style="margin-top: 2em; padding-top: 1em; border-top: 1px dotted #525252;">
    <p>
      Cualquier inquietud comunicarse al área de soporte:
    </p>
    <ul class="raw_list">
      <li><b>Correo</b>: <a href="mailto:soporte@mawidaweb.com.ar">soporte@mawidaweb.com.ar</a></li>
      <li><b>Teléfono</b>: (0261) 449-8885</li>
    </ul>
  </div>
</div>