<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Finding.model_name.human count: 0 %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('execution_reports.weaknesses_by_state_title'),
            { action: :weaknesses_by_state_execution }, class: 'list-group-item' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('execution_reports.weaknesses_report.title'),
            { action: :weaknesses_report, execution: true }, class: 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= Review.model_name.human count: 0 %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <%= link_to t('execution_reports.detailed_management_report_title'),
            { action: :detailed_management_report }, class: 'list-group-item' %>
        </div>
      </div>
    </div>
  </div>
</div>
