<ul class="nav nav-tabs">
  <li <%== 'class="active"' if params[:revised].blank?  %>>
    <%= link_to t('execution_reports.reviews_with_incomplete_work_papers_report_incomplete_title'),
      { action: :reviews_with_incomplete_work_papers_report } %>
  </li>
  <li <%== 'class="active"' if params[:revised].present?  %>>
    <%= link_to t('execution_reports.reviews_with_incomplete_work_papers_report_revised_title'),
      { action: :reviews_with_incomplete_work_papers_report, revised: true } %>
  </li>
</ul>

<br>

<% if @reviews.present? %>
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= link_to review, review %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">
    <%= t ".empty_#{params[:revised].present? ? 'revised' : 'incomplete'}" %>
  </div>
<% end %>

<hr>

<div>
  <%= link_to t('label.back'), action: :index %>
</div>
