<%= render :partial => 'shared/filter_form',
  :locals => {:action => :weaknesses_by_state_execution, :extra_params => {},
  :forms => {:date_range => {:avoid_inline_help => true}}} %>

<%  @counts.each do |count_data| %>
  <div class="page-header">
    <h2><%= Period.model_name.human %>: <%= count_data[:period].inspect %></h2>
  </div>
  <% @audit_types.each do |type| %>
    <h3 class="text-center">
      <%= t "execution_reports.findings_type_#{type}" %>
    </h3>
    <br />
    <% if count_data[:counts][type] %>
      <% count_data[:counts][type].each do |review, counts| %>
        <% weaknesses_count = counts[:weaknesses] %>
        <% oportunities_count = counts[:oportunities] %>
        <% total_weaknesses = weaknesses_count.values.sum %>
        <% total_oportunities = oportunities_count.values.sum %>
        <% if @sqm %>
          <% nonconformities_count = counts[:nonconformities] %>
          <% potential_nonconformities_count = counts[:potential_nonconformities] %>
          <% total_nonconformities = nonconformities_count.values.sum %>
          <% total_potential_nonconformities = potential_nonconformities_count.values.sum %>
        <% end %>
        <h4><%= "#{Review.model_name.human}: #{review}" %></h4>
        <% totals = total_weaknesses + total_oportunities %>
        <% totals+= (total_nonconformities + total_potential_nonconformities) if @sqm %>
        <% unless totals == 0 %>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th><%= Finding.human_attribute_name 'state' %></th>
                <% if type == :internal && !@sqm %>
                  <th><%= t 'execution_reports.weaknesses_by_state.weaknesses_column' %></th>
                  <th><%= t 'execution_reports.weaknesses_by_state.oportunities_column' %></th>
                <% elsif type == :internal && @sqm %>
                  <th><%= t 'execution_reports.weaknesses_by_state.weaknesses_column' %></th>
                  <th><%= t 'execution_reports.weaknesses_by_state.oportunities_column' %></th>
                  <th><%= t 'execution_reports.weaknesses_by_state.nonconformities_column' %></th>
                  <th><%= t 'execution_reports.weaknesses_by_state.potential_nonconformities_column' %></th>
                <% else %>
                  <th><%= t 'execution_reports.weaknesses_by_state.weaknesses_column' %></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @status.each do |state| %>
                <% w_count = weaknesses_count[state.last] || 0 %>
                <% o_count = oportunities_count[state.last] || 0 %>
                <% weaknesses_percentage = total_weaknesses > 0 ? w_count.to_f / total_weaknesses * 100 : 0.0 %>
                <% oportunities_percentage = total_oportunities > 0 ? o_count.to_f / total_oportunities * 100 : 0.0 %>
                <% if @sqm %>
                  <% nc_count = nonconformities_count[state.last] || 0 %>
                  <% pnc_count = potential_nonconformities_count[state.last] || 0 %>
                  <% nonconformities_percentage = total_nonconformities > 0 ? nc_count.to_f / total_nonconformities * 100 : 0.0 %>
                  <% potential_nonconformities_percentage = total_potential_nonconformities > 0 ? pnc_count.to_f / total_potential_nonconformities * 100 : 0.0 %>
                <% end %>
                <tr>
                  <td><strong><%= t "finding.status_#{state.first}" %></strong></td>
                  <td><%= "#{w_count} (#{'%.2f' % weaknesses_percentage.round(2)}%)" %></td>
                  <% if type == :internal && !@sqm %>
                    <td><%= "#{o_count} (#{'%.2f' % oportunities_percentage.round(2)}%)" %></td>
                  <% elsif type == :internal && @sqm %>
                    <td><%= "#{o_count} (#{'%.2f' % oportunities_percentage.round(2)}%)" %></td>
                    <td><%= "#{nc_count} (#{'%.2f' % nonconformities_percentage.round(2)}%)" %></td>
                    <td><%= "#{pnc_count} (#{'%.2f' % potential_nonconformities_percentage.round(2)}%)" %></td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td>
                  <strong><%= t 'execution_reports.weaknesses_by_state.total' %></strong>
                </td>
                <td><strong><%= total_weaknesses %></strong></td>
                <% if type == :internal && !@sqm %>
                  <td><strong><%= total_oportunities %></strong></td>
                <% elsif type == :internal && @sqm %>
                  <td><strong><%= total_oportunities %></strong></td>
                  <td><strong><%= total_nonconformities %></strong></td>
                  <td><strong><%= total_potential_nonconformities %></strong></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% else %>
          <p style="margin: 1em;">
            <em><%= t 'execution_reports.without_findings' %></em>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t 'execution_reports.without_weaknesses' %></em>
      </p>
    <% end %>
  <% end %>
<% end %>
<% if @counts.empty? %>
  <p style="margin: 1em;">
    <em><%= t 'execution_reports.without_weaknesses_in_the_interval' %></em>
  </p>
<% end %>

<hr />

<div class="form-footer">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form'); return false;" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_weaknesses_by_state_execution, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => t('execution_reports.weaknesses_by_state.title')
        }
      ]
    }
  } %>
  </div>
</div>
