<%= render :partial => 'shared/filter_form',
  :locals => {:action => :weaknesses_by_audit_type, :extra_params => {
    :controller_name => 'conclusion', :final => true
  }, :forms => {:date_range => true}} %>

<% @periods.each do |period| %>
  <div class="page-header">
    <h3><strong><%= "#{Period.model_name.human}: #{period.inspect}" %></strong></h3>
  </div>
  <% @audit_types.each do |type| %>
    <h2 class="text-center">
      <%= t("conclusion_committee_report.findings_type_#{type}") %>
    </h2>
    <% unless @data[period][type].blank? %>
      <% @data[period][type].each do |data_item| %>
        <h3><%= data_item[:title] %></h3>
        <% data_item[:business_units].each do |bu, bu_data| %>
          <p>
            <strong><%= bu.business_unit_type.business_unit_label %></strong>:
            <%= bu.name %>
          </p>
          <p style="margin-top: 1em;">
            <strong><%= t('actioncontroller.reviews') %></strong>
          </p>
          <%= array_to_ul(
            audit_by_type_reviews_array(bu_data[:conclusion_reviews]),
            class: 'list-unstyled') %>

          <div style="margin-bottom: 1em;">
            <h3><%= t('conclusion_committee_report.weaknesses_by_audit_type.weaknesses') %></h3>
            <%= render :partial => 'weaknesses_synthesis_table', :locals => {
              :table_data => bu_data[:weaknesses_table_data]} %>

            <% if type == :internal %>
              <h3><%= t('conclusion_committee_report.weaknesses_by_audit_type.oportunities') %></h3>
              <% unless bu_data[:oportunities_table_data].blank? %>
                <table class="table table-condensed table-striped">
                  <thead>
                    <tr>
                      <th><%= Oportunity.human_attribute_name(:state) %></th>
                      <th><%= Oportunity.human_attribute_name(:count) %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% bu_data[:oportunities_table_data].each do |data| %>
                      <tr>
                        <td><strong><%= raw data.first %></strong></td>
                        <td><%= raw data.last %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p style="margin: 1em;">
                  <em><%= t('follow_up_committee.without_oportunities') %></em>
                </p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t('follow_up_committee.without_weaknesses') %></em>
      </p>
    <% end %>
  <% end %>
<% end %>

<hr />

<div class="form-footer">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form'); return false;" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_weaknesses_by_audit_type, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => t('conclusion_committee_report.weaknesses_by_audit_type.title')
        }
      ]
    }
  } %>
  </div>
</div>
