<%= render partial: 'shared/search', locals: {
  options: {},
  columns: search_columns_for_model(News)
} %>

<% if @news.empty? %>
  <%= render 'shared/empty_index', message: search_params[:query].blank? ? t('.empty_html') : t('.empty_search_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <thead id="column_headers">
      <tr>
        <%= make_filterable_column News.human_attribute_name('title'), nil, 'name' %>
        <%= make_not_available_column News.human_attribute_name('published_at') %>
        <%= make_not_available_column News.human_attribute_name('shared'), class: 'd-none d-md-table-cell' %>
        <%= make_filterable_column Tag.model_name.human(count: 0), { class: 'd-none d-sm-table-cell' }, 'tags' %>
        <th colspan="3" class="text-end"><%= link_to_search %></th>
      </tr>
    </thead>

    <tbody>
      <% @news.each do |news| %>
        <tr <%== 'class="text-muted"' if news.published_at.to_date.future? %>>
          <td><%= super_truncate news.title, 25 %></td>
          <td><%= l news.published_at.to_date %></td>
          <td class="d-none d-md-table-cell"><%= t news.shared ? 'label.yes' : 'label.no' %></td>
          <td class="d-none d-sm-table-cell"><%= tags news.tags %></td>
          <td class="text-end"><%= link_to_show news %></td>
          <td class="text-end"><%= link_to_edit [:edit, news] %></td>
          <td class="text-end"><%= link_to_destroy news %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_news_path, class: 'btn btn-primary' %>
