<h1><%= @news %></h1>

<p class="lead">
  <em><%= @news.description %></em>
</p>

<%= textilize @news.body %>

<% if @news.taggings.any? %>
  <ul class="list-inline">
    <% @news.taggings.each do |tagging| %>
      <li>
        <span class="label label-<%= tagging.tag.style %>"><%= tagging.tag %></span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @news.image_models.any? %>
  <ul class="list-inline">
    <% @news.image_models.each_slice(3) do |image_models| %>
      <div class="row">
        <% image_models.each do |image_model| %>
          <div class="col-md-4">
            <%= image_tag image_model.image.url(:thumb), class: 'img-thumbnail img-responsive' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
<% end %>

<footer>
  <p>
    <strong><%= News.human_attribute_name 'published_at' %></strong>:
    <%= l @news.published_at.to_date %>
  </p>
</footer>

<%= link_to_edit [:edit, @news] %> |
<%= link_to_index news_index_path %>
