<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= Setting.human_attribute_name :name %></th>
      <th class="visible-lg"><%= Setting.human_attribute_name :description %></th>
      <th><%= Setting.human_attribute_name :value %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings.each do |setting| %>
      <tr>
        <td><%= super_truncate setting.to_s, 40 %></td>
        <td class="visible-lg"><%= super_truncate setting.description, 40 %></td>
        <td><%= setting.value %></td>
        <td><%= link_to_show setting %></td>
        <td><%= link_to_edit edit_setting_path(setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @settings %>
</div>
