<div class="page-header">
  <h2><%= t("settings.#{@setting.name}") %></h2>
</div>

<p>
  <strong><%= Setting.human_attribute_name 'description' %></strong>:
  <%= @setting.description %>
</p>
<p>
  <strong><%= Setting.human_attribute_name 'value' %></strong>:
  <%= @setting.value %>
</p>

<hr />

<%= link_to_edit edit_setting_path(@setting) %> |
<%= link_to_index settings_path %>
