<%= simple_form_for @resource_class do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :name, input_html: { maxlength: 255, autofocus: true },
          label: raw(ResourceClass.human_attribute_name(:name) +
          show_inline_help_for(:resource_class_name)) %>
        <%= resource_class_type_field(f) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3><%= Resource.human_attribute_name :name %></h3>
    </div>
    <div class="col-md-4">
      <h3><%= Resource.human_attribute_name :description %></h3>
    </div>
    <div class="col-md-3">
      <h3><%= Resource.human_attribute_name :cost_per_unit %></h3>
    </div>
  </div>

  <%= f.simple_fields_for :resources do |r_f| %>
    <%= render partial: 'resource', locals: { f: r_f } %>
  <% end %>

  <%= link_to_add_fields(t('resource_class.add_resource'), f, :resources) %>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
