<%= simple_form_for @resource_class do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { maxlength: 255, autofocus: true },
          label: raw(ResourceClass.human_attribute_name(:name) +
          show_inline_help_for(:resource_class_name)) %>
      </div>
      <div class="col-md-6">
        <%= resource_class_type_field f %>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <h5><strong><%= Resource.human_attribute_name 'name' %></strong></h5>
    </div>
    <div class="col-md-4">
      <h5><strong><%= Resource.human_attribute_name 'description' %></strong></h5>
    </div>
    <div class="col-md-3">
      <h5><strong><%= Resource.human_attribute_name 'cost_per_unit' %></strong></h5>
    </div>
  </div>

  <div id="resources">
    <%= f.simple_fields_for :resources do |r_f| %>
      <%= render 'resource', f: r_f %>
    <% end %>

    <%= link_to_add_fields t('resource_class.add_resource'), f, :resources %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
