<%= simple_form_for @resource_class do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { maxlength: 255, autofocus: true },
          label: ResourceClass.human_attribute_name(:name) %>
      </div>
      <div class="col-md-6">
        <%= f.input :resource_class_type,
          collection: sort_options_array(resource_class_types),
          prompt: true, disabled: !f.object.new_record? %>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <h5><strong><%= Resource.human_attribute_name 'name' %></strong></h5>
    </div>
    <div class="col-md-4">
      <h5><strong><%= Resource.human_attribute_name 'description' %></strong></h5>
    </div>
    <div class="col-md-3">
      <h5><strong><%= Resource.human_attribute_name 'cost_per_unit' %></strong></h5>
    </div>
  </div>

  <div id="resources">
    <%= f.simple_fields_for :resources, resources do |r_f| %>
      <%= render 'resource', f: r_f %>
    <% end %>

    <%= link_to_add_fields t('resource_classes.resources.new'), f, :resources %>
  </div>

  <hr />

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
