<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="resource item" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 30%;">
      <%= f.text_field :name, :maxlength => 255, :size => 10 %>
    </div>
    <div class="item_field" style="width: 50%;">
      <%= f.text_area :description %>
    </div>
    <div class="item_field" style="width: 10%;">
      <%= f.text_field :cost_per_unit %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
      <%= remove_item_link(f) %>
    </div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">Helper.showLastItem('.resource');</script>
<% end %>