<table>
  <thead>
    <tr>
      <th><%= ResourceClass.human_attribute_name :name %></th>
      <th class="expendable"><%= ResourceClass.human_attribute_name :unit %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_classes.each do |resource_class| -%>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= h resource_class.name %></td>
        <td class="expendable"><%= h name_for_option_value(parameter_in(@auth_organization.id,
          :admin_resource_units, resource_class.created_at), resource_class.unit) %></td>
        <td><%= link_to_show resource_class %></td>
        <td><%= link_to_edit edit_resource_class_path(resource_class) %></td>
        <td><%= button_to_destroy resource_class %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @resource_classes %>
  <%= link_to t(:'label.new'), new_resource_class_path %>
  <div style="clear: both;"></div>
</div>