<table class="list">
  <thead>
    <tr>
      <th><%= raw(ResourceClass.human_attribute_name(:name) +
        show_inline_help_for(:resource_class_name)) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_classes.each do |resource_class| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= h resource_class.name %></td>
        <td><%= link_to_show resource_class %></td>
        <td><%= link_to_edit edit_resource_class_path(resource_class) %></td>
        <td><%= button_to_destroy resource_class %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @resource_classes %>
  <%= link_to t('label.new'), new_resource_class_path %>
  <div class="clear"></div>
</div>
