<div class="page-header">
  <h2><%= @resource_class.name %></h2>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= Resource.human_attribute_name 'name' %></th>
      <th><%= Resource.human_attribute_name 'description' %></th>
      <th><%= Resource.human_attribute_name 'cost_per_unit' %></th>
    </tr>
  </thead>
  <tbody>
    <% @resource_class.resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= resource.cost_per_unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to_edit edit_resource_class_path(@resource_class) %> |
<%= link_to_index resource_classes_path %> |
<%= link_to_back %>
