<% id = f.object.object_id %>
<% process_control_id = process_control_id %>

<fieldset class="control_objective">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-5">
        <%= f.input :name, autofocus: true, input_html: { rows: 4 } %>
      </div>

      <div class="col-md-2">
        <%= f.input :relevance, collection: relevances, prompt: true %>
      </div>
      <div class="col-md-2">
        <%= f.input :risk, collection: risks, prompt: true %>
      </div>
      <div class="col-md-1">
        <label for="control_objective_continuous_<%= id %>">
          <%= ControlObjective.human_attribute_name 'continuous' %>
        </label>
        <div>
          <%= f.check_box :continuous, id: "control_objective_continuous_#{id}", disabled: f.object.continuous %>
        </div>
      </div>
      <div class="col-md-1">
        <label for="control_objective_obsolete_<%= id %>">
          <%= ControlObjective.human_attribute_name 'obsolete' %>
        </label>
        <div>
          <%= f.check_box :obsolete, id: "control_objective_obsolete_#{id}", data: { process_control_id: process_control_id } %>
        </div>
      </div>
      <div class="col-md-1">
        <div class="toggle-visibility">
          <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
          <%= link_to_insert_field(f) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>

    <div class="row">
      <%= f.simple_fields_for :control do |c_f| %>
        <div class="col-md-3">
          <%= c_f.input :control, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :design_tests, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-3">
          <%= c_f.input :compliance_tests, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :sustantive_tests, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :effects, input_html: { rows: 4 } %>
        </div>
        <%= c_f.input :order, as: :hidden %>
      <% end %>
    </div>
  </div>

  <hr>
</fieldset>

<script type="text/javascript">FormUtil.completeSortNumbers();</script>
