<% id = f.object.object_id %>
<% process_control_id = process_control_id %>

<fieldset class="control_objective">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-<%= HIDE_CONTROL_OBJECTIVE_RISK ? 7 : 5 %>">
        <%= f.input :name, input_html: { rows: 4 } %>
      </div>

      <div class="col-md-2">
        <%= f.input :relevance, collection: relevances, prompt: true %>
      </div>
      <% unless HIDE_CONTROL_OBJECTIVE_RISK %>
        <div class="col-md-2">
          <%= f.input :risk, collection: risks, prompt: true %>
        </div>
      <% end %>
      <div class="col-md-1">
        <label for="control_objective_obsolete_<%= id %>">
          <%= ControlObjective.human_attribute_name 'obsolete' %>
        </label>
        <div>
          <%= f.check_box :obsolete, id: "control_objective_obsolete_#{id}", data: { process_control_id: process_control_id } %>
        </div>
      </div>
      <div class="col-md-1">
        <label>
          <%= ControlObjective.human_attribute_name 'support' %>
        </label>
        <div>
          <div class="file-container pull-left">
            <%= link_to_upload f.object, :support %>

            <% if f.object.support_cache %>
              <%= f.input :support_cache, as: :hidden, id: "control_objective_support_#{id}" %>
            <% else %>
              <%= f.input :support, as: :file, label: false, hint: f.object.identifier, id: "control_objective_support_#{id}" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="toggle-visibility">
          <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
          <%= link_to_insert_field(f) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
    </div>

    <div class="row">
      <%= f.simple_fields_for :control do |c_f| %>
        <div class="col-md-<%= HIDE_CONTROL_EFFECTS ? 5 : 3 %>">
          <%= c_f.input :control, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :design_tests, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-3">
          <%= c_f.input :compliance_tests, input_html: { rows: 4 } %>
        </div>
        <div class="col-md-2">
          <%= c_f.input :sustantive_tests, input_html: { rows: 4 } %>
        </div>
        <% unless HIDE_CONTROL_EFFECTS %>
          <div class="col-md-2">
            <%= c_f.input :effects, input_html: { rows: 4 } %>
          </div>
        <% end %>
        <%= c_f.input :order, as: :hidden %>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= Tag.model_name.human count: 0 %>
      </h3>
    </div>
    <div class="panel-body">
      <%= f.simple_fields_for :taggings do |tf| %>
        <%= render 'control_objectives/tagging', f: tf, kind: 'control_objective' %>
      <% end %>

      <%= link_to_add_fields t('control_objectives.new.tagging'), f, :taggings, 'control_objectives/tagging' %>
    </div>
  </div>

  <hr>
</fieldset>

<script type="text/javascript">FormUtil.completeSortNumbers();</script>
