<tr class="<%= cycle(:even, :odd) %>">
  <td></td>
  <td><%= h pending_finding_line.control_objective_item.review.period.inspect %></td>
  <td><%= h pending_finding_line.control_objective_item.review.identification %></td>
  <td><%= h pending_finding_line.class.human_name %></td>
  <td><%= h truncate(pending_finding_line.description, :length => 25, :omission => '...') %></td>
  <td><%= h name_for_option_value(parameter_in(@auth_organization.id,
    :admin_finding_risk_levels, pending_finding_line.created_at), pending_finding_line.risk) %></td>
  <td><%= h l(pending_finding_line.follow_up_date, :format => :short) if pending_finding_line.follow_up_date %></td>
  <td><%= link_to_show pending_finding_line %></td>
  <td></td>
</tr>
<tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="7"></td><td></td></tr>