<div class="form_column_left">
  <p style="margin: 1em 1em 0em 1em;">
    <%= select_tag :organization_select, options_for_select(
      [[(params[:organization].to_i > 0 ? t(:'message.show_all') : Organization.human_name), '']] +
        @auth_user.organizations.map {|o| [o.name, o.id]},
      (params[:organization].to_i if params[:organization])) %>
  </p>
</div>
<div class="resume rounded_top_left rounded_top_right rounded_bottom_left rounded_bottom_right">
<% @effectiveness_resume.each do |organization_name, org_data| -%>
  <h3><%= organization_name %>: <%= weighted_average org_data %> %</h3>
  <% if org_data.kind_of?(Hash) && !org_data.empty? -%>
    <ul class="raw_list">
    <% org_data.each do |period, period_data| -%>
      <li><%= period %>: <%= weighted_average period_data %> %
      <% if period_data.kind_of?(Hash) && !period_data.empty? -%>
        <ul class="raw_list">
          <% period_data.each do |unit, unit_data| -%>
            <li><%= unit %>: <%= weighted_average unit_data %> %
            <% if unit_data.kind_of?(Hash) && !unit_data.empty? -%>
              <ul class="raw_list">
                <% unit_data.each do |review, review_data| -%>
                  <li><%= review %>: <%= weighted_average review_data %> %
                  <% if review_data.kind_of?(Hash) && !review_data.empty? -%>
                    <ul class="raw_list">
                      <% review_data.each do |process_control, process_data| -%>
                        <li><%= process_control %>: <%= weighted_average process_data %> %</li>
                      <% end -%>
                    </ul>
                  <% end -%>
                  </li>
                <% end -%>
              </ul>
            <% end -%>
            </li>
          <% end -%>
        </ul>
      <% end -%>
      </li>
    <% end -%>
    </ul>
  <% end -%>
<% end -%>
</div>

<div id="links">
  <%= link_to t(:'label.back'), :action => :index %>
</div>

<script type="text/javascript">
(function() {
  var url = '<%= url_for(:action => :control_effectiveness) %>';

  Event.observe('organization_select', 'change', function() {
    BrowserManipulation.changeLocation(url, $H({organization: $F(this)}));
  });
})();
</script>