<%= render :partial => 'shared/filter_form',
  :locals => {
    :action => :control_objective_stats, :extra_params => {},
    :forms => {
      :control_objective => 1, :date_range => 2, :business_unit => 3
    }
  }
%>

<% @periods.each do |period| %>
  <h1 class="simple_title with_border_bottom">
    <strong><%= "#{Period.model_name.human}: #{period.inspect}" %></strong>
  </h1>

  <% if @process_control_data[period].blank? %>
    <p style="margin: 1em;">
      <em><%= t 'follow_up_committee.control_objective_stats.without_audits_in_the_period' %></em>
    </p>
  <% else %>
    <table class="summary_table" style="margin: 0em 1em;">
      <thead>
        <tr>
          <% @columns.each do |col_name, col_title, col_width| %>
            <th style="width: <%= "#{col_width}%" %>;"><%= col_title %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @process_control_data[period].each do |data| %>
          <tr>
            <% @columns.each do |col_name, _| %>
              <% col_data = data[col_name] %>
              <td>
                <%= col_name == 'weaknesses_count' ?
                  show_control_objective_weaknesses_report_links(data) : col_data %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <p style="margin: 1em; font-size: 1.1em;">
    <%= raw t(
      'follow_up_committee.control_objective_stats.review_score_average',
      :score => @reviews_score_data[period]
    ) %>
  </p>
<% end %>

<div id="links">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form')" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_control_objective_stats, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => t('conclusion_committee_report.control_objective_stats.title')
        },
        {
          :name => :report_subtitle,
          :label => t('customize_report_form.subtitle'),
          :value => t('conclusion_committee_report.control_objective_stats.subtitle')
        }
      ]
    }
  } %>
  </div>
</div>
