<ul class="menu_list">
  <li><%= link_to t('follow_up_committee.synthesis_report_title'),
   :action => :synthesis_report %></li>
  <li><%= link_to t('follow_up_committee.weaknesses_by_risk_report_title'),
    :action => :weaknesses_by_risk_report, :controller_name => 'follow_up' %></li>
  <li><%= link_to t('follow_up_committee.fixed_weaknesses_report_title'),
    :action => :fixed_weaknesses_report, :controller_name => 'follow_up' %></li>
  <li><%= link_to t('follow_up_committee.control_objective_stats_title'),
    :action => :control_objective_stats, :controller_name => 'follow_up' %></li>
  <li><%= link_to t('follow_up_committee.process_control_stats_title'),
    :action => :process_control_stats, :controller_name => 'follow_up' %></li>
  <li><%= link_to t('follow_up_committee.rescheduled_being_implemented_weaknesses_report_title'),
    :action => :rescheduled_being_implemented_weaknesses_report, :controller_name => 'follow_up' %></li>
  <li><%= link_to t('follow_up_committee.qa_indicators_title'),
    :action => :qa_indicators %></li>
</ul>

<div class="clear"></div>
