<table>
  <thead>
    <tr>
      <th></th>
      <th><%= select_tag :period_select, options_for_select(
          [[(params[:period].to_i > 0 ? t(:'message.show_all') : Period.human_name), '']] +
              Period.list.map {|p| [p.inspect, p.id]},
            (params[:period].to_i if params[:period])), :class => :filter %></th>
      <th><%= select_tag :review_select, options_for_select(
          [[(params[:review].to_i > 0 ? t(:'message.show_all') : Review.human_name), '']] +
            Review.list.map {|r| [r.identification, r.id]},
          (params[:review].to_i if params[:review])), :class => :filter %></th>
      <th><%= Finding.human_attribute_name 'type' %></th>
      <th><%= Finding.human_attribute_name 'description' %></th>
      <th><%= select_tag :risk_select, options_for_select(
          [[(!params[:risk] || params[:risk].strip.empty? ? Finding.human_attribute_name('risk') :
                  t(:'message.show_all')), '']] + parameter_in(
            @auth_organization.id, :admin_finding_risk_levels),
          (params[:risk].to_i unless !params[:risk] || params[:risk].strip.empty?)),
          :class => :filter %></th>
      <th><%= select_tag :expired_select, options_for_select(
          [[(!params[:expired] || params[:expired].strip.empty? ?
                  Finding.human_attribute_name('follow_up_date') :
                  t(:'message.show_all')), '']] +
            [[t(:'follow_up_committee.expired'), 1], [t(:'follow_up_committee.not_expired'), 0]],
          (params[:expired].to_i unless !params[:expired] || params[:expired].strip.empty?)),
          :class => :filter %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="7"></td><td></td></tr>
    <%= render :partial => 'pending_finding_line', :collection => @pending_findings %>
  </tbody>
</table>

<div id="links">
<%= pagination_links @pending_findings %>
<%= link_to t(:'label.back'), :action => :index %>
<div style="clear: both;"></div>
</div>

<script type="text/javascript">
(function() {
  var url = '<%= url_for(:controller => :follow_up_committee, :action => :pending_findings) %>';

  Event.observe('period_select', 'change', function() {
    BrowserManipulation.changeLocation(url, $H({period: $F(this)}));
  });

  Event.observe('review_select', 'change', function() {
    BrowserManipulation.changeLocation(url, $H({review: $F(this)}));
  });

  Event.observe('risk_select', 'change', function() {
    BrowserManipulation.changeLocation(url, $H({risk: $F(this)}));
  });

  Event.observe('expired_select', 'change', function() {
    BrowserManipulation.changeLocation(url, $H({expired: $F(this)}));
  });
});
</script>