<%= render :partial => 'shared/filter_form',
  :locals => {:action => :synthesis_report, :extra_params => {},
  :forms => {:date_range => true, :business_unit => true}} %>

<% @periods.each do |period| %>
  <h1 class="simple_title with_border_bottom">
    <strong><%= "#{Period.model_name.human}: #{period.inspect}" %></strong>
  </h1>
  <% unless @selected_business_unit %>
    <div style="margin: 1em;">
      <p style="font-size: 1.6em;">
        <strong>
          <%= synthesis_report_organization_score_average(@audits_by_business_unit[period]) %>
        </strong>
      </p>
      <p style="font-size: .8em; margin-top: 1em;">
        <%= t('conclusion_committee_report.synthesis_report.organization_score_note',
          :audit_types => @audits_by_business_unit[period].map {|data| data[:name]}.to_sentence) %>
      </p>
    </div>
  <% end %>

  <% @audits_by_business_unit[period].each do |data| %>
    <% if !data[:external] && !@internal_title_showed %>
      <h1 class="center_title">
        <%= t 'conclusion_committee_report.synthesis_report.internal_audit_weaknesses' %>
      </h1>
      <% @internal_title_showed = true %>
    <% elsif data[:external] && !@external_title_showed %>
      <h1 class="center_title">
        <%= t 'conclusion_committee_report.synthesis_report.external_audit_weaknesses' %>
      </h1>
      <% @external_title_showed = true %>
    <% end %>
    <h1 style="margin: 1em;"><%= data[:name] %></h1>
    <% unless data[:column_data].blank? %>
      <table class="summary_table" style="margin: 0em 1em;">
        <thead>
          <tr>
            <% @column_order.each do |col_name| %>
              <% column = data[:columns][col_name] %>
              <th style="width: <%= "#{column.last}%" %>;"><%= column.first %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% data[:column_data].each do |row| %>
            <tr>
              <% @column_order.each_index do |i| %>
                <td><%= row[i].kind_of?(Array) ?
                  array_to_ul(row[i], :class => :raw_list) :
                  row[i] %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p style="margin: 1em 1em .5em 1em">
        <%= synthesis_report_score_average(
         t(
           'follow_up_committee.synthesis_report.generic_score_average',
           :audit_type => data[:name],
           :count => data[:review_scores].try(:size) || 0
         ), data[:review_scores]) %>
      </p>
      <% if data[:repeated_count] > 0 %>
        <p style="margin-left: 1em;">
          <%= t('follow_up_committee.synthesis_report.repeated_count',
            :count => data[:repeated_count]) %>
        </p>
      <% end %>
    <% else %>
      <p style="margin: 1em;">
        <em><%= t 'follow_up_committee.synthesis_report.without_audits_in_the_period' %></em>
      </p>
    <% end %>
  <% end %>
<% end %>

<div style="margin: 0em 1em;">
  <%= simple_format t('follow_up_committee.synthesis_report.references',
    :risk_types => @risk_levels.to_sentence) %>
</div>

<div id="links">
  <%= link_to t('label.back'), :action => :index %> |
  <%= link_to t('label.download'), '#', :onclick =>
    "Helper.showItem('#customize_report_form'); return false;" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge(
        {:action => :create_synthesis_report, :_ts => Time.now.to_i}
      ),
      :fields => [
        {
          :name => :report_title,
          :label => t('customize_report_form.title'),
          :value => t('follow_up_committee.synthesis_report.title')
        },
        {
          :name => :report_subtitle,
          :label => t('customize_report_form.subtitle'),
          :value => t('follow_up_committee.synthesis_report.subtitle')
        }
      ]
    }
  } %>
  </div>
</div>
