<% risks = prepare_risk_levels @all_risks -%>
<% risks.reverse_each do |risk| -%>
  <h3><%= risk[0] %></h3>

  <table class="summary_table" style="margin: 1em auto;">
    <thead>
      <tr>
      <th>&nbsp;</th>
        <% Finding::STATUS.keys.each do |s| -%>
          <th><%= t("finding.status_#{s}") %></th>
        <% end -%>
      </tr>
    </thead>
    <tbody>
      <% if @weakness_summary[risk[1]] -%>
        <% @weakness_summary[risk[1]].keys.sort.each do |unit| -%>
          <tr>
            <td><%= unit %></td>
            <% Finding::STATUS.keys.each do |s| -%>
              <td><%= @weakness_summary[risk[1]][unit][s] || '-' %></td>
            <% end -%>
          </tr>
        <% end -%>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<div id="links">
  <%= link_to t(:'label.back'), :action => :index %>
</div>