<%= simple_form_for @risk_assessment do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { autofocus: true } %>
        <% if @risk_assessment.new_record? %>
          <%= f.association :period,
            collection:   Period.list_all_without_risk_assessment,
            prompt:       true
          %>
        <% else %>
          <%= f.input :period, input_html: { readonly: true } %>
        <% end %>
        <%= f.association :risk_assessment_template,
          collection: RiskAssessmentTemplate.list.order(:name),
          prompt:     true
        %>
      </div>
      <div class="col-md-6">
        <%= f.input :description, input_html: { rows: 6 } %>
        <%= f.input :final %>
      </div>
    </div>

    <h4>
      <%= RiskAssessmentItem.model_name.human count: 0 %>
    </h4>

    <div class="row">
      <div class="col-md-3">
        <h5><strong><%= RiskAssessmentItem.human_attribute_name 'name' %></strong></h5>
      </div>
      <div class="col-md-2">
        <h5><strong><%= BusinessUnitType.model_name.human %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= RiskAssessmentItem.human_attribute_name 'business_unit' %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= RiskAssessmentItem.human_attribute_name 'risk' %></strong></h5>
      </div>
    </div>

    <div id="risk_assessment_items">
      <%= f.simple_fields_for :risk_assessment_items do |co_f| %>
        <%= render 'risk_assessment_item', f: co_f %>
      <% end %>

      <p>
        <%= link_to_add_fields t('.add_risk_assessment_item'), f, :risk_assessment_items %>
      </p>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <hr>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
