<%= content_for :form_actions do %>
  <%= link_to_show @risk_assessment %> |
  <%= link_to_index risk_assessments_path %> |
  <div class="dropdown dropup d-inline">
    <%= link_to '#', class: 'dropdown-toggle', data: { bs_toggle: 'dropdown' } do %>
      <%= t '.other_actions' %>
    <% end %>
    <div class="dropdown-menu dropdown-menu-end">
      <%= link_to t('.sort_by_risk'), [:sort_by_risk, @risk_assessment], data: {
        method: :patch, confirm: t('messages.confirmation')
      }, class: 'dropdown-item' %>
    </div>
  </div>
<% end %>

<%= render 'form' %>
