<p>
  <strong><%= RiskAssessment.human_attribute_name 'name' %></strong>:
  <%= @risk_assessment.name %>
</p>
<p>
  <strong><%= RiskAssessment.human_attribute_name 'description' %></strong>:
  <%= @risk_assessment.description %>
</p>
<p>
  <strong><%= RiskAssessment.human_attribute_name 'period' %></strong>:
  <%= @risk_assessment.period %>
</p>
<p>
  <strong><%= RiskAssessment.human_attribute_name 'risk_assessment_template' %></strong>:
  <%= @risk_assessment.risk_assessment_template.name %>
</p>
<p>
  <strong><%= RiskAssessment.human_attribute_name 'status' %></strong>:
  <%= t "risk_assessments.status.#{@risk_assessment.status}" %>
</p>

<% if @risk_assessment.risk_assessment_items.any? %>
  <table class="table table-condensed table-striped table-hover">
    <caption>
      <h4><%= RiskAssessmentItem.model_name.human count: 0 %></h4>
    </caption>
    <thead>
      <tr>
        <th><%= RiskAssessmentItem.human_attribute_name 'name' %></th>
        <th><%= BusinessUnitType.model_name.human %></th>
        <th><%= RiskAssessmentItem.human_attribute_name 'business_unit' %></th>
        <th><%= RiskAssessmentItem.human_attribute_name 'risk' %></th>
      </tr>
    </thead>
    <tbody>
      <% @risk_assessment.risk_assessment_items.each do |risk_assessment_item| %>
        <tr>
          <td><%= risk_assessment_item.name %></td>
          <td><%= risk_assessment_item.business_unit_type %></td>
          <td><%= risk_assessment_item.business_unit %></td>
          <td>
            <%= link_to risk_assessment_item.risk, "#risk-assessment-item-detail-#{risk_assessment_item.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% @risk_assessment.risk_assessment_items.each do |risk_assessment_item| %>
    <div id="risk-assessment-item-detail-<%= risk_assessment_item.id %>">
      <table class="table table-condensed table-striped table-hover table-bordered">
        <caption>
          <h5>
            <%= risk_assessment_item.name %> (<%= risk_assessment_item.business_unit %>)
          </h5>
        </caption>

        <tr>
          <th> <%= RiskAssessmentWeight.human_attribute_name 'name' %></th>
          <th> <%= RiskWeight.human_attribute_name 'weight' %></th>
          <th> <%= RiskWeight.human_attribute_name 'value' %></th>
        </tr>

        <% risk_assessment_item.risk_weights.each do |risk_weight| %>
          <tr>
            <td><%= risk_weight.risk_assessment_weight.name %></td>
            <td><%= risk_weight.weight %></td>
            <td><%= risk_weight.value %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>

<hr>

<% if @risk_assessment.draft? %>
  <%= link_to_edit [:edit, @risk_assessment] %> |
<% end %>
<%= link_to_index risk_assessments_path %>
