<div class="card">
  <div class="card-body">
    <%= simple_form_for @business_unit_kind do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, input_html: { autofocus: true } %>
      </div>

      <hr>

      <div class="form-actions">
        <div class="float-end"><%= yield :form_actions %></div>
        <%= f.button :submit, class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
