<div class="card">
  <div class="card-body">
    <% if @business_unit_kinds.empty? %>
      <%= render 'shared/empty_index', message: t('.empty_html') %>
    <% else %>
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th><%= BusinessUnitKind.human_attribute_name 'name' %></th>
            <th colspan="3">
            </th>
          </tr>
        </thead>

        <tbody>
          <% @business_unit_kinds.each do |business_unit_kind| %>
            <tr>
              <td class="d-none d-sm-table-cell"><%= business_unit_kind.name %></td>
              <td class="text-end"><%= link_to_show business_unit_kind %></td>
              <td class="text-end"><%= link_to_edit [:edit, business_unit_kind] %></td>
              <td class="text-end"><%= link_to_destroy business_unit_kind if business_unit_kind.can_be_destroyed? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <hr>

    <%= paginate @business_unit_kinds %>
    <%= link_to_new new_business_unit_kind_path, class: 'btn btn-primary' %>
  </div>
</div>
