<%= simple_form_for @document do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true } %>
    <%= f.input :description %>
    <%= f.input :shared, input_html: { disabled: @document.persisted? && @document.shared } %>
    <%= f.input :lock_version, as: :hidden %>

    <div class="row">
      <div class="col-md-1 offset-md-11">
        <%= render 'active_storage/file', f: f, label: '', allow_upload: true, allow_purge: false %>
      </div>
    </div>

    <div class="card mb-3 <%= 'border-danger' if @document.errors[:tags].present? %>">
      <div class="card-header <%= 'bg-danger text-light' if @document.errors[:tags].present? %>">
        <h5 class="mb-0">
          <%= Tag.model_name.human count: 0 %>
        </h5>
      </div>
      <div class="card-body">
        <% @document.errors.full_messages_for(:tags).each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>

        <%= f.simple_fields_for :taggings do |tf| %>
          <%= render 'tagging', f: tf, kind: 'document' %>
        <% end %>

        <%= link_to_add_fields t('documents.new.tagging'), f, :taggings, 'documents/tagging' %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
