<% @document_tags.each_slice(3) do |tags| %>
  <div class="row">
    <% tags.each do |tag_data, count| %>
      <% tag_id, tag_name, tag_icon, tag_style = *tag_data %>

      <div class="col-md-4">
        <%= link_to tag_documents_path(tag_id), class: "text-decoration-none text-#{tag_style}" do %>
          <div class="card border-1 border-<%= tag_style %>">
            <div class="card-header pt-2 pb-2 bg-<%= tag_style %>">
              <h3 class="m-0 text-<%= tag_style == 'warning' ? 'dark' : 'light' %>">
                <%= tag_name %>
                <span class="float-end">
                  <span class="badge rounded-pill bg-dark"><%= count %></span>
                </span>
              </h3>
            </div>

            <div class="card-body text-center">
              <h4 class="display-4 text-<%= tag_style %>">
                <%= icon 'fas', tag_icon %>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<hr>
