<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-header">
      <%= Document.model_name.human count: 0 %>
    </h4>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <% @document_tags.each do |tag_data, count| %>
        <li>
          <%= link_to tag_documents_path(tag_data.first), data: { remote: true } do %>
            <span class="label label-<%= tag_data.last %>">
              <%= tag_data.second %>
            </span>
            <span class="badge badge-default pull-right"><%= count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
