<% @document_tags.each_slice(3) do |tags| %>
  <div class="row">
    <% tags.each do |tag_data, count| %>
      <% tag_id, tag_name, tag_icon, tag_style = *tag_data %>

      <div class="col-md-4">
        <%= link_to tag_documents_path(tag_id), class: "text-decoration-none text-#{tag_style}" do %>
          <div class="card text-<%= tag_style == 'warning' ? 'dark' : 'light' %> border-<%= tag_style %>">
            <div class="card-header bg-<%= tag_style %>">
              <h5 class="mb-0">
                <%= tag_name %>
                <span class="float-end">
                  <span class="badge badge-pill badge-dark"><%= count %></span>
                </span>
              </h5>
            </div>

            <div class="card-body text-center text-<%= tag_style %>">
              <h4 class="display-4">
                <%= icon 'fas', tag_icon %>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<hr>
