<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'title' %></strong>:
  <%= @weakness_template.title %>
</p>
<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'reference' %></strong>:
  <%= @weakness_template.reference %>
</p>
<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'description' %></strong>:
  <%= simple_format @weakness_template.description, class: 'mb-1' %>
</p>
<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'notes' %></strong>:
  <%= simple_format @weakness_template.notes, class: 'mb-1' %>
</p>
<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'audit_recommendations' %></strong>:
  <%= simple_format @weakness_template.audit_recommendations, class: 'mb-1' %>
</p>
<p class="mb-1">
  <strong><%= WeaknessTemplate.human_attribute_name 'risk' %></strong>:
  <%= @weakness_template.risk_text %>
</p>
<% if SHOW_WEAKNESS_EXTRA_ATTRIBUTES %>
  <p class="mb-1">
    <strong><%= WeaknessTemplate.human_attribute_name 'impact' %></strong>:
    <%= Array(@weakness_template.impact).to_sentence %>
  </p>
  <p class="mb-1">
    <strong><%= WeaknessTemplate.human_attribute_name 'operational_risk' %></strong>:
    <%= Array(@weakness_template.operational_risk).to_sentence %>
  </p>
  <p class="mb-1">
    <strong><%= WeaknessTemplate.human_attribute_name 'internal_control_components' %></strong>:
    <%= Array(@weakness_template.internal_control_components).to_sentence %>
  </p>
<% end %>

<% if @weakness_template.control_objectives.any? %>
  <hr>

  <h5>
    <%= ControlObjective.model_name.human count: @weakness_template.control_objectives.size %>
  </h5>

  <ul>
    <% @weakness_template.control_objectives.each do |control_objective| %>
      <li>
        <%= control_objective %> | <%= control_objective.process_control %>
        (<%= link_to control_objective.best_practice, control_objective.best_practice %>)
      </li>
    <% end %>
  </ul>
<% end %>

<hr>

<%= link_to_edit [:edit, @weakness_template] %> |
<%= link_to_index weakness_templates_path %>
