<% question = f.object.question %>
<div class="answer item">
  <div class="lead">
    <%= simple_format "#{question.sort_order}. #{question.question}" %>
  </div>

  <div class="row form-inputs">
    <div class="col-md-6">
      <% if question.answer_yes_no? %>
        <%= answer_options_collection f %>
        <%= f.input :type, as: :hidden, input_html: { value: AnswerYesNo.name } %>
      <% elsif question.answer_multi_choice? %>
        <%= answer_options_collection f %>
        <%= f.input :type, as: :hidden, input_html: { value: AnswerMultiChoice.name } %>
      <% elsif question.answer_written? %>
        <%= f.input :answer %>
        <%= f.input :type, as: :hidden, input_html: { value: AnswerWritten.name } %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.input :comments, label: "#{Answer.human_attribute_name('comments')} (#{t 'label.optional'})",
        input_html: { id: "answer_comments_#{f.object.id}" }
      %>
      <%= f.input :question_id, as: :hidden, input_html: { value: question.id } %>
      <%= f.input :lock_version, as: :hidden %>
    </div>
  </div>
</div>
<br />
