<%= form_for(@poll) do |p_f| %>
  <%= p_f.error_messages %>
  <h1><%= t 'activerecord.attributes.questionnaire.questions' %></h1>
  <%= p_f.fields_for :answers do |a_f| %>    
    <%= render :partial => 'answer', :locals => {:f => a_f} %>
  <% end %>
  <div class="form_column_left" style="width: 40%;">
    <p>
      <%= p_f.label "#{Poll.human_attribute_name :comments} (#{t 'label.optional'})" %>
      <%= p_f.text_area :comments, :maxlength => 255 %>
    </p>
  </div>
  <%= hidden_lock_version(p_f) %>
  <%= p_f.hidden_field :questionnaire_id %>
  <p>
    <span class="button"><%= p_f.submit %></span>
  </p>
<% end %>
