<div class="form_column_left">
  <%= form_for :dump_emails, :url => { :action => 'send_csv_polls' }, :html => { :multipart => true } do |f| %>
    <p class="form_item">
      <%= f.label Poll.human_attribute_name(:questionnaire_id) %>
      <%= f.select :questionnaire_id, Questionnaire.list.map { |q| [q.name, q.id] } %>
    </p>
    <p class="form_item">
      <%= f.label t('poll.import_csv_customers_title') %>
      <%= f.file_field :file %>
    </p>
    <p class="form_item">
      <%= f.submit t('label.attach_csv') %>
    </p>
  <% end %>
</div>


