<table class="list">
  <thead>
    <tr>
      <th><%= User.human_attribute_name :user %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= "#{poll.user.name} #{poll.user.last_name}"  %></td>
        <td><%= link_to_show poll %></td>
        <td><%= link_to_edit edit_poll_path(poll) %></td>
        <td><%= button_to_destroy poll %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @polls %>
  <%= link_to t('label.new'), new_poll_path %>
  <div class="clear"></div>
</div>
