<div id="showed_data">
  <p>
    <b><%= Poll.human_attribute_name :user_id %>: </b>
      <%= "#{@poll.user.last_name}, #{@poll.user.name}"  %>
  </p>
  <p>
    <b><%= Poll.human_attribute_name :answered %>: </b>
      <%= @poll.answered ? t('label.yes') : t('label.no')  %>
  </p>
  <p>
    <b><%= Questionnaire.human_attribute_name :questions %>:</b>
  </p>
  <ol>
    <% @poll.answers.each do |answer| %>
      <li><b><%= answer.question.question %></b>
        <% if @poll.answered? %>
          <% if answer.question.answer_multi_choice? %>
            <%= ": #{t "activerecord.attributes.answer_option.options.#{answer.answer_option.option}"}" %>
          <% elsif answer.question.answer_written? %>
            <%= ": #{answer.answer}" %>
          <% end %>
        <% end %>
      </li>
      <% if answer.comments.present? %>
        <p>
          <b><%= Answer.human_attribute_name :comments %>: </b>
          <%= answer.comments %>
        </p>
      <% end %>
    <% end %>
  </ol>

  <% if @poll.comments.present? %>
    <p>
      <b><%= Poll.human_attribute_name :comments %>: </b>
      <%= @poll.comments %>
    </p>
  <% end %>
</div>

<% if @layout.eql? 'application' %>
  <div id="links">
    <%= link_to t('label.list'), polls_path %> |
    <%= link_to_back %>
  </div>
<% end %>
