<p>
  <strong><%= Poll.human_attribute_name :user %>:</strong>
  <%= @poll.user.informal_name  %>
</p>

<% if @poll.conclusion_review %>
  <p>
    <strong><%= Poll.human_attribute_name :pollable %>:</strong>
    <%= @poll.conclusion_review.review %>
  </p>
<% end %>

<% if @poll.about %>
  <p>
    <strong><%= Poll.human_attribute_name :affected_user %>:</strong>
    <%= @poll.about.informal_name %>
  </p>
<% end %>

<p>
  <strong><%= Poll.human_attribute_name :answered %>:</strong>
  <%= t_boolean @poll.answered %>
</p>

<h4>
  <%= Questionnaire.human_attribute_name :questions %>
</h4>

<% @poll.answers.each do |answer| %>
  <div class="text-bold">
    <%= simple_format "#{answer.question.sort_order}. #{answer.question.question}" %>
  </div>

  <% if @poll.answered? %>
    <blockquote class="small">
      <% if answer.question.options.any? && answer.answer_option %>
        <p><%= t "answer_options.#{answer.answer_option.option}" %></p>
      <% elsif answer.question.answer_written? %>
        <%= simple_format answer.answer %>
      <% end %>
    </blockquote>
  <% end %>

  <% if answer.comments.present? %>
    <p>
      <%= Answer.human_attribute_name :comments %>:
      <em><%= answer.comments %></em>
    </p>
  <% end %>
<% end %>

<% if @poll.comments.present? %>
  <p>
    <strong><%= Poll.human_attribute_name :comments %>: </strong>
    <%= @poll.comments %>
  </p>
<% end %>

<hr />

<% if @auth_user %>
  <%= link_to_index polls_path %>
<% end %>
