<p>
  <strong><%= Poll.human_attribute_name :user %>:</strong>
  <%= @poll.user.informal_name  %>
</p>

<% if @poll.conclusion_review %>
  <p>
    <strong><%= Poll.human_attribute_name :pollable %>:</strong>
    <%= @poll.conclusion_review.review %>
  </p>
<% end %>

<% if @poll.affected_user %>
  <p>
    <strong><%= Poll.human_attribute_name :affected_user %>:</strong>
    <%= @poll.affected_user.informal_name %>
  </p>
<% end %>

<p>
  <strong><%= Poll.human_attribute_name :answered %>:</strong>
  <%= t_boolean @poll.answered %>
</p>
<p>
  <strong><%= Questionnaire.human_attribute_name :questions %>:</strong>
</p>
<ol>
  <% @poll.answers.each do |answer| %>
    <li><strong><%= answer.question.question %></strong>
      <% if @poll.answered? %>
        <% if answer.question.answer_multi_choice? && answer.answer_option %>
          <%= ": #{t "answer_options.#{answer.answer_option.option}"}" %>
        <% elsif answer.question.answer_written? %>
          <%= ": #{answer.answer}" %>
        <% end %>
      <% end %>
      <% if answer.comments.present? %>
        <p>
          <strong><%= Answer.human_attribute_name :comments %>:</strong>
          <%= answer.comments %>
        </p>
      <% end %>
    </li>
  <% end %>
</ol>

<% if @poll.comments.present? %>
  <p>
    <strong><%= Poll.human_attribute_name :comments %>: </strong>
    <%= @poll.comments %>
  </p>
<% end %>

<hr />

<% if @auth_user %>
  <%= link_to_index polls_path %>
<% end %>
