<div id="showed_data">
  <p>  
    <b><%= User.human_attribute_name :user %>: </b>
      <%= "#{@poll.user.last_name}, #{@poll.user.name}"  %>
  </p>  
  <p>  
    <b><%= Questionnaire.human_attribute_name :questions %>:</b>
  </p>
  <ol><% @poll.answers.each do |answer| %>
    <li><b><%= answer.question.question %></b></li>
    <% if answer.question.answer_multi_choice? %>
      <%= t "activerecord.attributes.answer_option.options.#{answer.answer_option.option}" %>
    <% elsif answer.question.answer_written? %>
      <%= answer.answer %>
    <% end %>
    <% if answer.comments.present? %>
    <p>
      <b><%= Answer.human_attribute_name :comments %>:</b>
      <%= answer.comments %>
    </p>
  <% end %>
  <% end %></ol>
  
  <% if @poll.comments.present? %>
    <p>
      <b><%= Poll.human_attribute_name :comments %>:</b>
      <%= @poll.comments %>
    </p>
  <% end %>
</div>

<div id="links">
  <%= link_to t('label.edit'), edit_poll_path(@poll) %> |
  <%= link_to t('label.list'), polls_path %> |
  <%= link_to_back %>
</div>