<p>
  <% if @poll.user.present? %>
    <strong><%= Poll.human_attribute_name :user_id %>: </strong>
      <%= @poll.user.informal_name  %>
  <% elsif @poll.customer_email.present? %>
    <strong><%= Poll.human_attribute_name :customer_email %>: </strong>
      <%= @poll.customer_email  %>
  <% end %>
</p>
<p>
  <strong><%= Poll.human_attribute_name :answered %>: </strong>
    <%= @poll.answered ? t('label.yes') : t('label.no')  %>
</p>
<p>
  <strong><%= Questionnaire.human_attribute_name :questions %>:</strong>
</p>
<ol>
  <% @poll.answers.each do |answer| %>
    <li><strong><%= answer.question.question %></strong>
      <% if @poll.answered? %>
        <% if answer.question.answer_multi_choice? %>
          <%= ": #{t "activerecord.attributes.answer_option.options.#{answer.answer_option.option}"}" %>
        <% elsif answer.question.answer_written? %>
          <%= ": #{answer.answer}" %>
        <% end %>
      <% end %>
      <% if answer.comments.present? %>
        <p>
          <strong><%= Answer.human_attribute_name :comments %>: </strong>
          <%= answer.comments %>
        </p>
      <% end %>
    </li>
  <% end %>
</ol>

<% if @poll.comments.present? %>
  <p>
    <strong><%= Poll.human_attribute_name :comments %>: </strong>
    <%= @poll.comments %>
  </p>
<% end %>

<hr />

<% if @layout.eql? 'application' %>
  <%= link_to t('label.list'), polls_path %> |
  <%= link_to_back %>
<% end %>
