<%= render partial: 'shared/filter_form',
  locals: {
    action: 'index',
    extra_params: {},
    forms: {
      poll_date_range: true,
      poll_user: true,
      question: true,
      questionnaire: true,
      answered: true,
    }
  } %>

<% if @report.polls.blank? %>
  <div class="alert alert-warning"><%= t 'polls.without_data' %></div>
<% else %>
  <% @report.polls.each do |poll| %>
    <% if show_poll? poll %>
      <p class="mb-1">
        <strong><%= Review.model_name.human %>:</strong>
        <%= poll.pollable.review.identification %>
      </p>
      <p class="mb-1">
        <strong><%= Poll.human_attribute_name 'user' %>:</strong>
        <%= poll.user.informal_name %>
      </p>
      <p class="mb-1">
        <strong><%= Poll.human_attribute_name 'send_date' %>:</strong>
        <%= l poll.created_at.to_date, format: :long %>
      </p>
    <% end %>
  <% end %>

  <hr />

  <p class="mb-1">
    <strong><%= t 'polls.total_answered' %>:</strong>
    <%= @report.answered %>
  </p>
  <p class="mb-1">
    <strong><%= t 'polls.total_unanswered' %>:</strong>
    <%= @report.unanswered %>
  </p>
  <p class="mb-1">
    <strong><%= t 'polls.score' %>:</strong>
    <%= number_to_percentage @report.calification, precision: 0 %>
  </p>
<% end %>

<hr />

<div>
  <%= link_to t('label.back'), reports_polls_path %> |
  <%= link_to t('label.download'), '#',
    data: { toggle: 'modal', target: '#customize_report' } %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'report',
    url: request.query_parameters.merge(
      { action: 'index', _ts: Time.now.to_i }
    ),
    method: :get,
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('polls.reports.title').upcase
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('polls.answers.index.title').upcase
      }
    ]
  }
} %>
