<%= render :partial => 'shared/filter_form',
  :locals => {:action => :weaknesses_by_risk, :extra_params => {},
  :forms => {:date_range => true}} %>

<div style="margin: 1em;">
  <% @periods.each do |period| -%>
    <h1 class="simple_title with_border_bottom">
      <strong><%= "#{Period.human_name}: #{period.inspect}" %></strong>
    </h1>
    <% @audit_types.each do |type| -%>
      <h1 class="center_title">
        <%= t("conclusion_committee_report.weaknesses_type_#{type}") %>
      </h1>
      <%= render :partial => 'weaknesses_synthesis_table', :locals => {
          :table_data => @tables_data[period][type]} %>
    <% end -%>
  <% end -%>
</div>

<div id="links">
  <%= link_to t(:'label.back'), :action => :index %> |
  <%= link_to_function t(:'label.download'),
    "Helper.showItem('customize_report_form')" %>
</div>
<div id="customize_report_form" style="display: none;">
  <div>
  <%= render :partial => 'shared/customize_report_form', :locals => {
    :options => {
      :form_name => 'report',
      :url => request.query_parameters.merge({:action => :create_weaknesses_by_risk}),
      :fields => [
        {
          :name => :report_title,
          :label => t(:'customize_report_form.title'),
          :value => t(:'conclusion_committee_report.weaknesses_by_risk.title')
        }
      ]
    }
  } %>
  </div>
</div>