<div id="business_unit_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <% selected = params[action] ? params[action][:business_unit_type] : nil %>
      <%= f.label BusinessUnitType.model_name.human, required: false, class: 'col-md-3' %>
      <div class="col-md-9">
        <%= f.input :business_unit_type, collection: BusinessUnitType.list, label: false,
          label_method: :name, value_method: :id, include_blank: t('helpers.select.prompt'),
          selected: selected %>
      </div>
    </div>
    <div class="col-md-6">
      <% business_unit_filter = params[action] ? params[action][:business_unit] : nil %>
      <%= f.label BusinessUnit.model_name.human, required: false, class: 'col-md-3' %>
      <div class="col-md-9">
        <%= f.input :business_unit, label: false,
          input_html: { value: business_unit_filter, maxlength: 3072 } %>
      </div>
    </div>
  </div>
</div>
