<div id="date_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div>
    <table style="border: none; margin: .5em 0em; width: 100%;">
      <tbody>
        <tr>
          <td style="padding-right: 1em; width: 50%;">
            <p class="form_item" style="margin: 0em;">
              <%= f.label :from_date, t(:'conclusion_committee_report.from_date'),
                :class => :inline %>
              <%= f.calendar_date_select :from_date, :size => nil,
                :value => l(@from_date), :class => :inline_item %>
            </p>
          </td>
          <td style="padding-right: 1em; width: 50%;">
            <p class="form_item" style="margin: 0em;">
              <%= f.label :to_date, t(:'conclusion_committee_report.to_date'),
                :class => :inline %>
              <%= f.calendar_date_select :to_date, :size => nil,
                :value => l(@to_date), :class => :inline_item %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>