<div id="date_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div>
    <table class="date_filter">
      <tbody>
        <tr>
          <td>
            <p class="form_item" style="margin: 0em;">
              <%= f.label :from_date, t(:'conclusion_committee_report.from_date'),
                :class => :inline %>
              <%= calendar_text_field f, :from_date, false, @from_date,
                :size => nil, :class => :inline_item %>
            </p>
          </td>
          <td>
            <p class="form_item" style="margin: 0em;">
              <%= f.label :to_date, t(:'conclusion_committee_report.to_date'),
                :class => :inline %>
              <%= calendar_text_field f, :to_date, false, @to_date,
                :size => nil, :class => :inline_item %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>