<div id="poll_user_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% user = params[action] && params[action][:user] %>

        <div class="col-md-4">
          <%= f.label :user, User.model_name.human(count: 1) %>
        </div>

        <div class="col-md-8">
          <%= f.text_field :user,
            value: user,
            title: t('label.search'),
            class: 'form-control',
            data: {
              clear: 'user',
              autocomplete_url: users_completions_path,
              autocomplete_id_target: "##{action}_user_id"
            }
          %>
          <%= f.hidden_field :user_id, value: params[action] && params[action][:user_id] %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
       <div class="form-group">
        <div class="col-md-4">
          <%= f.label :user, t('.user_option') %>
        </div>

        <div class="col-md-8">
          <%= f.select :user_option,
            %w(only_all include_reviews).map { |option| [t(".#{option}"), option] },
            { include_blank: t('.affected_only'), selected: params[action] && params[action][:user_option] },
            class: 'form-control'
          %>
        </div>
      </div>
    </div>
  </div>
</div>
