<div id="rescheduling_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div>
    <table class="generic_filter">
      <tbody>
        <tr>
          <td>
            <p class="form_item" style="margin: 0em;">
              <% selected = params[action] ?
                params[action][:rescheduling] : nil %>
              <%= f.label :rescheduling, t('follow_up_committee.rescheduling'),
                :class => :inline %>
              <%= f.select :rescheduling, @rescheduling_options,
                {:selected => selected, :include_blank => true}, {:class => :inline_item} %>
            </p>
          </td>
          <td>
            <p class="form_item" style="margin: 0em;">
              <%= f.label :detailed, t('follow_up_committee.detailed_report'),
                  :class => 'inline'%>
              <%= f.check_box :detailed, :class => 'inline_item' %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
