<div id="rescheduling_filter" class="filter" <%= 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% selected = params[action] ? params[action][:rescheduling] : nil %>
        <%= f.label :rescheduling, t('follow_up_committee_report.rescheduling'),
          class: 'col-md-3' %>
        <div class="col-md-9">
          <%= f.select :rescheduling, @rescheduling_options,
            { selected: selected, include_blank: t('helpers.select.prompt') },
            { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :detailed, t('follow_up_committee_report.detailed_report'),
          class: 'col-md-3' %>
        <div class="col-md-9">
          <%= f.check_box :detailed %>
        </div>
      </div>
    </div>
  </div>
</div>
