<div id="review_filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
       <div class="mb-1 form-group row">
        <% review_filter = params[action] ? params[action][:review] : nil %>
        <%= f.label :review, Review.model_name.human, class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :review, value: review_filter, maxlength: 3072, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-1 form-group row">
        <% project_filter = params[action] ? params[action][:project] : nil %>
        <%= f.label :review, Review.human_attribute_name('plan_item'), class: 'col-md-4 col-form-label' %>
        <div class="col-md-8">
          <%= f.text_field :project, value: project_filter, maxlength: 3072, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
