<% group       ||= nil %>
<% field_label ||= Tag.model_name.human %>
<% field_name  ||= :tags %>

<% unless group %>
  <div id="<%= field_name %>_filter" class="row" <%== 'style="display: none;"' unless display %>>
<% end %>
  <div class="col-md-6" <%== 'style="display: none;"' unless display %>>
    <div class="form-group row">
      <% tags_filter = params[action] ? params[action][field_name] : nil %>
      <%= f.label field_name, field_label, class: 'col-md-4 col-form-label' %>
      <div class="col-md-8">
        <%= f.text_field field_name, value: tags_filter, maxlength: 3072, class: 'form-control' %>
      </div>
    </div>
  </div>
<% unless group %>
  </div>
<% end %>
