<div id="user_filter" class="filter" <%== 'style="display: none;"' unless display %>>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <% user = params[action] && params[action][:user] %>

        <div class="col-md-3">
          <%= f.label :user, User.model_name.human %>
        </div>

        <div class="col-md-9">
          <%= f.text_field :user,
            value: user,
            title: t('label.search'),
            class: 'form-control',
            data: {
              clear: 'user',
              autocomplete_url: users_completions_path,
              autocomplete_id_target: '#weaknesses_report_user_id'
            }
          %>
          <%= f.hidden_field :user_id, value: params[action] && params[action][:user_id] %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="checkbox">
        <% user_in_comments = params[action] && params[action][:user_in_comments] %>
        <label>
          <%= f.check_box :user_in_comments, checked: user_in_comments == '1' %> <%= t '.user_in_comments' %>
        </label>
      </div>
    </div>
  </div>
</div>
