<% group ||= nil %>
<% hide_comments ||= nil %>
<% check_action ||= :user_in_comments %>
<% secondary_check_action ||= nil %>

<% unless group %>
  <div id="user_filter" class="row" <%== 'style="display: none;"' unless display %>>
<% end %>
  <div class="col-md-6" <%== 'style="display: none;"' unless display %>>
    <div class="mb-1 form-group row">
      <% user = params[action] && params[action][:user] %>

      <div class="col-md-4">
        <%= f.label :user, User.model_name.human, class: 'col-form-label' %>
      </div>

      <div class="col-md-8">
        <%= f.text_field :user,
          value: user,
          title: t('label.search'),
          class: 'form-control',
          data: {
            clear: 'user',
            autocomplete_url: users_completions_path,
            autocomplete_id_target: '[name$="[user_id]"]'
          }
        %>
        <%= f.hidden_field :user_id, value: params[action] && params[action][:user_id] %>
      </div>
    </div>
  </div>
  <% unless hide_comments %>
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-check mt-lg-2">
            <% check_value = params[action] && params[action][check_action] %>
            <%= f.check_box check_action, checked: check_value == '1', id: check_action, class: 'form-check-input' %>
            <label class="form-check-label" for="<%= check_action %>"><%= t ".#{check_action}" %></label>
          </div>
        </div>
        <% if secondary_check_action %>
          <div class="col-lg-6">
            <div class="form-check mt-lg-2">
              <% check_value = params[action] && params[action][secondary_check_action] %>
              <%= f.check_box secondary_check_action, checked: check_value == '1', id: secondary_check_action, class: 'form-check-input' %>
              <label class="form-check-label" for="<%= secondary_check_action %>"><%= t ".#{secondary_check_action}" %></label>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% unless group %>
  </div>
<% end %>
