<div id="weakness_risk_map">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <% selected = params[action] ? params[action][:organization_ids] : nil %>
        <%= f.label :organization,  Organization.model_name.human, class: 'col-md-4 col-form-label', for: nil %>
        <div class="col-md-8">
          <%= f.input :organization_ids,
            as: :check_boxes,
            collection: Organization.all.map { |o| [o.name, o.id.to_s] },
            label: '&nbsp;'.html_safe,
            required: false,
            checked: selected,
            class: 'form-control',
            wrapper_html: { class: 'mt-n3' }
          %>
        </div>
        <div>
          <% days = params[action] ? params[action][:days] : nil %>
          <%= f.label :days, t('follow_up_audit.weaknesses_risk_map.days') %>
          <%= f.text_field :days, value: days %>
        </div>
        <div>
          <% before_committee_date = params[action] ? params[action][:before_committee_date] : nil %>
          <%= f.label :before_committee_date, t('follow_up_audit.weaknesses_risk_map.days')%>
          <%= f.text_field :before_committee_date, value: before_committee_date %>
        </div>
        <div>
          <% current_committee_date = params[action] ? params[action][:current_committee_date] : nil %>
          <%= f.label :current_committee_date, t('follow_up_audit.weaknesses_risk_map.days') %>
          <%= f.text_field :current_committee_date, value: current_committee_date %>
        </div>
      </div>
    </div>
  </div>
</div>
