<div id="weakness_risk_map">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <% selected = params[action] ? params[action][:organizations_id] : nil %>
        <%= f.label :organization,  Organization.model_name.human, class: 'col-md-4 col-form-label', for: nil %>
        <div class="col-md-8">
          <%= f.input :organization,
            collection: Organization.all.map { |o| [o.name, o.id.to_s] },
            label: '&nbsp;'.html_safe,
            required: false,
            class: 'form-control',
            wrapper_html: { class: 'mt-n3' }
          %>
        </div>
        <div>
          <%= f.label :days, 'Cantidad de dias' %>
          <%= f.input :days, label: false %>
        </div>
        <div>
          <%= f.label :before_committee_date, 'Fecha comité anterior' %>
          <%= f.input :before_committee_date, label: false %>
        </div>
        <div>
          <%= f.label :current_committee_date, 'Fecha comité actual' %>
          <%= f.input :current_committee_date, label: false %>
        </div>
      </div>
    </div>
  </div>
