<p>
  <strong><%= PaperTrail::Version.human_attribute_name 'created_at' %></strong>:
  <%= l @version.created_at, format: :long %>
</p>

<p>
  <strong><%= PaperTrail::Version.human_attribute_name 'whodunnit' %></strong>:
  <%= show_whodunnit(@version.whodunnit) %>
</p>

<p>
  <strong><%= PaperTrail::Version.human_attribute_name 'item' %></strong>:
  <%= @version.item ?
    "#{@version.item.class.model_name.human} (#{@version.reify(has_one: false) || @version.item})" : '-' %>
</p>

<p>
  <strong><%= PaperTrail::Version.human_attribute_name 'event' %></strong>:
  <%= t("versions.events.#{@version.event}") %>
</p>

<% changes = @version.changes_from_next %>
<% unless changes.blank? %>
  <table class="table table-condensed table-striped table-hover">
    <caption><h3><%= t 'versions.changes' %></h3></caption>

    <thead>
      <tr>
        <th><%= t 'versions.column_attribute' %></th>
        <th><%= t 'versions.column_old_value' %></th>
        <th><%= t 'versions.column_new_value' %></th>
      </tr>
    </thead>
    <tbody>
      <% changes.each do |change| %>
        <tr>
          <td><%= change[:attribute] %></td>
          <td><%= change[:old_value] %></td>
          <td><%= change[:new_value] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t 'versions.without_changes' %></p>
<% end %>

<hr />

<%= link_to_index versions_path %>
