<p>
  <strong><%= RiskAssessmentTemplate.human_attribute_name 'name' %></strong>:
  <%= @risk_assessment_template.name %>
</p>
<p>
  <strong><%= RiskAssessmentTemplate.human_attribute_name 'description' %></strong>:
  <%= @risk_assessment_template.description %>
</p>

<% if @risk_assessment_template.risk_assessment_weights.any? %>
  <table class="table table-condensed table-striped table-hover">
    <caption>
      <h4>
        <%= RiskAssessmentWeight.model_name.human count: 0 %>
      </h4>
    </caption>
    <thead>
      <tr>
        <th><%= RiskAssessmentWeight.human_attribute_name 'name' %></th>
        <th><%= RiskAssessmentWeight.human_attribute_name 'description' %></th>
        <th><%= RiskAssessmentWeight.human_attribute_name 'weight' %></th>
      </tr>
    </thead>

    <tbody>
      <% @risk_assessment_template.risk_assessment_weights.each do |risk_assessment_weight| %>
        <tr>
          <td><%= risk_assessment_weight.name %></td>
          <td><%= risk_assessment_weight.description %></td>
          <td><%= risk_assessment_weight.weight %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<%= link_to_edit [:edit, @risk_assessment_template] %> |
<%= link_to_index risk_assessment_templates_path %>
