<%= simple_form_for(@questionnaire) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, input_html: { maxlength: 255, autofocus: true } %>
        <%= f.input :email_subject, input_html: { maxlength: 255 } %>
        <%= f.input :email_link, input_html: { maxlength: 255 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :email_text, input_html: { maxlength: 255 } %>
        <%= f.input :email_clarification, input_html: { maxlength: 255 } %>
        <%= f.input :pollable_type, collection: pollable_types, prompt: true %>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <h5>
        <strong><%= Question.model_name.human(count: 0) %></strong>
      </h5>
    </div>
    <div class="col-md-4">
      <h5>
        <strong><%= Question.human_attribute_name :answer_type %></strong>
      </h5>
    </div>
  </div>

  <div id="questions">
    <%= f.simple_fields_for :questions, questions do |qn_f| %>
      <%= render 'question', f: qn_f %>
    <% end %>

    <%= link_to_add_fields(t('questionnaire.add_question'), f, :questions) %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
<script type="text/javascript">
  Helper.makeSortable('#questions', 'fieldset.question', 'a.move');
</script>
