<% id = f.object.object_id %>
<fieldset class="question">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :question, label: false, input_html: { autofocus: true } %>
      </div>
      <div class="col-md-4">
        <%= f.input :answer_type, label: false, prompt: true,
          collection: answer_type_options,
          input_html: { id: "#{id}_answer_type" }
        %>
      </div>
      <div class="col-md-1">
        <%= link_to_move %>
      </div>
      <div class="col-md-1">
        <% if f.object.answer.blank? %>
          <%= link_to_remove_nested_item(f) %>
        <% end %>
        <%= f.input :sort_order, as: :hidden, input_html: { class: 'sort_number' } %>
        <%= f.input :lock_version, as: :hidden %>
      </div>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
