<div id="showed_data">
  <p>
    <b><%= Questionnaire.human_attribute_name :name %>:</b>
    <%= @questionnaire.name %>
  </p>
  <p>
    <b><%= Questionnaire.human_attribute_name :questions %>:</b>
  </p>
  <ol class="raw_list">
    <% @questionnaire.questions.each do |question| %>
      <li>
        <b><%= question.question %></b>
        <% if question.answer_type # Si es multi choice %>
          <ul class="raw_list">
            <% question.answer_options.each do |ao| %> 
              <li><%= t "activerecord.attributes.answer_option.options.#{ao.option}" %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>

<div id="links">
  <%= link_to t('label.edit'), edit_questionnaire_path(@questionnaire) %> |
  <%= link_to t('label.list'), questionnaires_path %> |
  <% if @questionnaire.polls.present? %>
  <%= link_to t('activerecord.attributes.questionnaire.polls'), polls_path, :id => @questionnaire.id %> |
  <% end %>
  <%= link_to_back %>
</div>