<div class="m-2">
  <%= simple_form_for @plan_item, data: { remote: true }, url: plan_plan_item_path(@plan, @plan_item) do |f| %>
    <div id="control_objective_projects">
      <% @plan_item.control_objective_projects.build unless @plan_item.control_objective_projects.detect &:new_record? %>

      <%= f.simple_fields_for :control_objective_projects do |cf| %>
        <%= render 'control_objective_project', f: cf %>
      <% end %>

      <p class="mt-2">
        <%= f.button :submit, t('.control_objective_projects.save'), class: 'btn-sm btn-secondary' %>
        <%= f.button :button, t('.control_objective_projects.done'), class: 'btn-sm btn-primary ms-1', type: 'submit', value: 'done' %>
      </p>
    </div>
  <% end %>
</div>
