<% if @query.blank? %>
  <%= render partial: 'shared/filter_form',
    locals: { action: :index, extra_params: {},
    forms: { date_range: { avoid_inline_help: true } } } %>
<% end %>
<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? LoginRecord::COLUMNS_FOR_SEARCH.keys : @columns
} %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <%= make_filterable_column User.model_name.human, nil, 'user' %>
      <%= make_not_available_column LoginRecord.human_attribute_name(:start) %>
      <%= make_not_available_column LoginRecord.human_attribute_name(:end), 'visible-lg' => true %>
      <%= make_filterable_column LoginRecord.human_attribute_name(:data), { 'visible-lg' => true }, 'data' %>
      <th class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>
  <tbody>
  <% @login_records.each do |login_record| %>
    <tr>
      <td><%= login_record.user.user %></td>
      <td><%= l(login_record.start, :format => :short) if login_record.start %></td>
      <td class="visible-lg"><%= l(login_record.end, :format => :short) if login_record.end %></td>
      <td class="visible-lg"><%= super_truncate(login_record.data, 40) %></td>
      <td><%= link_to_show login_record %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr />

<div>
  <div class="pull-right">
    <%= pagination_links @login_records %>
  </div>
  <%= link_to t('label.back'), :action => :choose %> |
  <%= link_to t('label.download'), :action => :export_to_pdf,
    :range => {:from_date => @from_date, :to_date => @to_date},
    :_ts => Time.now.to_i %>
</div>
