<p>
  <strong><%= LoginRecord.human_attribute_name 'start' %>:</strong>
  <%= l(@login_record.start, :format => :short) if @login_record.start %>
</p>

<p>
  <strong><%= LoginRecord.human_attribute_name 'end' %>:</strong>
  <%= l(@login_record.end, :format => :short) if @login_record.end %>
</p>

<p>
  <strong><%= LoginRecord.human_attribute_name 'data' %>:</strong>
  <%= @login_record.data %>
</p>

<hr />

<%= link_to_index login_records_path %> |
<%= link_to_back %>
