<!--[form:help_item]-->
<%= form_for @help_item do |hi_f| %>
  <% content_for :js_extra do %>
    <%= raw "var child='#{generate_template(hi_f, :children)}';" %>
  <% end %>
  <%= hi_f.error_messages %>

  <p>
    <%= hi_f.label :name %>
    <%= hi_f.text_field :name, :maxlength => 255, :size => 10 %>
  </p>

  <p style="margin-bottom: 1em;">
    <%= hi_f.label :description %>
    <%= hi_f.text_area :description, :class => :double_height %>
  </p>

  <div class="items">
    <div class="column_headers">
      <div class="item_column" style="width: 5%;">
        <h3><%= HelpItem.human_attribute_name :order_number %></h3>
      </div>
      <div class="item_column" style="width: 30%;">
        <h3><%= HelpItem.human_attribute_name :name %></h3>
      </div>
      <div class="item_column" style="width: 50%;">
        <h3><%= HelpItem.human_attribute_name :description %></h3>
      </div>
      <div class="item_column" style="width: 10%;"></div>
      <div class="clear"></div>
    </div>

    <div id="children">
      <%= hi_f.fields_for :children do |hic_f| %>
        <%= render :partial => 'child', :locals =>
          {:f => hic_f, :is_dynamic => false} %>
      <% end %>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'label.add_item'), '#', :'data-template' => :child,
      :'data-event' => :add_nested_item, :'data-container' => :children %>
  </p>

  <%= hidden_lock_version(hi_f) %>
  
  <p>
    <span class="button"><%= hi_f.submit %></span>
  </p>
<% end %>
<!--[eoform:help_item] -->
<script type="text/javascript">
  Helper.makeSortable('children', '#children div.child', '#children a.move');
</script>