<table class="list">
  <thead>
    <tr>
      <th></th>
      <th><%= HelpItem.human_attribute_name :name %></th>
      <th><%= HelpItem.human_attribute_name :description %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @help_items.each do |help_item| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td></td>
        <td><%=h help_item.name %></td>
        <td><%=h truncate(help_item.description, :omission => '...', :length => 25) %></td>
        <td><%= link_to_show help_item %></td>
        <td><%= link_to_edit edit_help_item_path(help_item) %></td>
        <td><%= button_to_destroy help_item %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @help_items %>
  <div class="clear"></div>
</div>