<div id="showed_data">
  <div class="show_item">
    <b><%= HelpItem.human_attribute_name :order_number %>:</b>
    <%=h @help_item.order_number %>
  </div>

  <div class="show_item">
    <b><%= HelpItem.human_attribute_name :name %>:</b>
    <%=h @help_item.name %>
  </div>

  <div class="show_item">
    <b><%= HelpItem.human_attribute_name :description %>:</b>
    <%= textilize h(@help_item.description) %>
  </div>
</div>

<div id="links">
  <%= link_to t(:'label.edit'), edit_help_item_path(@help_item) %> |
  <%= link_to t(:'label.list'), help_contents_path %> |
  <%= link_to_back %>
</div>