<p>
  <strong><%= ErrorRecord.human_attribute_name 'user_id' %></strong>:
  <%= @error_record %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'error' %></strong>:
  <%= @error_record.error_text %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'data' %></strong>:
  <%= @error_record.data %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'created_at' %></strong>:
  <%= l @error_record.created_at, format: :short %>
</p>

<hr />

<%= link_to_index error_records_path %> |
<%= link_to_back %>
