<p>
  <strong><%= User.model_name.human %>:</strong>
  <%= @error_record.user ? @error_record.user.user : t('error_record.void_user') %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'error' %>:</strong>
  <%= @error_record.error_text %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'data' %>:</strong>
  <%= @error_record.data %>
</p>

<p>
  <strong><%= ErrorRecord.human_attribute_name 'created_at' %>:</strong>
  <%= l @error_record.created_at, format: :short if @error_record.created_at %>
</p>

<hr />

<%= link_to t('label.list'), error_records_path %> |
<%= link_to_back %>
