<% readonly = @control_objective_item.is_in_a_final_review? -%>
<% frozen = @control_objective_item.review.try(:is_frozen?) -%>
<!--[form:control_objective_item]-->
<% form_for @control_objective_item, :html => {:multipart => true} do |co_f| %>
  <% unless frozen -%>
    <% content_for :js_extra do -%>
      <%= "var lastWorkPaperCode = '#{next_control_objective_work_paper_code(
        @control_objective_item)}';" %>
      <%= "var post_audit_work_paper='#{generate_template(co_f,
        :post_audit_work_papers, {:form_builder_local => :wp_f,
        :partial => 'work_papers/work_paper',
        :locals => {:child_index => 'NEW_RECORD', :frozen => false},
        :object => WorkPaper.new(:organization_id => @auth_organization.id)})}';" %>
      <%= "var pre_audit_work_paper='#{generate_template(co_f,
        :pre_audit_work_papers, {:form_builder_local => :wp_f,
        :partial => 'work_papers/work_paper',
        :locals => {:child_index => 'NEW_RECORD', :frozen => false},
        :object => WorkPaper.new(:organization_id => @auth_organization.id)})}';" %>
    <% end -%>
  <% end -%>
  <%= co_f.error_messages %>
  <div class="form_column_left">
    <p class="form_item">
      <label class="inline"><%= Organization.human_name %>:</label>
      <%= text_field_tag :organization_name,
        @control_objective_item.control_objective.process_control.best_practice.organization.name,
        :size => nil, :class => :inline_item, :readonly => true %>
    </p>

    <p class="form_item">
      <label class="inline"><%= Review.human_name %>:</label>
      <%= text_field_tag :review_identification,
        @control_objective_item.review.identification,
        :size => nil, :class => :inline_item, :readonly => true %>
    </p>

    <p class="form_item">
      <label class="inline"><%= ProcessControl.human_name %>:</label>
      <%= text_field_tag :process_control_name,
        @control_objective_item.control_objective.process_control.name,
        :size => nil, :class => :inline_item, :readonly => true %>
    </p>

    <p class="form_item">
      <label class="inline"><%= Period.human_name %>:</label>
      <%= text_field_tag :period, @control_objective_item.review.period.inspect,
        :size => nil, :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <%= co_f.label :relevance, nil, :class => :inline %>
      <%= co_f.select :relevance, parameter_in(@auth_organization.id,
        :admin_control_objective_importances,
        @control_objective_item.created_at, true),
        {:include_blank => t(:'control_objective_item.not_rated')},
        {:class => 'inline_item focused', :disabled => readonly} %>
    </p>
    <p class="form_item">
      <%= co_f.label :audit_date, nil, :class => :inline %>
      <%= co_f.calendar_date_select :audit_date, :class => :inline_item,
        :readonly => readonly %>
    </p>
    <p>
      <%= co_f.label :control_objective_text %>
      <%= co_f.text_area :control_objective_text, :readonly => readonly %>
    </p>
    <% co_f.fields_for :controls, @control_objective_item.controls[0] do |c_f| -%>
      <p>
        <%= c_f.label :effects %>
        <%= c_f.text_area :effects, :readonly => readonly %>
      </p>
      <p>
        <%= c_f.label :control %>
        <%= c_f.text_area :control, :readonly => readonly %>
      </p>

      <% content_for :design_tests do -%>
        <%= c_f.label :design_tests %>
        <%= c_f.text_area :design_tests, :readonly => readonly %>
      <% end %>

      <% content_for :compliance_tests do -%>
        <%= c_f.label :compliance_tests %>
        <%= c_f.text_area :compliance_tests, :readonly => readonly %>
      <% end %>
    <% end -%>
  </div>
  <div class="form_column_right">
    <p>
      <%= co_f.label :pre_audit_qualification %>
      <%= co_f.select :pre_audit_qualification,
        parameter_in(@auth_organization.id,
        :admin_control_objective_qualifications,
        @control_objective_item.created_at, true),
        {:include_blank => t(:'control_objective_item.not_rated')},
        {:disabled => readonly} %>
    </p>
    <p>
      <%= yield :design_tests %>
    </p>
    <p>
      <%= co_f.label :post_audit_qualification %>
      <%= co_f.select :post_audit_qualification,
        parameter_in(@auth_organization.id,
        :admin_control_objective_qualifications,
        @control_objective_item.created_at, true),
        {:include_blank => t(:'control_objective_item.not_rated')},
        {:disabled => readonly} %>
    </p>
    <p>
      <%= yield :compliance_tests %>
    </p>
    <p>
      <%= co_f.label :auditor_comment %>
      <%= co_f.text_area :auditor_comment, :readonly => readonly,
        :style => 'height: 10em;' %>
    </p>
    <p class="form_item">
      <%= content_tag :label, ControlObjectiveItem.human_attribute_name(
        'effectiveness'), :class => :inline %>
      <%= text_field_tag :effectiveness,
        "#{@control_objective_item.effectiveness}%", :class => :inline_item,
        :readonly => true %>
    </p>
    <p class="form_item">
      <%= co_f.label :finished, nil, :class => :inline %>
      <%= co_f.check_box :finished, :class => :inline_item,
        :disabled => readonly %>
    </p>
  </div>

  <h1 style="clear: both; margin-bottom: 0em;">
    <%= ControlObjectiveItem.human_attribute_name('weaknesses') %>
  </h1>

  <table class="summary_table">
    <thead>
      <tr>
        <% Finding::STATUS.keys.each do |status| -%>
          <th><%= t("finding.status_#{status}") %></th>
        <% end -%>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% Finding::STATUS.keys.each do |status| -%>
          <td><%= @control_objective_item.
              weaknesses.select { |w| w.send "#{status}?" }.size %></td>
        <% end -%>
      </tr>
    </tbody>
  </table>

  <p style="margin-bottom: 1.2em;">
    <%= link_to_unless @control_objective_item.weaknesses.blank?,
      t(:'control_objective_item.view_all_weaknesses'),
      weaknesses_path(:control_objective => @control_objective_item) %> |
    <%= link_to_unless readonly, t(:'control_objective_item.add_weakness'),
      new_weakness_path(:control_objective_item => @control_objective_item) %>
  </p>

  <h1 style="clear: both;">
    <%= ControlObjectiveItem.human_attribute_name('work_papers') %>
  </h1>

  <div class="form_column_left">
    <p>
      <%= content_tag :label,
        ControlObjectiveItem.human_attribute_name('pre_audit_work_papers') %>
    </p>
    <div class="in_column_items">
      <div class="column_headers">
        <div class="item_column" style="width: 20%;">
          <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
        </div>
        <div class="item_column" style="width: 20%;">
          <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
        </div>
        <div class="item_column" style="width: 15%;">
          <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
        </div>
        <div class="item_column" style="width: 25%;">
          <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
        </div>
        <div class="item_column" style="width: 10%;">
          <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
        </div>
        <div class="item_column" style="width: 10%;"></div>
        <div style="clear: both;"></div>
      </div>

      <div id="pre_audit_work_papers">
        <% co_f.fields_for :pre_audit_work_papers do |wp_f| -%>
          <%= render :partial => 'work_papers/work_paper', :locals =>
            {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
            :child_index => 'NEW_RECORD'} %>
        <% end -%>
      </div>
    </div>

    <p class="add_item">
      <%= link_to_unless frozen, t(:'control_objective_item.add_work_paper'),
        '#pre_audit_work_paper', :class => :add_nested_item,
        :rel => :pre_audit_work_papers %>
    </p>
  </div>
  <div class="form_column_right">
    <p>
      <%= content_tag :label, ControlObjectiveItem.human_attribute_name('post_audit_work_papers') %>
    </p>
    <div class="in_column_items">
      <div class="column_headers">
        <div class="item_column" style="width: 20%;">
          <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
        </div>
        <div class="item_column" style="width: 20%;">
          <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
        </div>
        <div class="item_column" style="width: 15%;">
          <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
        </div>
        <div class="item_column" style="width: 25%;">
          <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
        </div>
        <div class="item_column" style="width: 10%;">
          <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
        </div>
        <div class="item_column" style="width: 10%;"></div>
        <div style="clear: both;"></div>
      </div>

      <div id="post_audit_work_papers">
        <% co_f.fields_for :post_audit_work_papers do |wp_f| -%>
          <%= render :partial => 'work_papers/work_paper', :locals =>
            {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
            :child_index => 'NEW_RECORD'} %>
        <% end -%>
      </div>
    </div>

    <p class="add_item">
      <%= link_to_unless frozen, t(:'control_objective_item.add_work_paper'),
        '#post_audit_work_paper', :class => :add_nested_item,
        :rel => :post_audit_work_papers %>
    </p>
  </div>

  <%= hidden_lock_version(co_f) %>
  
  <div style="display:none"><%= co_f.hidden_field :control_objective_id %></div>

  <p>
    <span class="button"><%= co_f.submit submit_button_text %></span>
  </p>
<% end -%>
<!--[eoform:control_objective_item] -->
<%= set_focus_to_first_element %>
<script type="text/javascript">
  var ControlObjectiveCalcs = {
    effectiveness: function() {
      var postAuditQualifications =
        $('control_objective_item_post_audit_qualification');
      var preAuditQualifications =
        $('control_objective_item_pre_audit_qualification');
      var postAuditQualification = $F(postAuditQualifications);
      var preAuditQualification = $F(preAuditQualifications);
      var maxValue = $A(postAuditQualifications.options).map(function(e) {
        return e.value.match(/^\d+$/) ? parseInt(e.value) : 0;
      }).max();
      var postAuditSelected = postAuditQualification.match(/^\d+$/);
      var percentage = postAuditSelected ?
        (parseInt(postAuditQualification) * 100.0 / maxValue) : 100;

      if(preAuditQualification.match(/^\d+$/)) {
        percentage += parseInt(preAuditQualification) * 100.0 / maxValue;
        percentage -= postAuditSelected ? 0 : 100;
        percentage /= postAuditSelected ? 2.0 : 1.0;
      }

      $('effectiveness').setValue(new String("#{percentage}%").interpolate(
        {percentage: percentage.toFixed(0)}));

      var oldColor = $('effectiveness').getStyle('border-color');

      if(!oldColor) {
        $('effectiveness').setStyle({borderColor: '#47ae00'});
        Element.setStyle.delay(0.8, $('effectiveness'), {borderColor: oldColor});
      }
    }
  }

  Event.observe('control_objective_item_post_audit_qualification', 'change', function() {
    ControlObjectiveCalcs.effectiveness();
  });

  Event.observe('control_objective_item_pre_audit_qualification', 'change', function() {
    ControlObjectiveCalcs.effectiveness();
  });
</script>