<% oportunities = readonly ? @control_objective_item.final_oportunities : @control_objective_item.oportunities %>

<h4>
  <%= ControlObjectiveItem.human_attribute_name 'oportunities' %>
</h4>

<% if oportunities.any? %>
  <ul>
    <% oportunities.order(:review_code).each do |oportunity| %>
      <li>
        <%= link_to "#{oportunity.review_code} - #{oportunity.title} (#{oportunity.state_text})", oportunity %>
        <% unless readonly %>
          | <%= link_to_edit edit_oportunity_path(oportunity) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info">
    <%= t('control_objective_item.no_oportunities') %>
  </div>
<% end %>

<p style="margin-bottom: 1.2em;">
  <%= link_to_unless oportunities.blank?,
    t('control_objective_item.view_all_oportunities'),
    oportunities_path(:control_objective => @control_objective_item) %>
  <span class="text-muted">|</span>
  <%= link_to_unless readonly, t('control_objective_item.add_oportunity'),
    new_oportunity_path(:control_objective_item => @control_objective_item) %>
</p>
