<h1 style="clear: both; margin-bottom: 0em;">
  <%= ControlObjectiveItem.human_attribute_name(:weaknesses) %>
</h1>

<table class="summary_table">
  <thead>
    <tr>
      <%= raw control_objective_weaknesses_summary_headers %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= raw control_objective_weaknesses_summary_row(@control_objective_item) %>
    </tr>
  </tbody>
</table>

<p style="margin-bottom: 1.2em;">
  <%= link_to_unless @control_objective_item.weaknesses.blank?,
    t(:'control_objective_item.view_all_weaknesses'),
    weaknesses_path(:control_objective => @control_objective_item) %> |
  <%= link_to_unless readonly, t(:'control_objective_item.add_weakness'),
    new_weakness_path(:control_objective_item => @control_objective_item) %>
</p>