<%= content_for :form_actions do %>
  <% if review_can_be_modified? @control_objective_item %>
    <%= link_to_unless @control_objective_item.review.is_frozen?,
      t('control_objective_item.review.edit'),
      edit_review_path(@control_objective_item.review) %> |
  <% end %>
  <%= link_to t('control_objective_item.review.show'),
    review_path(@control_objective_item.review) %> |
  <% if control_objective_item_show_history_changes? %>
    <%= control_objective_item_show_change_history %> |
  <% end %>
  <%= link_to_show @control_objective_item %> |
  <%= link_to_index control_objective_items_path %>
<% end %>

<div class="card">
  <%= render 'form' %>

  <% if control_objective_item_show_history_changes? %>
    <%= render 'change_history', control_objective_item: @control_objective_item %>
  <% end %>
</div>
