<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? ControlObjectiveItem::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Review.model_name.human, nil, 'review' %>
      <%= make_filterable_column ProcessControl.model_name.human, { 'hidden-xs' => true }, 'process_control' %>
      <%= make_filterable_column ControlObjective.model_name.human, nil, 'control_objective_text' %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:finished), 'hidden-xs' => true %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:relevance), 'hidden-xs' => true %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:effectiveness), 'hidden-xs' => true %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:weaknesses), 'hidden-xs' => true %>
      <%= make_not_available_column t('control_objective_item.has_work_papers'), 'hidden-xs' => true %>
      <th colspan="3" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @control_objectives.each do |control_objective| %>
      <tr <%== 'class="text-muted"' if control_objective.is_in_a_final_review? %>>
        <td class="nowrap"><%= show_review_with_close_date_as_abbr control_objective.review %></td>
        <td class="hidden-xs"><%= super_truncate(control_objective.process_control.name, 30) %></td>
        <td><%= super_truncate(control_objective.to_s, 30) %></td>
        <td class="hidden-xs"><%= t control_objective.finished? ? 'label.yes' : 'label.no' %></td>
        <td class="hidden-xs"><%= control_objective_relevance_text(control_objective) %></td>
        <td class="hidden-xs"><%= control_objective_effectiveness(control_objective) %></td>
        <td class="hidden-xs"><%= control_objective_weaknesses_link(control_objective) %></td>
        <td class="hidden-xs"><%= t control_objective.work_papers.blank? ? 'label.no' : 'label.yes' %></td>
        <td><%= link_to_show control_objective_item_path(control_objective) %></td>
        <td><%= link_to_edit edit_control_objective_item_path(control_objective) %></td>
        <td><%= link_to_destroy(control_objective_item_path(control_objective,
            params.slice(:period, :review))) if control_objective.can_be_destroyed? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @control_objectives %>
</div>
