<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? ControlObjectiveItem::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table>
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Review.human_name, 'review' %>
      <%= make_filterable_column ProcessControl.human_name, 'process_control' %>
      <%= make_filterable_column ControlObjective.human_name, 'control_objective_text' %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:finished) %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:relevance) %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:effectiveness) %>
      <%= make_not_available_column ControlObjectiveItem.human_attribute_name(:weaknesses) %>
      <%= make_not_available_column t(:'control_objective_item.has_work_papers') %>
      <th colspan="2" style="text-align: right;"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @control_objectives.each do |control_objective| -%>
      <% html_class = "#{cycle(:even, :odd)} " -%>
      <% html_class << (control_objective.is_in_a_final_review? ?
        :readonly_item : :writable_item).to_s -%>
      <tr class="<%= html_class %>">
        <td class="nowrap"><%= show_review_with_close_date_as_acronym control_objective.review %></td>
        <td><%= super_truncate(control_objective.process_control.name, 30) %></td>
        <td><%= super_truncate(control_objective.control_objective_text, 30) %></td>
        <td><%= t control_objective.finished? ? :'label.yes' : :'label.no' %></td>
        <td><%= control_objective_relevance_text(control_objective) %></td>
        <td><%= "#{control_objective.effectiveness}%" %></td>
        <td><%= link_to_unless control_objective.weaknesses.size == 0,
            control_objective.weaknesses.size,
            weaknesses_path(:control_objective => control_objective) %></td>
        <td><%= t control_objective.work_papers.blank? ? :'label.no' : :'label.yes' %></td>
        <td><%= link_to_edit edit_control_objective_item_path(control_objective) %></td>
        <td><%= button_to_destroy(control_objective_item_path(control_objective,
            params.slice(:period, :review))) if control_objective.can_be_destroyed? %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @control_objectives %>
  <div style="clear: both;"></div>
</div>