<div id="showed_data">
<p>
  <b><%= Organization.human_name %>:</b>
  <%= h @control_objective_item.control_objective.process_control.best_practice.organization.name %>
</p>

<p>
  <b><%= ProcessControl.human_name %>:</b>
  <%= h @control_objective_item.control_objective.process_control.name %>
</p>

<p>
  <b><%= ControlObjective.human_name %>:</b>
  <%= h @control_objective_item.control_objective.name %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'effects' %>:</b>
  <%=h @control_objective_item.effects %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'relevance' %>:</b>
  <%=h @control_objective_item.relevance %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'identified_controls' %>:</b>
  <%=h @control_objective_item.identified_controls %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'pre_audit_qualification' %>:</b>
  <%=h @control_objective_item.pre_audit_qualification %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'pre_audit_tests' %>:</b>
  <%=h @control_objective_item.pre_audit_tests %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'post_audit_qualification' %>:</b>
  <%=h @control_objective_item.post_audit_qualification %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'post_audit_tests' %>:</b>
  <%=h @control_objective_item.post_audit_tests %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'audit_date' %>:</b>
  <%=h l(@control_objective_item.audit_date, :format => :short) if @control_objective_item.audit_date %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'auditor_comment' %>:</b>
  <%=h @control_objective_item.auditor_comment %>
</p>

<p>
  <b><%= ControlObjective.human_name %></b>
  <%=h @control_objective_item.control_objective.name %>
</p>

<p>
  <b><%= ControlObjectiveItem.human_attribute_name 'finished' %>:</b>
  <%=t @control_objective_item.finished? ? :'label.yes' : :'label.no' %>
</p>
</div>

<div id="links">
<%= link_to t(:'label.edit'), edit_control_objective_item_path(@control_objective_item) %> |
<%= link_to t(:'label.list'), control_objective_items_path %> |
<%= link_to_back %>
</div>