<p>
  <strong><%= ProcessControl.model_name.human %>:</strong>
  <%= @control_objective_item.control_objective.process_control.name %>
</p>

<div>
  <strong><%= ControlObjectiveItem.human_attribute_name :control_objective_text %>:</strong>
  <%= simple_format @control_objective_item.to_s %>
</div>

<% unless HIDE_CONTROL_EFFECTS %>
  <div>
    <strong><%= Control.human_attribute_name(:effects) %>:</strong>
    <%= simple_format @control_objective_item.control.effects %>
  </div>
<% end %>

<p>
  <strong><%= ControlObjectiveItem.human_attribute_name(:relevance) %>:</strong>
  <%= @control_objective_item.relevance_text %>
</p>

<div>
  <strong><%= Control.human_attribute_name(:control) %>:</strong>
  <%= simple_format @control_objective_item.control.control %>
</div>

<% unless HIDE_CONTROL_OBJECTIVE_ITEM_EFFECTIVENESS %>
  <p>
    <strong><%= ControlObjectiveItem.human_attribute_name :design_score %>:</strong>
    <%= @control_objective_item.design_score_text %>
  </p>
<% end %>

<div>
  <strong><%= Control.human_attribute_name :design_tests %>:</strong>
  <%= simple_format @control_objective_item.control.design_tests %>
</div>

<% unless HIDE_CONTROL_OBJECTIVE_ITEM_EFFECTIVENESS %>
  <p>
    <strong><%= ControlObjectiveItem.human_attribute_name :compliance_score %>:</strong>
    <%= @control_objective_item.compliance_score_text %>
  </p>
<% end %>

<% unless HIDE_CONTROL_COMPLIANCE_TESTS %>
  <div>
    <strong><%= Control.human_attribute_name :compliance_tests %>:</strong>
    <%= simple_format @control_objective_item.control.compliance_tests %>
  </div>
<% end %>

<% unless HIDE_CONTROL_OBJECTIVE_ITEM_EFFECTIVENESS %>
  <p>
    <strong><%= ControlObjectiveItem.human_attribute_name :sustantive_score %>:</strong>
    <%= @control_objective_item.sustantive_score_text %>
  </p>
<% end %>

<div>
  <strong><%= Control.human_attribute_name :sustantive_tests %>:</strong>
  <%= simple_format @control_objective_item.control.sustantive_tests %>
</div>

<p>
  <strong><%= ControlObjectiveItem.human_attribute_name :audit_date %>:</strong>
  <%= l(@control_objective_item.audit_date, :format => :long) if @control_objective_item.audit_date %>
</p>

<div>
  <strong><%= ControlObjectiveItem.human_attribute_name :auditor_comment %>:</strong>
  <%= simple_format @control_objective_item.auditor_comment %>
</div>

<% unless HIDE_CONTROL_OBJECTIVE_ITEM_EFFECTIVENESS %>
  <p>
    <strong><%= ControlObjectiveItem.human_attribute_name(:effectiveness) %>:</strong>
    <%= "#{@control_objective_item.effectiveness}%" %>
  </p>
<% end %>

<p>
  <strong><%= ControlObjectiveItem.human_attribute_name(:finished) %>:</strong>
  <%= t @control_objective_item.finished? ? 'label.yes' : 'label.no' %>
</p>

<%= render :partial => 'weaknesses_summary', :locals => {:readonly => true} %>
<%= render :partial => 'oportunities_summary', :locals => {:readonly => true} %>

<% unless @control_objective_item.business_unit_scores.empty? %>
  <h3><%= BusinessUnitScore.model_name.human :count => @control_objective_item.business_unit_scores.size %></h3>
  <table class="table table-condensed table-striped">
    <caption></caption>
    <thead>
      <tr>
        <th><%= BusinessUnitScore.human_attribute_name 'business_unit_id' %></th>
        <th><%= BusinessUnitScore.human_attribute_name 'design_score' %></th>
        <th><%= BusinessUnitScore.human_attribute_name 'compliance_score' %></th>
        <th><%= BusinessUnitScore.human_attribute_name 'sustantive_score' %></th>
      </tr>
    </thead>
    <tbody>
      <% @control_objective_item.business_unit_scores.each do |bus| %>
        <tr>
          <td><%= bus.business_unit.name %></td>
          <td><%= bus.design_score || '-' %></td>
          <td><%= bus.compliance_score || '-' %></td>
          <td><%= bus.sustantive_score || '-' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless @control_objective_item.work_papers.empty? %>
  <h3><%= WorkPaper.model_name.human :count => @control_objective_item.work_papers.size %></h3>
  <table class="table table-condensed table-striped">
    <caption></caption>
    <thead>
      <tr>
        <th><%= WorkPaper.human_attribute_name :name %></th>
        <th><%= WorkPaper.human_attribute_name :code %></th>
        <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
        <th><%= WorkPaper.human_attribute_name :description %></th>
        <th><%= WorkPaper.human_attribute_name :file_model %></th>
      </tr>
    </thead>
    <tbody>
      <% @control_objective_item.work_papers.each do |wp| %>
        <tr>
          <td><%= wp.name %></td>
          <td><%= wp.code %></td>
          <td><%= wp.number_of_pages %></td>
          <td><%= simple_format wp.description %></td>
          <td><%= wp.file_model.try(:file?) ?
            link_to(t('label.download'), wp.file_model.file.url) : '---' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />

<div>
  <%= link_to_edit edit_control_objective_item_path(@control_objective_item) %> |
  <%= link_to_index control_objective_items_path %> |
  <%= link_to_back %>
</div>
