<div id="showed_data">
  <div class="show_item">
    <b><%= ProcessControl.model_name.human %>:</b>
    <%= h @control_objective_item.control_objective.process_control.name %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :control_objective_text %>:</b>
    <%= simple_format h(@control_objective_item.control_objective_text) %>
  </div>

  <div class="show_item">
    <b><%= Control.human_attribute_name :effects %>:</b>
    <%= simple_format h(@control_objective_item.controls.first.effects) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :relevance %>:</b>
    <%=h @control_objective_item.relevance_text %>
  </div>

  <div class="show_item">
    <b><%= Control.human_attribute_name :control %>:</b>
    <%= simple_format h(@control_objective_item.controls.first.control) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :pre_audit_qualification %>:</b>
    <%=h @control_objective_item.pre_audit_qualification_text %>
  </div>

  <div class="show_item">
    <b><%= Control.human_attribute_name :design_tests %>:</b>
    <%= simple_format h(@control_objective_item.controls.first.design_tests) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :post_audit_qualification %>:</b>
    <%=h @control_objective_item.post_audit_qualification_text %>
  </div>

  <div class="show_item">
    <b><%= Control.human_attribute_name :compliance_tests %>:</b>
    <%= simple_format h(@control_objective_item.controls.first.compliance_tests) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :audit_date %>:</b>
    <%=h l(@control_objective_item.audit_date, :format => :long) if @control_objective_item.audit_date %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :auditor_comment %>:</b>
    <%= simple_format h(@control_objective_item.auditor_comment) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :effectiveness %>:</b>
    <%= "#{@control_objective_item.effectiveness}%" %>
  </div>

  <div class="show_item">
    <b><%= ControlObjectiveItem.human_attribute_name :finished %>:</b>
    <%=t @control_objective_item.finished? ? :'label.yes' : :'label.no' %>
  </div>
</div>

<div id="links">
  <%= link_to t(:'label.edit'), edit_control_objective_item_path(@control_objective_item) %> |
  <%= link_to t(:'label.list'), control_objective_items_path %> |
  <%= link_to_back %>
</div>