<% unless menu_item.exclude_from_privileges %>
  <% privilege = @role.privileges.detect {|p| p.module == menu_item.menu_name} ||
    @role.privileges.build(module: menu_item.menu_name) %>
  <tr id="<%= menu_item.menu_name %>">
    <td>
      <span <%= raw "style=\"padding-left: #{menu_item.self_and_ancestors.size * 2 - 2}em;\"" %>>
        <% if menu_item.parent %>
          <%= menu_item.to_s %>
        <% else %>
          <strong><%= menu_item.to_s %></strong>
        <% end %>
      </span>
    </td>
    <td><%= t(privilege.read == true ? 'label.yes' : 'label.no')     %></td>
    <td><%= t(privilege.modify == true ? 'label.yes' : 'label.no')   %></td>
    <td><%= t(privilege.erase == true ? 'label.yes' : 'label.no')    %></td>
    <td><%= t(privilege.approval == true ? 'label.yes' : 'label.no') %></td>
  </tr>
  <% menu_item.children.each do |submenu_item| %>
    <%= render 'menu_item_show', menu_item: submenu_item %>
  <% end %>
<% end %>
