<% unless menu_item.exclude_from_privileges %>
  <% privilege = @role.privileges.detect {|p| p.module == menu_item.menu_name} ||
    @role.privileges.build(:module => menu_item.menu_name) %>
  <tr id="<%= menu_item.menu_name %>" class="menu_item highlight_on_hover <%= 'bold' unless menu_item.parent %>">
    <td>
      <span <%= raw "style=\"padding-left: #{menu_item.self_and_ancestors.size * 2 - 2}em;\"" %> <%= 'class="red bold"' if privilege.errors.size > 0 %>>
        <%= menu_item.to_s %>
      </span>
    </td>
    <td><%= t(privilege.read == true ? 'label.yes' : 'label.no') %></td>
    <td><%= t(privilege.modify == true ? 'label.yes' : 'label.no') %></td>
    <td><%= t(privilege.erase == true ? 'label.yes' : 'label.no') %></td>
    <td><%= t(privilege.approval == true ? 'label.yes' : 'label.no') %></td>
  </tr>
  <% menu_item.children.each do |submenu_item| %>
    <%= render :partial => 'menu_item_show', :locals => {
      :menu_item => submenu_item} %>
  <% end %>
<% end %>