<p>
  <strong><%= Role.human_attribute_name :name %>:</strong>
  <%= @role.name %>
</p>

<p>
  <strong><%= Role.human_attribute_name :role_type %>:</strong>
  <%= role_type_text(@role.role_type, nil) %>
</p>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= Privilege.model_name.human %></th>
      <th><%= Privilege.human_attribute_name :read %></th>
      <th><%= Privilege.human_attribute_name :modify %></th>
      <th><%= Privilege.human_attribute_name :erase %></th>
      <th><%= Privilege.human_attribute_name :approval %></th>
    </tr>
  </thead>
  <tbody>
    <% menu_items = @role.audited? ? APP_AUDITED_MENU_ITEMS : APP_AUDITOR_MENU_ITEMS %>

    <% menu_items.each do |menu_item| %>
      <%= render 'menu_item_show', menu_item: menu_item %>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= link_to_edit edit_role_path(@role) %> |
  <%= link_to_index roles_path %>
</div>
