<div id="showed_data">
<p>
  <b><%= Backup.human_attribute_name 'backup_type' %>:</b>
  <%= t @backup.backup_type == 0 ? :'backup.full' : :'backup.differential' %>
</p>

<p>
  <b><%= Backup.human_attribute_name 'work_papers_included' %>:</b>
  <%= t @backup.work_papers_included ? :'label.yes' : :'label.no' %>
</p>

<p>
  <b><%= Backup.human_attribute_name 'created_at' %>:</b>
  <%= l @backup.created_at, :format => :long %>
</p>

<% if params[:backup_file] %>
<p>
  <%= link_to t(:'message.download'), "/backup_files/#{params[:backup_file]}" %>
</p>
<% end %>
</div>

<div id="links">
<%= link_to t(:'label.list'), backups_path %> |
<%= link_to_back %>
</div>