<%= render partial: 'shared/filter_form',
  locals: { action: 'index', extra_params: {},
  forms: { poll_date_range: true, questionnaire: true }
} %>

<br />
<% if @report.polls.blank? %>
  <div class="alert alert-warning"><%= t('polls.without_data') %></div>
<% else %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= Question.model_name.human %></th>
        <% Question::ANSWER_OPTIONS.each do |col_name| %>
          <th><%= t "answer_options.#{col_name}" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @report.questionnaire.questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <% Question::ANSWER_OPTIONS.each_index do |i| %>
            <td><%= @report.rates[question.question][i] %> %</td>
          <% end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <strong><%= t 'polls.total_answered' %>:</strong>
    <%= @report.answered %>
  </p>
  <p>
    <strong><%= t 'polls.total_unanswered' %>:</strong>
    <%= @report.unanswered %>
  </p>
  <p>
    <strong><%= t 'polls.score' %>:</strong>
    <%= number_to_percentage @report.calification, precision: 0 %>
  </p>
<% end %>

<hr />

<div class="form-footer">
  <%= link_to t('label.back'), action: :index %> |
  <%= link_to t('label.download'), '#',
    data: { toggle: 'modal', target: "#customize_report" } %>
</div>

<%= render partial: 'shared/customize_report_form', locals: {
  options: {
    form_name: 'polls_questionnaires',
    url: request.query_parameters.merge(
      { action: 'index', _ts: Time.now.to_i }
    ),
    method: :get,
    fields: [
      {
        name: :report_title,
        label: t('customize_report_form.title'),
        value: t('poll.report_title')
      },
      {
        name: :report_subtitle,
        label: t('customize_report_form.subtitle'),
        value: t('poll.summary_by_questionnaire_subtitle')
      }
    ]
  }
} %>
