<%= simple_form_for @auth_user, url: users_password_path(@auth_user) do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header text-center">
          <h5 class="mb-0 text-muted"><%= @title %></h5>
        </div>

        <div class="card-body">
          <%= render 'shared/error_explanation', f: f %>

          <div class="form-inputs">
            <%= f.input :password, label: t('.new_password'), input_html: { autofocus: true, class: 'form-control-lg' } %>
            <%= f.input :password_confirmation, input_html: { class: 'form-control-lg' } %>
          </div>
        </div>

        <div class="card-footer">
          <div class="form-actions text-center">
            <%= hidden_field_tag :confirmation_hash, params[:confirmation_hash] %>
            <%= f.input :lock_version, as: :hidden %>
            <%= f.submit t('.update'), class: 'btn btn-lg btn-outline-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
