<% organization = finding.review.period.organization %>
<% finding_url = finding_url(finding.pending? ? 'incomplete' : 'complete',
  finding, :host => ("#{organization.prefix}.#{URL_HOST}" if organization)) %>
<p style="margin: .1em 0em;">
  <b><%= Review.model_name.human %></b>:
  <%= finding.review %>
</p>
<p style="margin: .1em 0em;">
  <b><%= ControlObjective.model_name.human %></b>:
  <%= finding.control_objective.name %>
</p>
<p style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name :review_code %></b>:
  <%= finding.review_code %>
</p>
<div style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name :description %></b>:
  <%= textilize finding.description %>
</div>
<p style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name :state %></b>:
  <%= finding.state_text %>
</p>
<% unless finding.follow_up_date.blank? %>
  <p style="margin: .1em 0em;">
    <b><%= finding.class.human_attribute_name :follow_up_date %></b>:
    <%=l finding.follow_up_date, :format => :long %>
  </p>
<% end %>
<% unless finding.solution_date.blank? %>
  <p style="margin: .1em 0em;">
    <b><%= finding.class.human_attribute_name :solution_date %></b>:
    <%=l finding.solution_date, :format => :long %>
  </p>
<% end %>
<% audited, auditors = *finding.users.partition(&:can_act_as_audited?) %>

<p style="margin: .1em 0em;">
  <b><%= t('finding.audited', :count => audited.size) %></b>:
</p>
<%= textilize_without_paragraph(
  audited.map {|u| "* #{u.full_name}"}.join("\n")) %>

<p style="margin: .1em 0em;">
  <b><%= t('finding.reviewers', :count => auditors.size) %></b>:
</p>
<%= textilize_without_paragraph(
  auditors.map {|u| "* #{u.full_name}"}.join("\n")) %>

<p style="margin: .1em 0em;">
  <%= link_to t('notifier_mailer.notify_new_finding_answer.finding_link'),
    finding_url %>
</p>
