<% organization = finding.review.period.organization %>
<% finding_url = finding_url(finding.pending? ? 'incomplete' : 'complete',
  finding, host: ("#{organization.prefix}.#{URL_HOST}" if organization)) %>
<p style="margin: .1em 0em;">
  <b><%= Review.model_name.human %></b>:
  <%= finding.review %>
</p>
<p style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name 'title' %></b>:
  <%= finding.title %>
</p>
<div style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name 'description' %></b>:
  <%= markdown finding.description %>
</div>
<p style="margin: .1em 0em;">
  <b><%= finding.class.human_attribute_name 'state' %></b>:
  <%= finding.state_text %>
</p>
<% unless finding.follow_up_date.blank? %>
  <p style="margin: .1em 0em;">
    <b><%= finding.class.human_attribute_name 'follow_up_date' %></b>:
    <%= l finding.follow_up_date, format: :long %>
  </p>
<% end %>
<% unless finding.solution_date.blank? %>
  <p style="margin: .1em 0em;">
    <b><%= finding.class.human_attribute_name 'solution_date' %></b>:
    <%= l finding.solution_date, format: :long %>
  </p>
<% end %>

<% audited, auditors = *finding.users.partition(&:can_act_as_audited?) %>

<p style="margin: .1em 0em;">
  <b><%= t 'finding.audited', count: audited.size %></b>:
</p>

<%= markdown_without_paragraph finding_audited_names(finding).map { |name| "* #{name}" }.join("\n") %>

<p style="margin: .1em 0em;">
  <%= t('notifier.notify_new_finding_answer.finding_link_guidance') %>:

  <%= link_to t('notifier.notify_new_finding_answer.finding_link'), finding_url %>

  (<%= markdown_without_paragraph t('common_mailer.footer.recommendations') %>)

  <%= render 'finding_footer' %>
</p>
