<% organization = @conclusion_review.review.try(:organization) if @conclusion_review %>
<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= organization.name %></h2>

  <%= markdown @body_title %>
  <%= markdown h(@note) unless @note.blank? %>

  <% if @show_alt_footer %>
    <%= render partial: 'common_mailer/alt_footer' %>
  <% else %>
    <%= render partial: 'common_mailer/footer' %>
  <% end %>
</div>
