<% finding = @finding_answer.finding %>
<% organization = finding.review.organization %>
<% finding_url = finding_url(finding.pending? ? 'incomplete' : 'complete',
  finding, :host => ("#{organization.prefix}.#{URL_HOST}" if organization)) %>
<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2 style="margin-bottom: 1em;"><%= organization.name %></h2>

  <h3 style="font-weight: normal;">
    <%= textilize_without_paragraph(
      t(
        'notifier_mailer.notify_new_finding_answer.finding_data',
        :review => finding.review.to_s,
        :finding_code => [finding.review_code, finding.title].reject(&:blank?).join(' - ')
      )
    ) %>
  </h3>

  <p>
    <b><%= FindingAnswer.human_attribute_name(:user_id) %></b>:
    <%= @finding_answer.user.full_name_with_function %>
  </p>
  <p>
    <b><%= FindingAnswer.human_attribute_name(:answer) %></b>:
    <span style="font-style: italic;"><%= @finding_answer.answer %></span>
  </p>
  <% if @finding_answer.commitment_date %>
    <p>
      <b><%= FindingAnswer.human_attribute_name(:commitment_date) %></b>:
      <span style="font-style: italic;"><%= l(@finding_answer.commitment_date, :format => :long) %></span>
    </p>
  <% end %>
  <% if @finding_answer.file_model.try(:file?) %>
    <p>
      <b><%= FindingAnswer.human_attribute_name(:file_model) %></b>:
      <span style="font-style: italic;"><%= @finding_answer.file_model.identifier %></span>
    </p>
  <% end %>

  <p>
    <%= link_to t('notifier_mailer.notify_new_finding_answer.finding_link'),
      finding_url %>
  </p>
  <%= render :partial => 'footer' %>
</div>
