<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <p><b><%= @user + ', ' %></b></p>
  <p><%= @poll.questionnaire.email_text %></p>
  <p>
    <%= link_to @poll.questionnaire.email_link,
      edit_poll_url(
        @poll, token: @poll.access_token,
        host: "#{@organization.prefix}.#{URL_HOST}"
      )
    %>
  </p>
  <% if @poll.conclusion_review %>
    <p>
      <%= Poll.human_attribute_name 'pollable' %>:
      <strong>
        <%= Review.model_name.human %> <%= @poll.conclusion_review.review %>
      </strong>
    </p>
  <% end %>
  <% if @poll.affected_user %>
    <p>
      <%= t(
        'notifier.pending_poll_email.affected_user_html',
        user: @poll.affected_user.full_name
      ) %>
    </p>
  <% end %>
  <% if @poll.questionnaire.email_clarification? %>
    <p><%= @poll.questionnaire.email_clarification %></p>
  <% end %>
  <%= render 'footer' %>
</div>
