<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <p><strong><%= @user %></strong>,</p>

  <%= simple_format @poll.questionnaire.email_text %>

  <p>
    <%= link_to @poll.questionnaire.email_link,
      edit_poll_url(
        @poll, token: @poll.access_token,
        host: "#{@organization.prefix}.#{URL_HOST}"
      )
    %>
  </p>

  <% if @poll.conclusion_review %>
    <p>
      <%= Poll.human_attribute_name 'pollable' %>:
      <strong>
        <%= Review.model_name.human %> <%= @poll.conclusion_review.review %>
      </strong>
    </p>
  <% end %>

  <% if @poll.about %>
    <p>
      <%= t(
        'notifier.pending_poll_email.about_html',
        entity: @poll.about.display_name
      ) %>
    </p>
  <% end %>

  <% if @poll.questionnaire.email_clarification.present? %>
    <%= simple_format @poll.questionnaire.email_clarification %>
  <% end %>

  <%= render 'common_mailer/footer' %>
</div>
