<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t 'notifier.notification.unconfirmed' %></h2>
  <h3 style="text-decoration: underline;">
    <%= t 'notifier.notification.the_following_findings_are_still_unconfirmed' %>
  </h3>
  <% @notifications.each do |n| %>
    <% n.findings.unconfirmed_for_notification.group_by(&:organization).each do |organization, findings| %>
      <% Organization.current_id = organization.id %>
      <h4 style="margin-bottom: 1em;"><%= organization.name %></h4>
      <h5><%= l(n.created_at.to_date, format: :long) %></h5>
      <% findings.each do |finding| %>
        <%= render partial: 'finding', locals: {finding: finding} %><br />
      <% end %>
      <p>
        <%= link_to t('notifier.notification.confirm'),
          confirm_notification_url(n, host: "#{organization.prefix}.#{URL_HOST}") %>
      </p>
    <% end %>
  <% end %>
  <%= render partial: 'footer' %>
</div>
