<div style="font-family: verdana, sans-serif, arial, helvetica;">
  <h2><%= t 'notifier_mailer.unanswered_findings.title' %></h2>
  <h3 style="font-weight: normal;">
    <%= textilize_without_paragraph(
      t('notifier_mailer.unanswered_findings.the_following_findings_are_now_unanswered',
        :count => @grouped_findings.values.sum(&:size))) %>
  </h3>

  <% @grouped_findings.each do |organization, findings| %>
    <% unless findings.empty? %>
      <% Organization.current_id = organization.id %>
      <h2 style="margin-bottom: 1em;"><%=h organization.name %></h2>
      <% findings.each do |finding| %>
        <% levels = [] %>
        <% next_level = 1  %>

        <% until finding.manager_users_for_level(next_level).empty? %>
          <% levels << next_level  %>
          <% next_level += 1 %>
        <% end %>
        <% has_more_managers = !levels.empty? %>

        <%= render :partial => 'finding', :locals => {:finding => finding} %><br />

        <% if levels.size > 1 && has_more_managers %>
          <h3 style="margin-top: 1em;"><%= textilize_without_paragraph(
                t('notifier_mailer.unanswered_findings.if_no_answer_is_given_the_following_users_will_be_notified')) %> (*)</h3>
          <% levels.each do |level| %>
            <% managers = finding.manager_users_for_level(level) %>
            <% unless managers.empty? %>
              <h4><%= l(finding.notification_date_for_level(level), :format => :long) %></h4>
              <%= textilize_without_paragraph(
                managers.map {|u| "* #{u.full_name_with_function}"}.join("\n")) %>
            <% end %>
          <% end %>
          <p style="font-size: .8em;">
            (*) <%= t('notifier_mailer.unanswered_finding_to_manager.managers_clarification') %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= render :partial => 'footer' %>
</div>
