<% if table_data.kind_of?(Hash) %>
  <table class="summary_table" style="margin: 1em 0em;">
    <thead>
      <tr>
        <% table_data[:order].each do |column| %>
          <% col_data = table_data[:columns][column] %>
          <th style="width: <%= "#{col_data.last}%" %>;"><%= raw col_data.first %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% table_data[:data].each do |row_data| %>
        <tr>
          <% table_data[:order].each do |column| %>
            <td><%= raw row_data[column] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% unless being_implemented_resume.blank? %>
    <p>* <%= raw being_implemented_resume %></p>
  <% end %>
  <% unless highest_being_implemented_resume.blank? %>
    <p>** <%= raw highest_being_implemented_resume %></p>
  <% end %>
<% else %>
  <p style="margin: 1em 0em; font-size: 1.1em;"><em><%= table_data %></em></p>
<% end %>