<div class="row">
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('follow_up_audit.weaknesses_by_state_title'),
        :action => :weaknesses_by_state, :controller_name => 'follow_up', :final => false %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('follow_up_audit.weaknesses_by_risk_title'),
        :action => :weaknesses_by_risk, :controller_name => 'follow_up', :final => false %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('follow_up_audit.weaknesses_by_audit_type_title'),
        :action => :weaknesses_by_audit_type, :controller_name => 'follow_up', :final => false %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('follow_up_committee.control_objective_stats_title'),
        :action => :control_objective_stats, :controller_name => 'follow_up', :final => false %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well well-sm text-center">
      <%= link_to t('follow_up_committee.process_control_stats_title'),
        :action => :process_control_stats, :controller_name => 'follow_up', :final => false %>
    </div>
  </div>
</div>
