<% readonly = readonly rescue true %>
<% id = f.object.object_id %>
<fieldset class="finding_user_assignment">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% unless readonly %>
          <%= f.input :user_id, label: false, input_html: {
            value: f.object.user.try(:full_name_with_function),
            id: "weakness_user_#{id}",
            name: "auto_user_id_#{id}",
            class: 'autocomplete_field', title: t('label.search'),
            autocomplete: :off, autofocus: true,
            data: {
              autocomplete_params: ({ weakness_id: @oportunity.id } unless @oportunity.new_record?),
              autocomplete_url: auto_complete_for_user_weaknesses_path,
              autocomplete_id_target: "#user_id_#{id}"
            }
          } %>
          <%= f.input :user_id, as: :hidden, input_html: { value: f.object.user_id,
            id: "user_id_#{id}", class: 'autocomplete_id' } %>
        <% else %>
          <%= f.input :user_id, as: :hidden, input_html: {
            value: f.object.user_id, id: "user_id_#{id}" } %>
          <%= f.input "weakness_user_#{id}", label: false, input_html: {
            value: f.object.user.full_name_with_function(@oportunity.created_at), readonly: true } %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= f.input :responsible_auditor, as: :boolean, label: false, input_html: {
          disabled: readonly || (f.object.user && f.object.user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-2">
        <%= f.input :process_owner, as: :boolean, label: false, input_html: {
          disabled: readonly || (f.object.user && !f.object.user.can_act_as_audited?) } %>
      </div>
      <div class="col-md-2">
        <div class="show_hide">
          <%= link_to_remove_nested_item(f) unless readonly %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
