<% readonly = @oportunity.final? -%>
<% review = @oportunity.review || (@oportunity.control_objective_item ?
    @oportunity.control_objective_item.review : nil) -%>
<% frozen = review.try :is_frozen? -%>
<% show_history_changes = @oportunity.status_change_history.size > 1 -%>
<!--[form:oportunity]-->
<% form_for @oportunity, :html => {:multipart => true} do |f| -%>
  <% content_for :js_extra do -%>
    <% unless readonly -%>
    <%= "var user='#{escape_javascript(render(:partial => 'user',
        :object => User.new, :locals => {:f => f, :is_dynamic => true,
        :readonly => readonly}))}';" %>
    <% end -%>
    <% unless frozen -%>
    <%= "var lastWorkPaperCode = '#{next_oportunity_work_paper_code(
        @oportunity)}';" %>
    <%= "var finding_relation='#{generate_template(f, :finding_relations,
        :object => FindingRelation.new(:finding_id => @oportunity.id))}';" %>
    <%= "var work_paper='#{generate_template(f, :work_papers,
        {:form_builder_local => :wp_f,
        :partial => 'work_papers/work_paper',
        :locals => {:child_index => 'NEW_RECORD', :frozen => false},
        :object => WorkPaper.new(:organization_id => @auth_organization.id)})}';" %>
    <% end -%>
  <% end -%>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= content_tag :label, Review.human_name, :class => :inline %>
      <%= text_field_tag :review, review.identification,
        :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <label class="inline"><%= ControlObjective.human_name %>:</label>
      <%= text_field nil, :control_objective_name, :size => nil,
        :value => "#{@oportunity.control_objective_item.control_objective_text} (#{@oportunity.control_objective_item.process_control.name})",
        :class => :inline_item, :readonly => true %>
      <%= f.hidden_field :control_objective_item_id %>
    </p>
    <p class="form_item">
      <%= f.label :review_code, nil, :class => :inline %>
      <%= f.text_field :review_code, :class => :inline_item, :maxlength => 255,
        :size => 10, :readonly => true %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :readonly => readonly, :class => :focused,
        :style => 'height: 21em;' %>
    </p>
  </div>
  <div class="form_column_right">
    <p class="form_item">
      <%= f.label :state, Oportunity.human_attribute_name(:state) +
        (show_history_changes ? finding_show_status_change_history(
          :finding_status_change_history) : ''), :class => :inline %>
      <%= finding_status_field(f, true, readonly) %>
    </p>
    <% if show_history_changes -%>
      <%= render :partial => 'findings/history_changes',
        :locals => { :finding => @oportunity } %>
    <% end -%>
    <p>
      <%= f.label :solution_date %>
      <%= f.calendar_date_select :solution_date, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :origination_date %>
      <%= f.calendar_date_select :origination_date, :readonly => readonly %>
    </p>

    <% if @oportunity.must_have_a_comment? -%>
      <% f.fields_for :comments,
        @oportunity.comments.build(:user => @auth_user) do |c_f| -%>
        <p>
          <%= c_f.label :comment, nil, :class => :error_field %>
          <%= c_f.text_area :comment, :class => :error_field %>
          <%= c_f.hidden_field :user_id %>
        </p>
      <% end -%>
    <% end -%>
    <p>
      <%= f.label :answer %>
      <%= f.text_area :answer, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :audit_comments %>
      <%= f.text_area :audit_comments, :readonly => readonly %>
    </p>
  </div>
  
  <div style="clear: both; margin-top: 2em;">
    <h1>
      <%= t(:'finding.finding_relations') %>
      <%= show_inline_help_for(:finding_relations) %>
    </h1>

    <div class="column_headers">
      <div class="item_column" style="width: 60%;">
        <h3><%= FindingRelation.human_attribute_name :related_finding_id %></h3>
      </div>
      <div class="item_column" style="width: 30%;">
        <h3><%= FindingRelation.human_attribute_name :finding_relation_type %></h3>
      </div>
      <div class="item_column" style="width: 5%;"></div>
      <div style="clear: both;"></div>
    </div>

    <div id="finding_relations">
      <% f.fields_for :finding_relations do |fr_f| -%>
        <%= render :partial => 'finding_relation', :locals =>
          {:f => fr_f, :is_dynamic => false} %>
      <% end -%>
    </div>
  </div>

  <p class="add_item">
    <%= link_to t(:'finding.add_finding_relation'), '#finding_relation',
      :class => :add_nested_item, :rel => :finding_relations %>
  </p>

  <table class="item_container">
    <thead>
      <tr>
        <th style="width: 52%;"><%= t(:'finding.related_users') %></th>
        <th style="width: 48%;"><%= t(:'finding.work_papers') %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width: 52%; padding-top: 1em;">
          <div id="users">
            <%= render :partial => 'user', :collection => @oportunity.users,
              :locals => {:f => f, :is_dynamic => false, :readonly => readonly} %>
          </div>
        </td>
        <td style="width: 48%; padding-top: 1em;">
          <div class="column_headers">
            <div class="item_column" style="width: 20%;">
              <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
            </div>
            <div class="item_column" style="width: 20%;">
              <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
            </div>
            <div class="item_column" style="width: 15%;">
              <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
            </div>
            <div class="item_column" style="width: 25%;">
              <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
            </div>
            <div class="item_column" style="width: 10%;">
              <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
            </div>
            <div class="item_column" style="width: 10%;"></div>
            <div style="clear: both;"></div>
          </div>

          <div id="work_papers">
            <% f.fields_for :work_papers do |wp_f| -%>
              <%= render :partial => 'work_papers/work_paper', :locals =>
                {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
                :child_index => 'NEW_RECORD'} %>
            <% end -%>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to_unless readonly, t(:'finding.add_user'), '#user',
            :class => :add_nested_item, :rel => :users %>
        </td>
        <td>
          <%= link_to_unless frozen, t(:'finding.add_work_paper'),
            '#work_paper', :class => :add_nested_item, :rel => :work_papers %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= hidden_lock_version(f) %>
  
  <p>
     <span class="button"><%= f.submit submit_button_text %></span>
  </p>
<% end -%>
<!--[eoform:oportunity] -->
<%= set_focus_to_first_element %>