<% readonly = @oportunity.final? %>
<% review = @oportunity.review || (@oportunity.control_objective_item ?
    @oportunity.control_objective_item.review : nil) %>
<% frozen = review.try(:is_frozen?) || @oportunity.repeated? %>
<% show_history_changes = @oportunity.status_change_history.size > 1 %>
<!--[form:oportunity]-->
<%= form_for @oportunity, :html => {:multipart => true} do |f| %>
  <% content_for :js_extra do %>
    <% unless readonly %>
      <%= raw "var finding_user_assignment='#{generate_template(f,
          :finding_user_assignments, :locals => {:readonly => readonly})}';" %>
    <% end %>
    <% unless frozen %>
    <%= raw "var lastWorkPaperCode = '#{next_oportunity_work_paper_code(
        @oportunity)}';" %>
    <%= raw "var finding_relation='#{generate_template(f, :finding_relations,
        :object => FindingRelation.new(:finding_id => @oportunity.id))}';" %>
    <%= raw "var work_paper='#{generate_template(f, :work_papers,
        {:form_builder_local => :wp_f,
        :partial => 'work_papers/work_paper',
        :locals => {:child_index => 'NEW_RECORD', :frozen => false},
        :object => WorkPaper.new(:organization_id => @auth_organization.id)})}';" %>
    <% end %>
  <% end %>
  <%= f.error_messages %>

  <div class="form_column_left">
    <p class="form_item">
      <%= content_tag :label, Review.model_name.human, :class => :inline %>
      <%= text_field_tag :review, review.identification,
        :class => :inline_item, :readonly => true %>
    </p>
    <p class="form_item">
      <%= f.label :review_code, nil, :class => :inline %>
      <%= f.text_field :review_code, :class => :inline_item, :maxlength => 255,
        :size => 10, :readonly => true %>
    </p>
    <div>
      <label for="oportunity_control_objective_item">
        <%= raw(ControlObjective.model_name.human +
          show_inline_help_for(:finding_control_objective_item)) %>
      </label>
      <% if !readonly && !@oportunity.new_record? %>
        <div class="search">
          <%= f.hidden_field :control_objective_item_id,
            :class => :autocomplete_id_item %>
          <%= text_field_with_auto_complete(:oportunity, :auto_control_objective_item,
            {:id => :oportunity_control_objective_item,
            :class => "search#{' error_field' unless (@oportunity.errors[:control_objective_item_id] | @oportunity.errors[:control_objective_item]).blank?}",
            :title => t(:'label.search'),
            :value => @oportunity.control_objective_item.try(:control_objective_text)},
            {:indicator => :loading, :skip_style => true,
            :url => {:action => :auto_complete_for_control_objective_item},
            :after_update_element => 'AutoComplete.itemSelected',
            :param_name => 'control_objective_item_data'}) %>
        </div>
      <% else %>
        <%= text_field nil, :control_objective_name, :size => nil,
          :id => :oportunity_control_objective_item,
          :value => "#{@oportunity.control_objective_item.control_objective_text} (#{@oportunity.control_objective_item.process_control.name})",
          :readonly => true %>
        <%= f.hidden_field :control_objective_item_id %>
      <% end %>
    </div>
    <p>
      <%= finding_repeated_of_label(f, readonly) %>
      <%= finding_repeated_of_if_field(f, readonly) %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description, :readonly => readonly, :class => :focused,
        :style => 'height: 15em;' %>
    </p>
  </div>
  <div class="form_column_right">
    <p class="form_item">
      <%= f.label :state, raw(Oportunity.human_attribute_name(:state) +
          show_inline_help_for(:finding_state) +
          (show_history_changes ? finding_show_status_change_history(
            :finding_status_change_history) : '')),
        :class => :inline %>
      <%= finding_status_field(f, true, readonly) %>
    </p>
    <% if show_history_changes %>
      <%= render :partial => 'findings/history_changes',
        :locals => { :finding => @oportunity } %>
    <% end %>
    <p>
      <%= f.label :solution_date %>
      <%= f.calendar_date_select :solution_date, :disabled => readonly %>
    </p>
    <p>
      <%= f.label :origination_date %>
      <%= f.calendar_date_select :origination_date, :disabled => readonly %>
    </p>

    <% if @oportunity.must_have_a_comment? %>
      <%= f.fields_for :comments,
        @oportunity.comments.build(:user => @auth_user) do |c_f| %>
        <p>
          <%= c_f.label :comment, nil, :class => :error_field %>
          <%= c_f.text_area :comment, :class => :error_field %>
          <%= c_f.hidden_field :user_id %>
        </p>
      <% end %>
    <% end %>
    <p>
      <%= f.label :answer %>
      <%= f.text_area :answer, :readonly => readonly %>
    </p>
    <p>
      <%= f.label :audit_comments %>
      <%= f.text_area :audit_comments, :readonly => readonly %>
    </p>
  </div>

  <div style="clear: both; margin-top: 2em;">
    <h1>
      <%= t(:'finding.responsibles', :count => @oportunity.users.size) %>
      <%= show_inline_help_for(:finding_responsibles) %>
    </h1>
  </div>

  
  <div class="column_headers">
    <div class="item_column" style="width: 75%;">
      <h3><%= User.model_name.human %></h3>
    </div>
    <div class="item_column" style="width: 15%;">
      <h3><%= raw(FindingUserAssignment.human_attribute_name(:process_owner) +
        show_inline_help_for(:finding_user_assignment_process_owner)) %></h3>
    </div>
    <div class="item_column" style="width: 5%;"></div>
    <div class="clear"></div>
  </div>

  <div id="finding_user_assignments">
    <%= f.fields_for :finding_user_assignments do |fua_f| %>
      <%= render :partial => 'finding_user_assignment', :locals =>
        {:f => fua_f, :is_dynamic => false, :readonly => readonly} %>
    <% end %>
  </div>

  <p class="add_item">
    <%= link_to_unless readonly, t(:'finding.add_user'), '#',
      :'data-template' => :finding_user_assignment,
      :'data-event' => :add_nested_item,
      :'data-container' => :finding_user_assignments %>
  </p>

  <% unless (repeated_ancestors = @oportunity.repeated_ancestors).blank? %>
    <h1><%= raw(t(:'finding.repeated_ancestors') + show_inline_help_for(:finding_repeated_ancestors)) %></h1>
    <ul class="raw_list">
      <% repeated_ancestors.each do |repeated_ancestor| %>
        <li><%= repeated_ancestor %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless (repeated_children = @oportunity.repeated_children).blank? %>
    <h1><%= raw(t(:'finding.repeated_children') + show_inline_help_for(:finding_repeated_children)) %></h1>
    <ul class="raw_list">
      <% repeated_children.each do |repeated_child| %>
        <li><%= repeated_child %></li>
      <% end %>
    </ul>
  <% end %>

  <h1>
    <%= t(:'finding.finding_relations') %>
    <%= show_inline_help_for(:finding_relations) %>
  </h1>

  <div class="column_headers">
    <div class="item_column" style="width: 60%;">
      <h3><%= FindingRelation.human_attribute_name :related_finding_id %></h3>
    </div>
    <div class="item_column" style="width: 30%;">
      <h3><%= FindingRelation.human_attribute_name :description %></h3>
    </div>
    <div class="item_column" style="width: 5%;"></div>
    <div class="clear"></div>
  </div>

  <div id="finding_relations">
    <%= f.fields_for :finding_relations do |fr_f| %>
      <%= render :partial => 'finding_relation', :locals =>
        {:f => fr_f, :is_dynamic => false} %>
    <% end %>
  </div>

  <p class="add_item">
    <%= link_to_unless frozen, t(:'finding.add_finding_relation'), '#',
      :'data-template' => :finding_relation, :'data-event' => :add_nested_item,
      :'data-container' => :finding_relations %>
  </p>
  
  <% unless @oportunity.inverse_finding_relations.blank? %>
    <h1>
      <%= t(:'finding.inverse_finding_relations') %>
      <%= show_inline_help_for(:inverse_finding_relations) %>
    </h1>
    
    <table class="summary_table">
      <thead>
        <tr>
          <th><%= FindingRelation.human_attribute_name :finding_id %></th>
          <th><%= FindingRelation.human_attribute_name :description %></th>
        </tr>
      </thead>
      <tbody>
        <% @oportunity.inverse_finding_relations.each do |ifr| %>
          <tr>
            <td><%= ifr.finding %></td>
            <td><%= ifr.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <% unless @oportunity.finding_answers.blank? %>
    <h1>
      <%= t(:'finding.finding_answers') %>
      <%= show_inline_help_for(:finding_comments) %>
    </h1>

    <table class="summary_table">
      <thead>
        <tr>
          <th><%= User.model_name.human %></th>
          <th><%= FindingAnswer.human_attribute_name :answer %></th>
          <th>
            <%= FindingAnswer.human_attribute_name :file_model %>
            <%= show_inline_help_for(:finding_file_model) %>
          </th>
          <th>
            <%= FindingAnswer.human_attribute_name :created_at %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @oportunity.finding_answers.each do |finding_answer| %>
          <tr>
            <td><%= h finding_answer.user.full_name %></td>
            <td><%= simple_format h(finding_answer.answer) %></td>
            <td>
              <%= finding_answer.file_model ?
                link_to(t(:'label.download'), finding_answer.file_model.file.url) : '---' %>
            </td>
            <td>
              <%= l(finding_answer.created_at, :format => :long) if finding_answer.created_at %>
              <% if finding_answer.commitment_date %>
                <br />
                <br /><b><%= FindingAnswer.human_attribute_name(:commitment_date) %></b>:
                <br /><%= l(finding_answer.commitment_date, :format => :long) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h1>
    <%= t(:'finding.work_papers') %>
    <%= show_inline_help_for(:finding_work_papers) %>
  </h1>

  <div class="column_headers">
    <div class="item_column" style="width: 20%;">
      <h3><%= WorkPaper.human_attribute_name :name %></h3>
    </div>
    <div class="item_column" style="width: 20%;">
      <h3><%= WorkPaper.human_attribute_name :code %></h3>
    </div>
    <div class="item_column" style="width: 15%;">
      <h3><%= WorkPaper.human_attribute_name :number_of_pages %></h3>
    </div>
    <div class="item_column" style="width: 25%;">
      <h3><%= WorkPaper.human_attribute_name :description %></h3>
    </div>
    <div class="item_column" style="width: 10%;">
      <h3><%= WorkPaper.human_attribute_name :file_model %></h3>
    </div>
    <div class="item_column" style="width: 10%;"></div>
    <div class="clear"></div>
  </div>

  <div id="work_papers">
    <%= f.fields_for :work_papers do |wp_f| %>
      <%= render :partial => 'work_papers/work_paper', :locals =>
        {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
        :child_index => 'NEW_RECORD'} %>
    <% end %>
  </div>

  <p class="add_item">
    <%= link_to_unless frozen, t(:'finding.add_work_paper'), '#',
      :'data-template' => :work_paper, :'data-event' => :add_nested_item,
      :'data-container' => :work_papers %>
  </p>

  <%= hidden_lock_version(f) %>
  
  <p>
     <span class="button"><%= f.submit nil, :disabled => frozen %></span>
  </p>
<% end %>
<!--[eoform:oportunity] -->
<%= set_focus_to_first_element %>

<% if @oportunity.repeated_of && !readonly %>
  <% content_for :extra_html_bottom do %>
    <div id="inline_undo_reiteration" class="popup" style="display: none;">
      <%= button_to t(:'finding.undo_reiteration'),
        undo_reiteration_oportunity_path(@oportunity), :method => :put %>
      <%= t(:'label.or') %>
      <a id="help_closebox_undo_reiteration" class="popup_closebox" href="#" onclick="return false;">
        <%= t(:'label.cancel') %>
      </a>
    </div>
    <script type="text/javascript">
    (function() {
      PopupListener['inlineundoreiteration'] = function(link) {
        new Popup(
          'inline_undo_reiteration', 'show_inline_undo_reiteration',
          {trigger: 'click', position: 'below'}
        );
      }

      PopupListener['inlineundoreiteration']();
    })();
    </script>
  <% end %>
<% end %>