<% if params[:control_objective].blank? %>
  <%= render :partial => 'shared/search', :locals => {
    :options => {:columns_for_sort => Oportunity.columns_for_sort},
    :columns => @query.blank? ? (Oportunity::COLUMNS_FOR_SEARCH.keys - ['organization']) : @columns
  } %>
<% end %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <th></th>
      <%= make_filterable_column Review.model_name.human, nil, 'review' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { :class => 'hidden-xs' }, 'project' %>
      <%= make_filterable_column Oportunity.human_attribute_name(:review_code), nil, 'review_code' %>
      <%= make_filterable_column Oportunity.human_attribute_name(:title), { :class => 'hidden-xs' }, 'title' %>
      <%= make_not_available_column Oportunity.human_attribute_name(:state), :class => 'hidden-xs' %>
      <%= make_filterable_column Tag.model_name.human(count: 0), { :class => 'hidden-xs' }, 'tags' %>
      <%= make_not_available_column WorkPaper.model_name.human(count: 0), :class => 'hidden-xs' %>
      <th colspan="2" class="text-right"><%= link_to_search if params[:control_objective].blank? %></th>
    </tr>
  </thead>

  <tbody>
    <% @oportunities.each do |oportunity| %>
      <tr <%== 'class="text-muted"' if oportunity.is_in_a_final_review? %>>
        <td><%= finding_updated_at_text oportunity %></td>
        <td class="nowrap"><%= show_review_with_close_date_as_abbr oportunity.review %></td>
        <td class="hidden-xs"><%= super_truncate oportunity.review.try(:plan_item).try(:project), 20 %></td>
        <td class="nowrap"><%= show_finding_review_code_with_decription_as_abbr(oportunity) %></td>
        <td class="hidden-xs"><%= super_truncate oportunity.title, 20 %></td>
        <td class="hidden-xs"><%= oportunity.state_text %></td>
        <td class="hidden-xs"><%= tags oportunity.tags.reload %></td>
        <td class="hidden-xs"><%= t oportunity.work_papers.blank? ? 'label.no' : 'label.yes' %></td>
        <td><%= link_to_show oportunity %></td>
        <td><%= link_to_edit edit_oportunity_path(oportunity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div class="clearfix">
  <%= paginate @oportunities %>
  <% if params[:control_objective].to_i > 0 %>
    <%= link_to t('label.new'), new_oportunity_path(
      :control_objective_item => params[:control_objective]), class: 'btn btn-primary' %>
  <% end %>
</div>
