<div id="showed_data">
  <div class="show_item">
    <b><%= Review.model_name.human %>:</b>
    <%=h @oportunity.review.try(:identification) %>
  </div>

  <div class="show_item">
    <b><%= ControlObjective.model_name.human %>:</b>
    <%= simple_format h(@oportunity.control_objective_item.try(:control_objective_text)) %>
  </div>
  
  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :review_code %>:</b>
    <%=h @oportunity.review_code %>
  </div>

  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :description %>:</b>
    <%= simple_format h(@oportunity.description) %>
  </div>

  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :answer %>:</b>
    <%= simple_format h(@oportunity.answer) %>
  </div>

  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :audit_comments %>:</b>
    <%= simple_format h(@oportunity.audit_comments) %>
  </div>

  <div class="show_item">
    <b><%= raw(Oportunity.human_attribute_name(:state) +
      show_inline_help_for(:finding_state)) %>:</b>
    <%=h @oportunity.state_text %>
  </div>

  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :origination_date %>:</b>
    <%=l @oportunity.origination_date, :format => :long if @oportunity.origination_date %>
  </div>

  <div class="show_item">
    <b><%= Oportunity.human_attribute_name :solution_date %>:</b>
    <%=l @oportunity.solution_date, :format => :long if @oportunity.solution_date %>
  </div>

  <h3><%= raw(t(:'finding.responsibles', :count => @oportunity.users.size) +
      show_inline_help_for(:finding_responsibles)) %></h3>
  <%= array_to_ul @oportunity.users.map { |u| u.full_name_with_function(@oportunity.created_at) },
    :class => :raw_list %>

  <% unless (repeated_ancestors = @oportunity.repeated_ancestors).blank? %>
    <h3><%= raw(t(:'finding.repeated_ancestors') + show_inline_help_for(:finding_repeated_ancestors)) %></h3>
    <ul class="raw_list">
      <% repeated_ancestors.each do |repeated_ancestor| %>
        <li><%= repeated_ancestor %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless (repeated_children = @oportunity.repeated_children).blank? %>
    <h3><%= raw(t(:'finding.repeated_children') + show_inline_help_for(:finding_repeated_children)) %></h3>
    <ul class="raw_list">
      <% repeated_children.each do |repeated_child| %>
        <li><%= repeated_child %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @oportunity.work_papers.empty? %>
    <h3><%= raw(t(:'finding.work_papers') + show_inline_help_for(:finding_work_papers)) %></h3>
    <table class="summary_table">
      <thead>
        <tr>
          <th><%= WorkPaper.human_attribute_name :name %></th>
          <th><%= WorkPaper.human_attribute_name :code %></th>
          <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
          <th><%= WorkPaper.human_attribute_name :description %></th>
          <th><%= WorkPaper.human_attribute_name :file_model %></th>
        </tr>
      </thead>
      <tbody>
        <% @oportunity.work_papers.each do |wp| %>
          <tr>
            <td><%=h wp.name %></td>
            <td><%=h wp.code %></td>
            <td><%=h wp.number_of_pages %></td>
            <td><%= simple_format h(wp.description) %></td>
            <td><%= wp.file_model ?
              link_to(t(:'label.download'), wp.file_model.file.url) : '---' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div id="links">
  <%= link_to t(:'label.edit'), edit_oportunity_path(@oportunity) %> |
  <%= link_to t(:'label.list'), oportunities_path %> |
  <%= link_to_back %>
</div>