<% if params[:control_objective].blank? %>
  <%= render :partial => 'shared/search', :locals => {
    :options => {:columns_for_sort => Fortress.columns_for_sort},
    :columns => @query.blank? ? Fortress::COLUMNS_FOR_SEARCH.keys : @columns
  } %>
<% end %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <%= make_filterable_column Review.model_name.human, nil, 'review' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { 'visible-lg' => true }, 'project' %>
      <%= make_filterable_column Fortress.human_attribute_name(:review_code), nil, 'review_code' %>
      <%= make_filterable_column Fortress.human_attribute_name(:description), { 'visible-lg' => true }, 'description' %>
       <%= make_not_available_column raw(t('finding.has_work_papers') + show_inline_help_for(:finding_work_papers)), 'visible-lg' => true %>
      <th colspan="2" style="text-align: right;"><%= link_to_search if params[:control_objective].blank? %></th>
    </tr>
  </thead>

  <tbody>
    <% @fortresses.each do |fortress| %>
      <tr <%== 'class="text-muted"' if fortress.is_in_a_final_review? %>>
        <td><%= finding_updated_at_text fortress %></td>
        <td class="nowrap"><%= show_review_with_close_date_as_abbr fortress.review %></td>
        <td class="visible-lg"><%= super_truncate fortress.review.try(:plan_item).try(:project), 20 %></td>
        <td class="nowrap"><%= show_finding_review_code_with_control_objective_as_abbr(fortress) %></td>
        <td class="visible-lg"><%= super_truncate fortress.description, 20 %></td>
        <td class="visible-lg"><%= fortress.work_papers.blank? ? t('label.no') : t('label.yes') %></td>
        <td><%= link_to_show fortress %></td>
        <td><%= link_to_edit edit_fortress_path(fortress) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div class="form-footer">
  <div class="pull-right"><%= pagination_links @fortresses %></div>
  <% if params[:control_objective].to_i > 0 %>
    <%= link_to t('label.new'), new_fortress_path(
      :control_objective_item => params[:control_objective]) %>
  <% end %>
</div>
