<p>
  <strong><%= Review.model_name.human %>:</strong>
  <%= @fortress.review.try(:identification) %>
</p>

<div>
  <strong><%= ControlObjective.model_name.human %>:</strong>
  <%= simple_format @fortress.control_objective_item.try(:to_s) %>
</div>

<p>
  <strong><%= Fortress.human_attribute_name :review_code %>:</strong>
  <%= @fortress.review_code %>
</p>

<p>
  <strong><%= Fortress.human_attribute_name :title %>:</strong>
  <%= @fortress.title %>
</p>

<div>
  <strong><%= Fortress.human_attribute_name :description %>:</strong>
  <%= simple_format @fortress.description %>
</div>

<p>
  <strong><%= Fortress.human_attribute_name :origination_date %>:</strong>
  <%=l @fortress.origination_date, :format => :long if @fortress.origination_date %>
</p>

<h3><%= t('finding.responsibles', :count => @fortress.users.size) %></h3>
<%= finding_responsibles_list(@fortress) %>

<% unless @fortress.work_papers.empty? %>
  <h3><%= t('finding.work_papers') %></h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= WorkPaper.human_attribute_name :name %></th>
        <th><%= WorkPaper.human_attribute_name :code %></th>
        <th><%= WorkPaper.human_attribute_name :number_of_pages %></th>
        <th><%= WorkPaper.human_attribute_name :description %></th>
        <th><%= WorkPaper.human_attribute_name :file_model %></th>
      </tr>
    </thead>
    <tbody>
      <% @fortress.work_papers.each do |wp| %>
        <tr>
          <td><%= wp.name %></td>
          <td><%= wp.code %></td>
          <td><%= wp.number_of_pages %></td>
          <td><%= simple_format wp.description %></td>
          <td><%= wp.file_model.try(:file?) ?
            link_to(t('label.download'), wp.file_model.file.url) : '---' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr />

<div>
  <%= link_to_edit edit_fortress_path(@fortress) %> |
  <%= link_to_index fortresses_path %> |
  <% if !@fortress.is_in_a_final_review? %>
    <%= link_to t('fortress.show_follow_up'), finding_path('incomplete', @fortress) %> |
  <% end %>
  <%= link_to_back %>
</div>
