<div class="items" style="margin-top: .7em;">
  <div class="show_hide_field" style="margin-right: 1em;">
    <%= link_to_show_hide "business_units_#{type}",
      t(:'organization.show_business_units'),
      t(:'organization.hide_business_units') %>
  </div>
  <h2><%= t("organization.business_unit_#{type}.type") %></h2>
  <div class="hidden_items business_units_container" id="business_units_<%= type %>" style="display: none; padding-top: .5em;">
    <div>
      <div id="business_units_<%= value %>">
        <%= hidden_field_tag "business_unit_value_#{value}", value,
          :class => :business_unit_type %>
        <% @auth_organization.business_units.each do |bu| -%>
          <% if bu.business_unit_type == value -%>
            <% o_f.fields_for :business_units, bu do |bu_f| -%>
              <%= render :partial => 'business_unit', :locals =>
                {:f => bu_f, :is_dynamic => false,
                :business_unit_type => value} %>
            <% end -%>
          <% end -%>
        <% end -%>
      </div>

      <p class="add_item">
        <%= link_to t(:'organization.add_business_unit'), '#business_unit',
          :class => :add_nested_item, :rel => "business_units_#{value}" %>
      </p>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>