<!--[form:organization]-->
<%= form_for @organization, :html => { :multipart => true } do |o_f| %>
  <%= o_f.error_messages %>

  <div class="form_column_left">
  <p>
    <%= o_f.label :name %>
    <%= o_f.text_field :name, :maxlength => 255, :autofocus => true %>
  </p>
  <% unless [:edit, :update].include?(controller.action_name.to_sym) %>
  <p>
    <%= o_f.label :prefix %>
    <%= o_f.text_field :prefix, :maxlength => 255, :size => 10 %>
  </p>
  <% end %>
  <p>
    <%= o_f.label :description %>
    <%= o_f.text_area :description %>
  </p>
  <p>
    <%= o_f.label :public %>
    <%= o_f.check_box :public %>
  </p>
  <% unless @organization.new_record? %>
    <p class="form_item">
      <% @organization.build_image_model unless @organization.image_model %>
      <%= o_f.fields_for :image_model do |im_f| %>
        <%= im_f.label :image,
          Organization.human_attribute_name(:image_model), :class => :inline %>
        <span class="file_container">
          <%= im_f.file_field :image, :class => 'inline_item file', :size => nil %>
        </span>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= t('organization.new_organization_can_not_have_image') %>
    </p>
  <% end %>
  </div>

  <%= hidden_lock_version(o_f) %>

  <p>
    <span class="button"><%= o_f.submit %></span>
  </p>
<% end %>
<!--[eoform:organization] -->
<script type="text/javascript">HTMLUtil.stylizeAllInputFiles();</script>
