<%= simple_form_for @organization do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, input_html: { maxlength: 255, autofocus: true } %>

      <% unless [:edit, :update].include?(controller.action_name.to_sym) %>
        <%= f.input :prefix, input_html: { maxlength: 255 } %>
      <% end %>
      <%= kind_field f %>
      <% unless @organization.new_record? %>
        <div class="row">
          <div class="col-md-11">
            <% @organization.build_image_model unless @organization.image_model %>
            <%= f.simple_fields_for :image_model do |im_f| %>
              <%= im_f.input :image, label: false %>
            <% end %>
          </div>
          <div class="col-md-1">
            <div class="show_hide">
              <% if @organization.image_model && @organization.image_model.valid? &&
                @organization.errors.empty? %>
                <%= link_to_download @organization.image_model.image.url %>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="alert alert-warning">
          <%= t('organization.new_organization_can_not_have_image') %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= f.input :description %>
    </div>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
