<%= simple_form_for @organization do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, autofocus: true %>
      <%= f.input :prefix unless action_name.presence_in %w(edit update) %>

      <%= render 'image_input', f: f %>
    </div>
    <div class="col-md-6">
      <%= f.input :description, input_html: { rows: 5 } %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :corporate, input_html: { disabled: @organization.corporate } %>
    </div>
  </div>

  <%= render 'ldap_config', f: f %>

  <hr />

  <div class="form-actions">
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
