<% if @organization.persisted? %>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label>
          <%= Organization.human_attribute_name 'image' %>
        </label>
      </div>

      <% if show_link_to_download_image?(f) %>
        <div class="row">
          <%= image_tag f.object.thumb_image, alt: 'Logo' %>
        </div>
      <% end %>

      <div class="row mt-2">
        <div class="file-container float-left">
          <%= link_to_upload_image %>
          <%= f.input :image, label: false %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <% if @organization.image.attached? %>
        <div class="row">
          <label>
            <%= Organization.human_attribute_name 'co_brand_image' %>
          </label>
        </div>

        <% if f.object.errors[:co_brand_image].empty? && f.object.co_brand_image.attached? %>
          <div class="row">
            <%= image_tag f.object.thumb_co_brand_image, alt: 'Logo' %>
          </div>
        <% end %>

        <div class="row mt-2">
          <div class="file-container float-left">
            <%= link_to_upload_image %>
            <%= f.input :co_brand_image, label: false %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t 'organizations.new_organization_can_not_have_image' %>
  </div>
<% end %>
