<% if @organization.image_model && @organization.image_model.valid? &&
    @organization.errors.empty? %>
  <div id="organization_logo">
    <%= organization_image_tag %>
  </div>
<% end %>

<%= render :partial => 'form' %>

<div id="links">
<%= link_to t(:'label.show'), @organization %> |
<%= link_to t(:'label.list'), organizations_path %> |
<%= link_to_back %>
</div>