<table>
  <thead>
    <tr>
      <th></th>
      <th><%= Organization.human_attribute_name 'name' %></th>
      <th><%= Organization.human_attribute_name 'prefix' %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="5"></td><td></td></tr>
    <%= render :partial => 'index_line', :collection => @organizations %>
  </tbody>
</table>

<div id="links">
<%= pagination_links @organizations %>
<%= link_to t(:'label.new'), new_organization_path %>
<div style="clear: both;"></div>
</div>