<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= Organization.human_attribute_name :name %></th>
      <th class="hidden-xs"><%= Organization.human_attribute_name :prefix %></th>
      <th><%= Organization.human_attribute_name :kind %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td class="hidden-xs"><strong><%= organization.prefix %></strong></td>
        <td><%= t "activerecord.attributes.organization.kind_options.#{organization.kind}" %></td>
        <td><%= link_to_show organization %></td>
        <td><%= link_to_edit edit_organization_path(organization) %></td>
        <td><%= link_to_destroy organization %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div>
  <%= paginate @organizations %>
  <%= link_to t('label.new'), new_organization_path, class: 'btn btn-primary' %>
</div>
