<table class="list">
  <thead>
    <tr>
      <th><%= Organization.human_attribute_name :name %></th>
      <th class="expendable"><%= Organization.human_attribute_name :prefix %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= h organization.name %></td>
        <td class="expendable"><strong><%= h organization.prefix %></strong></td>
        <td><%= link_to_show organization %></td>
        <td><%= link_to_edit edit_organization_path(organization) %></td>
        <td><%= button_to_destroy organization %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @organizations %>
  <%= link_to t(:'label.new'), new_organization_path %>
  <div class="clear"></div>
</div>