<div class="page-header">
  <h1>
    <%= @organization %>
    <small><%= @organization.prefix %></small>
  </h1>
</div>

<p>
  <strong><%= Organization.human_attribute_name 'description' %></strong>:
  <%= @organization.description %>
</p>

<% if @organization.image_model %>
  <p>
    <strong><%= Organization.human_attribute_name 'image_model' %></strong>:
  </p>

  <br />
  <div><%= organization_image_tag %></div>
<% end %>

<% if @organization.co_brand_image_model %>
  <br />

  <p>
    <strong><%= Organization.human_attribute_name 'co_brand_image_model' %></strong>:
  </p>

  <br />
  <div><%= organization_image_tag model: :co_brand_image_model %></div>
<% end %>

<hr />

<%= link_to_edit edit_organization_path(@organization) %> |
<%= link_to_index organizations_path %>
