<div id="showed_data">
<p>
  <b><%= Organization.human_attribute_name 'name' %>:</b>
  <%= @organization.name %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'prefix' %>:</b>
  <%= @organization.prefix %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'description' %>:</b>
  <%= @organization.description %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'system_quality_management' %>:</b>
  <%= @organization.system_quality_management? ? t('label.yes') : t('label.no') %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'image_model' %>:</b>
</p>

<% if @organization.image_model %>
  <div style="margin-top: 1em;"><%= organization_image_tag %></div>
<% end %>
</div>

<div id="links">
<%= link_to t('label.edit'), edit_organization_path(@organization) %> |
<%= link_to t('label.list'), organizations_path %> |
<%= link_to_back %>
</div>
