<p>
  <b><%= Organization.human_attribute_name 'name' %>:</b>
  <%= @organization.name %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'prefix' %>:</b>
  <%= @organization.prefix %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'kind' %>:</b>
  <%= t "activerecord.attributes.organization.kind_options.#{@organization.kind}" %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'description' %>:</b>
  <%= @organization.description %>
</p>

<p>
  <b><%= Organization.human_attribute_name 'image_model' %>:</b>
</p>

<% if @organization.image_model %>
  <div style="margin-top: 1em;"><%= organization_image_tag %></div>
<% end %>

<hr />

<%= link_to_edit edit_organization_path(@organization) %> |
<%= link_to t('label.list'), organizations_path %> |
<%= link_to_back %>
