<%= simple_form_for @risk_registry do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <%= f.input :name, autofocus: true, input_html: { maxlength: 255 } %>
    <%= f.input :description %>
  </div>

  <% if @risk_registry.persisted? %>
    <div class="row">
      <div class="col-md-10">
        <h5 class="h6 ml-3 pl-1"><%= RiskCategory.model_name.human count: 0 %></h5>
      </div>
    </div>

    <div id="risk_categories">
      <%= f.simple_fields_for :risk_categories, nested_risk_categories do |rc_f| %>
        <%= render 'risk_category', f: rc_f %>
      <% end %>

      <%= link_to_add_fields t('risk_registries.risk_categories.new'), f, :risk_categories %>
    </div>
  <% end %>

  <hr />

  <div class="form-actions">
    <%= f.input :organization_id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
    <div class="float-right"><%= yield :form_actions %></div>
  </div>
<% end %>
