<% id    = f.object.object_id %>
<% fetch = should_fetch_risks_for? f.object %>

<fieldset class="risk_category">
  <div class="form-inputs row">
    <div class="col-md-11">
      <div class="media">
        <div class="float-left mt-2 mr-2">
          <%= link_to_fetch_hide id, fetch ? :fetch : :show %>
        </div>
        <div class="media-body">
          <%= f.input :name, label: false, input_html: { maxlength: 255 } %>
        </div>
      </div>
    </div>
    <div class="col-md-1 mt-2 text-right">
      <%= link_to_insert_field(f) %>
      <span class="text-muted">|</span>
      <%= link_to_remove_nested_item(f) %>
      <%= f.input :id, as: :hidden %>
    </div>
  </div>

  <div class="pl-4 mb-3" data-nested hidden>
    <div data-container-id="<%= id %>" data-index="<%= f.index %>" data-url="<%= risk_category_path f.object %>" hidden>
      <% if fetch %>
        <div class="alert alert-warning">
          <%= t 'navigation.loading' %>
        </div>
      <% else %>
        <%= render 'risk_categories/form', risk_category: f.object, index: f.index %>
      <% end %>
    </div>

    <%= link_to_add_fields t('risk_registries.risks.new'), f, :risks, 'risk_categories/risk' %>
  </div>
</fieldset>
