<% id = "#{dynamic_object_id('finding_relation', f)}#{'_NEW_RECORD' if is_dynamic}" %>
<% finding_relation = f.object %>
<% hide = is_dynamic || finding_relation.marked_for_destruction? %>
<div class="finding_relation item" id="<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 60%;">
      <% if finding_relation.related_finding.blank? || is_dynamic %>
        <div class="search">
          <% extra_parameters =  { review_id: @potential_nonconformity.control_objective_item.try(:review).try(:id) || '' } %>
          <% extra_parameters[:finding_id] = @potential_nonconformity.id unless @potential_nonconformity.new_record? %>
          <% field_classes = [:search, :autocomplete_field] %>
          <% field_classes << :error_field unless finding_relation.errors[:related_finding_id].blank? %>
          <%= text_field_tag 'potential_nonconformity[nested_finding_relation]',
            finding_relation.related_finding.to_s,
            :id => "finding_finding_relation_#{id}",
            :class => field_classes.join(' '),
            :title => t('label.search'),
            :autocomplete => :off,
            :autofocus => true,
            'data-autocomplete-params' => extra_parameters,
            'data-autocomplete-url' => auto_complete_for_finding_relation_oportunities_path(:format => :json) %>
          <%= f.hidden_field :related_finding_id,
            :id => "hidden_related_finding_#{id}", :class => :autocomplete_id %>
        </div>
      <% else %>
        <%= f.hidden_field :related_finding_id,
          :id => "hidden_related_finding_#{id}" %>
        <%= text_field_tag "finding_finding_relation_#{id}",
          finding_relation.related_finding.try(:to_s), :readonly => true,
          :class => ('error_field' unless finding_relation.errors[:related_finding_id].blank?) %>
      <% end %>
    </div>
    <div class="item_field" style="width: 30%;">
      <%= f.text_field :description %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
      <%= f.hidden_field :finding_id %>
      <%= remove_item_link(f) %>
    </div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">
    Helper.showItem('#<%= id %>');
    AutoComplete.observeAll();
  </script>
<% end %>
