<%= simple_form_for @time_consumption, url: time_summary_url(@time_consumption) do |f| %>
  <%= f.error_notification %>
  <%= render 'resource_nav' %>

  <div class="form-inputs">
    <div>
      <p class="mb-2">
        <strong><%= TimeConsumption.human_attribute_name 'date' %></strong>:
        <%= l @time_consumption.date %>
      </p>

      <% if @time_consumption.resource_type == 'Activity' %>
        <%= f.input :resource_id, collection: time_summary_activities,
            as: :grouped_select,
            group_method: :last,
            group_label_method: :first,
            prompt: true,
            input_html: {
              autofocus: true,
              data: { time_summary_require: true }
            } %>
      <% else %>
        <%= f.input :resource_id, collection: time_summary_reviews,
          prompt: true,
          input_html: { autofocus: true } %>
      <% end %>
      <%= f.input :amount %>

      <div class="<%= show_require_detail? %>" data-show-detail="true" >
        <%= f.input :detail %>
      </div>

      <%= f.input :date, as: :hidden %>
      <%= f.input :limit, as: :hidden %>
      <%= f.input :resource_type, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn-primary' %>
    </div>
  </div>
<% end %>
