<%= simple_form_for @time_consumption, url: time_summary_index_path do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p class="mb-2">
      <strong><%= TimeConsumption.human_attribute_name 'date' %></strong>:
      <%= l @time_consumption.date %>
    </p>

    <%= f.input :activity_id, collection: ActivityGroup.order(:name),
                              as: :grouped_select,
                              group_method: :activities,
                              prompt: true,
                              input_html: { autofocus: true } %>
    <%= f.input :amount %>
    <%= f.input :date, as: :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
