<%= simple_form_for @user, url: users_reassignment_path(@user) do |f| %>
  <% if @user.reallocation_errors.present? %>
    <div>
      <%= link_to '#details', data: { toggle: 'collapse' } do %>
        <%= t 'label.details' %>
        <span class="glyphicon glyphicon-info-sign text-danger"></span>
      <% end %>
      <div id="details" class="collapse">
        <%= array_to_ul @user.reallocation_errors %>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="checkbox">
      <label>
        <%= check_box_tag 'with_findings', 1, true, autofocus: true %> <%= t '.with_findings' %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= check_box_tag 'with_reviews', 1, true %> <%= t '.with_reviews' %>
      </label>
    </div>

    <div class="page-header">
      <h3><%= t '.new_user' %></h3>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :user_data, label: false, input_html: {
          autocomplete: :off, title: t('label.search'),
          data: {
            autocomplete_url: auto_complete_for_user_users_path,
            autocomplete_id_target: '#other_id'
          }
        } %>
        <%= hidden_field_tag :other_id %>
      </div>
    </div>
  </div>

  <div class="page-header">
    <h3><%= t '.old_user' %></h3>
  </div>

  <p>
    <strong><%= User.human_attribute_name 'user' %></strong>:
    <%= @user.user %>
  </p>

  <p>
    <strong><%= User.human_attribute_name 'name' %></strong>:
    <%= @user.full_name %>
  </p>

  <hr />

  <div class="form-actions">
    <div class="pull-right">
      <%= link_to t('label.list'), users_path %> |
      <%= link_to_show @user %> |
      <%= link_to_edit edit_user_path(@user) %> |
      <%= link_to_back %>
    </div>

    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
