<%= simple_form_for @user, url: users_reassignment_path(@user) do |f| %>
  <% if @user.reallocation_errors.present? %>
    <div>
      <%= link_to '#details', data: { toggle: 'collapse' } do %>
        <%= t 'label.details' %>
        <%= icon 'fas', 'info-circle', class: 'text-danger' %>
      <% end %>
      <div id="details" class="collapse">
        <%= array_to_ul @user.reallocation_errors %>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="custom-control custom-checkbox my-2">
      <%= check_box_tag 'with_findings', 1, true, id: 'with_findings', class: 'custom-control-input', autofocus: true %>
      <label class="custom-control-label" for="with_findings"><%= t '.with_findings' %></label>
    </div>

    <div class="custom-control custom-checkbox my-2">
      <%= check_box_tag 'with_reviews', 1, true, id: 'with_reviews', class: 'custom-control-input' %>
      <label class="custom-control-label" for="with_reviews"><%= t '.with_reviews' %></label>
    </div>

    <h3 class="h4 my-3"><%= t '.new_user' %></h3>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :user_data, label: false, input_html: {
          autocomplete: :off, title: t('label.search'),
          data: {
            autocomplete_url: users_completions_path,
            autocomplete_id_target: '#other_id'
          }
        } %>
        <%= hidden_field_tag :other_id %>
      </div>
    </div>
  </div>

  <h3 class="h4 my-3"><%= t '.old_user' %></h3>

  <p class="mb-1">
    <strong><%= User.human_attribute_name 'user' %></strong>:
    <%= @user.user %>
  </p>

  <p class="mb-1">
    <strong><%= User.human_attribute_name 'name' %></strong>:
    <%= @user.full_name %>
  </p>

  <hr />

  <div class="form-actions">
    <div class="float-right">
      <%= link_to_index users_path %> |
      <%= link_to_show @user %> |
      <%= link_to_edit edit_user_path(@user) %>
    </div>

    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
