<% id = f.object.object_id %>
<% risk_category_id = risk_category_id %>
<% risk = f.object %>

<fieldset class="risk">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :identifier, autofocus: true %>
      </div>
      <div class="col-md-5">
        <%= f.input :name %>
      </div>
      <div class="col-md-1 mt-3 text-end">
        <%= link_to_remove_nested_item(f) %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :likelihood, collection: risk_likelihoods, prompt: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :impact, collection: risk_impacts, prompt: true %>
      </div>
    </div>
    <%= f.input :user, as: :string,
      input_html: {
        title: t('label.search'),
        data: {
          clear: 'user',
          autocomplete_url: users_completions_path,
          autocomplete_id_target: "#risk_user_#{id}"
        }
      }
    %>
    <%= f.input :user_id, as: :hidden, input_html: {
      id: "risk_user_#{id}"
    } %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :cause, input_html: { rows: 5 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :effect, input_html: { rows: 5 } %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <%= RiskControlObjective.model_name.human count: 0 %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.simple_fields_for :risk_control_objectives do |rcof| %>
        <%= render 'risks/risk_control_objective', f: rcof %>
      <% end %>

      <%= link_to_add_fields t('risks.new.control_objective'), f,
        :risk_control_objectives, 'risks/risk_control_objective' %>
    </div>
  </div>

  <hr>
</fieldset>
