<% if @review.identification.blank? || @review.errors[:identification].present? %>
  <div class="row">
    <div class="col-xs-4">
      <%= f.input :identification_prefix,
        collection: REVIEW_AUTOMATIC_PREFIXES,
        label: Review.human_attribute_name('identification'),
        prompt: true,
        input_html: {
          autofocus: true,
          data: {
            next_identification_number_url: next_identification_number_reviews_path
          }
        }
      %>
    </div>
    <div class="col-xs-4">
      <%= f.input :identification_number, label: raw('&nbsp;'), input_html: { readonly: true } %>
    </div>
    <div class="col-xs-4">
      <%= f.input :identification_suffix,
        collection: review_year_suffixes,
        label: raw('&nbsp;'),
        prompt: false,
        selected: Time.zone.today.year,
        input_html: {
          data: {
            next_identification_number_url: next_identification_number_reviews_path
          }
        }
      %>
    </div>
  </div>

  <%= f.input :identification, as: :hidden %>
<% else %>
  <%= f.input :identification, label: Review.human_attribute_name('identification'), input_html: { readonly: true } %>
<% end %>
