<% control_objective_item = co_f.object %>
<div class="control_objective_item">
  <div>
    <ul class="raw_list<%= ' red bold' if control_objective_item.try(:invalid?) %>">
      <li>
        <%= control_objective_item.control_objective_text %>
        
        <% if control_objective_item.new_record? %>
          <div style="display: none;">
            <%= co_f.hidden_field :control_objective_id %>
            <%= co_f.hidden_field :control_objective_text %>
            <%= co_f.fields_for :control do |c_f| %>
              <%= c_f.hidden_field :control %>
              <%= c_f.hidden_field :effects %>
              <%= c_f.hidden_field :design_tests %>
              <%= c_f.hidden_field :compliance_tests %>
              <%= c_f.hidden_field :sustantive_tests %>
            <% end %>
          </div>
        <% elsif !@review.has_final_review? %>
          | <%= link_to t(:'label.edit'), edit_control_objective_item_path(control_objective_item) %> |
          <%= remove_item_link(co_f) %>
        <% end -%>
      </li>
    </ul>
  </div>
</div>