<% control_objective_item = co_f.object -%>
<% id = dynamic_object_id('control_objective_item', co_f) -%>
<% process_control = control_objective_item.control_objective.process_control.name -%>
<% class_name = "process_control_#{control_objective_item.control_objective.process_control.id}" -%>
<% if process_controls.include?(process_control) -%>
  <h3>
    <%= check_box_tag class_name, 1, false,
      {:class => :process_control_check_box, :disabled => readonly}  %>
    <%= label_tag class_name, process_controls.delete(process_control),
      :class => :plain_label %>
  </h3>
<% end -%>
<div class="enumeration_list">
  <div style="display: none;">
    <%= co_f.check_box :_destroy, :class => :destroy_check_box %>
  </div>
  <%= link_to_show_hide id,
    t(:'review.show_control_objective'),
    t(:'review.hide_control_objective') %>
  <%= co_f.check_box :included_in_review,
    :class => "include_check_box child_#{class_name}",
    :disabled => !control_objective_item.new_record? %>
  <%= co_f.label :included_in_review, control_objective_item.control_objective_text,
    :class => (:error_field unless control_objective_item.errors.blank?) %>
</div>
<div class="control_objective_item item hidden_items" style="display: none; margin-top: 1em;" id="<%= id %>">
  <div>
    <div class="form_column_left">
      <p class="form_item">
        <%= co_f.label :relevance, nil, :class => :inline %>
        <%= co_f.select :relevance, parameter_in(@auth_organization.id,
          :admin_control_objective_importances,
          (control_objective_item.created_at), true),
          {:include_blank => t(:'control_objective_item.not_rated')},
          {:class => :inline_item, :disabled => readonly} %>
      </p>
      <p class="form_item">
        <%= co_f.label :audit_date, nil, :class => :inline %>
        <%= co_f.calendar_date_select :audit_date, :class => :inline_item,
          :readonly => readonly %>
      </p>
      <p>
        <%= co_f.label :control_objective_text %>
        <%= co_f.text_area :control_objective_text, :readonly => readonly %>
      </p>
      <p>
        <%= co_f.label :effects %>
        <%= co_f.text_area :effects, :readonly => readonly %>
      </p>
      <p>
        <%= co_f.label :identified_controls %>
        <%= co_f.text_area :identified_controls, :readonly => readonly %>
      </p>
      <p class="form_item">
        <%= content_tag :label, ControlObjectiveItem.human_attribute_name(
          'effectiveness'), :class => :inline %>
        <%= text_field_tag "effectiveness_#{control_objective_item.object_id}",
          "#{control_objective_item.effectiveness}%",
          :class => 'inline_item effectiveness', :readonly => true %>
      </p>
      <p class="form_item">
        <%= co_f.label :finished, nil, :class => :inline %>
        <%= co_f.check_box :finished, :class => :inline_item,
          :disabled => readonly %>
      </p>
    </div>
    <div class="form_column_right">
      <p>
        <%= co_f.label :pre_audit_qualification %>
        <%= co_f.select :pre_audit_qualification,
          parameter_in(@auth_organization.id,
          :admin_control_objective_qualifications,
          control_objective_item.created_at, true),
          {:include_blank => t(:'control_objective_item.not_rated')},
          {:disabled => readonly} %>
      </p>
      <p>
        <%= co_f.label :pre_audit_tests %>
        <%= co_f.text_area :pre_audit_tests, :readonly => readonly %>
      </p>
      <p>
        <%= co_f.label :post_audit_qualification %>
        <%= co_f.select :post_audit_qualification,
          parameter_in(@auth_organization.id,
          :admin_control_objective_qualifications,
          control_objective_item.created_at, true),
          {:include_blank => t(:'control_objective_item.not_rated')},
          {:class => :post_audit_qualification, :disabled => readonly} %>
      </p>
      <p>
        <%= co_f.label :post_audit_tests %>
        <%= co_f.text_area :post_audit_tests, :readonly => readonly %>
      </p>
      <p>
        <%= co_f.label :auditor_comment %>
        <%= co_f.text_area :auditor_comment, :readonly => readonly,
          :style => 'height: 10em;' %>
      </p>
    </div>

    <h1 style="clear: both; margin-bottom: 0em;">
      <%= ControlObjectiveItem.human_attribute_name('weaknesses') %>
    </h1>

    <table class="summary_table">
      <thead>
        <tr>
          <% Finding::STATUS.keys.each do |status| -%>
            <th><%= t("finding.status_#{status}") %></th>
          <% end -%>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% Finding::STATUS.keys.each do |status| -%>
            <td><%= control_objective_item.weaknesses.
                  select { |w| w.send "#{status}?" }.size %></td>
          <% end -%>
        </tr>
      </tbody>
    </table>

    <p style="margin-bottom: 1.2em;">
      <%= link_to_unless control_objective_item.weaknesses.blank?,
        t(:'control_objective_item.view_all_weaknesses'),
        weaknesses_path(:control_objective => control_objective_item) %> |
      <%= link_to_unless control_objective_item.new_record? || readonly,
        t(:'control_objective_item.add_weakness'),
        new_weakness_path(:control_objective_item => control_objective_item) %>
    </p>

    <h1 style="clear: both;">
      <%= ControlObjectiveItem.human_attribute_name('work_papers') %>
    </h1>
    <div class="form_column_left">
      <p>
        <label>
          <%= ControlObjectiveItem.human_attribute_name('pre_audit_work_papers') %>
        </label>
      </p>
      <div class="in_column_items" id="pre_audit_work_papers_for_<%= id %>">
        <div class="column_headers">
          <div class="item_column" style="width: 20%;">
            <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
          </div>
          <div class="item_column" style="width: 15%;">
            <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
          </div>
          <div class="item_column" style="width: 25%;">
            <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
          </div>
          <div class="item_column" style="width: 10%;">
            <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
          </div>
          <div class="item_column" style="width: 10%;"></div>
          <div style="clear: both;"></div>
        </div>

        <div class="pre_audit_work_papers">
          <% co_f.fields_for :pre_audit_work_papers do |wp_f| -%>
            <%= render :partial => 'work_papers/work_paper', :locals =>
              {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
              :child_index => 'NEW_SUBRECORD'} %>
          <% end -%>
        </div>
      </div>

      <p class="add_item">
        <%= link_to_unless frozen, t(:'control_objective_item.add_work_paper'),
          '#pre_audit_work_paper', :class => :add_nested_subitem,
          :rel => 'control_objective_item pre_audit_work_papers' %>
      </p>
    </div>
    <div class="form_column_right">
      <p>
        <label>
          <%= ControlObjectiveItem.human_attribute_name 'post_audit_work_papers' %>
        </label>
      </p>

      <div class="in_column_items" id="post_audit_work_papers_for_<%= id %>">
        <div class="column_headers">
          <div class="item_column" style="width: 20%;">
            <h3><%= WorkPaper.human_attribute_name 'name' %></h3>
          </div>
          <div class="item_column" style="width: 20%;">
            <h3><%= WorkPaper.human_attribute_name 'code' %></h3>
          </div>
          <div class="item_column" style="width: 15%;">
            <h3><%= WorkPaper.human_attribute_name 'number_of_pages' %></h3>
          </div>
          <div class="item_column" style="width: 25%;">
            <h3><%= WorkPaper.human_attribute_name 'description' %></h3>
          </div>
          <div class="item_column" style="width: 10%;">
            <h3><%= WorkPaper.human_attribute_name 'file_model' %></h3>
          </div>
          <div class="item_column" style="width: 10%;"></div>
          <div style="clear: both;"></div>
        </div>

        <div class="post_audit_work_papers">
          <% co_f.fields_for :post_audit_work_papers do |wp_f| -%>
            <%= render :partial => 'work_papers/work_paper', :locals =>
              {:wp_f => wp_f, :is_dynamic => false, :frozen => frozen,
              :child_index => 'NEW_SUBRECORD'} %>
          <% end -%>
        </div>
      </div>

      <p class="add_item">
        <%= link_to_unless frozen, t(:'control_objective_item.add_work_paper'),
          '#post_audit_work_paper', :class => :add_nested_subitem,
          :rel => 'control_objective_item post_audit_work_papers' %>
      </p>
    </div>

    <div style="display:none">
      <%= co_f.hidden_field :lock_version %>
      <%= co_f.hidden_field :control_objective_id %>
    </div>
  </div>
</div>