<% control_objective_item = f.object %>
<fieldset class="control_objective_item">
  <% if control_objective_item.new_record? %>
    <div class="hidden">
      <%= f.input :order_number, as: :hidden %>
      <%= f.input :control_objective_id, as: :hidden %>
      <%= f.input :control_objective_text, as: :hidden %>
      <%= f.input :relevance, as: :hidden %>
      <%= f.simple_fields_for :control do |c_f| %>
        <%= c_f.input :control, as: :hidden %>
        <%= c_f.input :effects, as: :hidden %>
        <%= c_f.input :design_tests, as: :hidden %>
        <%= c_f.input :compliance_tests, as: :hidden %>
        <%= c_f.input :sustantive_tests, as: :hidden %>
      <% end %>
    </div>
  <% else %>
    <ul>
      <li>
        <%= content_tag(
          :span,
          control_objective_item.control_objective_text,
          class: review_control_objective_class(control_objective_item),
          data: {
            item_id: control_objective_item.id
          }
        ) %>
        <% if !readonly %>
          <% unless control_objective_item.original_text? %>
            <span class="text-muted">|</span>
            <%= link_to_recover_original_control_objective_name(control_objective_item) %>
          <% end %>
          <span class="text-muted">|</span>
          <%= link_to_move %>
          <span class="text-muted">|</span>
          <%= link_to_edit edit_control_objective_item_path(control_objective_item) %>
          <% if control_objective_item.support? %>
            <span class="text-muted">|</span>
            <%= link_to_download_support control_objective_item.control_objective, class: nil %>
          <% end %>
          <% if control_objective_item.can_be_destroyed? %>
            <span class="text-muted">|</span>
            <%= link_to_remove_nested_item(f) %>
          <% end %>
          <%= f.input :id, as: :hidden %>
          <%= f.input :order_number, as: :hidden, input_html: { class: 'sort_number' } %>
        <% end %>
        <% if readonly && !frozen %>
          <span class="text-muted">|</span>
          <%= link_to_edit edit_control_objective_item_path(control_objective_item) %>
        <% end %>
        <% weaknesses = readonly ? control_objective_item.final_weaknesses : control_objective_item.weaknesses %>
        <% if weaknesses.exists? %>
          <ul>
            <% weaknesses.order(:review_code).each do |weakness| %>
              <li>
                <% if weakness.weakness_template_id %>
                  <span class="text-success" title="<%= t 'review.weakness_from_template' %>">
                    <span class="glyphicon glyphicon-duplicate"></span>
                  </span>
                <% end %>
                <span class="text-danger">
                  <% if weakness.weakness_template_id %>
                    <strong><%= [weakness.review_code, weakness.title].compact.join(' - ') %></strong>
                  <% else %>
                    <%= [weakness.review_code, weakness.title].compact.join(' - ') %>
                  <% end %>
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
  <% end %>
</fieldset>
