<% readonly = readonly %>
<% id = f.object.object_id %>

<% unless readonly %>
  <fieldset class="file_model_review" id="<%= id %>">
    <div class="col-md-6">
      <%= f.simple_fields_for :file_model, file_model(f.object) do |fm_f| %>
        <%= render 'file_model', fm_f: fm_f %>
      <% end %>

      <%= link_to_download f.object %>
      <span class="ml-2">
        <%= link_to_remove_nested_item(f) %>
      </span>
  </fieldset>
<% end %>
