<%= render :partial => 'form',
  :locals => {:submit_button_text => t(:'label.save')} %>
  
<div id="links">
  <%= link_to t(:'label.show'), @review %> |
  <%= link_to t(:'label.list'), reviews_path %> |
  <%= link_to t(:'review.download_work_papers'),
    :action => :download_work_papers, :id => @review %> |
  <%= link_to_procedure_control_for_review @review %> |
  <%= link_to_back %>
</div>

<div id="procedure_control_data"></div>