<%= content_for :form_actions do %>
  <%= link_to_show @review %> |
  <%= link_to_index reviews_path %> |
  <div class="dropdown dropup inline">
    <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <%= t 'review.other_actions' %>
      <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to t('review.download_work_papers'), action: :download_work_papers, id: @review, _ts: Time.now.to_i %></li>
      <% if @review.work_papers_not_finished? %>
        <li>
          <%= link_to t('review.finished_work_papers'), { action: :finished_work_papers, id: @review, _ts: Time.now.to_i }, data: {
            method: :patch, confirm: t('messages.confirmation')
          } %>
        </li>
      <% elsif @review.work_papers_finished? && @auth_user.supervisor? %>
        <li>
          <%= link_to t('review.revise_work_papers'), { action: :finished_work_papers, id: @review, revised: true, _ts: Time.now.to_i }, data: {
            method: :patch, confirm: t('messages.confirmation')
          } %>
        </li>
      <% end %>
      <% unless @review.has_final_review? %>
        <li>
          <%= link_to t('review.recode_findings'), recode_findings_review_path(@review, _ts: Time.now.to_i), data: {
            method: :patch, confirm: t('messages.confirmation')
          } %>
        </li>
        <li>
          <%= link_to t('review.recode_weaknesses_by_risk'), recode_weaknesses_by_risk_review_path(@review, _ts: Time.now.to_i), data: {
            method: :patch, confirm: t('messages.confirmation')
          } %>
        </li>
        <li>
          <%= link_to(
            t('review.recode_weaknesses_by_repetition_and_risk'),
            recode_weaknesses_by_repetition_and_risk_review_path(@review, _ts: Time.now.to_i),
            data: {
              method: :patch, confirm: t('messages.confirmation')
            }
          ) %>
        </li>
        <li>
          <%= link_to t('review.recode_weaknesses_by_control_objective_order'),
            recode_weaknesses_by_control_objective_order_review_path(@review, _ts: Time.now.to_i),
            data: { method: :patch, confirm: t('messages.confirmation') }
          %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form' %>
