<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? Review::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table>
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Period.human_name, nil, 'period' %>
      <%= make_filterable_column Review.human_attribute_name(:identification), nil, 'identification' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:business_unit_id), nil, 'business_unit' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), nil, 'project' %>
      <%= make_not_available_column Review.human_attribute_name(:description) %>
      <th colspan="4" style="text-align: right;"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| -%>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= show_period_with_dates_as_acronym review.period %></td>
        <td class="nowrap"><%= h review.identification %></td>
        <td><%= super_truncate review.plan_item.business_unit.name, 25 %></td>
        <td><%= super_truncate review.plan_item.project, 25 %></td>
        <td><%= super_truncate review.description, 25 %></td>
        <td><%= link_to_clone new_review_path(:clone_from => review.id), :label => t(:'review.copy') %></td>
        <td><%= link_to_show review %></td>
        <td><%= link_to_edit edit_review_path(review) %></td>
        <td><%= button_to_destroy review %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @reviews %>
  <%= link_to t(:'label.new'), new_review_path %>
  <div style="clear: both;"></div>
</div>