<%= render :partial => 'shared/search', :locals => {
  :options => {},
  :columns => @query.blank? ? Review::COLUMNS_FOR_SEARCH.keys : @columns
} %>
<table class="table table-condensed table-striped">
  <thead id="column_headers">
    <tr>
      <%= make_filterable_column Period.model_name.human, nil, 'period' %>
      <%= make_filterable_column Review.human_attribute_name(:identification), nil, 'identification' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:business_unit_id), { 'visible-lg' => true }, 'business_unit' %>
      <%= make_filterable_column PlanItem.human_attribute_name(:project), { 'visible-lg' => true }, 'project' %>
      <%= make_not_available_column Review.human_attribute_name(:description), 'visible-lg' => true %>
      <th colspan="4" class="text-right"><%= link_to_search %></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <% has_final = review.has_final_review? %>
      <tr <%== 'class="text-muted"' if has_final %>>
        <td><%= show_period_with_dates_as_abbr review.period %></td>
        <td class="nowrap"><%= review.identification %></td>
        <td class="visible-lg"><%= super_truncate review.plan_item.business_unit.name, 25 %></td>
        <td class="visible-lg"><%= super_truncate review.plan_item.project, 25 %></td>
        <td class="visible-lg"><%= super_truncate review.description, 25 %></td>
        <td><%= link_to_clone new_review_path(:clone_from => review.id) %></td>
        <td><%= link_to_show review %></td>
        <td><%= link_to_edit edit_review_path(review) %></td>
        <td><%= link_to_destroy review unless has_final %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<div class="form-footer">
  <div class="pull-right"><%= pagination_links @reviews %></div>
  <%= link_to t('label.new'), new_review_path, class: 'btn btn-primary' %>
</div>
