<%= render :partial => 'form' %>

<div id="links">
  <%= link_to t(:'label.list'), reviews_path %> |
  <%= link_to_procedure_control_for_review @review %> |
  <%= link_to_back %>
</div>

<div id="procedure_control_data"></div>

<script type="text/javascript">
  $('#review_period_id').change(function() {
    BrowserManipulation.changeLocation(
      '<%= new_review_path %>',
      { period: $(this).val() }
    );
    
    Helper.showLoading($(this));
  });
</script>