<% if @findings.empty? %>
  <div class="alert alert-success">
    <div class="alert-message">
      <p class="mb-0"><%= t 'review.without_suggested_findings' %></p>
    </div>
  </div>
<% else %>
  <% @findings.each_with_index do |finding, i| %>
    <ul class="finding_review_assignment mb-1">
      <li>
        <%= hidden_field_tag "review[finding_review_assignments_attributes][#{i + 1000}][finding_id]",
          finding.id, :id => "hidden_finding_id_#{finding.id}" %>
        <%= finding %> |
        <span class="text-nowrap">
          <%= link_to_show finding %> |
          <%= remove_item_link nil, 'finding_review_assignment' %>
        </span>
      </li>
    </ul>
  <% end %>
<% end %>

<script type="text/javascript">
  var codeExecuted = false;

  document.addEventListener('DOMContentLoaded', function(e) {
    if ("importmapScriptsLoaded" in window) {
      if (!codeExecuted) {
        $('#suggested_findings').effect('highlight', {}, 2000);

        codeExecuted = true;
      }
    }
  });
</script>
