<% if @findings.empty? %>
  <p class="align-top" style="margin: 1em 0em; color: #47ae00; font-weight: bold;">
    <%= t(:'review.without_suggested_findings') %>
  </p>
<% else %>
  <% @findings.each_with_index do |finding, i| %>
    <div class="finding_review_assignment align-top">
      <div>
        <ul class="raw_list">
          <li>
            <%= hidden_field_tag "review[finding_review_assignments_attributes][#{i + 1000}][finding_id]",
              finding.id, :id => "hidden_finding_id_#{finding.id}" %>
            <%= finding %> |
            <%= link_to t(:'label.show'), finding %> |
            <%= remove_item_link(nil, 'finding_review_assignment') %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
(function() {
  Try.these(function() {
    new Effect.Highlight('suggested_findings', {
      duration: 2,
      queue: { position: 'end', scope: 'review', limit: 1 }
    });
  });
}).delay(0.3);
</script>