<h5><%= t 'review.suggested_findings_for', process_control: @process_control.name %></h5>

<% if @findings.empty? %>
  <div class="alert alert-success">
    <div class="alert-message">
      <p class="mb-0"><%= t 'review.without_suggested_findings' %></p>
    </div>
  </div>
<% else %>
  <% @findings.each_with_index do |finding, i| %>
    <ul class="finding_review_assignment mb-1">
      <li>
        <%= hidden_field_tag "review[finding_review_assignments_attributes][#{@process_control.id * 1000 + i}][finding_id]",
          finding.id, id: "hidden_finding_id_#{finding.id}" %>
        <%= finding %> |
        <span class="text-nowrap">
          <%= link_to_show finding %> |
          <%= remove_item_link nil, 'finding_review_assignment' %>
        </span>
      </li>
    </ul>
  <% end %>
<% end %>

<hr>
