<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <%= business_unit_type&.name || t('plans.without_business_unit_type') %>
      <% unless plan_status_date.today? %>
        <small>(<%= l plan_status_date.to_date %>)</small>
      <% end %>
    </h4>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th></th>
            <th><%= PlanItem.human_attribute_name 'order_number' %></th>
            <th><%= BusinessUnit.model_name.human %></th>
            <th><%= PlanItem.human_attribute_name 'project' %></th>
            <th><%= Tag.model_name.human count: 0 %></th>
            <th><%= PlanItem.human_attribute_name 'start' %></th>
            <th><%= PlanItem.human_attribute_name 'end' %></th>
          </tr>
        </thead>
        <tbody>
          <% plan_items.each do |plan_item| %>
            <tr>
              <td><%= show_plan_item_info(plan_item) %></td>
              <td><%= plan_item.order_number %></td>
              <td><%= plan_item.business_unit&.name %></td>
              <td><%= plan_item.project %></td>
              <td><%= tags plan_item.tags %></td>
              <td><%= l plan_item.start, format: :minimal %></td>
              <td><%= l plan_item.end, format: :minimal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <% if show_resource_utilization && plan_items.any? { |pi| pi.resource_utilizations.present? } %>
      <h4><%= t 'plans.pdf.resource_utilization' %></h4>

      <% plan_items.each do |plan_item| %>
        <% if plan_item.resource_utilizations.present? %>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <caption>
                <h5>
                  (<%= plan_item.order_number %>)
                  <%= plan_item.project %>
                  (<%= plan_item.business_unit&.name %>)
                </h5>
              </caption>

              <thead>
                <tr>
                  <th><%= ResourceUtilization.human_attribute_name 'resource' %></th>
                  <th><%= ResourceUtilization.human_attribute_name 'units' %></th>
                </tr>
              </thead>
              <tbody>
                <% plan_item.resource_utilizations.each do |ru| %>
                  <tr>
                    <td><%= ru.resource.resource_name %></td>
                    <td><%= ru.units %></td>
                  </tr>
                <% end %>
                <tr>
                  <td></td>
                  <td><strong><%= '%.2f' % plan_item.units %></strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
