<%= simple_form_for @plan do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <%= render 'common_form', f: f %>

  <%= show_plan_business_unit_type_info if params[:business_unit_type].present? %>

  <% if params[:business_unit_type].blank? %>
    <div class="row">
      <div class="col-md-6">
        <%= render 'business_unit_types' %>
      </div>
    </div>
  <% else %>
    <%= render 'plan_items', f: f %>
  <% end %>

  <%= render 'duplication_or_overload_form', f: f %>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= hidden_field_tag :business_unit_type, params[:business_unit_type] %>
    <%= hidden_field_tag :clone_from, params[:clone_from] %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
