<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">
          <%= Plan.human_attribute_name 'period_id' %>
        </h5>
      </div>

      <div class="card-body">
        <strong><%= @plan.period.inspect %></strong>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="mb-0">
          <%= Plan.human_attribute_name 'estimated_amount' %>
        </h5>
      </div>

      <div class="card-body">
        <abbr title="<%= t 'plans.cost.human_resources' %>"><%= t 'plans.cost.human_resources_abbr' %></abbr>:
        <strong><%= plan_cost %></strong>,
        <abbr title="<%= t 'plans.cost.material_resources' %>"><%= t 'plans.cost.material_resources_abbr' %></abbr>:
        <strong><%= plan_material_cost %></strong>
      </div>
    </div>
  </div>
</div>
