<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= Plan.human_attribute_name 'period_id' %>
        </h4>
      </div>

      <div class="panel-body">
        <strong><%= @plan.period.inspect %></strong>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <%= Plan.human_attribute_name 'estimated_amount' %>
        </h4>
      </div>

      <div class="panel-body">
        <abbr title="<%= t 'plans.cost.human_resources' %>"><%= t 'plans.cost.human_resources_abbr' %></abbr>:
        <strong><%= plan_cost %></strong>,
        <abbr title="<%= t 'plans.cost.material_resources' %>"><%= t 'plans.cost.material_resources_abbr' %></abbr>:
        <strong><%= plan_material_cost %></strong>
      </div>
    </div>
  </div>
</div>
