<% id = dynamic_object_id('material_resource_utilization', f) %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="material_resource_utilization item" id="<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= plan_resource_field(f, id, false) %>
    </div>
    <div class="col-md-3">
      <%= f.input :units, label: false %>
    </div>
    <div class="col-md-3">
      <%= f.input :cost_per_unit, label: false, input_html: { id: "#{id}_cost_per_unit" } %>
    </div>
    <div class="col-md-1">
      <%= insert_record_link(f, 'data-event' => 'insertRecordSubitem',
        'data-parent' => :plan_item,
        :class_to_insert => :material_resource_utilization) %>
      <span class="text-muted">|</span>
      <%= remove_item_link(f, 'material_resource_utilization') %>
      <%= f.input :resource_type, as: :hidden %>
    </div>
  </div>
</div>
<% if is_dynamic %>
  <script type="text/javascript">Helper.showItem('#<%= id %>');</script>
<% end %>
<script type="text/javascript">
(function() {
  var id = '#<%= id %>_resource_id';

  $(id).change(function() {
    var url = '<%= resource_data_plans_path %>';

    Helper.showLoading(id);

    $.get(url, { id: $(this).val(), format: 'json' }, function(data) {
      $('#<%= id %>_cost_per_unit').val(data.cost_per_unit || '');
    }).complete(function() {
      Helper.hideLoading(id);
    });
  });
})();
</script>
