<div class="row">
  <div class="col-md-<%= SHOW_REVIEW_EXTRA_ATTRIBUTES ? 2 : 3 %> col-md-offset-1">
    <h5><strong><%= BusinessUnit.model_name.human %></strong></h5>
  </div>
  <div class="col-md-<%= SHOW_REVIEW_EXTRA_ATTRIBUTES ? 3 : 4 %>">
    <h5><strong><%= PlanItem.human_attribute_name 'project' %></strong></h5>
  </div>
  <% if SHOW_REVIEW_EXTRA_ATTRIBUTES %>
    <div class="col-md-2">
      <h5><strong><%= PlanItem.human_attribute_name 'risk_exposure' %></strong></h5>
    </div>
  <% end %>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-6">
        <h5><strong><%= PlanItem.human_attribute_name 'start' %></strong></h5>
      </div>
      <div class="col-md-6">
        <h5><strong><%= PlanItem.human_attribute_name 'end' %></strong></h5>
      </div>
    </div>
  </div>
</div>

<div id="plan_items">
  <% plan_items_for_selected_business_unit_type.each do |pi| %>
    <%= f.simple_fields_for :plan_items, pi do |pi_f| %>
      <%= render 'plan_item', f: pi_f %>
    <% end %>
  <% end %>

  <%= link_to_add_fields t('.add_plan_item'), f, :plan_items %>
</div>
