<% id = f.object.object_id %>
<fieldset class="plan_item">
  <div class="row">
    <div class="col-md-1">
      <div class="media">
        <div class="pull-left">
          <%= show_plan_item_info(f.object) %>
        </div>
        <div class="pull-left">
          <%= link_to_show_hide "resource_utilizations_for_#{id}" %>
        </div>
        <div class="media-body">
          <%= f.input :order_number, as: :string, label: false,
            input_html: { class: 'sort_number', readonly: true } %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <% unless f.object.business_unit %>
        <%= f.input :business_unit_id, as: :string, label: false, input_html: {
          name: 'plan_item[business_unit_data]', id: "plan_item_business_unit_#{id}",
          title: t('label.search'),
          autofocus: true, data: {
            autocomplete_params: ({ business_unit_type_id: @business_unit_type.id } if @business_unit_type),
            autocomplete_url: auto_complete_for_business_unit_business_unit_id_plans_path,
            autocomplete_id_target: "#hidden_business_unit_id_#{id}"
          }
        } %>
      <% else %>
        <%= f.input "plan_item_business_unit_#{id}", label: false, input_html: {
          value: f.object.business_unit.name, disabled: true } %>
      <% end %>
      <%= f.input :business_unit_id, as: :hidden, input_html: {
        value: f.object.business_unit_id, id: "hidden_business_unit_id_#{id}" } %>
    </div>
    <div class="col-md-2">
      <%= f.input :project, label: false, input_html: { maxlength: 255 } %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :start, as: :date_picker, label: false %>
        </div>
        <div class="col-md-6">
          <%= f.input :end, as: :date_picker, label: false %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.input :plain_predecessors, label: false, input_html: { maxlength: 255 } %>
    </div>
    <div class="col-md-1">
      <div class="toggle-visibility">
        <%= f.input :id, as: :hidden %>
        <%= link_to_insert_field(f) %>
        <span class="text-muted">|</span>
        <% unless f.object.try(:review) %>
          <%= link_to_remove_nested_item(f) %>
          <span class="text-muted">|</span>
        <% end %>
        <%= link_to_move %>
      </div>
    </div>
  </div>

  <div class="hidden_items" id="resource_utilizations_for_<%= id %>" style="display: none;">
    <div class="row nested">
      <div class="col-md-5">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'resource' %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'units' %></strong></h5>
      </div>
      <div class="col-md-3">
        <h5><strong><%= ResourceUtilization.human_attribute_name 'cost_per_unit' %></strong></h5>
      </div>
    </div>

    <div id="material_resource_utilizations_<%= id %>">
      <%= f.simple_fields_for :resource_utilizations, f.object.material_resource_utilizations do |ru_f| %>
        <%= render 'material_resource_utilization', f: ru_f %>
      <% end %>
    </div>

    <div id="human_resource_utilizations_<%= id %>">
      <%= f.simple_fields_for :resource_utilizations, f.object.human_resource_utilizations do |ru_f| %>
        <%= render 'human_resource_utilization', f: ru_f %>
      <% end %>
    </div>

    <div class="nested">
      <p>
        <%= link_to_add_fields(t('plan.add_material_resource_utilization'), f, :resource_utilizations,
          'material_resource_utilization', {
          insert_into: "#material_resource_utilizations_#{id}", association: 'material_resource_utilizations'
        } ) %>
        <%= link_to_add_fields(t('plan.add_human_resource_utilization'), f, :resource_utilizations,
          'human_resource_utilization', {
          insert_into: "#human_resource_utilizations_#{id}", association: 'human_resource_utilizations'
        } ) %>
      </p>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
  FormUtil.completeSortNumbers();
</script>
