<div class="row">
  <div class="col-md-<%= SHOW_REVIEW_EXTRA_ATTRIBUTES ? 2 : 3 %> offset-md-1">
    <h5 class="h6"><%= BusinessUnit.model_name.human %></h5>
  </div>
  <div class="col-md-<%= SHOW_REVIEW_EXTRA_ATTRIBUTES || USE_SCOPE_CYCLE ? 2 : 4 %>">
    <h5 class="h6"><%= PlanItem.human_attribute_name 'project' %></h5>
  </div>
  <% if USE_SCOPE_CYCLE %>
    <div class="col-md-2">
      <h5 class="h6"><%= PlanItem.human_attribute_name 'scope' %></h5>
    </div>
  <% elsif SHOW_REVIEW_EXTRA_ATTRIBUTES %>
    <div class="col-md-2">
      <h5 class="h6"><%= PlanItem.human_attribute_name 'scope' %></h5>
    </div>
    <div class="col-md-2">
      <h5 class="h6"><%= PlanItem.human_attribute_name 'risk_exposure' %></h5>
    </div>
  <% end %>
  <div class="col-md-<%= SHOW_REVIEW_EXTRA_ATTRIBUTES ? 2 : 3 %>">
    <div class="row">
      <div class="col-md-6">
        <h5 class="h6"><%= PlanItem.human_attribute_name 'start' %></h5>
      </div>
      <div class="col-md-6">
        <h5 class="h6"><%= PlanItem.human_attribute_name 'end' %></h5>
      </div>
    </div>
  </div>
</div>

<div id="plan_items">
  <% plan_items_for_selected_business_unit_type.each do |pi| %>
    <%= f.simple_fields_for :plan_items, pi do |pi_f| %>
      <%= render 'plan_item', f: pi_f %>
    <% end %>
  <% end %>

  <%= link_to_add_fields t('.add_plan_item'), f, :plan_items %>
</div>
