<table>
  <thead>
    <tr>
      <th></th>
      <th><%= Period.human_name %></th>
      <th><%= Plan.human_attribute_name :created_at %></th>
      <th><%= Period.human_attribute_name :start %></th>
      <th><%= Period.human_attribute_name :end %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="8"></td><td></td></tr>
    <% @plans.each do |plan| -%>
      <tr class="<%= cycle(:even, :odd) %>">
        <td></td>
        <td><%= show_period_with_dates_as_acronym plan.period %></td>
        <td><%= h l(plan.created_at, :format => :short) %></td>
        <td><%= h l(plan.period.start, :format => :short) %></td>
        <td><%= h l(plan.period.end, :format => :short) %></td>
        <td><%= link_to_clone new_plan_path(:clone_from => plan.id), :label => t(:'plan.copy') %></td>
        <td><%= link_to_show plan %></td>
        <td><%= link_to_edit edit_plan_path(plan) %></td>
        <td><%= button_to_destroy plan %></td>
        <td></td>
      </tr>
      <tr class="<%= cycle(:even, :odd) %>"><td></td><td colspan="8"></td><td></td></tr>
    <% end -%>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @plans %>
  <%= link_to t(:'label.new'), new_plan_path %>
  <div style="clear: both;"></div>
</div>