<%= render 'header' %>

<% plan_business_unit_type_list.each do |business_unit_type, plan_items| %>
  <% if plan_items.any? %>
    <%= render 'business_unit_type_plan_items', {
      business_unit_type: business_unit_type,
      plan_items: plan_items,
      show_resource_utilization: true
    } %>
  <% end %>
<% end %>

<hr>

<div>
  <%= link_to_edit [:edit, @plan] %> |
  <%= link_to_stats [:stats, @plan, until: Time.zone.today.to_s(:db)] %> |
  <%= link_to_index plans_path %> |
  <%= render('shared/downloads',
    right: true,
    links: [
      link_to(
        t('plans.download_global_plan'),
        [@plan, _ts: Time.now.to_i, format: :pdf]
      ),
      link_to(
        t('plans.download_detailed_plan'),
        [@plan, include_details: 1, _ts: Time.now.to_i, format: :pdf]
      )
    ]
  ) %>
</div>
