<%= simple_form_for @procedure_control do |f| %>
  <% js_extra = 'var procedureControlItemHash = {};' %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <% if [:new, :create].include?(controller.action_name.to_sym) %>
          <h5><strong><%= ProcedureControl.human_attribute_name :period_id %></strong></h5>
          <div class="row">
            <div class="col-md-10">
              <%= f.input :period_id, collection:
                Period.list_all_without_procedure_controls.map { |p| [p.inspect, p.id] },
                label: false, prompt: true, input_html: { autofocus: true }
              %>
            </div>
            <div class="col-md-2">
              <div class="show_hide">
                <%= link_to(
                  content_tag(:span, nil, class: 'glyphicon glyphicon-plus'),
                  new_period_path(:back_to => new_procedure_control_path)
                ) %>
              </div>
            </div>
          </div>
        <% else %>
          <%= f.input :period_description, label: ProcedureControl.human_attribute_name('period_id'),
            input_html: { value: @procedure_control.period.try(:inspect), readonly: true } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <h5><strong><%= raw(BestPractice.model_name.human +
            show_inline_help_for(:procedure_control_best_practice)) %></strong></h5>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5><strong><%= raw(ProcessControl.model_name.human +
        show_inline_help_for(:procedure_control_process_control)) %></strong></h5>
    </div>
    <div class="col-md-3">
      <h5><strong><%= ProcedureControlItem.human_attribute_name :aproach %></strong></h5>
    </div>
    <div class="col-md-2">
      <h5><strong><%= ProcedureControlItem.human_attribute_name :frequency %></strong></h5>
    </div>
  </div>

  <div id="procedure_control_items">
    <% @procedure_control.procedure_control_items.build if @procedure_control.procedure_control_items.empty? %>
    <%= f.simple_fields_for :procedure_control_items,
      @procedure_control.procedure_control_items.sort do |pci_f| %>
      <%= render 'procedure_control_item', f: pci_f, control_objectives: [] %>
    <% end %>

    <%= link_to_add_fields(t('procedure_control.add_procedure_control_item'),
      f, :procedure_control_items) %>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  <%= content_for :js_extra do %>
    <%= raw js_extra %>
  <% end %>
<% end %>
<script type="text/javascript">
  function clearControlObjectives(procedure_control_subitems_id) {
    $('#' + procedure_control_subitems_id + ' select.control_objective').each(
      function(i, e) {
        $(e).val('');
        $(e).attr('disabled', true);
      }
    );

    $('#' + procedure_control_subitems_id + ' textarea').val('');
  }
</script>
