<% id = f.object.new_record? ? 'NEW_SUBRECORD' : f.object.id %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="procedure_control_subitem item" id="procedure_control_subitem_<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div>
    <div class="item_field" style="width: 13%;">
      <%= f.select :control_objective_id, control_objectives,
        {:prompt => true},
        {
          :id => "procedure_control_subitem_#{id}_control_objective",
          :class => :control_objective,
          :autofocus => true
        } %>
    </div>
    <div class="item_field" style="width: 13%;">
      <%= f.text_area :control_objective_text, :class => :control_objective_text,
        :id => "procedure_control_subitem_#{id}_control_objective_texts" %>
    </div>

    <%= f.fields_for :control do |c_f| %>
      <div class="item_field" style="width: 13%;">
        <%= c_f.text_area :control, :class => :control,
          :id => "procedure_control_subitem_#{id}_control" %>
      </div>
      <div class="item_field" style="width: 13%;">
        <%= c_f.text_area :design_tests, :class => :tests,
          :id => "procedure_control_subitem_#{id}_design_tests" %>
      </div>
      <div class="item_field" style="width: 13%;">
        <%= c_f.text_area :compliance_tests, :class => :tests,
          :id => "procedure_control_subitem_#{id}_compliance_tests" %>
      </div>
      <div class="item_field" style="width: 13%;">
        <%= c_f.text_area :sustantive_tests, :class => :tests,
          :id => "procedure_control_subitem_#{id}_sustantive_tests" %>
      </div>
      <div class="item_field" style="width: 10%;">
        <%= c_f.text_area :effects, :class => :effects,
          :id => "procedure_control_subitem_#{id}_effects" %>
      </div>
    <% end %>

    <div class="item_field" style="width: 10%;">
      <%= f.select :risk, f.object.get_parameter(
        :admin_control_objective_risk_levels, true), {}, :class => :risk,
        :id => "procedure_control_subitem_#{id}_risk" %>
    </div>
    <div class="item_field item_controls" style="width: 5%;">
      <%= f.hidden_field :order, :class => :sort_number %>
      <%= insert_record_link(f, :'data-event' => 'insertRecordSubitem',
        :'data-target' => :'.procedure_control_subitem',
        :'data-parent' => :procedure_control_item) %> |
      <%= remove_item_link(f) %>
    </div>
    <script type="text/javascript">FormUtil.completeSortNumbers();</script>
  </div>
</div>
<script type="text/javascript">
  $('#procedure_control_subitem_<%= id %>_control_objective').change(function() {
    var parentId = '#<%= "procedure_control_subitem_#{id}" %>';
    $(parentId + ' textarea').val('');

    if(!$(this).val().match(/^\s*$/)) {
      var element = $(this);

      Helper.showLoading(element);

      $.get('<%= url_for :action => :get_control_objective %>', { control_objective: element.val(), format: 'json' }, function(data) {
        $(parentId + '_control_objective_texts').val(data.name || '');
        $(parentId + '_control').val(data.control.control || '');
        $(parentId + '_design_tests').val(data.control.design_tests || '');
        $(parentId + '_compliance_tests').val(data.control.compliance_tests || '');
        $(parentId + '_sustantive_tests').val(data.control.sustantive_tests || '');
        $(parentId + '_effects').val(data.control.effects || '');
        $(parentId + '_risk').val(data.risk || '');
      }).complete(function() {
        Helper.hideLoading(element);
      });
    }
  });
</script>
<% if is_dynamic %>
<script type="text/javascript">
(function() {
  var thisElement = $('#procedure_control_subitem_<%= id %>');
  var options = procedureControlItemHash[thisElement.parents('.procedure_control_item:first').attr('id')];

  if(options) {
    HTMLUtil.updateOptions(
      '#procedure_control_subitem_<%= id %>_control_objective',
      HTMLUtil.optionsFromArray(options)
    );
  }
  
  Helper.showItem('#procedure_control_subitem_<%= id %>');
})();
</script>
<% end %>