<%
  procedure_control_item = f.object.procedure_control_item
  control_objectives = (procedure_control_item.process_control ?
    procedure_control_item.process_control.control_objectives.map {|co| [co.name, co.id]} : [])
%>
<% id = f.object.object_id %>
<fieldset class="procedure_control_subitem item" id="procedure_control_subitem_<%= id %>">
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-2">
        <%= f.input :control_objective_id, collection: control_objectives,
          prompt: true, label: false, input_html: {
            id: "procedure_control_subitem_#{id}_control_objective",
            class: :control_objective, autofocus: true
          } %>
      </div>
      <div class="col-md-2">
        <%= f.input :control_objective_text, label: false, input_html: {
          class: 'control_objective_text',
          id: "procedure_control_subitem_#{id}_control_objective_texts"
        } %>
      </div>

      <%= f.simple_fields_for :control do |c_f| %>
        <div class="col-md-2">
          <%= c_f.input :control, label: false, input_html: { class: 'control',
            id: "procedure_control_subitem_#{id}_control" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :design_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_design_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :compliance_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_compliance_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :sustantive_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_sustantive_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :effects, label: false, input_html: { class: :effects,
            id: "procedure_control_subitem_#{id}_effects" } %>
        </div>
      <% end %>

      <div class="col-md-1">
        <%= relevance_field(
          f, {}, label: false, input_html: { id: "procedure_control_subitem_#{id}_relevance" }
        ) %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
          <%= link_to_insert_field(f) %>
          <span class="text-muted">|</span>
          <%= link_to_remove_nested_item(f) %>
        </div>
      </div>
      <script type="text/javascript">FormUtil.completeSortNumbers();</script>
    </div>
  </div>
</fieldset>
<script type="text/javascript">
  $('#procedure_control_subitem_<%= id %>_control_objective').change(function() {
    var parentId = '#<%= "procedure_control_subitem_#{id}" %>';
    $(parentId + ' textarea').val('');

    if(!$(this).val().match(/^\s*$/)) {
      var element = $(this);

      Helper.showLoading(element);

      $.get('<%= url_for :action => :get_control_objective %>', { control_objective: element.val(), format: 'json' }, function(data) {
        $(parentId + '_control_objective_texts').val(data.name || '');
        $(parentId + '_control').val(data.control.control || '');
        $(parentId + '_design_tests').val(data.control.design_tests || '');
        $(parentId + '_compliance_tests').val(data.control.compliance_tests || '');
        $(parentId + '_sustantive_tests').val(data.control.sustantive_tests || '');
        $(parentId + '_effects').val(data.control.effects || '');
        $(parentId + '_relevance').val(data.relevance || '');
      }).complete(function() { Helper.hideLoading(element); });
    }
  });
</script>
<% if f.object.new_record? %>
<script type="text/javascript">
(function() {
  var thisElement = $('#procedure_control_subitem_<%= id %>');
  var options = procedureControlItemHash[thisElement.parents('.procedure_control_item:first').attr('id')];

  if(options) {
    HTMLUtil.updateOptions(
      '#procedure_control_subitem_<%= id %>_control_objective',
      HTMLUtil.optionsFromArray(options)
    );
  }
})();
</script>
<% end %>
