<% id = f.object.new_record? ? 'NEW_SUBRECORD' : f.object.id %>
<% hide = is_dynamic || f.object.marked_for_destruction? %>
<div class="procedure_control_subitem item" id="procedure_control_subitem_<%= id %>" <%= raw 'style="display: none;"' if hide %>>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-2">
        <%= f.input :control_objective_id, collection: control_objectives,
          prompt: true, label: false, input_html: {
            id: "procedure_control_subitem_#{id}_control_objective",
            class: :control_objective, autofocus: true
          } %>
      </div>
      <div class="col-md-2">
        <%= f.input :control_objective_text, label: false, input_html: {
          class: 'control_objective_text',
          id: "procedure_control_subitem_#{id}_control_objective_texts"
        } %>
      </div>

      <%= f.simple_fields_for :control do |c_f| %>
        <div class="col-md-2">
          <%= c_f.input :control, label: false, input_html: { class: 'control',
            id: "procedure_control_subitem_#{id}_control" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :design_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_design_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :compliance_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_compliance_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :sustantive_tests, label: false, input_html: { class: 'tests',
            id: "procedure_control_subitem_#{id}_sustantive_tests" } %>
        </div>
        <div class="col-md-1">
          <%= c_f.input :effects, label: false, input_html: { class: :effects,
            id: "procedure_control_subitem_#{id}_effects" } %>
        </div>
      <% end %>

      <div class="col-md-1">
        <%= relevance_field(
          f, {}, label: false, class: :relevance, id: "procedure_control_subitem_#{id}_relevance"
        ) %>
      </div>
      <div class="col-md-1">
        <div class="show_hide">
          <%= f.input :order, as: :hidden, input_html: { class: 'sort_number' } %>
          <%= insert_record_link(f, 'data-event' => 'insertRecordSubitem',
            'data-target' => '.procedure_control_subitem',
            'data-parent' => :procedure_control_item) %>
          <span class="text-muted">|</span>
          <%= remove_item_link(f) %>
        </div>
      </div>
      <script type="text/javascript">FormUtil.completeSortNumbers();</script>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#procedure_control_subitem_<%= id %>_control_objective').change(function() {
    var parentId = '#<%= "procedure_control_subitem_#{id}" %>';
    $(parentId + ' textarea').val('');

    if(!$(this).val().match(/^\s*$/)) {
      var element = $(this);

      Helper.showLoading(element);

      $.get('<%= url_for :action => :get_control_objective %>', { control_objective: element.val(), format: 'json' }, function(data) {
        $(parentId + '_control_objective_texts').val(data.name || '');
        $(parentId + '_control').val(data.control.control || '');
        $(parentId + '_design_tests').val(data.control.design_tests || '');
        $(parentId + '_compliance_tests').val(data.control.compliance_tests || '');
        $(parentId + '_sustantive_tests').val(data.control.sustantive_tests || '');
        $(parentId + '_effects').val(data.control.effects || '');
        $(parentId + '_relevance').val(data.relevance || '');
      }).complete(function() { Helper.hideLoading(element); });
    }
  });
</script>
<% if is_dynamic %>
<script type="text/javascript">
(function() {
  var thisElement = $('#procedure_control_subitem_<%= id %>');
  var options = procedureControlItemHash[thisElement.parents('.procedure_control_item:first').attr('id')];

  if(options) {
    HTMLUtil.updateOptions(
      '#procedure_control_subitem_<%= id %>_control_objective',
      HTMLUtil.optionsFromArray(options)
    );
  }
  
  Helper.showItem('#procedure_control_subitem_<%= id %>');
})();
</script>
<% end %>
