<table>
  <thead>
    <tr>
      <th><%= Period.model_name.human %></th>
      <th class="expendable"><%= Period.human_attribute_name :start %></th>
      <th class="expendable"><%= Period.human_attribute_name :end %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedure_controls.each do |procedure_control| %>
      <tr class="<%= cycle(:even, :odd) %>">
        <td><%= show_period_with_dates_as_abbr procedure_control.period %></td>
        <td class="expendable"><%= h l(procedure_control.period.start, :format => :short) %></td>
        <td class="expendable"><%= h l(procedure_control.period.end, :format => :short) %></td>
        <td><%= link_to_clone new_procedure_control_path(:clone_from => procedure_control.id),
            :label => t(:'procedure_control.copy') %></td>
        <td><%= link_to_show procedure_control %></td>
        <td><%= link_to_edit edit_procedure_control_path(procedure_control) %></td>
        <td><%= button_to_destroy procedure_control %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="links">
  <%= pagination_links @procedure_controls %>
  <%= link_to t(:'label.new'), new_procedure_control_path %>
  <div style="clear: both;"></div>
</div>