<div id="showed_data">
  <h1><%= Period.model_name.human %>: <%=h @procedure_control.period.inspect %></h1>

  <% @procedure_control.procedure_control_items.each do |pci| %>
    <h3><%= "#{pci.best_practice.name} (#{pci.process_control.name})" %></h3>
    <table class="summary_table">
      <thead>
        <tr>
          <th><%= ProcedureControlSubitem.human_attribute_name :control_objective_text %></th>
          <th><%= Control.human_attribute_name :control %></th>
          <th><%= Control.human_attribute_name :design_tests %></th>
          <th><%= Control.human_attribute_name :compliance_tests %></th>
          <th><%= Control.human_attribute_name :sustantive_tests %></th>
          <th><%= Control.human_attribute_name :effects %></th>
          <th><%= ProcedureControlSubitem.human_attribute_name :risk %></th>
        </tr>
      </thead>
      <tbody>
        <% pci.procedure_control_subitems.each do |pcs| %>
          <tr>
            <td><%= simple_format h(pcs.control_objective_text) %></td>
            <td><%= simple_format h(pcs.control.control) %></td>
            <td><%= simple_format h(pcs.control.design_tests) %></td>
            <td><%= simple_format h(pcs.control.compliance_tests) %></td>
            <td><%= simple_format h(pcs.control.sustantive_tests) %></td>
            <td><%= simple_format h(pcs.control.effects) %></td>
            <td><%= pcs.risk_text %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<% unless controller.request.xhr? %>
  <div id="links">
    <%= link_to t(:'label.edit'), edit_procedure_control_path(@procedure_control) %> |
    <%= link_to t(:'label.list'), procedure_controls_path %> |
    <%= link_to t(:'label.download'), export_to_pdf_procedure_control_path(
      @procedure_control, :_ts => Time.now.to_i) %> |
    <%= link_to_back %>
  </div>
<% end %>