<div class="page-header">
  <h2><%= Period.model_name.human %>: <%= @procedure_control.period.inspect %></h2>
</div>

<% @procedure_control.procedure_control_items.each do |pci| %>
  <h4><%= "#{pci.best_practice.name} (#{pci.process_control.name})" %></h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= ProcedureControlSubitem.human_attribute_name :control_objective_text %></th>
        <th><%= Control.human_attribute_name :control %></th>
        <th><%= Control.human_attribute_name :design_tests %></th>
        <th><%= Control.human_attribute_name :compliance_tests %></th>
        <th><%= Control.human_attribute_name :sustantive_tests %></th>
        <th><%= Control.human_attribute_name :effects %></th>
        <th><%= ProcedureControlSubitem.human_attribute_name :relevance %></th>
      </tr>
    </thead>
    <tbody>
      <% pci.procedure_control_subitems.each do |pcs| %>
        <tr>
          <td><%= simple_format pcs.control_objective_text %></td>
          <td><%= simple_format pcs.control.control %></td>
          <td><%= simple_format pcs.control.design_tests %></td>
          <td><%= simple_format pcs.control.compliance_tests %></td>
          <td><%= simple_format pcs.control.sustantive_tests %></td>
          <td><%= simple_format pcs.control.effects %></td>
          <td><%= pcs.relevance_text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless controller.request.xhr? %>
  <hr />
  <div>
    <%= link_to_edit edit_procedure_control_path(@procedure_control) %> |
    <%= link_to_index procedure_controls_path %> |
    <%= link_to t('label.download'), export_to_pdf_procedure_control_path(
      @procedure_control, :_ts => Time.now.to_i) %> |
    <%= link_to_back %>
  </div>
<% end %>
