<% id       = f.object.object_id
   readonly = local_assigns[:readonly] %>

<fieldset class="file_model_memo" id="<%= id %>">
  <% unless readonly %>
    <%= f.simple_fields_for :file_model, file_model(f.object) do |fm_f| %>
      <%= render 'file_model', fm_f: fm_f %>
    <% end %>
  <% end %>

  <%= link_to_download f.object %>
  <span class="ml-2 text-muted"><%= f.object.file_model.file_file_name %></span>

  <% unless readonly %>
    <span class="ml-2">
      <%= link_to_remove_nested_item f %>
    </span>
  <% end %>
</fieldset>
