<%= simple_form_for @user, url: users_release_path(@user) do |f| %>
  <% if @user.reallocation_errors.present? %>
    <div>
      <%= link_to '#details', data: { bs_toggle: 'collapse' } do %>
        <%= t 'label.details' %>
        <%= icon 'fas', 'info-circle', class: 'text-danger' %>
      <% end %>
      <div id="details" class="collapse">
        <%= array_to_ul @user.reallocation_errors %>
      </div>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="form-check my-2">
      <%= check_box_tag 'with_findings', 1, true, id: 'with_findings', class: 'form-check-input', autofocus: true %>
      <label class="form-check-label" for="with_findings"><%= t '.with_findings' %></label>
    </div>

    <div class="form-check my-2">
      <%= check_box_tag 'with_reviews', 1, true, id: 'with_reviews', class: 'form-check-input' %>
      <label class="form-check-label" for="with_reviews"><%= t '.with_reviews' %></label>
    </div>
  </div>

  <h3 class="h4 my-3"><%= User.model_name.human %></h3>

  <p class="mb-1">
    <strong><%= User.human_attribute_name 'user' %>:</strong>
    <%= @user.user %>
  </p>

  <p class="mb-1">
    <strong><%= User.human_attribute_name 'name' %></strong>:
    <%= @user.full_name %>
  </p>

  <hr />

  <div class="form-actions">
    <div class="float-end">
      <%= link_to_index users_path %> |
      <%= link_to_show @user %> |
      <%= link_to_edit edit_user_path(@user) %>
    </div>

    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
