<!doctype html>
<html lang="<%= locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'application-ie', media: 'all' %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'application-ie' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_tag { yield :js_extra } %>
  </head>

  <body data-controller="<%= controller_name %>">
    <div class="alert alert-warning hidden loading-caption">
      <strong><%= t 'navigation.loading' %></strong>
    </div>
    <div class="container">
      <%= render 'shared/compatibility_warning' %>
      <%= render 'shared/menu' if show_menu? %>
      <%= render 'shared/breadcrumb' %>
      <%= render 'shared/flash' if show_flash_message? %>
      <%= yield :submenu %>
      <%= yield %>

      <%= javascript_tag { yield :js_extra_bottom } %>
      <%= yield :extra_html_bottom %>
    </div>
  </body>
</html>
