<!DOCTYPE html>

<% @title ||= t(:"actioncontroller.#{controller.controller_name}") %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= t(:app_name) %><%= raw " &lt;#{@auth_organization.name}&gt;" if @auth_organization %> | <%= @title %></title>
    <%= default_stylesheets %>
    <!--[if lte IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= default_javascripts %>
    <!--[if lt IE 7]><%= javascript_include_tag 'ie/ie9' %><![endif]-->
    <%= javascript_tag do %>
      <%= raw "State.unsavedDataWarning = '#{t(:'message.unsaved_data_warning')}';" %>
      <%= raw "State.validationFailedMessage = '#{t(:'message.validation_failed_message')}';" %>
      <%= content_for :js_extra %>
    <% end %>
  </head>
  <body>
    <div id="loading" style="display: none;">
      <%= image_tag 'loading.gif', :size => '43x11', :alt => t(:'message.loading') %>
    </div>
    <% if @auth_organization && parameter_in(@auth_organization.id, :security_session_expire_time).to_i > 0 %>
      <%= render :partial => 'shared/time_left', :locals =>
        {:time_left => parameter_in(@auth_organization.id, :security_session_expire_time).to_i} %>
    <% end %>
    <div id="main_container">
      <div id="mobile_menu">
        <%= link_to_function t(:'menu.show_menu'), 'Menu.show()', :id => :show_menu %>
        <%= link_to_function t(:'menu.hide_menu'), 'Menu.hide()', :id => :hide_menu, :style => 'display: none;' %>
      </div>
      <div id="menu" style="display: none;">
        <div id="session">
          <% if @auth_user %>
            <div id="user">[ <%= @auth_user.user %> ]</div>
            <%= link_to t(:'menu.exit'), logout_user_path(@auth_user) %>
          <% end %>
        </div>
        <div class="clear">&nbsp;</div>
      </div>
      <div id="page">
        <div id="app_content">
          <%= yield %>
        </div>
        <div class="clear" style="margin: 0px; padding: 0px;">&nbsp;</div>
        <%= render :partial => 'shared/notice' if flash.notice %>
        <%= render :partial => 'shared/alert' if flash.alert %>
      </div>
    </div>
    <%= javascript_tag do %>
      <%= content_for :js_extra_bottom %>
    <% end %>
    <%= content_for :extra_html_bottom %>
  </body>
</html>