<!DOCTYPE html>

<% @title ||= t(:"actioncontroller.#{controller.controller_name}") %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title><%= t(:app_name) %><%= raw " &lt;#{@auth_organization.name}&gt;" if @auth_organization %> | <%= @title %></title>
    <%= default_stylesheets %>
    <!--[if lte IE 7]><%= stylesheet_link_tag 'ie7'%><![endif]-->
    <%= default_javascripts %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" style="margin: 0px; padding: 0px;">&nbsp;</div>
    <%= render :partial => 'shared/notice' if flash.notice %>
    <%= render :partial => 'shared/alert' if flash.alert %>
    <%= content_for :extra_bottom %>
  </body>
</html>