<!doctype html>
<% @title ||= t("actioncontroller.#{controller_name}") %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Ver el porqué de esto en: www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->
    <title><%= t(:app_name) %><%= raw " &lt;#{current_organization.name}&gt;" if current_organization %> | <%= @title %></title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lte IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
  </head>
  <body>
    <%= render 'shared/compatibility_warning' %>
    <div id="content">
      <%= yield %>
    </div>
    <div class="clear" style="margin: 0px; padding: 0px;">&nbsp;</div>
    <%= render :partial => 'shared/notice' if flash.notice %>
    <%= render :partial => 'shared/alert' if flash.alert %>
    <%= yield :extra_bottom %>
  </body>
</html>
