<div id="showed_data">
  <h1><%= @parameter %></h1>
  <p>
    <b><%= Parameter.human_attribute_name :description %>:</b>
    <%=h @parameter.description %>
  </p>

  <% if @parameter.value.kind_of?(Array) -%>
    <table class="summary_table">
      <thead>
        <tr>
          <th><%= Parameter.human_attribute_name :name %></th>
          <th><%= Parameter.human_attribute_name :value %></th>
        </tr>
      </thead>
      <tbody>
        <% @parameter.value.each do |p| -%>
          <tr>
            <td><%= p[0] %></td>
            <td><%= p[1] %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  <% else -%>
    <p>
      <b><%= Parameter.human_attribute_name :value %>:</b>
      <%=h @parameter.value %>
    </p>
  <% end -%>
</div>

<div id="links">
  <%= link_to t(:'label.edit'), edit_parameter_path(params[:type], @parameter) %> |
  <%= link_to t(:'label.list'), parameters_path(:type => params[:type]) %> |
  <%= link_to_back %>
</div>